[2020-01-25 13:43] nelsonic commented on #547
@iteles OK. I will take a look at my domains this week and attempt to transfer one of them. 👍

[2020-01-25 14:22] iteles commented on #547
I'll do the same for one of dwyl's domains that's about to renew this week

[2020-01-27 16:27] nelsonic commented on #542
PR: #548

[2020-01-27 19:12] iteles commented on #481
https://granttree.co.uk/how-to-write-a-kick-ass-technical-narrative/

[2020-01-29 09:19] rub1e opened #549 "FY19/20 | End of tax year 5th April 2020"
* [x] Claim employment allowance
* [x] Update all dwyler tax codes (#442 ) (check for forms P9T/P9X from HMRC)
* [x] Generate P60 for all employees and send
* [x] Split PAYE, student loans, and NICs on Xero (#449)
* [x] Check that total paid to employees + total paid to HMRC matches the total going out of our bank account.
* [x] Check employees' addresses up to date
* [x] Check director status up

[2020-01-29 09:22] rub1e commented on #549
I've copied the full list over from last year, but we shouldn't have any of the payroll actions to do as employees left just before the start of this tax year

As a result, this should hopefully take even less time, as the bulk of the work was splitting out PAYE, NICs, etc. - with any luck it'll just be a case of running the Xero reports and checking them

[2020-01-29 09:23] rub1e commented on #515
This was done at the end of the last tax year (obviously, or we'd be in trouble :fearful:), but I neglected to close it off.

New issue for this year is open [here](https://github.com/dwyl/hq/issues/549)

[2020-01-29 09:23] #515 closed

[2020-01-29 09:41] rub1e commented on #544
Client has confirmed that Heroku is no longer needed so I've cancelled all activity and saved a backup of the postgres DB in the client folder.

I'll now calculate the final charge to the client so they can raise a PO, including the invoice for part of January, and then I'll close this issue once that's been paid

[2020-01-29 10:00] rub1e opened #550 "Annual Confirmation Statement 2020"
Due before 20th Feb 2020

* [x] @iteles to confirm any updates in capital or officers
* [x] Follow process [here](https://github.com/dwyl/process-handbook/blob/master/Finances/annual-confirmation-statement.md) and file @rub1e

[2020-01-29 10:42] rub1e commented on #526
Process is documented [here](https://github.com/dwyl/process-handbook/blob/master/Finances/annual-confirmation-statement.md)

[2020-01-29 10:56] iteles commented on #526
@rub1e Excellent, happy to close this issue 👍

[2020-01-29 19:50] iteles opened #551 "FY19/20 Accounts"
These are due at the end of December 2020 at both Companies House and HMRC.

## Tasks
+ [x] Make sure all of our invoicing is up to date as of 30th April 2020
+ [x] Ensure all our outstanding expenses are paid by 30th April 2020
  + [x] Rent
  + [ ] Reconcile all VAT-relevant transactions, complete VAT return and pay out
  + [ ] @iteles to make sure all of her expenses are in by the end of the fin

[2020-01-31 17:04] iteles commented on #525
Filed & paid!

[2020-01-31 17:04] #525 closed

[2020-02-03 17:36] iteles commented on #543
Assigning this to myself for initial actions and because we'll have VATable expenses to include in this quarter.

[2020-02-05 15:07] nelsonic commented on #547
@iteles did you setup the gandi account? (_if not, do you have time to sit with me **today** and do it?_) 💭

[2020-02-05 15:12] iteles commented on #547
@nelsonic  Not yet, feel free to go ahead and set it up if you want to do it asap ☺️

[2020-02-05 15:12] nelsonic commented on #547
@iteles doing it _now_. 👍

[2020-02-05 15:40] nelsonic commented on #547
Email verified:
![image](https://user-images.githubusercontent.com/194400/73855163-917e7980-482b-11ea-9bfd-d897543e528b.png)
Account created. OTP is Google Authenticator App on my phone. 👍

@iteles on the basis that our next renewing domain is dwyl.io and iWantMyName charges £49/year!
![dwyl io-domain-renewal-notice](https://user-images.githubusercontent.com/194400/73856549-84fb2080-482d-11ea-9d92

[2020-02-05 15:48] iteles commented on #547
Definitely ok. Would prefer to give the money to a more ethical provider anyway!

[2020-02-05 16:19] nelsonic commented on #547
Steps to repertory:
https://iwantmyname.com/dashboard/domains/edit/dwyl.io > ***unlock*** for transfer.
![iwant-dwylio-unlock](https://user-images.githubusercontent.com/194400/73857792-54b48180-482f-11ea-9186-03eb35db6c13.png)

![image](https://user-images.githubusercontent.com/194400/73857585-10c17c80-482f-11ea-9641-161d944abe97.png)

Of _course_ it is ... 🙄
![image](https://user-images.githubuse

[2020-02-05 16:29] iteles commented on #547
Happy with the Gandi interface so far?

[2020-02-05 16:37] nelsonic commented on #547
@iteles it's "OK". The form resets if you attempt to change something during checkout ... 🙄
But otherwise it's "OK".

[2020-02-05 16:53] nelsonic commented on #547
The final step in the transfer is ***approval*** in the iWantMyName UI:
![iwantmyname-domain-tranfer-approve](https://user-images.githubusercontent.com/194400/73863365-d9a39900-4837-11ea-922b-d9f26fb446cc.png)

Looks like they are processing the transfer:
![transfer-in-progress](https://user-images.githubusercontent.com/194400/73863402-ec1dd280-4837-11ea-9fd9-8408bebfd1f9.png)

[2020-02-06 07:58] nelsonic commented on #547
Transfer confirmed:
![image](https://user-images.githubusercontent.com/194400/73916973-64c37400-48b6-11ea-9910-ca56bc79af4a.png)

Now to setup the necessary domain forwarding (dwyl.io > dwyl.com)

[2020-02-10 16:13] iteles commented on #550
@rub1e Only change is a name change as discussed.

[2020-02-10 16:16] iteles commented on #537
Digital Ocean cancelled  by @nelsonic  👍

[2020-02-10 17:06] nelsonic commented on #537
Working on cancelling the Clustered payment too.  Clustered is used for an email server ...
So once I build a _severless_ email function https://github.com/dwyl/auth/issues/39 I can switch it off!
I transferred it to my own Monzo card a few months back
so that I would feel the pain each month until it's switched off.
After that I will also be looking at Linode https://github.com/dwyl/hits/issues/8

[2020-02-11 16:00] rub1e commented on #550
I've submitted a name change and an address change - I can't submit the confirmation statement until they've been processed, but I've got a note in my calendar to check tomorrow. The conf statement deadline isn't for another 9 days so no danger of missing it.

Will update when submitted

[2020-02-11 23:14] iteles opened #552 "R&D grant FY18/19"
Ideally this would be completed before the end of the month to be filed asap!

* [x] Identify qualifying projects and populate `Project list` with basic info @iteles
* [x] Populate `Cost Collection` sheet with as much info as possible @rub1e
* [x] Discuss %age of time spent by each dwlyer on R&D-qualifying activities and populate `Cost collection` sheet @rub1e & @iteles
* [x] @iteles Review data:

[2020-02-14 09:55] rub1e commented on #550
The changes have been accepted but they're not reflected in the Conf statement yet, and I don't want to submit it until they have been. I'll check it again on Monday and if it's still not current I'll give them a call - will still be a few days before it's overdue so no risk of missing deadline

[2020-02-17 12:25] rub1e commented on #550
Done, and note in diary for 2021 (I've not opened an issue for it so it doesn't sit around for a whole year)

You owe me £13

[2020-02-17 12:25] #550 closed, assigned to rub1e

[2020-02-17 16:47] iteles commented on #550
Perfect, thanks, please drop it into Xero as an expense!

[2020-02-17 17:00] iteles opened #553 "Review VAT FY15/16 onwards"
Our VAT situation from the financial year beginning April 2017 onwards is a bit of a mess, both in terms of overpayments and because Xero was set up incorrectly.

Our accountants found and resolved a few issues last year whilst finalising the accounts but it transpired whilst finalising the FY18/19 accounts that all issues hadn't been accounted for.

**We are due money back from HMRC due to VAT ov

[2020-02-26 12:49] iteles commented on #481
Final doc for review arrived yesterday. Currently being reviewed.

Had a call this morning on various questions around resource allocation and figures (for example, understanding which freelancers were invoicing as themselves rather than through a company of their own).

Requested the more detailed P&L accounts, which I'm sending now.

[2020-03-22 21:01] iteles opened #554 "Annual Business Survey"
This needs to be completed before May 2020:
https://www.ons.gov.uk/surveys/informationforbusinesses/businesssurveys/annualbusinesssurvey

[2020-03-23 13:37] iteles commented on #553
Note: We need to speak to the accountants about how this works for bad debt (unpaid invoices that we paid VAT on).

[2020-03-27 09:41] nelsonic commented on #521
Lame ... https://www.vice.com/en_us/article/k7e599/zoom-ios-app-sends-data-to-facebook-even-if-you-dont-have-a-facebook-account via https://news.ycombinator.com/item?id=22693792

[2020-04-14 15:55] iteles commented on #142
Right now, given the size of our company, there is no particular benefit to be derived from becoming a B Corp specifically. Given that this is the only other legal structure we would consider, I am closing this issue and it can be re-opened if it becomes relevant again.

[2020-04-14 15:55] #142 closed

[2020-04-16 08:37] iteles commented on #55
Closing at it has been a long time since we attended ws.

Attending as a startup _for developers_ worked pretty well for Codecov. Attending as a startup that needs funding also helps you get a little recognition. Attending as someone who wants to start/be in a funded startup is probably also beneficial as you will likely learn _something_ either from talks or intelligently speaking to startups.

I

[2020-04-16 08:37] #55 closed

[2020-04-17 13:11] iteles commented on #498
I used Octobox for quite a while a LOVED it!
I stopped using it eventually only because I spend _all_ day in Github working on lots of smaller things and managing notifications so it was still more natural to me to just click the bell icon in github when I was done with my current thing than to keep heading back to Octobox (although this is where I would start every morning).

I would definitely u

[2020-04-17 13:11] #498 closed

[2020-05-04 16:38] iteles commented on #481
Filed by the deadline last week.

Need to review when the work was handed to us and check dates against the invoice.

[2020-05-05 14:00] iteles commented on #481
Invoice issued 28-Feb-2020 although work was only completed 4-Mar-2020.

This will ultimately not make a big difference because we won't be paying the invoice until we've received the money from HMRC.

[2020-05-07 08:53] nelsonic opened #555 "dwyl.io email"
Migrating the dwyl.io domain to Ghandi #547 means that @dwyl.io emails are no longer working.
We need to re-create the dwyl.io email service and forward all messages to @dwyl.com
I noticed this today because I wasn't receiving any email updates from GitHub 🤦

## Todo

+ [ ] Setup dwyl.io email using Zoho (5 free inboxes and a "catch all")
see: https://github.com/dwyl/learn-amazon-web-services/issu

[2020-05-07 11:05] iteles commented on #555
@nelsonic I transitioned away from all dwyl.io e-mail addresses a long time ago so I hadn’t even noticed. No objections to zoho! 👍🏻

[2020-05-23 12:13] nelsonic opened #556 "Internship?"
We received this request via our contact form for a fully funded internship position:

![internship-request](https://user-images.githubusercontent.com/194400/82730261-49119b80-9cf6-11ea-87c1-87345e58ea04.png)

[Internships-guide-for-employers-COVID-19-FUND.pdf](https://github.com/dwyl/hq/files/4671727/Internships-guide-for-employers-COVID-19-FUND.pdf)

![image](https://user-images.githubuserconten

[2020-05-23 22:46] iteles commented on #556
With a very clear journey with expected outcomes per week (and a provision if @SimonLab has to take some time off unexpectedly 😉), I think this could be great!
The  biggest proviso here for me is that this will only work _if_ the student is keen to learn and work hard rather than just tick an internship box - we've had the latter and it was not only a huge waste of everyone's time but a big morale

[2020-05-24 08:54] nelsonic commented on #556
The person in question has made a few contributions to GitHub repos in the past year so at least they have the Git basics down. :octocat: Also being a CS Major 🧑‍💻 the will have solved more problems/challenges so won't get "stuck" on trivial things for _days_ without the instinct to keep trying or ask questions! 🤷
My only reservation is that the person has not "starred" _any_ @dwyl repos and does

[2020-05-25 19:20] iteles commented on #556
Next step: ask for a CV and dates they were considering for internship?

[2020-05-25 21:00] nelsonic commented on #556
@iteles the person who sent the internship request email has a personal website which has their CV. My understanding from the PDF above is that the internship has to start before the end of June 2020. So I would propose that they start on Mon 29th June and it lasts for a month so it would basically be the month of July.
I have several thoughts on what they can learn/build. Will write up tomorrow m

[2020-05-31 10:07] nelsonic commented on #556
I have drafted the following reply:

<hr />

Dear `{Name}`,

Thank you for getting in touch!
We are always delighted when people discover our learning resources.
If you have not yet found your ideal internship for this summer, we would like to discuss the opportunity to work with you. We have a specific project in mind that we believe will play to your strengths. We see from your GitHub that you h

[2020-05-31 10:17] iteles commented on #556
Looks great to me 👍🏻

[2020-05-31 10:22] nelsonic commented on #556
@iteles thanks for checking/confirming. I have sent the email. ✉️

[2020-05-31 10:30] nelsonic commented on #556
I've submitted the vacancy for approval:
![image](https://user-images.githubusercontent.com/194400/83350094-864ade80-a331-11ea-8366-6bc09876dee9.png)

I have stated we have 2 vacancies (_to encourage other potential applicants!_)
Given that I _really_ want to get the smart display built for [**`@home`**](https://github.com/dwyl/home) and will re-use the tech for the security system, plant watering

[2020-06-09 20:56] iteles commented on #556
Will be spending some time on this tomorrow.

[2020-06-09 21:39] nelsonic commented on #556
@iteles we _specifically_ need to find out what the conditions for the funding are. 💭

[2020-06-10 14:07] iteles commented on #556
We have two emails to send, one to our already accepted intern:
[code]

We also need to send one to the applicants to acknowledge their applications:
[code]

@nelsonic @simonlab Any thoughts on these?

[2020-06-10 15:14] iteles commented on #556
@nelsonic Aside from vetting the above, can you please share the login details so I can see how it's to be put through the Bristol system?

[2020-06-11 17:10] nelsonic commented on #556
@iteles the login details for the Bristol Engage system:
https://engage.bristol.ac.uk/Employers/Login.aspx
username and password are in the dwyl **one pass**.

What we need to do is contact `careers-uobinterns@bristol.ac.uk` to _confirm_ that the internship that we posted qualifies for the "**COVID-19 SME Internship Fund**".
And if _not_, I think I only want to hire **one** intern (_using my/our o

[2020-06-12 09:50] iteles commented on #556
![image](https://user-images.githubusercontent.com/4185328/84489955-63f28280-ac9a-11ea-905f-0ae3a75ee24f.png)

From the paperwork it looks like we need to _apply_ for funding thought the application process is unclear. https://engage.bristol.ac.uk/Uploads/Attachments/Internships-guide-for-employers-COVID-19-FUND.pdf

I'll email them now.

[2020-06-12 12:05] iteles commented on #556
Emailed 👍🏻

[2020-06-18 14:09] iteles commented on #556
I have chased but haven't yet heard back. I suggest we open up only one internship for now if we don't hear from them by the end of the week.

[2020-06-30 20:08] iteles commented on #543
This was all done on time as per usual 👍

[2020-06-30 20:08] #543 closed

[2020-06-30 20:10] iteles opened #557 "VAT Return | 1 May to 30 July 2020"
VAT Return for Q1 2020/21 - May to July 2020

Deadline: 7th August 2020

## Tasks
+ [x] Update Co-op feed
+ [x] Check Santander feed
+ [x] Confirm all additional expenses are input (outside of bank expenses)
+ [x] Review & reconcile all bank transactions
+ [x] Run report
+ [x] Sense-check figures
+ [x] Submit VAT return

[2020-06-30 20:11] iteles commented on #557
Note: To  be included are:
+ Electronics sent to our UK office
+ Raspberry Pi and components required for #556

[2020-07-03 15:29] iteles commented on #553
Additional VAT Returns no longer available in HMRC's online system have been requested by post on 1-Jul-2020 as this is the only way they can be obtained 🤦‍♀️

[2020-07-18 23:40] nelsonic commented on #540
Works. Closing. ✅

[2020-07-18 23:40] #540 closed

[2020-07-18 23:43] nelsonic commented on #555
Going to need to do this soon ...
![dwylbot-io-email](https://user-images.githubusercontent.com/194400/87863897-c6edce00-c958-11ea-874e-5932c0f925eb.png)

[2020-07-23 11:46] iteles opened #558 "Update bank feeds in Xero & complete reconciliations"
We need to update our bank feeds in Xero as a large number of additional tasks hang off this (#553 #557 etc).

+ [x] Update Santander bank feed
+ [x] Update Co-op bank feed
+ [ ] Reconciliations

[2020-07-26 10:29] iteles commented on #481
This was completed, accepted by HMRC and received.

The consultants originally sent us the wrong numbers to file - a higher figure - which I caught and questioned on my review (and long before our filing). They had based their original invoice on this higher figure 🙄  so we're now still awaiting a credit note before the invoice is paid. The ball is in their court and the invoice will be paid when

[2020-07-26 10:29] #481 closed

[2020-08-07 12:46] iteles opened #559 "Employment Allowance setup in Xero"
We need to set up our employment allowance in Xero ahead of our EPS filing:
 https://central.xero.com/s/article/Prepare-for-the-new-tax-year

![image](https://user-images.githubusercontent.com/4185328/89646749-487bb080-d8b4-11ea-8718-5affa96e61bb.png)

[2020-09-21 18:52] iteles commented on #558
@rub1e Bank feeds are done, passing over to you for reconciliations :+1:

[2020-09-22 19:32] iteles commented on #557
This was all done and paid on time 👍

[2020-09-22 19:32] #557 closed, assigned to iteles

[2020-09-22 19:39] iteles commented on #544
@rub1e I'm just clearing out issues - I had it in my mind this was done but see no invoices raised since Feb 2019. Could you please confirm?

[2020-09-28 11:12] iteles opened #560 "VAT Return | 1 August to 31 October 2020"
VAT Return for Q3 2020/21 - 1 August to 31 October 2020

Deadline: 7th November 2020

## Tasks
+ [x] Check Santander feed
+ [x] Confirm all additional expenses are input (outside of bank expenses)
+ [x] Review & reconcile all bank transactions
+ [x] Run report
+ [x] Sense-check figures
+ [x] Submit VAT return

[2020-09-30 16:38] iteles commented on #559
![image](https://user-images.githubusercontent.com/4185328/94714246-c94eaa00-0343-11eb-8984-e081853ea7c2.png)

[2020-09-30 16:38] #559 closed, assigned to iteles

[2020-10-13 09:09] nelsonic commented on #555
It appears that dwyl.io is registered to another account:
![image](https://user-images.githubusercontent.com/194400/95837435-8673d580-0d38-11eb-827d-5323feb87eca.png)

So instead I'm using https://webmail.gandi.net ✉️
@iteles if you need access to an @dwyl.io email address, please use Gandi. (LMK if you need help) 👍

[2020-10-13 09:56] nelsonic commented on #555
https://webmail.gandi.net/SOGo/so/nelson@dwyl.io/Mail/view

[2020-10-23 08:51] t0mhaines commented on #147
Sorry for reviving an old thread.

I'm looking for some wireless headphones as my 1st gen Galaxy Buds have started to slowly die. Anyone here tried any in ear (airpod/galaxy bud) style wireless headphones they can offer feedback on? My Galaxy buds have been extremely useful as "out and about" style headphones for walking around.

If anyone's got feedback on some cheaper ones that would be apprecia

[2020-10-23 10:27] nelsonic commented on #147
Good question. What is your primary use case? Buds make sense for discrete use but their battery life is usually meh.

[2020-10-23 12:23] t0mhaines commented on #147
Mostly discrete use when walking around, I don't want anything too obtrusive. As long as the case has a long-life battery I'm not too worried as they'll only be in constant use for no more than an hour.

[2021-01-11 21:47] iteles commented on #560
This was completed and paid by direct debit.

[2021-01-11 21:47] #560 closed, assigned to nobody

[2021-01-11 21:48] iteles opened #561 "VAT return | 1 November 2020 to 31st January 2021"
VAT Return for Q3 2020/21 - 1 November 2020 to 31st January 2021

Deadline: 7th March 2021

## Tasks
+ [ ] Check Santander feed
+ [ ] Confirm all additional expenses are input (outside of bank expenses)
+ [ ] Review & reconcile all bank transactions
+ [ ] Run report
+ [ ] Sense-check figures
+ [ ] Submit VAT return

[2021-01-11 22:12] nelsonic commented on #561
New Apple Watch has a few quid of VAT. Can I forward the invoice to you?

[2021-01-11 22:14] iteles commented on #561
Please do, anything like that (test device) which we need to reclaim VAT on, please forward invoices.

[2021-05-23 18:41] iteles commented on #552
Completed and received on 21-May-2021.

[2021-05-23 18:41] #552 closed, assigned to iteles

[2021-05-25 21:56] nelsonic commented on #547
Gandi don't have auto-renewal enabled by default.
So ***either*** you have to **_manually_ renew** domains or they ***expire***. 🤦
That is what happened to dwyl.io:

![image](https://user-images.githubusercontent.com/194400/119565659-2222f500-bda2-11eb-9326-b37fa082664a.png)

The domain expiration emails went to `finance@dwyl.com` and were not forwarded to me. 🤷‍♂️

![image](https://user-images.gi

[2021-05-25 22:03] nelsonic commented on #556
Closing as complete. ✅

[2021-05-25 22:03] #556 closed, assigned to iteles

[2021-05-26 08:09] Jbarget commented on #547
hey @nelsonic & @iteles! 👋🏽

Is the €122.07 only because its a "restoration fee" or is that the normal cost to renew the domain?
Im asking since I like the idea of using Ghandi.net when i might need to in the future but price would definitely be a factor

[2021-05-26 09:30] nelsonic commented on #547
Hi @Jbarget! 👋
from what I can see, the gouging is only if the domain is allowed to expire. 🤦 💸
But the fact that auto-renewal is not the `default` is super lame.
_All_ the other domain registrars we've used in the past auto-renew domains by `default`.

NameCheap is (as it's name implies) cheaper than Gandi: https://www.namecheap.com/domains
![image](https://user-images.githubusercontent.com/19440

[2021-05-26 09:37] nelsonic commented on #547
NameCheap is Hurting the Internet: https://petscams.com/news/namecheap-hurting-internet/
via: https://www.linkedin.com/pulse/we-all-work-namecheap-richard-de-vere

# 🙄

[2021-05-26 22:47] iteles opened #562 "Transferring GBP to EUR"
As we have office expenses in Europe and will have interns outside of the UK as well, there will be a need to transfer money from UK bank accounts to European accounts at some point.

In conversation with a friend today, she told me that she thoroughly recommends Currency Fair as the service is excellent and the transfer fees are much much lower than banks (of course) but interestingly, also much

[2021-05-27 08:46] iteles commented on #547
@nelsonic This is incredibly sucky of them.

I’m going to email them to explain the situation and see what they say.

[2021-05-27 09:40] nelsonic commented on #547
@iteles good luck. Let me know if you need anything. But given that time is a factor, we might have to just pay the "late fee". 💭

[2021-06-01 11:09] iteles commented on #547
I've emailed them and appealed to their ethical nature but let's see 🤞

[2022-01-24 23:28] iteles opened #563 "Paid service to make calls to the UK from abroad?"
Back in the day when I started university (in the long long ago), Skype used to have a service which essentially gave you a phone number belonging to a country of your choosing which meant you could receive calls cheaply from people calling from that country (as it would be a local call for them) and you could also call from Skype at a relatively low rate.

With Brexit, it has become _super_ expen

[2022-01-24 23:45] nelsonic commented on #563
@iteles you could use Amazon Connect for outbound calling which would be covered by the "Free Tier".
But would incur a fee if you need a telephone number for inbound calls ... and the UI/UX meh.

I've been looking into switching my UK phone to this provider: https://xpatfone.com/pricing-1

![image](https://user-images.githubusercontent.com/194400/150883825-d6eb14d7-0234-4de7-bbee-6cc301187132.png)

[2022-02-11 17:24] iteles commented on #563
This is an app on your phone which on the one hand seems SUPER practical and on the other seems like an insane privacy concern (we could always keep this app on a spare 'old' phone though), it seems like it would be the best in terms of rates and for our volume of calls:

https://www.mytello.com/en_PT/rates/cheap-calls-to-england
![image](https://user-images.githubusercontent.com/4185328/153638823

[2022-03-24 16:13] #526 closed

[2022-03-24 16:14] iteles opened #564 "Annual confirmation statement 2022"
From HMRC:

We need to get our in by the end of March 2022.

[2022-03-28 08:59] iteles commented on #563
@nelsonic I still think that MyTello https://github.com/dwyl/hq/issues/563#issuecomment-1036440229 appears to be the best value.

If we can put this on an old phone that has access to nothing, it'll be a useful resource.

[2022-03-29 10:18] iteles commented on #563
@nelsonic Shall we put this on the phone with the blue cover we're currently using for white noise?
Or do we have an old test one we should/can use instead?

[2022-03-29 10:35] nelsonic commented on #563
@iteles we have several test (older) iPhones we can use, but "the one with the blue cover" (iPhone XR) has wireless charging so it's a good shout if you think we aren't going to use it (for calls) very often. 💭

[2022-03-29 11:32] iteles commented on #563
OK, this is annoying. You still need a phone sim in the phone (it's not voip apparently) as it's a number you call.
OK if you have free minutes, not great otherwise. But let's use it for now, it's a short term solution before we find a better one and WAY cheaper than using our UK phones on roaming.

[2022-05-18 14:32] nelsonic commented on #520
Thoughts on OKRs: https://joeblu.com/blog/2022_05_okrs/
via: https://news.ycombinator.com/item?id=31422718

[2022-05-26 09:50] nelsonic opened #565 "Laptop for Simon"
# Context

@SimonLab's laptop - that he uses for work-work every day - is falling apart; literally! 💻   💀  💔
As the longest-serving and most valued member of our team, we want to buy him a **`new`** one.

# _Framework_ ?

He has mentioned liking the Framework laptop:
https://frame.work/products/laptop-diy-12-gen-intel/configuration/edit
![image](https://user-images.githubusercontent.com/194400/170

[2022-06-10 09:44] nelsonic commented on #565
@SimonLab please let us know if you want to order the (maxed out) Framework Laptop 🛠️
or _anything_ else that meets your needs. 💻
Keen to get this done **ASAP**. 🙏

[2022-06-11 11:36] nelsonic opened #566 "Jessitron Patreon Membership"
Recently realised that we are @jessitron super-fans ... 💡🦄 😍

+ [x] https://github.com/dwyl/learn-elixir#why
+ [x] https://github.com/dwyl/learn-elm#great-video-intro-to-elm-by-jessic-kerr
+ [x] Keep your experiments separate: https://github.com/dwyl/technology-stack/issues/96

let's (_quietly_) make it _official_!! ❤️

https://www.patreon.com/jessitron
![image](https://user-images.githubuserconte

[2022-06-12 08:33] nelsonic commented on #566
https://youtu.be/Lbcyyu8XB_Y?t=1089 such a good analogy. ❤️

[2022-06-12 14:34] jessitron commented on #566
Oh, thank you!! 🥰🥰

On Sat, Jun 11, 2022 at 06:36 Nelson ***@***.***> wrote:

[2022-06-13 09:36] SimonLab commented on #565
I like the idea of the Framework laptop as it is easy to upgrade or fix on  along term (hopefully the company will still be there in 3 years to provide the upgraded parts).

I think you saw the "us" version of the site as I can see the British version of the keyboard on the configuration edit page:
https://frame.work/gb/en/products/laptop-diy-12-gen-intel/configuration/edit
![image](https://user-i

[2022-06-13 13:08] nelsonic commented on #565
@SimonLab good call.
Please just confirm which

+ [x] **keyboard language** you prefer
+ [x] **expansion cards** you want/need
and if you want any spares e.g. stuff you might not use very often like (a spare) USB-C you could have in your laptop bag but only connect when needed and just have 3 USB-A and 1 HDMI permanently plugged in.

It's cheaper to buy the RAM and SSD separately:
https://www.amaz

[2022-06-13 13:55] nelsonic commented on #565
Obvs if you prefer to order any of the components from somewhere _other_ than Amazon, please just share links! 👍

[2022-06-14 13:26] SimonLab commented on #565
- Keyboard: British English (I'll get a french when we move back there!)
- expansion cars: 2 USB A; 1 USB C (for charging); 1 HDMI. I don't think I need any spare one.
- I don't mind ordering on Amazon if it's cheaper, I just need to make sure the ssd and memories are compatible, but I think they are:

https://frame.work/gb/en/blog/storage-memory-and-wifi

Thanks again!!

[2022-06-15 09:57] nelsonic commented on #565
@SimonLab thanks for your reply. Going to check with @iteles if we have your Bristol address on file (I think we do...)
Will get this ordered for the August batch with your address for delivery.

Just checked: **`BS5...`** ? 💭

[2022-06-15 10:20] SimonLab commented on #565
Yes that's correct

[2022-06-15 11:17] nelsonic commented on #565
cool. I will get this ordered as soon as I'm back at my desk. thanks. 👌

[2022-06-17 16:45] nelsonic commented on #565
Pre-order maid and deposit paid:
![simon-framework-laptop-preorder-made](https://user-images.githubusercontent.com/194400/174341428-6df3a7ec-1419-482e-b5c7-0acb215104fc.png)

Will keep you informed of the delivery ETA. 👍

[2022-06-18 09:02] nelsonic commented on #565
@SimonLab meanwhile ... your _current_ laptop is slowly dying ... 💻 💀
And you _need_ something decent to get your work done. 💭

So while we're patiently waiting for the Framework to arrive ... ⏳
I've sent you a **Lenovo X1 Carbon** https://www.lenovo.com/gb/en/d/thinkpad-x1-carbon [should arrive next Tuesday]
Because I know it has _excellent_ driver support for Ubuntu/Linux. :shipit:
It's a refurb

[2022-06-20 10:35] SimonLab commented on #565
Thanks, I'll add Ubuntu to it, it should normally work without any issues.
I'll bring it back to you next time we'll be in Pt!!

[2022-06-20 14:33] nelsonic commented on #565
Sweet @SimonLab thanks. 👍

[2022-06-25 11:51] nelsonic commented on #542
# `GOTO`: [/mission.md](https://github.com/dwyl/start-here/blob/master/mission.md)

[2022-06-25 11:51] #542 closed

[2022-06-25 11:54] #507 closed

[2022-06-25 12:16] iteles commented on #563
Currently using `MyTello` as above on a 'spare' old phone which has access to nothing else, which seems to be allowing calls over Wifi and _is_ voip after all post-setup.
Closing for now as it's meeting the immediate requirements 👍

[2022-06-25 12:16] #563 closed, assigned to nobody

[2022-06-25 12:43] nelsonic opened #567 "Professional Profile Photos 👤"
Some people have _really_ good online profile photos. 😍
e.g. @sohilpandya took @iteles profile pic back in the Palmers Road days and it's stood the test of time. 📷

Others have a random snap they took on their phone (_or worse, **`480p`** laptop web cam_) 10+ years ago ... 🙄

This is such a no-brainer that I'm _kicking_ myself for not opening this issue sooner and getting it **`done`**!! 🤦‍♂️
It's

[2022-06-26 06:49] nelsonic opened #568 "`dwyl` NPM User"
Tried to reset the password but got the following _suuuuuper_ helpful message:

<img width="826" alt="Screenshot 2022-06-26 at 07 49 14" src="https://user-images.githubusercontent.com/194400/175802960-0387521d-97fc-4f86-882c-8d8e0d55b477.png">

[2022-06-26 06:53] nelsonic commented on #568
Context my username is https://www.npmjs.com/~nelsonic
But I'm trying to add https://www.npmjs.com/~dwyl as a collaborator
so that other people in the company (and specifically GitHub Actions) can auto-publish our NPM packages.

[2022-06-26 07:01] nelsonic commented on #568
https://www.npmjs.com/support?inquire=account

<img width="1392" alt="contact-npm-support" src="https://user-images.githubusercontent.com/194400/175803292-008b4803-e813-4f62-a14f-a07d0d644134.png">

Copy:

[code]

<img width="1153" alt="image" src="https://user-images.githubusercontent.com/194400/175803323-c9006128-82c4-414f-ba30-49566d929b45.png">

Let's see what they reply. 🤞

[2022-06-26 07:02] nelsonic commented on #568
Related to: https://github.com/dwyl/hapi-error/pull/84

[2022-07-01 12:06] Stephanymtr commented on #567
@nelsonic Your profile picture is a representation of Your Personal Brand. Let's do it!

### ** Research how to do this ourselves using the equipment we have.**

I read through a couple of articles online. The tips most of them share when taking professional pictures are:

- **Choose a photo that looks like you.** Something that will reflect how you look on a daily basis at work.

- **Clothing** D

[2022-07-01 12:07] Stephanymtr commented on #567
I must say I already have a go-to photo pose/setup that includes:
- smiling
- wearing business casual (ish)
- standing in front of a city/pretty background (that's not distracting)
I know it is not the most professional photo. However, that's the style I tend to learn towards as my main goal is to let my personality "shine through 🌟 " while displaying a positive and warm feeling.
<img width="488"

[2022-07-01 12:23] Stephanymtr commented on #567
### Collect good examples of profile photos

<img width="879" alt="Screenshot 2022-07-01 at 13 18 20" src="https://user-images.githubusercontent.com/91985721/176893343-a4963cb7-e139-46bd-9f46-156cb8763ef5.png">
<img width="876" alt="Screenshot 2022-07-01 at 13 17 17" src="https://user-images.githubusercontent.com/91985721/176893397-de722b4a-cb90-4c22-aa50-0ee91542c2eb.png">
<img width="877" alt="S

[2022-07-03 21:40] nelsonic commented on #568
Got this "Computer Says No" reply from NPM (Now owned by GitHub):

<img width="615" alt="image" src="https://user-images.githubusercontent.com/194400/177058062-c2298be6-0a74-4ff8-9b59-fd1ddc54d621.png">

![image](https://user-images.githubusercontent.com/194400/177058076-6e74f4d0-6b61-483c-a200-265ff537b9de.png)

[2022-07-03 22:09] nelsonic commented on #568
Obvs I replied as best I could to help them understand that we have the trademark for the brand "dwyl" and that if someone `else` is using it for their Org, we need to understand who. 💭

Let's see what they say. ⏳

[2022-07-15 23:11] #564 closed, assigned to iteles

[2022-07-15 23:11] iteles commented on #564
This was done at the time.

[2022-07-16 11:00] iteles commented on #553
Had a call yesterday with new book keepers to finally pick this up again because the department we needed from our previous accountants didn't have availability for us and there were a number of other things we wanted to get sorted first (namely getting Xero to tally up properly).

Next task is to write up the conversation and email the summary to them.

Further should begin on this in 2 weeks, _t

[2022-07-16 15:01] iteles commented on #553
Took a couple of hours to write everything out and make sure I had all relevant docs collated but I'm glad it's all together and in one place now 👍  Now we wait.

[2022-08-08 15:47] nelsonic commented on #568
No reply. ⏳ 🤦‍♂️
Don't know what `else` to do for this.
@iteles if you have any bright ideas, please see: https://mail.google.com/mail/u/1/#search/github+support/FMfcgzGpGdlhSSnXfscxgsLGVXWZLmQc Thanks.

[2022-08-31 09:25] nelsonic opened #569 "Setup Office Printer"
The Epson Ecotank ET-2600 is currently collecting dust in the office. Can we revive it?

I need to print some pages and would prefer to setup a _system_ to streamline this in future. 🤞

[2022-08-31 09:47] iteles commented on #569
Worked for me about a month ago but I haven't needed it since 🤷‍♀️

Pretty sure we just need to try to download the drivers correctly again... 🤞

They're here: https://epson.com/Support/Printers/All-In-Ones/ET-Series/Epson-ET-2600/s/SPT_C11CF46201

Another note: this doesn't work for me through our current _Lenovo USB C Hub_, I have to use a [USB C to USB adapter](https://amzn.to/3AxOMKl) directly

[2022-08-31 19:03] nelsonic commented on #569
I printed a few pages this morning from my “old” Mac with USB A port. It worked fine. 👌🏻
thanks for the tip about the Lenovo USB hub not working for USB C. 🤦🏻
Maybe we should test it with the Apple Original USB C hub. 💭

[2022-09-02 05:22] nelsonic commented on #569
@Stephanymtr please follow the link above shared by @iteles to (re)download the relevant printer driver + tools for the Epson Printer. And use the Apple Original USB C “dongle” (hub):

![E0772ED1-A40F-4D04-9D41-E0EAAFC8DE7F](https://user-images.githubusercontent.com/194400/188063650-a8b7d547-a9c8-4f36-b900-9ec380161600.jpeg)

test printing something for your course. 👌🏻
report back with your progre

[2022-09-06 11:48] nelsonic opened #570 "Chore: Buy and Use External SSD [Fast] for Mac TimeMachine Backup"
Almost all of our work is backed up to GitHub, Google Drive or iCloud.
But backing up **Apps & Settings** is a waste of cloud storage.
Going to need to transfer **Apps & Settings** to a new Mac soon.
Currently using **`200GB`** on disk.
Thinking of getting a _fast_ external SSD to do the backup + transfer.

The **`SanDisk Portable SSD 1TB`** is currently **`£99.89`** on Amazon UK:
https://www.amaz

[2022-09-07 07:42] nelsonic commented on #570
After a quick check of the specs for the **`MacBook Pro 16" M1 Pro`** https://github.com/dwyl/studio/issues/38

The 4 USB C / Thunderbolt 4 ports support up to **`40Gbps`** throughput:
https://support.apple.com/kb/SP858?locale=en_GB
<img width="1019" alt="image" src="https://user-images.githubusercontent.com/194400/188816720-6708bc30-4f44-45dc-a117-c00b7e3d56d7.png">

DPReview did some tests and "

[2022-09-07 07:42] #570 closed

[2022-09-07 11:56] nelsonic commented on #565
@SimonLab FYI: "_Your order will be shipped within the next few business days._"

<img width="712" alt="image" src="https://user-images.githubusercontent.com/194400/188872180-c6dc1350-ea22-475c-aff2-f5e987ff433f.png">

We will place the order for the remaining components soon so you can start _using_ the laptop as soon as it arrives.

[2022-09-09 14:33] Stephanymtr commented on #569
Quick update: It has been a week,  but I just now had some time to work on this issue. I downloaded the drivers, but I couldn't find the "dongle".  Someone must have moved it since it has already been a couple days.

[2022-09-09 15:35] nelsonic commented on #569
@Stephanymtr thanks for taking a look. I put the USB C adapter (“dongle”) on the hot desk in the studio. Let us know if you see it. 🤞

[2022-09-14 08:38] SimonLab commented on #565
The Framework arrived at home this morning!
Thanks for checking the shipping progress

[2022-09-14 12:01] nelsonic commented on #565
@SimonLab fantastic news! 🎉
Let's get the SSD & RAM ordered _today_.
Do you have any preference for the online retailer?

Looks like eBuyer (very reputable retailer we have bought from in the past) is _cheaper_ than Amazon!

<img width="1617" alt="image" src="https://user-images.githubusercontent.com/194400/190139610-b58f4bef-693e-4d9a-9ace-8572bc45dadf.png">

Please confirm the two products:
SSD:

[2022-09-14 13:27] nelsonic commented on #565
Order placed with Next Day Delivery. ✅

<img width="1258" alt="image" src="https://user-images.githubusercontent.com/194400/190162450-86196c77-5b3b-4af6-84a8-38784e7cfa6d.png">

[2022-09-26 09:34] SimonLab commented on #565
The memories have arrived last week, and I was doing the laptop setup this morning.
Unfortunately after testing each ram while booting the laptop I concluded that one of the 32gb memory is not working.
I can still use the laptop with the one remaining memory and I'll continue the setup by installing ubuntu today
@nelsonic let me know what's the next step to replace and for you to get a refung

[2022-09-26 11:56] nelsonic commented on #565
@SimonLab glad you got the Framework Laptop setup! 🎉
Super lame that the RAM chip doesn't work. 🤦‍♂️
Obvs for 99% of work you're doing, you won't notice the lack of RAM (given that you have **`32GB`**...)

Just spent **`11+ minutes`** on the phone to ebuyer customer support:

![image](https://user-images.githubusercontent.com/194400/192264211-0335841a-164b-40f3-a2f4-cdd312ddcac6.png)

most of the

[2022-09-26 21:45] nelsonic commented on #565
Collection arranged for **Wednesday 28<sup>th</sup> Sep** between 08:00 and 21:00 🙄
Apologies for the absurd collection window. They have your phone number to call you when nearby. 🤞

[2022-09-28 09:56] SimonLab commented on #565
The Parcel has just been collected.
9pm :grimacing: I'm sleeping already at this time

[2022-09-28 10:00] nelsonic commented on #565
Glad it was collected. The replacement RAM chip should arrive tomorrow. 🤞

[2022-10-13 09:42] nelsonic opened #571 "GitHub Projects? [Epic UX Fail!]"
At present we have a few "***Classic***" GitHub Projects: https://github.com/orgs/dwyl/projects?type=classic

<img width="1394" alt="image" src="https://user-images.githubusercontent.com/194400/195549359-cdbcd887-24f5-4e46-ac03-cab355096f13.png">

When new people visit: https://github.com/orgs/dwyl/projects they see:

<img width="1446" alt="image" src="https://user-images.githubusercontent.com/194

[2022-10-13 09:46] nelsonic commented on #571
This is more an issue of the **GitHub** UI being confusing. It shows **`6 projects`**:

<img width="136" alt="image" src="https://user-images.githubusercontent.com/194400/195563468-18a4d190-1522-4624-8eca-bf94a8d399d7.png">

But then when you _click_ the link it shows: There aren't any projects yet 🤦‍♂️

<img width="1159" alt="image" src="https://user-images.githubusercontent.com/194400/195563633-

[2022-10-13 20:52] nelsonic commented on #571
This docs page was surprisingly helpful/insightful: https://docs.github.com/en/issues

Creating a new project:

<img width="1394" alt="image" src="https://user-images.githubusercontent.com/194400/195706200-bba685e7-7c66-4cd8-8fe9-3ece4dc97c32.png">

<img width="650" alt="image" src="https://user-images.githubusercontent.com/194400/195706264-e775b4a7-bd8e-40ce-929a-960f3508db30.png">

[2022-10-13 20:53] nelsonic commented on #571
Currently empty: https://github.com/orgs/dwyl/projects/15/views/1 🆕
Need to make some time to navigate my way around it and add some issues. ⏳

[2022-10-13 20:58] nelsonic commented on #571
Workflows ... https://github.com/orgs/dwyl/projects/15/workflows 💭
<img width="1214" alt="image" src="https://user-images.githubusercontent.com/194400/195709156-612a9142-ba5b-4d97-a532-374be7a50cb8.png">

[2022-10-18 14:02] iteles commented on #547
Pretty sure this happened again. What a fiasco this 'ethical' provider turned out to be. 🙄
Doesn't exactly help their/our case when 'ethical' is now synonymous with 'screwing over your customer'.

[2022-10-20 14:12] iteles commented on #256
DD cancelled as no longer needed from this company.

[2022-11-18 09:45] nelsonic commented on #565
But can you run **`XCode`** on it? 😜

[2022-11-18 13:35] nelsonic commented on #565
@SimonLab how's the Framework been these last couple of months? 💻 💭  **`#Feedback`** 🙏

[2022-11-18 14:42] SimonLab commented on #565
So far it's good. There are a couple issues but it might be more linked to Ubuntu than the laptop itself.
I need to install all the tools for Flutter to see how responsive it will be.

[2022-11-18 22:23] nelsonic commented on #565
Very curious to see if you can run Flutter. 🤞🏼
No reason it shouldn’t work. There are plenty of Android devs who use Ubuntu. 🦄

[2022-11-24 14:02] nelsonic commented on #569
@Stephanymtr were you able to get the printer working on your Laptop? 🖨️ 🤞

[2022-11-24 14:17] nelsonic commented on #569
If we can get our _current_ **`Epson ET-2600`** to print photos e.g: https://github.com/bmhco/shared/issues/4 it would be awesome! 🤞

<hr />

If for any reason it doesn't work, or quality isn't great, even after doing a fe print-head cleaning cycles ...
we can _consider_ **`Epson ET-8550`**
https://www.fnac.pt/Impressora-Fotografica-Epson-EcoTank-A3-ET-8550-Preto-Impressora-Impressora-Jacto-de-Tin

[2022-11-24 14:24] iteles commented on #569
We have a Canon printer as well which seems like the right vehicle for photos, albeit not an ecotank printer.
Can we dig it up and see if it still works?

[2022-11-24 15:06] nelsonic commented on #569
@iteles, yes we can _retrieve_ the [**`Canon PIXMA iP8750`**](https://github.com/dwyl/hq/issues/1#issuecomment-141631126) Printer from Gerês, next time we go there ... ⏳

[2022-11-24 15:45] Stephanymtr commented on #569
Unsuccessful :(

I tried to make it work again. I checked everything:
- printer was turned on
- software installed correctly.
- USB cable connected securely at both ends
- ran a printer check
- printed test page out (through Mac)🥇
- checked the ink containers, nothing clogged and closed the cover correctly
- printer wasn't titled or at an angle

However when I tried printing a photo online, or tes

[2022-11-24 16:00] nelsonic commented on #569
OK, I think the "Next Action" on this is to test it from a Windows PC. 🪟
Specifically the Lenovo X1 Thinkpad. 💻
Let's do this tomorrow at "Nap Time". 🛌

[2022-11-29 22:00] nelsonic opened #572 "No Boilerplate"
Over the last year, I've watched every video from https://github.com/0atman/noboilerplate  - a few multiple times -
and shared a few e.g: https://github.com/dwyl/learn-rust/issues/14 and https://github.com/nelsonic/nelsonic.github.io/issues/886

If these videos had existed in **`2017`** when we [decided](https://github.com/dwyl/technology-stack/issues/37) to use `Elixir` & `Phoenix` 💧 🔥
***and***

[2022-11-29 23:03] nelsonic opened #573 "Add a website property to Search Console"
In order to publish `Dart` packages: https://github.com/dwyl/learn-dart/issues/22
We need to **Create a verified publisher**: https://pub.dev/create-publisher

![image](https://user-images.githubusercontent.com/194400/204664350-cc4f7767-e33a-42a0-8693-2ac1379d2595.png)

But ***`before`*** we can **Create a verified publisher**,
we need to "**Add a website property to Search Console**":
![image](ht

[2022-11-29 23:08] nelsonic commented on #573
https://search.google.com/search-console/welcome
![image](https://user-images.githubusercontent.com/194400/204667698-84a6057c-630e-4554-b80e-83ed678d44b1.png)

Deep integration request:
![image](https://user-images.githubusercontent.com/194400/204668060-991f3474-880e-4381-80ae-c6da7d404c0b.png)

![image](https://user-images.githubusercontent.com/194400/204668117-e1f11755-a450-47f9-bfb9-e1a2d18ccd8

[2022-11-29 23:41] nelsonic commented on #573
Appears to have worked. ✅

https://pub.dev/my-publishers
![image](https://user-images.githubusercontent.com/194400/204672486-beb84eca-3282-4e99-95c9-f20d18009ea7.png)

[2022-11-29 23:41] #573 closed, assigned to nelsonic