[2017-03-15 18:56] markwilliamfirth commented on #142
As I understand it the plans outline that it is people first, not profit first, which suggests to me that we're currently operating under the wrong company structure.

[2017-03-15 18:56] iteles commented on #142
It's a technicality at this stage. We shouldn't be wasting time on this.

[2017-03-15 19:04] markwilliamfirth commented on #142
For me it communicates a confusing message when our company structure doesn't reflect the values we preach. I wouldn't say it was a waste of time - it's definitely a concern for me. I would argue that we should agree whether we are operating under the wrong structure and which structure we should be operating under as a priority - it says a lot about our organisation. This, after all, is the reaso

[2017-03-15 20:27] bradreeder commented on #274
@iteles Current thoughts:

I like the minimalistic aesthetic of your website, in particular the landing page that reduces your core service down to a simple process. I see the case studies as example narratives of that process: to help customers understand more what you do & have done, and hopefully to identify their needs within that narrative.

My favourite case studies I've looked at so far are

[2017-03-15 21:52] markwilliamfirth commented on #118
Completed. $170. Currently forwarding to `dwyl.io` as interim solution.

[Kinda glad we didn't give them loads of money
](http://www.desiringgod.org/articles/do-you-trust-disney-with-your-kids)

[2017-03-15 21:52] #118 closed

[2017-03-15 22:56] markwilliamfirth commented on #216
@nelsonic why was Github chosen? Is it a stopgap for a dwyl platform? Why was Github preferred over alternatives, such as Jira?

[2017-03-15 23:05] iteles commented on #118
😱

[2017-03-15 23:08] nelsonic commented on #118
![celebrate](http://i.giphy.com/3o7abldj0b3rxrZUxW.gif)

[2017-03-15 23:15] sohilpandya commented on #267
It's happening 💯 looking forward to it. ☺

[2017-03-16 00:31] iteles opened #275 "Organisation-wide view so everyone knows what dwylers are working on"
People are always interested in what everyone else in dwyl is working on.

It would be good to have a central location which is updated once but everyone can check.

Requirements:
+ Quick to update (including individual sprints for a quick view of critical project times  - i.e when not to interrupt)
+ Accessible by everyone in dwyl
+ Editable by anyone in dwyl
+ Data to capture:
  + Client and pro

[2017-03-16 02:26] nelsonic commented on #216
@markwilliamfirth good question.
find me a developer who _enjoys_ using Jira and I will switch to it. 😉
![image](https://cloud.githubusercontent.com/assets/194400/23978985/b6cf6c90-09ee-11e7-8f9f-c18cbb2185a6.png)
![image](https://cloud.githubusercontent.com/assets/194400/23979006/d81eea1a-09ee-11e7-96a9-41e766da0e4b.png)

I did not create the "meme" the internet is _full_ of posts (_rants?_) abou

[2017-03-16 09:20] jruts commented on #216
@markwilliamfirth you do **not** want to use JIRA, trust me.

[2017-03-16 09:53] iteles commented on #229
@markwilliamfirth Can you get all of the google apps for work invoices out of the admin console?

[2017-03-16 10:32] sohilpandya commented on #216
![taken](https://answers.atlassian.com/download/attachments/43715414/53361318.jpg?version=1&modificationDate=1477560556238&api=v2)

[2017-03-16 10:44] sohilpandya commented on #118
@markwilliamfirth THIS IS AWESOME!!!!

[2017-03-16 10:54] sofer commented on #118
Wow. That is an impressive piece of business.

[2017-03-16 11:00] markwilliamfirth commented on #216
@nelsonic Would hosting our own GitLab instance mean that we maintained control of the service? (GitLab wouldn't be able to shut our service down? etc)

Is the main downside to GitLab what you mentioned above?

Or would the GitLab instance mirror GitHub and they would both run simultaneously?

[2017-03-16 11:42] jruts commented on #216
@markwilliamfirth why would you host something yourself if you can use the cloud? A simple backup mechanism to make sure you do not lose any data when GitHub would shut down is more than enough.

Furthermore I do not think GitHub will just drop their services without any form of announcement or warning.

So I would not worry too much. If GitHub gives you what you need or want then just stick with

[2017-03-16 12:08] jackcarlisle commented on #216
@markwilliamfirth commenting on the above https://github.com/dwyl/hq/issues/216#issuecomment-286939544

JIRA is **excruciating**. It's got far too much functionality and the dashboard is incredibly crowded. This is all coupled with the fact that it isn't really that intuitive to use 👎

[2017-03-16 12:10] jackcarlisle commented on #216
![jira](https://s-media-cache-ak0.pinimg.com/originals/9b/fa/91/9bfa9157fce710951baba54ef0d89581.jpg)

### for @sohilpandya

[2017-03-16 13:18] markwilliamfirth commented on #216
@jruts the reason I'm asking is because it's integral to the long-term business plan, so although highly unlikely to occur and somewhat solved by a backup, it's something that needs to be thought about when establishing the long-term vision. I have no idea how GitLab plays into this or why is was mentioned as an [option](https://github.com/dwyl/hq/issues/216#issuecomment-278226663) in the long-ter

[2017-03-17 09:41] nelsonic commented on #118
There haven't been any four-letter dot-com addresses available for a while ...
http://www.slate.com/blogs/future_tense/2013/12/04/four_letter_domain_names_zero_unclaimed_llll_dot_coms_left_on_the_internet.html
I think a _few_ people will be interested in the domain acquisition process ... Blog Post? 🤔

[2017-03-17 10:20] markwilliamfirth commented on #249
<img width="305" alt="screen shot 2017-03-17 at 10 19 59" src="https://cloud.githubusercontent.com/assets/5732209/24038928/5553bb7a-0afb-11e7-9798-16bdc0690c45.png">

Email from prospective intern (hasn't interacted with dwyl before)

2017-03-17

[2017-03-17 13:07] sohilpandya commented on #268
Let do it!

[2017-03-17 13:07] sohilpandya commented on #267
So what time are we starting this? @nelsonic @katbow @RobStallion @shouston3

[2017-03-17 14:56] markwilliamfirth commented on #249
<img width="454" alt="screen shot 2017-03-17 at 14 55 01" src="https://cloud.githubusercontent.com/assets/5732209/24048782/d4bb901a-0b21-11e7-8d35-4243694b7398.png">

In the #TechForGood Meetup Community Announcements

2017-03-17

[2017-03-17 15:03] sohilpandya commented on #267
OK, so it turns out it's not going to take place today. I apologies for the chaos 😢

We've rescheduled this for Friday next week 2PM. @nelsonic will be running it.

[2017-03-17 17:27] markwilliamfirth commented on #142
b-corp assessment requires mission statement
https://github.com/dwyl/start-here/issues/116

[2017-03-18 00:24] iteles commented on #270
First pass done. Let's see what @naazy can help us catch!

[2017-03-18 00:24] #270 closed

[2017-03-18 11:16] nelsonic commented on #102
Hi @sohilpandya, hope your day is going well at the photography show! 📸  😉

Just checked your channel on YouTube https://www.youtube.com/user/TheSocialPandas/videos
and did not find a review for the [Iiyama X4071UHSU-B1 40-Inch LCD Monitor](https://www.amazon.co.uk/gp/product/B016UPDKIW) (_AKA "The Beast"..._)
(_did you upload the footage you took somewhere?_)

Can you give us a few words of ***fe

[2017-03-18 13:00] iteles commented on #102
@shouston3 I've seen you use it before too but no longer, let us know your thoughts!

I haven't used it, but my only bug-bear with it is it takes up so much space on the table you can't really get anyone sitting on the other side of it. They might work better wall-mounted!

[2017-03-18 16:28] shouston3 commented on #102
I'm probably not a good person to ask about these things as I don't really like using monitors in general. I'd say it was probably the best monitor I've tried out though.

[2017-03-18 23:58] iteles commented on #216
I think this would be a good stop gap for the short-medium term as mentioned a few times above :blush: : https://github.com/dwyl/github-backup
 I believe @jbarget and @des-des are looking into this as part of https://github.com/dwyl/tudo/issues/146 🕺

[2017-03-19 00:00] iteles commented on #267
@markwilliamfirth Could you reschedule the Phoenix workshop to next week and send it out to dwylers?

@sohilpandya Any reason why 14h00 - 17h00 and not 15h00 - 18h00? I think most of us officially begin the day at 10h00 and having it in the last 3 hours of the day might break the day up a little less 😊

[2017-03-19 15:26] heron2014 commented on #102
The huge screen has its good sides and bad. Lets start with the positive sides:
- great for presentation
- good to work in pair
- great colours
- clarity of code and designs

The bad sides:
- hard to fit number of people at the same desk
- its an unnecessary huge size when working alone
- I personally have noticed tiredness and sometimes headaches when working all day in front of one - this reason

[2017-03-19 16:07] nodecoder commented on #252
Created an `.ai` file and uploaded it to dwyl > Branding & Marketing > Logos
![image](https://cloud.githubusercontent.com/assets/10835816/24082472/11b0916c-0cbe-11e7-8ca1-d13030d8008c.png)

[2017-03-19 22:11] sohilpandya commented on #267
I just thought that we could start straight after lunch, I don't have a preference here, quite easy with the timings.

[2017-03-19 22:40] sohilpandya commented on #102
Just to update everyone on this thread, I've not yet done a video review but have been collating evidence for it! 😊 Promise the video will go up soon!

My general thoughts:
**Pros**
- great for pairing;
- got a ton of screen real estate leading to a customized workspace;
- awesome for video editing too!

**Cons**
- need space for such a big monitor, I literally take up half a desk! (sometimes the

[2017-03-20 09:30] markwilliamfirth opened #276 "B Impact Assessment"
Fill in initial assessment

https://github.com/dwyl/hq/issues/142
https://github.com/dwyl/start-here/issues/116

[2017-03-20 09:55] iteles commented on #142
As discussed on Friday, let's put **1 hour** into investing B-Corps, time and costs involved in setup and maintenance and then take it from there.

[2017-03-20 10:14] iteles commented on #254
@markwilliamfirth Have just forwarded an email we got on this 👍

[2017-03-20 14:28] iteles opened #277 "Adding detail to dwyl's activities"
We have information on what dwyl is doing now and next scattered across multiple repositories (and in my brain). It's time to make a concerted effort to bring this together ahead of #213.

+ [ ] Transfer dwyl's mission and vision into this repo so that it's clear
+ [ ] Add detail to each of the 4 key segments of dwyl

[2017-03-20 14:34] iteles opened #278 "Potential new project | LDMW"
This project would be in partnership with MW, our current clients for https://github.com/healthlocker.

We have provided some technical information and are expected to find out whether this will go ahead this week (20th March onwards).

[2017-03-20 14:47] iteles opened #279 "Priorities for Ines & Nelson w.b. 20th March"
## For reference:

**Ines:**
+ Adding detail to dwyl's activities publicly #277  ahead of #213
+ Define ownership of QuietSpace activities
+ Keep services projects ticking over
  + OA symposia estimates https://github.com/OxfordAbstracts/application/issues/205
  + OA April planning
  + IC demo setup https://github.com/InclusiveClassrooms/skills-wheel/issues/131
+ #278

**Nelson:**
+ QA for OA stag

[2017-03-20 15:00] shouston3 commented on #278
I'd love to be involved with this project

[2017-03-20 15:01] jackcarlisle commented on #278
I'm keen for this as well, would you be willing to try someone working on this remotely?

[2017-03-20 23:30] nelsonic commented on #268
@sohilpandya there are spaces available on 26th March:
![image](https://cloud.githubusercontent.com/assets/194400/24126290/11e0256e-0dc5-11e7-9a2e-1c130fb57aed.png)

@jackcarlisle do you fancy joining us?
@iteles should I book you a space?

[2017-03-20 23:33] nelsonic commented on #241
@markwilliamfirth any luck scanning in the _signed_ paper copies of the contracts? 🤔

[2017-03-21 08:37] iteles commented on #268
Why not? Always happy to go on a date with you both :laughing:

[2017-03-21 10:17] jackcarlisle commented on #268
@nelsonic I would have loved to but I have to move all of my stuff out of my current house on Sunday! Rain check ☔️

[2017-03-21 10:22] nelsonic commented on #268
@jackcarlisle do you need any help moving? have you already got a van? let us know if you want an extra pair of hands. 👍

[2017-03-21 10:24] jackcarlisle commented on #268
@nelsonic thanks for the offer! @Conorc1000 has booked the zip van. Will let you know if we need some heavy lifting done 💪🏼

[2017-03-21 10:36] nelsonic commented on #268
After a rather unfriendly error message:
![image](https://cloud.githubusercontent.com/assets/194400/24143391/6dd3b8ac-0e21-11e7-9eb2-832add626023.png)

I _eventually_ managed to checkout:
![image](https://cloud.githubusercontent.com/assets/194400/24143526/e0ab6d70-0e21-11e7-97f9-f9ed11e32cc5.png)

Reserved for 3 people. ✅
If ***anyone*** `else` is interested there are still 3 more spaces available

[2017-03-21 11:16] sohilpandya commented on #268
This Looks awesome! I'm going to be a pro soon! 😆

[2017-03-21 11:52] Cleop commented on #147
Thank you @iteles and @nelsonic for this initiative! I would love the Bose QC35 in Black ❤️ 🎧 ❤️

As a big quiet fan hopefully now I can ditch my disposable earplugs that I wear on the tube / when working and turn down the volume on my white noise/ rain background music. Instead I'll sit in a little headphone bubble 🙉

P.S. If anyone else likes atmospheric background noise, I really recommend http

[2017-03-21 13:11] nelsonic commented on #147
@Cleop we're **so _excited_** that you've joined the team! 🦄  🎉

You've already done [_so_ much](https://github.com/dwyl/start-here/blob/master/manifesto.md) to help the whole team/community learn and grow! ❤️
_Really_ looking forward the [Daydream & Nightmare Tutorial](https://github.com/dwyl/learn-daydream-and-nightmare) improvements you're working on! ✨

We'd be _delighted_ to give you a pair o

[2017-03-21 13:19] markwilliamfirth commented on #239
@iteles

The letter we received in the post was the PAYE and Accounts Office references

We're still missing the activation code for PAYE Online

We received an email on the 17 Mar (4 days ago) saying that the activation code for PAYE Online had been sent. So it has probably now arrived at MDC - would you be able to collect this next time you cycle there?

Once we have the activation code we can s

[2017-03-21 13:57] iteles commented on #239
Oh wait, I have this! I found the letter over the weekend and forgot to take it with me to give you yesterday. Will DM you.

[2017-03-21 14:29] jruts commented on #147
@nelsonic does this apply for people in Belgium too? :)

[2017-03-21 14:32] markwilliamfirth commented on #249
<img width="547" alt="screen shot 2017-03-21 at 14 31 58" src="https://cloud.githubusercontent.com/assets/5732209/24152317/33b7b994-0e43-11e7-9ada-612c93bd1fa0.png">

2017-03-21

[2017-03-21 19:36] iteles commented on #278
At this stage I have no idea what the budget or requirements are but good to know there's interest! I'll have a chat with you guys when I know more :blush:

[2017-03-21 23:59] nelsonic commented on #147
@jruts [of _course_](https://youtu.be/1W7c8QghPxk) `this` does [`apply`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/apply) to [***you***](https://youtu.be/s1tAYmMjLdY)! ❤️
Do your [research](https://youtu.be/1b3iteSyg1I) on which set you [_really_ want](https://youtu.be/02Fq3u5XyCg) 🔍
and let us [know](https://youtu.be/bpOSxM0rNPM) by [_Friday_](https

[2017-03-22 14:25] markwilliamfirth commented on #274
This is quite nice

[2017-03-22 21:25] iteles commented on #229
@markwilliamfirth I'm not sure what you mean by this:
<img width="315" alt="screen shot 2017-03-22 at 21 25 17" src="https://cloud.githubusercontent.com/assets/4185328/24221401/1a092164-0f46-11e7-85c8-4abd427052b2.png">

[2017-03-22 23:31] markwilliamfirth commented on #229
@iteles the fac spreadsheet has missing x's in some cells for old payments etc

[2017-03-22 23:33] iteles commented on #229
Cool, I'll look into it tomorrow. There were two invoices we agreed were incorrect and i need to update the spreadsheet!

[2017-03-23 12:35] Cleop commented on #147
The tube test was ace 💯  I've become one of those annoying people tapping my feet as I listen away. The headphones also passed the grilling critique of my fiance!

![headphones](https://cloud.githubusercontent.com/assets/16775804/24245596/7652e390-0fbb-11e7-9649-93f9bed1508c.jpg)

I think aside from the noise cancelling (which I had been dreaming about for many a moon), I keep being reminded how e

[2017-03-23 13:54] iteles commented on #229
@markwilliamfirth Checked and the only 3 outstanding invoices are 1 that was raised erroneously (INV-00170) and the other 2 have open questions against them - we won't have those resolved until next financial year (F&C may have to raise new invoices there anyway or most likely, we'll make a donation to F&C international when it's set up) 👍

[2017-03-23 14:24] sohilpandya commented on #278
Anyone need an apple watch app in the future? 😆

[2017-03-23 14:25] sohilpandya commented on #147
I'm looking forward to hearing about your workout test! @Cleop

[2017-03-25 12:32] iteles commented on #213
@markwilliamfirth Could you please let me know how many people are coming? We need to buy ingredients this weekend 😊

[2017-03-25 17:14] markwilliamfirth commented on #213
@iteles approx 20

the guestlist is in the google cal invite - can you see it from your account? I hid it from people seeing, but since I share my cal with you I wonder if it allows you to see?

some people haven't responded to the save the date invite - do you need exact numbers?

Looking at current respondents 20 would be my estimate (including you, nelson and myself)

[2017-03-25 19:59] markwilliamfirth commented on #213
I think we should maybe set the date for the next one now and publicise it at the event to everyone? We could make it a quarterly thing?

[2017-03-25 19:59] markwilliamfirth commented on #259
@iteles do you know approximate dates for this?

[2017-03-26 00:21] nelsonic commented on #213
@markwilliamfirth agree. 👍
_Monthly_? 🤔

[2017-03-26 13:29] NataliaLKB commented on #213
Hey! @nelsonic invited me to this on Wednesday. Is it okay if I show up around 7? I will bring vegan/gluten free pumpkin squares!

[2017-03-26 14:32] iteles commented on #213
@natalialkb We couldn't be more excited about you coming! :rasa:

[2017-03-26 17:35] iteles commented on #259
@markwilliamfirth https://github.com/dwyl/summer/issues/51 👍

[2017-03-26 17:57] iteles commented on #178
Spoken to the tax lawyers and am emailing further details. Will understand what needs to be done if we decide to base ourselves here within the next week or so.

[2017-03-27 11:11] sohilpandya commented on #268
OK, so I made it to the taster session and now I'm a convert!

I ❤️  the idea of bouldering and climbing!

Also, I'm a pro 😆
![fullsizerender](https://cloud.githubusercontent.com/assets/2305591/24353646/6a8bb1f8-12e6-11e7-9ca4-b451a2643114.jpg)

[2017-03-27 13:47] markwilliamfirth commented on #259
Inês leaving early July - tbc

[2017-03-28 09:57] Jbarget commented on #177
Just putting this here cos I was really surprised by how cheap a good laptop can be. A few of us from Nazareth got together to buy this for a student who doesn't have their own laptop. 2nd hand, but if you're looking for a few machines to have as 'spares':

![screen shot 2017-03-28 at 10 55 25](https://cloud.githubusercontent.com/assets/11725595/24399605/35b16f3a-13a5-11e7-9360-ceb790e7e44e.png)

[2017-03-28 09:58] Jbarget commented on #145
https://stackoverflow.com/insights/survey/2017/#work-what-developers-value-in-compensationbenefits

[2017-03-28 15:36] nelsonic commented on #177
@Jbarget a "refurbished" Lenovo is the way to go for people who are frugal/budget-concious. ✅

[2017-03-28 15:45] NataliaLKB commented on #147
So some of you expressed interest in my bone conducting headphones yesterday. I bought them on [amazon](https://www.amazon.co.uk/gp/product/B01HI8XDZU/ref=oh_aui_detailpage_o03_s00?ie=UTF8&psc=1), partially because they were on sale.

![image](https://cloud.githubusercontent.com/assets/8774970/24413987/fca4b014-13d4-11e7-9cb8-e29fbaa4f9a9.png)

I already have the most amazing headphones from dwyl

[2017-03-29 11:21] iteles commented on #183
@nelsonic Do you want to augment the top comment here with your idea, or the points that we want to ask @jackcarlisle to take into account when researching?

I can do a first pass this afternoon for you to edit too 👍

[2017-03-29 14:34] #279 closed

[2017-03-29 14:44] iteles opened #280 "Potential new project | CU evidence based research application"
A repeat client has asked us to take a look into building an evidence-based research application to aid diagnoses for doctors.

This is a client with very little budget and a need for a fixed cost project where the application requires a fair amount of comprehension (and voice recognition).

+ [x] Initial call with PO to determine what needs to be done
+ [x] @iteles to put together short workshop

[2017-03-29 14:47] iteles opened #281 "Priorities for Ines & Nelson w.b. 27th March"
## For reference:

**Ines:**
+ [x] Preparing for dwyl dinner #213
+ [ ] Work with @markwilliamfirth  to answer questions and show people round https://github.com/dwyl/quietspace
+ [ ] Adding detail to dwyl's activities publicly #277
+ [ ] Keep services projects ticking over
  + Complete OA stage 2 milestone https://github.com/OxfordAbstracts/application/issues/2588
  + Pair with @cleop on scrum ma

[2017-03-29 15:01] jackcarlisle commented on #183
Found an article on anonymous feedback and some of the shortcomings of previous applications https://www.officevibe.com/blog/anonymous-employee-feedback

TLDR;
It's all about the follow-up after the feedback has been submitted which is what @nelsonic mentioned in his [above comment](https://github.com/dwyl/hq/issues/183#issuecomment-280023082). There are two main parts to the follow-up, it needs t

[2017-03-29 15:10] markwilliamfirth commented on #280
Evidence-based research application to aid diagnoses for doctors - so cool!

[2017-03-29 15:23] iteles commented on #268
Climbing is awesome!

Closing this issue. We can open another one when we have a plan to go climbing :blush:

[2017-03-29 19:24] #268 closed

[2017-03-29 19:24] iteles commented on #264
Done!

[2017-03-30 14:44] jackcarlisle commented on #183
@iteles @nelsonic good morning! What is the status on this today? How should I proceed?

[2017-03-30 16:16] nelsonic commented on #213
How To Begin Your Presentation: https://youtu.be/e80BbX05D7Y
(_I know this event "already happened" but this is still valuable learning..._)

@sohilpandya have you had a chance to transfer the recorded video to the Lacie Drive? 👍

[2017-03-30 18:00] iteles commented on #183
New repo for this! https://github.com/dwyl/feedback

[2017-03-30 18:13] iteles commented on #213
@nelsonic Is this a thinly veiled hint? 😛

[2017-03-30 18:45] nelsonic commented on #213
@iteles no idea what you're talking about. 😜

[2017-04-01 09:51] nelsonic commented on #90
@naazy thanks for offering to share the book. we _may_ take you up on it... 😉
@iteles I will be spending 120h in the pool over the next few months and given that I have a waterproof MP3 player I feel it's time to re-start Audible to make the most of the time.
Please let me know what needs to be done for this. thanks.

[2017-04-02 20:27] iteles commented on #90
Done! I've used the dwyl amazon name as there's a 3 month free trial for Prime members and signed it up to the **.co.uk** marketplace.

[2017-04-02 20:27] #90 closed

[2017-04-02 23:06] nelsonic commented on #90
@iteles thanks for doing that. 👍  🎉
I will be converting the books from `.aax` (DRM) to `.mp3` so I can play them on my waterproof MP3 player. Let me know if you want the `.mp3` for anything I can share via google drive or "airdrop". 🏊

[2017-04-04 13:09] katbow opened #282 "Group activity suggestions"
Hey! I was thinking after the future of dwyl meeting about some activities we could all do together. @markwilliamfirth mentioned to me that I should make an issue here for them

Would anyone be interested in:
* A pub quiz/trivia night? Doesn't need to actually be at a pub, but could have a trivia night at dwyl hq! I've never done one before 😄
* Escape room?! I'm not sure about the feasibility of t

[2017-04-05 21:09] iteles commented on #213
https://twitter.com/dwyl/status/847407781443362818

[2017-04-05 21:09] #213 closed

[2017-04-06 18:18] markwilliamfirth commented on #282
@katbow yes we should totally make both of these happen!! I'm on it 😄

[2017-04-07 13:23] nelsonic commented on #158
https://github.com/dwyl/dwylbot

[2017-04-07 13:23] #158 closed

[2017-04-07 13:25] nelsonic commented on #138
@iteles what is the "_Next Action_" for this?

[2017-04-07 13:55] markwilliamfirth commented on #138
@nelsonic the next action is to find a way to backup the photos from the dead phone before we give it back. At the moment it's priority 2 so it hasn't ben done yet

[2017-04-07 14:01] nelsonic commented on #138
Hi @markwilliamfirth thanks for answering. 👍
I took the phone to data recovery experts in town a few weeks back and they said the software was corrupted so the data was unreadable. perhaps we could try at another data recovery place ...?
https://www.google.co.uk/search?q=iphone%20data%20recovery
@iteles the longer you leave this the higher the chance of "Data Decay" https://en.wikipedia.org/wiki/D

[2017-04-11 14:01] ghost opened #283 "Rewrite and Review Supplier Agreement"
Mark has written draft:
https://docs.google.com/document/d/1Le14_UyBBe-ADoCJS1yUvK266WE2ffETBnAVSadfM88/edit#

Inês to review

[2017-04-13 12:24] edwardcodes opened #284 "Does dwyl have an Invoice Template?"
I am developing skills to work at dwyl and i would like to know if dwyl has an Invoice Template?
Thanks!

[2017-04-14 18:10] markwilliamfirth commented on #249
<img width="795" alt="screen shot 2017-04-14 at 19 09 13" src="https://cloud.githubusercontent.com/assets/5732209/25051708/e948accc-2145-11e7-920b-71040672848a.png">

[2017-04-14 18:25] markwilliamfirth commented on #248
Google plus has been claimed: google.com/+dwyl

[2017-04-17 15:23] jackcarlisle opened #285 "Shared Document of Environment Variables for All Public dwyl Projects"
Do we have a location for storing and sharing environment variables for internal *(or public)* dwyl projects between developers?

A couple of reasons this might be necessary:

- Deleting a project locally, meaning that you lose your `.env` file
- Previous developer who has the environment variables being *abducted by aliens*

[2017-04-17 15:32] jackcarlisle commented on #285
Forgot that you can check the environment variables on heroku!

[2017-04-17 15:32] #285 closed

[2017-04-18 13:15] iteles opened #286 "Review and rewrite our Services Contract Template"
Recent experience has taught us that we need to deal with two additional things in our contracts:
+ Projects cannot be put 'on hold' without warning - there needs to be a notice period if it's to be paused or end early
+ Bug fixing - we need to define how we deal with any bugs after a project officially finishes (@nelsonic to provide thoughts on this)

Making this a P1 for the LDMW contract

[2017-04-18 14:11] markwilliamfirth commented on #286
I thought the reason we work in sprints is to allow the customer to end at any sprint period? Or do you mean halfway through a sprint?

[2017-04-18 18:35] iteles commented on #286
@markwilliamfirth The reason we work in sprints is to allow a tight feedback loop with user testing and create maximum value in the product we're delivering. It also allows our clients the ability to extend for further sprints if they need them.

But if we're contracted for a period of x number of sprints, we can't afford to at a moment's notice have that cut off half way through our contract or w

[2017-04-19 03:27] nelsonic commented on #213
FYI: @sohilpandya's recording of the evening is on YouTube: https://youtu.be/XX47atVcVZE 🎉

[2017-04-19 03:43] nelsonic commented on #90
@iteles please inform me which email address you used to sign up for the "**3 month free trial for Prime members**" ...
Your account:
![image](https://cloud.githubusercontent.com/assets/194400/25162404/60d85e1e-24ba-11e7-9f3c-bc40b649e59f.png)
Is not signed up to a plan and has "**0 Credits**"

The `dwyl.io`
![image](https://cloud.githubusercontent.com/assets/194400/25162449/a401bfd2-24ba-11e7-823

[2017-04-20 09:24] markwilliamfirth commented on #286
Oops

I better change our about dwyl doc then

<img width="327" alt="screen shot 2017-04-20 at 10 23 33" src="https://cloud.githubusercontent.com/assets/5732209/25223510/76119058-25b3-11e7-97bc-1dac39da4a92.png">

what should this say?

[2017-04-24 19:59] iteles commented on #286
It's not about walking away, I think that sends totally the wrong message.

[2017-04-25 10:27] markwilliamfirth commented on #249
<img width="283" alt="screen shot 2017-04-25 at 11 26 37" src="https://cloud.githubusercontent.com/assets/5732209/25380984/1653f78c-29aa-11e7-8f5d-2cc5ffec3eaa.png">

2017-04-25 - calendar invite from MV

[2017-04-25 10:51] #263 closed

[2017-04-25 13:33] Jbarget opened #287 "Protecting master branch"
It might be worth making `master` a protected branch especially for projects where pushing to master runs a webhook to heroku.

Not sure if known: Settings ---> Branches --->
![screen shot 2017-04-25 at 14 30 14](https://cloud.githubusercontent.com/assets/11725595/25387802/f87a549e-29c3-11e7-8682-8d2350a0d2a9.png)

[2017-04-25 15:35] iteles commented on #287
@Jbarget Totally agree we should do this by default on all new repos! https://github.com/dwyl/learn-html5/issues/6

Linked to https://github.com/dwyl/contributing/issues/29

Is our contributing repo (linked from start-here) repo the best place to keep this info?

[2017-04-27 10:46] iteles commented on #284
@edwardcodes You can find our invoicing template in this `md` file in the last paragraph: https://github.com/dwyl/summer/blob/master/invoicing-dwyl.md

You won't need to register with HMRC as you are not a UK resident, but the invoice template is a decent starting point 😊

[2017-04-27 13:36] iteles opened #288 "File Confirmation Statement Online 17 June 2017"
It would seem this has replaced the annual return and is now 2 weeks overdue 😳

https://www.1stformations.co.uk/blog/confirmation-statement-explained/

[2017-04-29 21:25] iteles commented on #90
@nelsonic I see the problem: you're trying our old account but I signed up with the dwyl Amazon account as per my comment above - I'll send you the details 👍

[2017-05-01 12:34] iteles opened #289 "Blog post | What is creative technology?"
We talk about _creative_ technology [quite a bit](https://github.com/dwyl/phase-two/blob/1183967dcc448cee3abd264f4f43d6b0ed5725ac/braga/README.md#what) but we haven't gone into much detail around [what it means](https://en.wikipedia.org/wiki/Creative_technology). There isn't that much out there either.

This would be a great blog post!

[2017-05-02 09:54] iteles opened #290 "5 key things for dwyl services sustainability"
+ [ ] 1. Sales process and knowledge within team for repeatable and predictable sales
+ [ ] 2. Processes for all of our organisational tasks, so projects can be run without constant oversight
+ [ ] 3. Skilled dwylers in their field who have worked with us on projects before and we can both trust to run a project themselves and introduce new people to the way things are done
+ [ ] 4. Knowledge shar

[2017-05-02 10:02] nelsonic commented on #290
@iteles are these ordered in _priority_ order?
(_and could we update from `<ol>` to a checklist so we know when they are `done`_?)

[2017-05-02 10:20] markwilliamfirth commented on #248
YouTube and Tumblr have been claimed 🌟
https://www.youtube.com/dwyl
http://dwyl.tumblr.com/

[2017-05-02 10:38] sohilpandya commented on #248
@markwilliamfirth Awesome! the YT one is different to the current one, can we transfer the assets across? 😄

[2017-05-02 13:58] markwilliamfirth commented on #286
@iteles what should the notice period be? 1 month? 2 Sprints?

@nelsonic do you have any thoughts about bug fixing? (see @iteles comment in original posting)

[2017-05-02 15:44] nelsonic commented on #286
We are asking the _wrong_ question.
All contracts should have start & end dates in them.
Those dates should be respected.
"Pausing" a project should not be a thing unless there is a serious funding issue.
If there is a "funding gap" we should be made aware of it 2 weeks in advance in writing.
@iteles what happened to the "SLA" we created last year ? (_when we were meant to be on holiday_)
Fixing "

[2017-05-02 16:57] iteles commented on #286
Completely agree on the start and end dates (or at least the number of continuous working days).

There is no discussion around the definition of a 'bug'. I completely agree.
If you think about it from a client perspective - if they put together a clear user story and acceptance criteria and when we build it, it doesn't function as expected (e.g.  we build a feature which should only be available

[2017-05-02 19:16] nelsonic commented on #286
@iteles it sounds like the _symptom_ here is _incomplete_ acceptance criteria
and inadequate ["DoD"](https://github.com/dwyl/definition-of-done) for the project.

[2017-05-03 05:30] nelsonic opened #291 "Laminator for Signs"
As a person wanting to make signs (durable) for our office
(_e.g: "please lock the door if you're last to leave"_)
I need a laminator to  keep the signs from getting grubby
so they last longer and I don't end up having to print them twice
(_i.e. saves time because I don't have to repeat work_)

Amazon has _many_ laminators:
https://www.amazon.co.uk/s/ref=nb_sb_ss_c_1_5?field-keywords=laminator
![l

[2017-05-03 10:59] nelsonic commented on #248
@markwilliamfirth is the YouTube attached to our existing channel or a new one? (_thanks BTW!_) 👍

[2017-05-05 12:14] nelsonic commented on #291
Ordered:
![image](https://cloud.githubusercontent.com/assets/194400/25744987/b1a80bc8-3194-11e7-9faf-d39370da2d76.png)

[2017-05-05 12:14] #291 closed

[2017-05-05 13:27] harrygfox opened #292 "The Crystal Maze - Team building?"
# Why?

here's why:
![](https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/06/10/09/CrystalMAze.jpg)
![](https://www.thesun.co.uk/wp-content/uploads/2017/01/nintchdbpict000262996409.jpg?strip=all&w=960)
# The Crystal Maze Experience

Website: www.the-crystal-maze.com

# Where is it?
<img width="537" alt="screen shot 2017-05-05 at 14 19 49" src="https://cloud.githubusercontent.com/a

[2017-05-05 13:33] markwilliamfirth commented on #292
If you're interested in attending please like the post above so we have an idea of how many people would want to do it!

[2017-05-05 18:25] markwilliamfirth commented on #262
[DWYL Articles.docx](https://github.com/dwyl/hq/files/979964/DWYL.Articles.docx)

@iteles @nelsonic please could you review the articles? These are in addition to the [model articles](https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/376832/model_articles_private_ltd_by_shares_after28April2013.doc)

[2017-05-05 18:31] nelsonic commented on #292
@harrygfox that looks _amazing_!!!! 😮
![amazing](https://media.giphy.com/media/3osxY7xVVSgMfAPZ16/giphy.gif)

[2017-05-05 18:34] nelsonic commented on #262
`.docx` ?
Don't have MS Word on my computer, sorry, @iteles do you?

[2017-05-06 00:08] nelsonic commented on #292
@harrygfox _please_ finalise numbers by the end of next week and book it! 📆
Make sure any current and "alum" @dwyl members are invited/aware 📣  🔈 💬
so we can get as many people involved as _possible_ cause it's going to be _awesome_!!! 🎉

[2017-05-06 00:21] nelsonic commented on #292
Seriously, I feel like I missed out on some _epic_ entertainment by not having a TV in the 90's!
It's OK cause I can "catch up" now on YT:
[![image](https://cloud.githubusercontent.com/assets/194400/25768314/1186698a-31fa-11e7-8c09-928d90d17867.png)](https://www.youtube.com/watch?v=TrDUdOgpNsI)
https://www.youtube.com/watch?v=TrDUdOgpNsI

[2017-05-06 00:46] nelsonic commented on #290
@iteles _when_ do you have time to sit down and `define` our ***Sales Process***?
https://github.com/dwyl/learn-sales

[2017-05-06 01:22] nelsonic opened #293 "Employee Quitting Bonus?"
Note: this question was raised by @markwilliamfirth in https://github.com/dwyl/hq/issues/242 but I think it _deserves_ it's own dedicated thread/discussion to _capture_ everyone's thoughts.

![image](https://cloud.githubusercontent.com/assets/194400/25768761/72d344ee-3202-11e7-9e8f-30fa19de6596.png)
We've all met people who don't want to be somewhere ... it's not good for anyone.

For those who ha

[2017-05-06 01:29] iteles commented on #262
... nope @nelsonic.

[2017-05-06 01:57] iteles commented on #290
Was my plan for today (Saturday) :+1:

[2017-05-06 08:16] nelsonic commented on #290
@iteles Let me know when you're ready start. (_I'm at my desk working, but ready when you are!_) ⌛️

[2017-05-06 19:16] iteles opened #294 "Why is being process-driven important?"
Understanding the value of process is essential for people develop the impetus to follow it.

+ Ensures consistency of quality with the least amount of conscious effort once internalised
+ Everyone on the team knows exactly what is happening (or how to check) what is happening without having to be co-located or interrupting their team mates.
+ Removes the dependency on specific individuals in the

[2017-05-07 20:57] iteles commented on #293
I think this is an excellent idea. It may seem expensive for the company in the short term but ultimately it will be unimaginably cheaper in the medium to long term.
Let's add this to our agenda to discuss this week @markwilliamfirth :+1:

[2017-05-08 08:15] markwilliamfirth commented on #288
#262 needs to be completed prior to this

[2017-05-08 08:16] markwilliamfirth commented on #262
[DWYL.Articles.pdf](https://github.com/dwyl/hq/files/982756/DWYL.Articles.pdf)
@nelsonic pdf attached

[2017-05-08 08:21] #267 closed

[2017-05-08 08:22] markwilliamfirth commented on #239
Completed

[2017-05-08 08:22] #239 closed

[2017-05-08 08:26] markwilliamfirth commented on #149
@nelsonic see comment: https://github.com/dwyl/hq/issues/149#issuecomment-282709732

did you have further thoughts about how you wanted to implement NPS?

[2017-05-08 08:27] #183 closed

[2017-05-08 08:46] markwilliamfirth opened #295 "dwyl week @ Founders & Coders"
Saw this in an email! What is it @iteles ?

[2017-05-08 08:55] markwilliamfirth opened #296 "Pay Companies House Late Filing Fee"
Pay Companies House Late Filing Fee

[2017-05-08 09:01] markwilliamfirth commented on #293
@nelsonic do you know what the Zappos offering is?

[2017-05-08 09:03] #284 closed

[2017-05-08 09:06] markwilliamfirth commented on #281
@iteles should this be closed now?

[2017-05-08 09:09] #273 closed

[2017-05-08 09:09] #266 closed

[2017-05-08 09:12] markwilliamfirth commented on #249
On Friday at a meetup:

Person: "Where do you work?"
Me: "dwyl"
Person: "dwell?"
Me: "dwyl - it's spelled d-w-y-l. It stands for Do What You Love"
Person: "Oh that's weird, if it's spelled like that I would have pronounced it '_dwhile_'

2017-05-05

[2017-05-08 09:12] #230 closed

[2017-05-08 09:13] #217 closed

[2017-05-08 09:13] #216 closed

[2017-05-08 09:14] #207 closed

[2017-05-08 09:14] #203 closed

[2017-05-08 09:15] markwilliamfirth commented on #198
@nelsonic ok to close?

[2017-05-08 09:16] #196 closed

[2017-05-08 09:17] #184 closed

[2017-05-08 09:18] #180 closed

[2017-05-08 09:18] #179 closed

[2017-05-08 09:24] markwilliamfirth commented on #10
@nelsonic is this something we still want to offer?

[2017-05-08 09:24] markwilliamfirth commented on #11
Will be reviewed as part of social media plan #244

[2017-05-08 09:24] #11 closed

[2017-05-08 09:25] markwilliamfirth commented on #24
@nelsonic ok to close?

[2017-05-08 09:25] markwilliamfirth commented on #29
@nelsonic ok to close?

[2017-05-08 09:26] markwilliamfirth commented on #30
Discussion moved to Focus Hub

[2017-05-08 09:26] #30 closed

[2017-05-08 09:27] markwilliamfirth commented on #42
@iteles ok to close?

[2017-05-08 09:28] markwilliamfirth commented on #43
@nelsonic ok to close?

[2017-05-08 09:29] markwilliamfirth commented on #44
@iteles ok to close?

[2017-05-08 09:30] markwilliamfirth commented on #53
Closing based on summer / new door installation

[2017-05-08 09:30] #53 closed

[2017-05-08 09:34] markwilliamfirth commented on #95
@nikhilaravi hello! Are any of your May evenings free? If not, when are you back in June? We're not off to dwyl summer until July

[2017-05-08 09:35] markwilliamfirth commented on #86
@iteles I understand from Joe the website recommendation was completed - was the LinkedIn one completed too?

[2017-05-08 09:36] markwilliamfirth commented on #103
@nelsonic what are the next steps / action points on this issue?

[2017-05-08 09:38] markwilliamfirth commented on #88
Linked to https://github.com/dwyl/dwyl-site/issues/219

[2017-05-08 09:39] markwilliamfirth commented on #77
@nelsonic would it be best to move this to your personal GH repo?

[2017-05-08 09:42] markwilliamfirth commented on #154
@nelsonic should we continue to look into this?

[2017-05-08 09:45] markwilliamfirth commented on #147
@nelsonic should we formalise this process as an employee/contractor benefit in an md file?

[2017-05-08 09:48] markwilliamfirth commented on #143
@nelsonic should we put this in an md file?

[2017-05-08 09:48] markwilliamfirth commented on #141
Was decided to keep as MDC for the time being

[2017-05-08 09:48] #141 closed

[2017-05-08 09:50] markwilliamfirth commented on #140
@iteles what steps do we need to take to allow us to action this as a value across the organisation?

- Review remuneration process
- Decide whether to keep discussions involving hiring private

[2017-05-08 09:51] markwilliamfirth commented on #135
Now permanent as QS (now FH) is run by dwyl

[2017-05-08 09:51] #135 closed

[2017-05-08 09:53] markwilliamfirth commented on #130
@iteles see https://github.com/dwyl/hq/issues/130#issuecomment-282525578

Where should we progress with this issue? Do you want me to take it on?

[2017-05-08 09:54] markwilliamfirth commented on #110
Closing as we are now using Tachyons

[2017-05-08 09:54] #110 closed

[2017-05-08 09:58] #114 closed

[2017-05-08 10:09] markwilliamfirth commented on #161
@nelsonic should we make a new repo for the CRM?

[2017-05-08 10:10] #162 closed

[2017-05-08 10:10] #165 closed

[2017-05-08 10:12] iteles commented on #77
@markwilliamfirth The idea is that this is a good podcast and anyone who has the interest can do it :+1:

[2017-05-08 10:14] iteles commented on #153
@matkwilliamfirth You closed this issue without a comment. What was the conclusion?

[2017-05-08 10:16] iteles commented on #178
I don't think this issue has been resolved and I still need to write in the update from the lawyers.
Currently sitting with me 👍

[2017-05-08 10:17] iteles commented on #189
@markwilliamfirth There are no linked commits or PRs so it's safe to assume this still needs doing :+1:

[2017-05-08 10:19] #257 closed

[2017-05-08 10:19] iteles commented on #257
@markwilliamfirth Why do we think this is complete? I personally have not yet fully captured what is here in a client feedback request form - have you? What's the latest on this?

[2017-05-08 10:25] markwilliamfirth commented on #257
@iteles I thought case studies was the issue that replaced this one? Please reopen and assign to yourself if there is more to do on this one

[2017-05-08 10:27] markwilliamfirth commented on #153
@iteles I thought we purchased this

[2017-05-08 10:32] markwilliamfirth commented on #189
@iteles thanks. I assume best to @nelsonic then

[2017-05-08 10:48] ghost opened #297 "Meetings"
It was decided last week that due to the organisation's value of hyper-transparency we need to record discussions and outcomes of Director meetings on GitHub for everyone to be involved. Given this is a requirement it makes more sense for 'meetings' to be conducted online where discussion is recorded.

Until recently we've been following a Monday & Friday meeting model, which was introduced in Feb

[2017-05-08 10:58] iteles commented on #297
@markwilliamfirth This is a GREAT idea 💡 :tada:
Our Friday meetings with the 3 of us discussing company priorities and our week's retrospective should absolutely follow this. Let's do it from this week 👍

Our Monday meetings are 1-on-1 sessions and I feel they are much more meant for personal feedback and priority setting. I think this requires an _equal_ level of transparency in terms of having a

[2017-05-08 10:58] markwilliamfirth opened #298 "New repo for ops / shareable content"
The HQ repo is meant to be the home of all of dwyl's operations and administration, but at the moment it's used for other things too:

e.g. podcast and book suggestions
https://github.com/dwyl/hq/issues/77

This means these issues can never be closed, which affects ops task tracking analysis

@iteles I think it might be a good idea for us to either open a new repo for ops or open a new repo for co

[2017-05-08 11:05] iteles commented on #182
@markwilliamfirth Is this captured somewhere else?
This was one of the things I mentioned as one of the most important tasks when you joined a few months ago but I don't think it has been established yet. Unsure what the update is here?

[2017-05-08 11:26] iteles commented on #295
This one is @nelsonic !

[2017-05-08 11:42] markwilliamfirth commented on #182
@iteles I was closing because of the feedback app that's been created by Jack

[2017-05-08 11:46] iteles opened #299 "RR project extension | Estimate to be sent to client"
The RR project has come back to us asking for an estimate for additional features.

+ [x] Speak to @Danwhy and @SimonLab
+ [x] Send the client our open questions
+ [x] Once answers are received, provide estimated timelines
+ [x] Provide budget if requested (45 mins)
+ [x] Add hosting to the proposal (10 mins)
+ [x] Await decision and record

[2017-05-08 12:35] markwilliamfirth opened #300 "Pay Outstanding Invoices"
[Paying Invoices](https://docs.google.com/spreadsheets/d/1RYoaLBfHFi5KH8XoKfM55VEmlkeEyn2Mws_X4ya_PiU/edit#gid=1142431849)

[2017-05-08 12:40] markwilliamfirth opened #301 "Email Accountants about Bookkeeping"
Email Accountants about Bookkeeping

[2017-05-08 12:41] markwilliamfirth opened #302 "Create Automated Invoicing MVP"
Create Automated Invoicing MVP

This is an invoicing system utilising Google Docs and Autocrat to automate our current internal processes for managing contractor invoices

[2017-05-08 14:55] harrygfox commented on #292
@Jbarget @markwilliamfirth @naazy @nelsonic
@jackcarlisle @JMurphyWeb @harrygfox @sohilpandya

These are the names as of right now. That makes 2 teams of 4.
_The Experience offers spaces for a maximum of 4 teams of 4._

[2017-05-08 15:36] markwilliamfirth commented on #292
@harrygfox isn't it 8 per team?

[2017-05-08 17:01] harrygfox commented on #292
@markwilliamfirth Yes you're right - updated message above

[2017-05-09 09:51] nelsonic opened #303 "Other (Non Free) Coding Bootcamps are using our Learning Materials ... How do we feel about that?"
We have known for a `while` that other "Coding Bootcamps" are using the @dwyl Learning Materials for their "curriculum" ... (_we have had quite a lot of "thanks" from members of some of the **Non-Free** coding academies when attending meetups etc._) But this is the _first_ time someone has gone "_on the record_" ...

see: https://github.com/dwyl/learn-tape/pull/13/files
![image](https://cloud.gith

[2017-05-09 10:20] iteles commented on #303
Our entire philosophy is based around open source and that learning how to code should be accessible. $14k for a bootcamp is not accessible.
I completely object to this (and did not merge the PR when I had the opportunity to).

[2017-05-09 10:23] nelsonic commented on #303
@iteles I merged the PR to "lock-in" this _reality_ for discussion purposes.
We can _remove_ it in a future PR, don't worry, we _definitely_ don't want to _promote_ `PAID` Bootcamps!!

[2017-05-09 10:33] markwilliamfirth commented on #303
Is it possible to change the open-source license or put a disclaimer etc that prevents the use of the materials for paid teaching?

[2017-05-09 10:38] iteles commented on #303
@markwilliamfirth There are licenses that prevent commercial use for sure (@nelsonic also did a fair amount of research on this for https://github.com/dwyl/intellectual-property and it's definitely the way I think we should go for our products).

I'm not sure we want to prevent people from using our materials to _learn_ (after all, using one of our repos means that those same people could independ

[2017-05-09 13:07] markwilliamfirth commented on #242
https://www.gov.uk/employment-contracts-and-conditions/written-statement-of-employment-particulars

[2017-05-09 13:09] markwilliamfirth opened #304 "Pay PAYE"
https://www.freeagent.com/rates/national-insurance/

[2017-05-09 13:10] markwilliamfirth opened #305 "Employment Allowance"
Employment Allowance

[2017-05-09 13:13] #296 closed

[2017-05-09 13:14] #301 closed

[2017-05-09 13:16] markwilliamfirth commented on #288
Companies House have been informed.

The only thing this may affect is the company credit rating

#262 required in order to progress @nelsonic @iteles

[2017-05-09 13:24] markwilliamfirth commented on #300
Require approvals from @iteles

[2017-05-09 13:39] iteles commented on #193
Absolutely have never seen this issue, SORRY! :(

We have always got our stickers from diginate.

I think they need to be either thinner (in terms of a flimsier material) or probably a very different shape that isn't forced to sit over and around the protruding 'bose' wording. Maybe something on the actual 'hairband' section as opposed to the cups is the only thing that could work?

[2017-05-09 14:05] markwilliamfirth commented on #297
@nelsonic what are your thoughts on this? In-person meetings / vs github meetings

[2017-05-09 14:20] markwilliamfirth opened #306 "Contact Xero and HMRC to resolve declining of FPS RTI submission"
FPS RTI submission for dwyl was declined by HMRC

Jan
Feb
Mar

[2017-05-09 14:23] markwilliamfirth commented on #306
475/VB57137

[2017-05-09 14:28] markwilliamfirth opened #307 "Simon's PAYE Opening Balances - Freelancer to FT Employed"
Research / contact Xero and HMRC
+ set up simon on payroll

[2017-05-09 14:33] markwilliamfirth commented on #202
[original_msg (2).txt](https://github.com/dwyl/hq/files/986970/original_msg.2.txt)

[2017-05-09 14:35] markwilliamfirth opened #308 "Free Santander Cycle Keys"
ZEN

Please complete a short travel survey via: www.surveymonkey.com/r/zenlbthch

You will be required to do this survey again after 6months and 12 months from getting the access code.

The scheme is ideally for those who do not have a bike of their own or access to a pool bike at work.

It is free to anyone who works for a ZEN registered business in Tower Hamlets. There is no limit of how many pe

[2017-05-09 14:38] markwilliamfirth opened #309 "SPRING (Super Global) Project"
"Sorry, didn’t meant to drop the ball on this one…and now we are off to Kenya this week!

Would love to meet and talk more. Are you available at the beginning of June by chance? I would potentially have my colleague Roo Rogers with me also (I think I mentioned him to you when we met – he leads a team that works and delivers all HCD content and modules for SPRING ventures).

Let me know what dates

[2017-05-09 14:50] iteles commented on #309
@markwilliamfirth Let's ask them for the information we needed from them and let them get back to us... Assigning back to you as you're the main contact for this account 👍

[2017-05-09 15:18] markwilliamfirth commented on #309
@iteles I can't remember what it was that was requested from them - do you have it in your notebook?

[2017-05-09 16:02] markwilliamfirth opened #310 "RSN project"
A potential new project creating a new e-commerce and learning application for a crafts charity.
+ [x] Review documentation
+ [x] Initial call with board member
+ [x] Initial call with CEO
+ [x] Write and send proposal to RSN

[2017-05-09 16:03] markwilliamfirth commented on #310
@iteles latest from Susan:
Dear Mark
We are currently trying to appoint a project manager to oversee all this so please wait until we have the person in post.
Susan

[2017-05-09 16:09] markwilliamfirth opened #311 "dwyl tshirt for Noga"
Noga wanted a dwyl tshirt! Preferrably a green in medium size
do we have one in hq, @iteles?

[2017-05-09 17:09] ghost opened #312 "Invoice Approval Process"
How can we iterate and improve on this process?

Currently @iteles approves invoices as they come in - is there a way to automate approvals? How do you work out the days are correct? Is it from cross-referencing charliehr for sick/holiday days?

[2017-05-09 18:18] iteles commented on #311
No! No one wanted green ones so I had a single green made for me!

Unless @nogainbar wants a used t-shirt, it can't be green until our next batch 😞
But I'm seeing her tomorrow so will bring all the mediums 👍

[2017-05-09 18:22] iteles commented on #310
@markwilliamfirth :+1: Updated the top comment to remove potential client name and to reflect the work that has been done so far.

[2017-05-10 10:38] nelsonic opened #313 "Hiring Process: New Joiner Offer Checklist"
One of @dwyl's ["USP"](https://www.entrepreneur.com/encyclopedia/unique-selling-proposition-usp)s is that we are `#HyperTransparent` and that _includes_ our Hiring Process! 😮

We aren't the "_first_" company/organisation to make "_salaries_" `public`,
see: http://www.huffingtonpost.co.uk/2016/03/06/transparent-salaries-public-buffer_n_9377452.html
But I do think we are the first to make our **_Ent

[2017-05-10 10:48] markwilliamfirth commented on #313
@nelsonic might make more sense to use a candidate ID as opposed to random words

Our salaries aren't public?

[2017-05-10 10:51] nelsonic opened #314 "Where to Capture your Learning when working on a @dwyl Project?"
This question has come up again in (chat) so it's time to open a issue.

## Situation

So you are working on a @dwyl project and you're learning new things,
_where_ `should` you be raising issues while you are learning and adding detail?

We have _several good_ examples of this from the _many_ client projects, here's one:
+ The Project: [github.com/numo-labs/aws-lambda-helper](https://github.com/n

[2017-05-10 10:53] markwilliamfirth commented on #313
I'm not sure what benefit this provides to the public - it just shows a checklist of steps of an anonymous person going through the hiring process. It does little to provide insight, yet substantially increases administration. The hiring process can be described in a readme, the only additional information people are getting from this is how many people are in the pipeline and at what stage they'r

[2017-05-10 10:59] Cleop commented on #314
@nelsonic thanks for this. Once you've created an issue on the appropriate dwyl learning repo and once you've added everything that is relevant to it. What should you do next?

- Leave the issue open?
- Close it? As your learning/ question is complete
- **Wait for it to be added to the README before it is closed?**... which creates the question - is all learning about a language useful in the READ

[2017-05-10 11:06] nelsonic commented on #314
@Cleop if the knowledge is _useful_ to someone `else` in _any_ way, we should attempt to summarise it in the `learn-...` repo either with a _dedicated_ markdown file e.g: https://github.com/dwyl/learn-phoenix-framework/blob/master/heroku-deployment.md or adding to the readme: https://github.com/dwyl/hapi-auth-jwt2#generating-your-secret-key

Once the knowledge has ben _transferred_ to a `.md` file

[2017-05-10 11:07] Cleop commented on #314
@nelsonic thanks!

[2017-05-10 12:07] markwilliamfirth commented on #26
http://www.ethicalconsumer.org/buyersguides/money/ethicalbusinessbanking.aspx

mentioned in https://github.com/foundersandcoders/international/issues/34

[2017-05-10 13:01] Jbarget commented on #302
Example of an invoicing app (not automated though):

I use this currently to manage my invoices, their MVP is really great and just does what it needs to with no distractions. https://www.getalbert.com/

[2017-05-10 13:02] nelsonic commented on #302
@Jbarget can you _summarise_ the features you use most _and_ any you've _wanted_ and not had?

[2017-05-10 13:15] iteles commented on #302
@markwilliamfirth A few details on what you're thinking would be good as I imagine this one is quite interesting for people and can be interpreted in many different ways!

[2017-05-10 13:20] SimonLab commented on #302
@Jbarget the application seems nice but

"Albert on Android.
We are working hard to bring Albert to Android.
Leave your email, and we will notify you when it is ready."

and I don't think there is a web app at the moment.

[2017-05-10 13:45] Jbarget commented on #302
yep there is no web app, i use it as a ios app

Features:
- ability to create invoice
- ability to sett your account (image, bank details, name)
- ability to view outstanding invoices
- ability to view paid invoices
- ability to duplicate a previous invoice
- ability to preview invoice in-app
- ability to send invoice history to email (csv attachment)

Desired Functionality on top:
- ability to se

[2017-05-10 14:34] markwilliamfirth commented on #297
I have created a new company priorities project here https://github.com/orgs/dwyl/projects/6

Here we can continuously review and track company priorities, each priority should be recorded as an `epic`, epics link to issues (tasks)

[2017-05-10 14:51] iteles commented on #280
There are still two open items on this issue, opening again.

[2017-05-10 14:52] #278 closed

[2017-05-10 14:53] markwilliamfirth commented on #280
I thought Simon is already working on this project - what's the update on this one?

[2017-05-10 15:36] iteles commented on #280
What Simon (and I) are working on are the two open checkpoints in the list in the top comment 👍

[2017-05-10 15:49] markwilliamfirth commented on #221
New AWS account has been created for feedback app using Mark's card - login details shared with Jack Carlisle

[2017-05-10 16:07] iteles commented on #26
It really is a shame that the cooperative bank is so terrible :sob:

[2017-05-10 16:21] markwilliamfirth commented on #262
@nelsonic @iteles please can you review asap?

[2017-05-10 16:42] markwilliamfirth opened #315 "Feedback Application Plan"
Is this product being released publicly so other people can use is or is it just internal?

[2017-05-10 17:43] nelsonic commented on #315
We can write a Blog Post about it once we ship it.
We aren't _actively_ marketing it (_yet_) because we can't _support_ it (_yet_).
But as soon as we have a chance to "_flesh out_" the feature(s) a bit
(_specifically with some real-time and embedding_)
we could make it a _product_ that people can use on their websites/apps.
(_that was the idea from the start..._)

We need to "_dog-food_" it _inter

[2017-05-11 08:23] iteles commented on #313
We have to keep track of how far individuals are into the process anyway, so it would be great if you could detail the extra administration @markwilliamfirth for completeness 😊
To me the biggest benefits are ensuring everyone knows that a) the people who have joined us have ticked every box and b) that everything we need to look at is in our single source of truth and we don't have to go hunting i

[2017-05-11 08:57] markwilliamfirth commented on #313
@iteles the administration would involve creating, updating and closing a number of checklists in several issues for candidates, as opposed to maintaining a single spreadsheet

It's also worth noting:
- We'll need to maintain a spreadsheet anyway, as this will include the personally identifiable information and comments, therefore we're doubling the workload
- As far as I understand people won't b

[2017-05-11 09:54] iteles commented on #312
@markwilliamfirth Doesn't look like charliehr has an API from a cursory search, could you please check with Ben if it's on the cards?

Also keen to add a 'product' label of some sort to this repo, as in 'problems that can be/should be considered for solutions within our products'

[2017-05-11 09:55] markwilliamfirth commented on #312
@iteles the main question is how do you currently work out that the days are correct? I don't actually know how you calculate them at the moment

[2017-05-11 09:58] iteles commented on #312
Aaaaaaaah, my process right now is pretty simple: I should use a spreadsheet, but I use my memory instead 🙄

I used to use a combination of events in my calendar when people were off and memory and now I use charliehr and memory.

[2017-05-11 10:03] iteles commented on #182
@markwilliamfirth I don't think that solves the problem of providing feedback to developers working on our teams, we need to actually do a little study to understand what would be useful, who it would be useful from and how it needs to be delivered.

[2017-05-11 10:41] markwilliamfirth commented on #312
@iteles if we record all off-days in charliehr would I be able to take this off of your plate? Or is it more complex than that?

[2017-05-11 11:06] iteles commented on #312
Only more complex in that we need to know:
+ How many days were in the sprint
+ How many of those days each of the contributing developers worked for that sprint
  + Sick days/days off (could come from charlie if this is used diligently)
  + Some developers, particularly front-end, will come into a sprint for a few days to help solve a particular issue and then dive back out and some team members

[2017-05-11 11:28] iteles commented on #161
Yes please!

[2017-05-11 11:37] iteles commented on #287
Moved into https://github.com/dwyl/contributing/issues/29 👍 Thanks @Jbarget !

[2017-05-11 11:37] #287 closed

[2017-05-11 11:38] iteles commented on #298
IMO, hq is the _right_ place for ops, admin and practices around running the _organisation_.
In the case of the example above, this is related to running the company and can be closed as soon as someone makes notes.

You're right though, the blog issues for example can probably now be moved to the dwyl-site or a blog repo (let's figure this out when we redo the site in the coming couple of weeks)

[2017-05-11 11:51] iteles commented on #262
@markwilliamfirth How do you want us to add our comments? Would a google doc not be possible?

[2017-05-11 12:32] markwilliamfirth commented on #262
@iteles feel free to print out and write comments or convert the file to whatever format you wish to add comments. When I make the changes I will do so in the word doc as converting to another format such as a [google doc](https://docs.google.com/document/d/1yNGSpUc4gE9AtCpyl5ZRjVHBMjlU7mon5OGv3i5WRYg/edit#) will disrupt the formatting of the current document as in this linked example

[2017-05-11 12:36] markwilliamfirth commented on #77
@nelsonic Inês mentioned in #298 that this is related to running the company and can be closed as soon as someone makes notes - who should this be assigned to?

[2017-05-11 12:43] markwilliamfirth commented on #298
@iteles

what do we do in these cases?

https://github.com/dwyl/hq/issues/169
https://github.com/dwyl/hq/issues/144

and if there are future recommendations for reading / watching / sharing content?

[2017-05-11 13:00] markwilliamfirth commented on #312
@iteles in that case should we start recording these in a spreadsheet?

[2017-05-11 13:08] markwilliamfirth commented on #312
@iteles response from engineer at Charlie re api:

Will ask ben too

[2017-05-11 13:47] iteles commented on #312
@markwilliamfirth Probably. What should really happen is that _each person_ should track their time/days as part of your #302 and then in the short term (before we build this functionality), I can flag the adjustments.

I can almost guarantee that I won't remember/prioritise updating anything more than what I already update O_o

[2017-05-11 14:04] iteles commented on #262
I won't review for formatting, just the content 👍

At client site today so can't print and also 🌴 🌲 🌳 🎄 ♻️  😉

[2017-05-11 14:05] markwilliamfirth commented on #312
@iteles I don't think it's useful or sustainable to maintain doing it from memory - I think we should be recording this. At the moment the invoice PDFs are the only version of truth for contractor worked days. If the information was in a spreadsheet we could quickly and accurately calculate days worked on a project - contractors wouldn't even need to report the days they worked as we would already

[2017-05-11 14:07] iteles commented on #312
@markwilliamfirth Centralising the burden of keeping track of this is counter to what we want people to actually do: estimate, track and be accountable for their time. This is why I mentioned that each individual should be tracking and automating their invoices to us as per your MVP.

As for what should and shouldn't be charged to a client, happy for you to propose what you think is the most effic

[2017-05-11 14:10] iteles commented on #77
@markwilliamfirth No one. Whoever has time/wants to pick it up, can. That's the idea behind the `help wanted` label and https://github.com/dwyl/tudo/issues/146

[2017-05-11 14:11] iteles commented on #298
Good examples, we should move that info into here: https://github.com/dwyl/start-here/blob/master/books-to-read.md and close the issues 👍

[2017-05-11 14:15] markwilliamfirth commented on #312
@iteles people would still track their time, but they would report it to you as PM of the project as things occurred. It would be updated in a centralised spreadsheet, which we would then generate the invoices automatically from, thus removing contractor error. Ultimately part of the point of `time` is to remove the burden of the individual tracking and adding together chunks of time. So I think i

[2017-05-11 14:18] iteles commented on #44
This (and #43) are open as `va-task` and are pretty low priority. It would still be nice to have a simple way for people to design that doesn't involve proprietary software but pretty low priority for us at the moment. Added to the backlog.

[2017-05-11 14:19] iteles commented on #43
This (and #44) are open as `va-task` and are pretty low priority. It would still be nice to have a simple way for people to design that doesn't involve proprietary software but pretty low priority for us at the moment. Added to the backlog.

[2017-05-11 14:40] iteles commented on #312
@markwilliamfirth Are you proposing some form of automation of entering that information into the centralised spreadsheet?

[2017-05-11 14:54] markwilliamfirth commented on #44
@iteles I think #43 and #44 should move to a new repo associated with this product rather than being in hq? "png-app"?

[2017-05-11 14:58] iteles commented on #44
@markwilliamfirth Sorry, I didn't explain that very well. The idea isn't to build an app for this, in #43 it's just to find a tool (like google slides for example) that people who don't have the money for things like Sketch, Balsamiq, Proto.io, etc can use and this specific issue is to source some assets to make that process a bit quicker.

We could move these two issues to start-here if you would

[2017-05-11 15:26] iteles commented on #42
@markwilliamfirth We should move this into https://github.com/dwyl/ateam-master-reference !

[2017-05-11 15:51] markwilliamfirth commented on #198
@evilpacket hello! Apologies for the premature question^ ... @iteles has just informed me that this is still on the cards! Can we book you in in for May/June? :)

[2017-05-12 00:01] evilpacket commented on #198
oh man yes, Is there a time in the last week of May that might work? (trying to give myself some sort of time to prepare)

—
Adam Baldwin

--- original message ---
On Thu, May 11, 2017 at 08:51 am, <notifications@github.com> Mark William Firth wrote:

@evilpacket hello! Apologies for the premature question^ ... @iteles has just informed me that this is still on the cards! Can we book you in in for

[2017-05-12 07:47] iteles commented on #297
I have re-read the above based on a mini-conversation we had yesterday and I think I go the wrong end of the stick :/

You were suggesting that we have discussions on github in lieu of meetings and I _thought_ you were suggesting that we _record_ our meetings (screencasting as we do with standups for example) and then add our conclusions as actions to github.

I personally _don't_ think we should

[2017-05-12 08:58] markwilliamfirth commented on #198
@evilpacket yes we can certainly find a timeslot! And please take as much time as you need to prepare - we can delay until June if you'd prefer.

Do you have a preference for an evening/after work thing (e.g. 31st may) or something during the working day? Maybe an afternoon? Friday afternoon 26th May? Timeslots other than those are available too - just let us know what would be ideal for you!

[2017-05-12 14:44] markwilliamfirth commented on #249
![image](https://cloud.githubusercontent.com/assets/5732209/26003146/cbbe7f16-3729-11e7-86ee-cecc1bcc5ebd.png)

2017-05-12

[2017-05-12 17:00] evilpacket commented on #198
So I'm in PST timezone and I can be pretty flexible with my schedule from 9am until midnight roughly is fine with me, so what might work in there? I'm bad at timezones.

May 26th would work for me. Really I'm deadline driven so if I have a deadline and I know what ya'll want I can meet that :)

—
Adam Baldwin

--- original message ---
On Fri, May 12, 2017 at 01:59 am, <notifications@github.com> Ma

[2017-05-12 17:26] markwilliamfirth commented on #198
@evilpacket awesome! How does 9:00 AM your time (5:00 PM here) on May 26th sound to you?

[2017-05-12 18:15] evilpacket commented on #198
rad, let's do it. I'l review the thread again and possibly reach out for a few conversations to focus the talk. About how much time do we want to allot?

—
Adam Baldwin

--- original message ---
On Fri, May 12, 2017 at 10:26 am, <notifications@github.com> Mark William Firth wrote:

@evilpacket awesome! How does 9:00 AM your time (5:00 PM here) on May 26th sound to you?

—

You are receiving this b

[2017-05-12 19:26] Jbarget commented on #198
This seems even more appropriate with the NHS hacking just happened.

Really looking forward to this. Thanks @evilpacket!

[2017-05-13 07:43] iteles commented on #294
Checklists (processes) in hospitals in the US brought down surgical death rates by 47%.
https://youtu.be/L3QkaS249Bc?t=15m17s

Even cowboys use processes!
https://youtu.be/L3QkaS249Bc?t=17m36s

<img width="655" alt="screen shot 2017-05-13 at 08 37 39" src="https://cloud.githubusercontent.com/assets/4185328/26023605/0221d146-37b8-11e7-944b-551b746c7fb7.png">

[2017-05-14 09:31] iteles commented on #295
Closing in favour of https://github.com/foundersandcoders/london-curriculum/issues/15

[2017-05-14 09:31] #295 closed

[2017-05-14 22:20] iteles opened #316 "How do we know we're spending time on the *right* things?"
As a dwyler who wants to maximise the impact that I and dwyl can have, how can I make sure I'm spending time on the right things to further this as opposed to 'treading water' or 'turning the hamster wheel'?

[2017-05-15 09:42] markwilliamfirth opened #317 "Activate Coop Bank Feed"
<img width="483" alt="screen shot 2017-05-15 at 10 16 43" src="https://cloud.githubusercontent.com/assets/5732209/26051750/09031fa2-395b-11e7-8946-4add91d1a68a.png">

[2017-05-15 09:44] markwilliamfirth opened #318 "Invoices to Send Out"
LDMW pre-sprint 1 and sprint 1
Healthlocker sprint 10 (we need to add the heroku charges from past months to this)
oxabs everything up to sprint 30

Inês to confirm number of days charged out and when these need to be sent out.

[2017-05-15 09:49] markwilliamfirth commented on #316
Company priorities need to be defined and time spent on activities should correlate with this. If too much time is being spent treading water then that's a sign we need to hire someone to do the treading water instead. What do you define as treading water?

[2017-05-15 10:43] markwilliamfirth opened #319 "Candidate 1003"
https://github.com/dwyl/hq/issues/313
https://github.com/dwyl/hq/issues/140

- [x] Employment offer to be created by Mark

- [x] Inês to approve

- [x] Mark to send offer

- [x] Offer accepted

- [x] Candidate to sign contract

- [x] Mark to countersign contract

- [x] Mark to upload contract to CharlieHR

[2017-05-15 10:54] markwilliamfirth commented on #240
@iteles confirming it's ok to separate share classes?

[2017-05-15 11:06] iteles opened #320 "Potential new project | Surveys for teachers mobile application"
A potential new project on daily 30 second surveys for teachers.

+ [x] Initial call with PO to determine what needs to be done
+ [x] Determine whether technical challenges can be overcome (@cleop)
+ [x] Put together proposal
+ [x] Follow up
+ [ ] Determine whether there is budget for this

[2017-05-15 11:59] nelsonic opened #321 "Management Accounts"
I **need** up-to-date management information
so that I can **plan** for the **future** of the company/team effectively.

Management Accounts Should Cover:
+ [ ] **Revenue** and **Expenditure**
+ [ ] **Contribution** to Fixed Overheads for each project (_i.e. does the project `make` or **lose** money? and if so **exactly** how much?_)
+ [ ] **List of people** on each project and **how much time** t

[2017-05-15 12:02] nelsonic commented on #320
@iteles depends on #321 👍

[2017-05-15 12:37] edwardcodes opened #322 "Invoice Template: What informations does it require?"
I´ve sent an invoice but it was very incomplete, what are the topics that i should follow?
Thank you!

[2017-05-15 12:58] markwilliamfirth commented on #146
@iteles what are your thoughts on making the following free for employees:

pp py = per person per year

- dwyl summer travel costs - £100 pp py
- large quarterly events e.g. crystal maze #292 - £240 pp py

Headphones with a 2-year warranty is equal to £8.33 pp py

We could also add benefits for:
- Birthdays £30 pp py
- 8 monthly get togethers a year in months without large quarterly staff events

[2017-05-15 13:10] iteles commented on #146
🎉 My thoughts are that we have been doing everything we've been able to do so far according to our revenue-funded and transparent model and as soon as #229 and #321 are done, we can figure out how much more we can do 😊
Let's bump up the priority as soon as those are done!

[2017-05-15 13:17] markwilliamfirth commented on #146
@iteles I don't see #229 #321 being a blocker to this as the revenue that is being taken out by yourself and Nelson in remuneration is being loaned back to the company and there is more than enough capitol there to ensure that we have a lengthy runway £300/month in employee benefits will hardly make a dent in that

[2017-05-15 13:21] iteles commented on #146
You're right, Nelson and I are loaning money back into the business on an as-needed basis, but loans aren't a sustainable way to grow a company and provide for our community.

Other than financial/expenses decisions that have already been made, we are not embarking on any additional expenditure until we have a *crystal clear* picture of our financial situation. The decision is very much not about

[2017-05-15 13:22] iteles commented on #146
Note: #292 is already approved.

[2017-05-15 13:35] iteles commented on #321
@markwilliamfirth This is the subset of #229 we were discuss last week and this morning as the most urgent thing to have a handle on asap so that all other company decisions (around big things like hiring and smaller things like #) can be made 👍

These are in priority order as discussed.

[2017-05-15 13:37] markwilliamfirth commented on #240
Spoke to iteles and confirmed separation of share classes

@iteles can you summarise the outcome of the remuneration decisions so we have a record

[2017-05-15 13:38] iteles commented on #240
@markwilliamfirth Thanks for the nudge ;)
Yes, definitely, this option gives us more flexibility and we can easily change it if we need to later 👍

[2017-05-15 13:43] nelsonic commented on #146
WHY did the title of this issue change...?!

[2017-05-15 13:44] markwilliamfirth commented on #146
I was under the impression that revenue generated over the past two years was intended to further the business' growth, regardless of whether that revenue stayed in the company or was taken out in remuneration and loaned back in.

Are you saying that that capital is only available in emergencies, as opposed to being deployed into growing the business?

[2017-05-15 13:49] markwilliamfirth commented on #146
@nelsonic the issue title changed because it reflects the discussion in the issue around non-contingent employee benefits

[2017-05-15 14:33] markwilliamfirth commented on #240
@iteles I mean with regards to Portugal - don't we need this recorded somewhere?

[2017-05-15 14:51] iteles commented on #146
@markwilliamfirth The title change here has changed the nature of the discussion from open and collection of ideas to something more formal and less open. Certainly the tone of the discussion seems to have taken a turn.

[This](https://github.com/dwyl/hq/issues/146#issuecomment-301478888) also doesn't belong in this issue.

[2017-05-15 14:56] iteles commented on #316
@markwilliamfirth Treading water = things that are part of the day-to-day 'keeping things ticking over' but do not advance the organisation towards its goals.

This is what I was discussing with you this morning around allocating percentages of time to allocate to each category of task for the organisational priorities and working towards getting there with accurate time tracking 👍

[2017-05-15 14:59] #281 closed

[2017-05-15 15:29] iteles commented on #317
:tada: Managed to get this done. At the time of writing, the feed isn't fully updated yet, but in the 5 minutes I was in Xero, the balance increased so it's going in the right direction :+1:

[2017-05-15 15:30] #317 closed

[2017-05-15 15:35] iteles commented on #319
Offer _letter_ is great, please run the details to be added to the schedule by me 👍

[2017-05-15 15:43] markwilliamfirth commented on #146
@iteles should I create two separate issues as below?

1. Sharing ideas about employee benefits
2. Discussion around allocation of budget to employee benefits

[2017-05-15 21:20] iteles commented on #318
@markwilliamfirth Thanks for this 👍
All of the above need to be sent out tomorrow (Tuesday):
+ LDMW pre-sprint and sprint 1: sent you an email with what to put together for this
+ HL sprint 10: please add the charges as requested from the bank statement and send
+ HL sprint 11: original budget, ready to send out
+ HL sprint 11: new budget, ready to send out (ends Tuesday 16th so please send it out

[2017-05-16 11:07] iteles opened #323 "SMG | Small extension of Collections Website"
A two week block for snag list and new features:
+ [x] Call with PO
+ [x] PO to create snag list milestone
+ [x] @iteles to look at dwylers available and skills required
+ [x] @iteles to send timeline and budget to PO

**2 weeks of work _only_**.

[2017-05-16 11:32] iteles commented on #318
@markwilliamfirth Oxabs invoice draft done and in drafts folder 👍

[2017-05-16 11:49] ghost opened #324 "Role Responsibilities"
We need a stable framework that defines where responsibilities lie in the organisation that will enable us to effectively work as a unit with efficient decision making and autonomy in specialist areas.

[2017-05-16 11:50] markwilliamfirth commented on #324
Currently it's unclear who the decision making responsibilities sit with in some areas. For example:

People / HR / Culture
- Which employee benefits should be authorised?
- When, what and how organisation operations and decision making should be made public (remuneration, hiring procedure, company finances)?
- How hiring decisions should be made - who decides when and who to hire

Finance
- Budge

[2017-05-16 12:09] markwilliamfirth commented on #198
@evilpacket
Let's do 18 min talk + 12 min Q+A
Let me know if you'd prefer a different format and we can switch it up - otherwise is that ok?

@Jbarget yes very on trend right now

[2017-05-16 12:30] markwilliamfirth commented on #318
@iteles is there no discount on LDMW?

[2017-05-16 12:33] iteles commented on #318
@markwilliamfirth 5% 👍

[2017-05-16 12:48] markwilliamfirth commented on #318
there's no discount on oa? @iteles

[2017-05-16 12:52] markwilliamfirth opened #325 "Client Rates and Discounts"
@iteles I noticed with healthlocker new budget vs old budget (https://github.com/dwyl/hq/issues/318) the rates changed but the discount stayed the same

It might be a good idea for us to assign fixed rates (based on the market rate) to roles and then apply client discounts as appropriate. In this case we could have lifted the discounts rather than increasing the rates.

[2017-05-16 12:54] markwilliamfirth commented on #318
@iteles
<img width="463" alt="screen shot 2017-05-16 at 13 53 45" src="https://cloud.githubusercontent.com/assets/5732209/26106829/21e2e478-3a3f-11e7-95b7-aba17e920156.png">

Sprint 11 HL original budget has two roles with 0 quantity?

[2017-05-16 12:56] markwilliamfirth commented on #318
@iteles github projects doesn't let me move this issue out of your done view from the issue view

[2017-05-16 13:20] iteles commented on #318
That's correct @markwilliamfirth, HL asked for a budget extension so the time for those 2 people went into the 'new budget' invoice rather than this one. Kept in there for consistency

[2017-05-16 13:22] iteles commented on #325
@markwilliamfirth This was a very particular case to the agreement we have with Healthlocker, there was only one rate that increased and that was the one rate we were making a _loss_ on. Now we're able to cover costs but the discount needed to stay as per the original agreement.

[2017-05-16 13:26] markwilliamfirth commented on #306
0300 200 3200

[2017-05-16 13:32] markwilliamfirth commented on #325
@iteles Understood it was a particular case

Going forward it might be more ideal to set our rates against the market and provide discounts for preferred clients as appropriate. The next step is to do research into market rates - has any been done before?

[2017-05-16 13:46] markwilliamfirth opened #326 "Naaz Student Loan Plan Update"
- [x] Update Xero from Plan 2 -> Plan 1
- [x] Contact HMRC about Month 1 payroll

[2017-05-16 14:04] markwilliamfirth commented on #326
Naaz updated on payroll

Contacted HMRC - they contacted SLC
SLC issuing a SL1 notice for confirmation
Xero updated
No need to take any action

[2017-05-16 14:04] #326 closed

[2017-05-16 14:07] markwilliamfirth commented on #304
Payment by BACs:
HMRC Cumbernauld
08-32-10
12001039

Payment reference:
**Accounts Office Reference Number** + YY/**YY** + **MM** (17 characters)

Payment by phone:
03002003814

[2017-05-16 14:11] markwilliamfirth commented on #304
346.03 paid for April

[2017-05-16 14:12] markwilliamfirth commented on #305
Set up in Xero

[2017-05-16 14:12] #305 closed

[2017-05-16 14:12] markwilliamfirth commented on #306
Resolved - HMRC have updated their side

[2017-05-16 14:12] #306 closed

[2017-05-16 14:14] markwilliamfirth commented on #307
Statement B
1150L
week1 month 1 basis
Now set up in Xero

[2017-05-16 14:14] #307 closed

[2017-05-16 14:19] markwilliamfirth opened #327 "Check we are up-to-date with VAT"
03002003700

Online says £549.86, but may be error (PAYE £875.50 online vs £346.03 Xero confirmed by HMRC)

[2017-05-16 14:41] markwilliamfirth commented on #318
I would flag that I'm not sure if it's best invoicing practice to write line items with 0 quantity, but presently it doesn't appear to cause any errors on our end.

These have been sent.

[2017-05-16 14:41] #318 closed

[2017-05-16 16:43] markwilliamfirth commented on #327
£549.86 was surcharge for January submission
Paid 2017-03-16

Next VAT return deadline
2017-06-06

[2017-05-16 16:43] #327 closed

[2017-05-17 04:58] nelsonic commented on #327
Thanks for checking this Mark! 👍

[2017-05-17 04:59] nelsonic commented on #306
Nice one. 🎉

[2017-05-17 05:14] nelsonic commented on #325
@markwilliamfirth the "_market_" rate depends entirely on what "_market_" we are _in_.
Are we a _high_ quality professional services team?
or a technology "outsourcing" company?
The end-result to the client might be _similar_
But the rate will vary by 300-500% ...
It _all_ depends on what the medium-to-long-term _plan_ is for Services. 🤔

[2017-05-17 05:16] nelsonic commented on #323
https://github.com/dwyl/hq/issues/274 ?

[2017-05-17 05:24] nelsonic commented on #146
I think there's a _gross_ misunderstanding around "employee" vs. "owner".
I didn't start a company to be an Employee.
if I wanted to be an Employee I would have taken the job with McKinsey or Google and wouldn't have to deal with any BS around how the money I make gets spent/invested.
Tax efficient expenditure is a _no brainer_.
Wasting time questioning it is _distracting_ from building the produc

[2017-05-17 05:24] #146 closed

[2017-05-17 05:24] nelsonic commented on #281
🎉

[2017-05-17 05:30] nelsonic commented on #295
@markwilliamfirth the _idea_ behind having a dwyl week @ F&C was to get the people to go through the dwyl "***on-boarding exercise***" and give us a _ton_ of feedback in the process.
What is the dwyl "***on-boarding exercise***" you ask?
Simple: build something _useful_ to someone else in a week from problem statement to prototype with UX testing and feedback and summarise it as a case study.
I in

[2017-05-17 05:38] nelsonic commented on #43
How is having a "**UI Kit**" for rapid prototyping a _low_ priority...?  🤔
This is ~~useful~~ _essential_ for _all_ projects we do! ❗️
Closing in favour of: https://github.com/dwyl/learn-tachyons/issues/9
(_having a "living" style guide is a much better way to go. wireframes are a compromise_)

[2017-05-17 05:38] #43 closed

[2017-05-17 05:40] nelsonic commented on #44
We _all_ need to "_get good_" at "_Live Prototyping_".
relates to: https://github.com/dwyl/learn-tachyons/issues/9

[2017-05-17 05:48] nelsonic commented on #77
Mark, _Please_ listen to the _first **2 minutes**_ and _decide_ if this is _personal_ to me or to dwyl services...
[http://mixergy.com/wp-content/audio/Josh-Denning-SmartROI-on-Mixergy.mp3](http://mixergy.com/wp-content/audio/Josh-Denning-SmartROI-on-Mixergy.mp3)
We _need_ a "VA" for these kinds of "summarising" tasks.
But 77 minutes listening to podcast which gives **_significant_ insight** into

[2017-05-17 05:52] nelsonic commented on #262
I made a mistake.
And now we are focussing on _totally_ the wrong thing.
I _honestly_ thought that we would be focussing on _making_ the "pie" not how to "_slice_" it

[2017-05-17 08:19] nelsonic commented on #90
Possible next book: https://www.amazon.co.uk/Just-Listen-Absolutely-Professional-Management/dp/0814436471

[2017-05-17 08:23] markwilliamfirth opened #328 "Business Plan"
This has been brought up a number of times before, but keeps popping up everywhere (e.g. https://github.com/dwyl/hq/issues/325#issuecomment-301987599) so it's time we made an issue about it!

dwyl needs a thorough and written down business plan for the core organisation and various arms of the organisation.

We can start with the basics for the core business and each of the businesses in the org:

[2017-05-17 09:24] nelsonic commented on #153
Nobody in dwyl has _used_ the Frontend Masters account (_besides me_).
So I'm closing it to avoid spending $39/month.
If anyone wants to re-start the subscription, please leave a comment on this issue.

Invoices For accounts:
![image](https://cloud.githubusercontent.com/assets/194400/26147107/65c5c344-3aea-11e7-9e7e-86e5688a1433.png)
[FrontentMasters-Invoice-47462.pdf](https://github.com/dwyl/hq/f

[2017-05-17 09:26] nelsonic commented on #153
![image](https://cloud.githubusercontent.com/assets/194400/26147311/1ebfb544-3aeb-11e7-8eb6-a377ff854472.png)
![image](https://cloud.githubusercontent.com/assets/194400/26147326/26e9c05c-3aeb-11e7-9573-e641124beccd.png)
![image](https://cloud.githubusercontent.com/assets/194400/26147335/2dfa6b6c-3aeb-11e7-88d7-7031389097c0.png)
![image](https://cloud.githubusercontent.com/assets/194400/26147348/32

[2017-05-17 09:29] nelsonic commented on #53
We tend to _close_ issues when they are _done_, not because they are "_out of season_".
People still use the heaters while wearing T-Shirts so maybe the draft is still an issue...?
Might be worth transferring this to the FH repo instead?

[2017-05-17 09:29] nelsonic commented on #10
@markwilliamfirth _want_ to, _yes_. But only once #321 is done. 👍

[2017-05-17 09:30] nelsonic commented on #184
Does _closing_ the issue mean _everyone_ ***listened*** to the Podcast?
Or are we just "_spring cleaning_"?

[2017-05-17 09:31] nelsonic commented on #4
I still think this is a _really_ good idea. _Why_ was the issue closed? is it _done_?

[2017-05-17 09:37] nelsonic commented on #4
_Apparently_ this issue has been moved to: https://github.com/dwyl/focushub/issues/57
(_although that issue currently has **no description** so it's not clear at all_)
Linking back to an issue that looks _closed_ without any clarification is:
![image](https://cloud.githubusercontent.com/assets/194400/26147860/c4f200d8-3aec-11e7-8090-4bb3d181db18.png)

[2017-05-17 09:37] #4 closed

[2017-05-17 09:44] nelsonic commented on #11
"Social Media Plan" is 3 bullet points.
![image](https://cloud.githubusercontent.com/assets/194400/26148146/9eb86a46-3aed-11e7-96ae-5fbb9efbc3c9.png)
no checklist, metrics, time estimate or any measure of progress.
I'm not _suggesting_ that Facebook content is a "_priority_", but our objective is to _capture_ the work in as _much_ detail as possible so that someone `else` can _easily_ pick it up.

[2017-05-17 09:52] nelsonic commented on #30
_Where_ on Focus Hub...?
![image](https://cloud.githubusercontent.com/assets/194400/26148276/0b7f589c-3aee-11e7-94b9-0603cab763af.png)
How difficult is it to _link_ to the new issue?
_several_ people have mentioned the "_uncomfortable_" chairs @ FH as the "_reason_" they prefer to work elsewhere. we need to _fix_ this. Chairs (_or standing desks_) are a Hygiene Factor and should thus be a `Priorit

[2017-05-17 09:55] nelsonic commented on #180
Did we get a _recorded_ decision for this? or are we just closing issues for fun?
Who _made_ the decision? What were the decision considerations/criteria, pros/cons, cost/benefit etc?
When will the decision be _re-visited_?
What are the ***Key Metrics*** that need to be met with this decision?
how do we _measure_ if it's a _good_ decision?

[2017-05-17 09:56] nelsonic commented on #179
@markwilliamfirth was there a _task_ created to capture this work?

[2017-05-17 10:04] nelsonic commented on #161
# _Closing_ an issue without making _any progress_ towards getting it _done_ is _unacceptable_.

A _blank_ repository:
![image](https://cloud.githubusercontent.com/assets/194400/26148725/99fb6218-3aef-11e7-8f3b-78338b53f053.png)
With a _single_ issue:
![image](https://cloud.githubusercontent.com/assets/194400/26148740/a46b3e58-3aef-11e7-9bb7-d71538a96520.png)
That links back to a _closed_ issue...

[2017-05-17 10:08] nelsonic commented on #135
@markwilliamfirth did you setup a DMZ network for FH?
or transfer the issue?
![image](https://cloud.githubusercontent.com/assets/194400/26149099/e3d9b2da-3af0-11e7-8ae6-43d0eb7a90a8.png)

Doesn't _look_ like _any **progress**_ was made on this, _why_ is the has the issue been closed...?
Is Network _Security_ not a Priority...?
Or are we _too busy_ to ask for "_more detailed requirements_" to get t

[2017-05-17 10:18] nelsonic commented on #147
@markwilliamfirth that was the _idea_ in this issue: https://github.com/dwyl/hq/issues/131
The only thing I will say on the subject of making it "_formal_" if we _formalise_ a reward,
then people _expect_ it. and the _entitled_ ones will _complain_ if they don't get it. 😞
Which defeats the objective of a "_now that reward_". 🙃
http://www.studentofme.com/2011/06/motivating-others-using-rewards-the-

[2017-05-17 10:18] #147 closed

[2017-05-17 10:26] nelsonic commented on #154
@markwilliamfirth I don't understand the question ... "_look into_"...?
What is there to "_look into_"?
Has _everyone_ read Paul Graham's post? (_linked to in the original description_)
Does _everyone_ understand that we will _only_ succeed (_in the long run_) if we are all "_givers_"?

I ordered this: https://www.amazon.co.uk/Give-Take-Helping-Others-Success/dp/1780224729
![image](https://cloud.g

[2017-05-17 10:26] nelsonic commented on #143
@markwilliamfirth yes, please do. 🎉

[2017-05-17 10:27] nelsonic commented on #110
see: https://github.com/dwyl/learn-tachyons/issues/9

[2017-05-17 10:28] nelsonic commented on #114
moved to: https://github.com/dwyl/focushub/issues/17

[2017-05-17 10:33] nelsonic commented on #55
_Why_ is this `priority-4`...?
The companies/organisations that presented at Web Summit are _by definition_ successful.
If we aren't _prioritising_ learning from _successful_ people/orgs we are doomed to _mediocrity_.
If anything this should be _un-prioritised_ until _someone_ has time to get it done.
(_or if it were my decision it would be the **highest** priority because if we don't capture any

[2017-05-17 10:39] nelsonic commented on #189
Clearly _not_ a high priority, so closing. 👍

[2017-05-17 10:40] mantagen commented on #154
I like that mindset too, and think it's best way - for oneself and for others.

What are the aims of this issue? I see it's been labelled 'discussion', 'enhancement' and 'question' ...

@nelsonic were you thinking that people would discuss, then maybe something about 'giving' could go into DWYL's Vision, Mission, and Values?

[2017-05-17 10:48] harrygfox commented on #147
Thank YOU @nelsonic

[2017-05-17 11:02] nelsonic commented on #154
@mantagen I opened the issue to _capture_ the sentiment, and _yes_, get feedback from others.  💬 ❤️

Sadly, a _lot_ of people are "_takers_".
I've dealt/worked with _enough_ "_takers_" to know that they are _everything_ that is _wrong_ with the world.

I don't want _anything_ to do with "_takers_", they disappoint and distract me.
I was _gauging_ how may _other_ people in dwyl feel the same way.

[2017-05-17 11:02] #154 closed

[2017-05-17 11:08] nelsonic commented on #182
Failing to _capture_ the feedback of people working on our team(s) is a _recipe_ for failure.
Making people _feel_ loved, cared for and listened to is _essential_.
If _anyone_ is _not_ doing what they _love_,
we should be helping them to find _exactly_ what they are _passionate_ about,
even if it means "_losing_" lovely people.

The _question_ we should be asking is, _how_ can we use the Feedback

[2017-05-17 11:23] nelsonic commented on #153
![image](https://cloud.githubusercontent.com/assets/194400/26151621/8adae946-3afb-11e7-9008-b36a06257f48.png)

Closed. ✅

[2017-05-17 11:23] #153 closed

[2017-05-17 11:39] nelsonic commented on #300
A _bit_ more detail in this issue would be _really_ good.
![pay-invoices-issue-description](https://cloud.githubusercontent.com/assets/194400/26151960/eeb7b042-3afc-11e7-9401-b6422adf21a0.png)
What I would _expect_ to see:
+ [ ] _**Precise**_ description of the issue/task to be completed. _Specifically_:
  + [ ] _Which_ invoices need to be paid? (_without giving out any personally identifiable inf

[2017-05-17 11:41] nelsonic commented on #315
Have we _captured_ the Plan for the Feedback App _somewhere_...?

[2017-05-17 12:27] markwilliamfirth commented on #53
Issue has been moved

[2017-05-17 12:28] markwilliamfirth commented on #10
Links to #146

[2017-05-17 12:30] markwilliamfirth commented on #184
@nelsonic it was closed when grooming the backlog of ops issues

Please reopen if it is still an issue and assign people as appropriate

If it's just for sharing content then we'll be creating a new place for that #298

[2017-05-17 12:32] markwilliamfirth commented on #4
@nelsonic was closed in favour of https://github.com/dwyl/hq/issues/131 and https://github.com/dwyl/focushub/issues/57

[2017-05-17 12:35] markwilliamfirth commented on #11
@nelsonic I'm aware and in agreement - it's because our social media plan is not a priority currently so the plan and therefore associated tasks have not been captured yet

[2017-05-17 12:38] markwilliamfirth commented on #30
@nelsonic if you think this is a priority-1 please make the issue, I don't think this is a priority and we don't currently have the budget for this

Chairs are part of our offering: https://github.com/dwyl/focushub/issues/30

[2017-05-17 12:40] markwilliamfirth commented on #180
@nelsonic this was a decision made by @iteles. In summary it was decided to stay at number 16 as this was beneficial for our close partnership with Founders & Coders.

[2017-05-17 12:42] markwilliamfirth commented on #179
This task is closed in favour of https://github.com/dwyl/hq/issues/180

Issue will be reopened if this becomes a requirement in future, however it is not currently a requirement or priority

[2017-05-17 12:44] markwilliamfirth commented on #161
@nelsonic issue was moved to CRM repo as discussion should be held there, not in operations repo. I have not fleshed out requirements as it is not a priority

[2017-05-17 12:46] markwilliamfirth commented on #135
@nelsonic I misunderstood your issue - I was under the impression that the router was the solution. Has been reopened in FH https://github.com/dwyl/focushub/issues/71

[2017-05-17 12:48] markwilliamfirth commented on #55
@nelsonic that was my estimate when grooming the ops backlog - please reassign priority if it is incorrect

[2017-05-17 12:50] markwilliamfirth commented on #189
@nelsonic it needs to be recorded in an MD before closing (that was my question here https://github.com/dwyl/hq/issues/189#issuecomment-299815861)

[2017-05-17 13:05] nelsonic commented on #221
It _appears_ that only _part_ of my previous comment was read.
![image](https://cloud.githubusercontent.com/assets/194400/26152592/6c0c8570-3aff-11e7-9ceb-b5c1e73ffce6.png)
The _most_ important thing is to _document_ the work performed.
Where is the **Pull Request** updating https://github.com/dwyl/learn-amazon-web-services with the steps to create a new account? and who to contact for access to t

[2017-05-17 13:07] markwilliamfirth commented on #154
@nelsonic to answer your question, by "look into" I meant further explore this topic and promote discussion surrounding it. The question arose because this issue is 5 months old and there hadn't been any discussion

[2017-05-17 13:20] edwardcodes commented on #322
What should i do to solve this problem?

[2017-05-17 13:32] markwilliamfirth commented on #221
@nelsonic a new account was created by signing up - it took about 1 minute. The steps involved typing in the email, choosing a password, setting the address, adding company information including address etc. All of this is sensitive information. The email for the account hasn't been shared because you mentioned here (https://github.com/dwyl/hq/issues/221#issuecomment-280878460) that it shouldn't b

[2017-05-17 13:39] markwilliamfirth commented on #322
@edwardcodes on the invoice you sent in you didn't fill out the unit price or total columns. There are also conflicting references to euros and pounds (£ / GBP)

Do you have a UK bank account? Please can you confirm if your day rate is in pounds or euros?

[2017-05-17 13:42] markwilliamfirth commented on #44
@iteles should we create a design/UX/UI repo or maybe use the learn tachyons repo?
 (https://github.com/dwyl/learn-tachyons/) as it might be more appropriate than to put it in operations?

[2017-05-17 13:57] markwilliamfirth commented on #300
@nelsonic

The invoices can't be identified on GitHub without giving out sensitive information unless you want us to reference all invoices that need to be paid by timestamp at which they came in

This changes too frequently to update, the number fluctuates constantly as invoices are paid and as they come in

This is sensitive information that @iteles doesn't wish to share https://github.com/dwyl/

[2017-05-17 13:57] iteles commented on #44
@markwilliamfirth Happy for this to be replaced with a 'live prototyping' issue in learn-tachyons 👍

[2017-05-17 14:02] markwilliamfirth commented on #315
@nelsonic as described in your comment here https://github.com/dwyl/hq/issues/315#issuecomment-300559785 the plan is:

- To dog-food the product internally
- To pitch it for free to one of our existing clients once we think it's stable

[2017-05-17 14:09] iteles commented on #315
@markwilliamfirth We should capture that comment in the https://github.com/dwyl/feedback readme.

[2017-05-17 14:13] markwilliamfirth commented on #315
@iteles good idea 👍

[2017-05-17 14:14] markwilliamfirth commented on #315
Next step: move plan to md

[2017-05-17 14:14] #315 closed

[2017-05-17 14:17] markwilliamfirth opened #329 "Contract for Sharing Sensitive Information"
- [x] Create contract as described here https://github.com/dwyl/hq/issues/221

- [x] Send to @jackcarlisle for signing

- [x] Return countersigned contract

[2017-05-17 14:22] markwilliamfirth opened #330 "Discuss Ideas for Employee and Contractor Benefits"
Moved from: https://github.com/dwyl/hq/issues/146

This issue is a place for discussion for employee and contractor benefits

What benefits would people like to see? All ideas are welcome!

[2017-05-17 14:23] ghost opened #331 "Allocation of budget to employee benefits"
Moved from: https://github.com/dwyl/hq/issues/146

Current proposal:

pp py = per person per year
pp pm = per person per month

dwyl summer travel costs dwyl/summer#51 - £100 pp py
large quarterly events e.g. crystal maze #292 - £240 pp py
Headphones #147 with a 2-year warranty is equal to £100 pp py

We could also add benefits for:

Birthdays £30 pp py
8 monthly get togethers a year in months wit

[2017-05-17 14:24] markwilliamfirth commented on #331
Decided by @iteles that this should wait until our financial position is clearer https://github.com/dwyl/hq/issues/146#issuecomment-301472836

[2017-05-17 14:36] markwilliamfirth opened #332 "Directors' Loans / Available Capital"
This issue follows on from the discussion here https://github.com/dwyl/hq/issues/146

On 2017-05-02 @nelsonic mentioned that capital from @nelsonic and @iteles would be loaned to the business following remuneration, but on 2017-05-15 @iteles put forward the idea (https://github.com/dwyl/hq/issues/146#issuecomment-301472836) that _loans aren't a sustainable way to grow a company and provide for our

[2017-05-17 14:38] markwilliamfirth commented on #146
@nelsonic this issue is a discussion around company money and therefore requires co-owners of the company to be in agreement. The discussion for the budgeting has been moved here (https://github.com/dwyl/hq/issues/331).

With regards to your personal remuneration that is a separate discussion that has been continued here (https://github.com/dwyl/hq/issues/332)

[2017-05-17 14:44] edwardcodes commented on #322
@markwilliamfirth I don't have an UK bank at moment, so my day rate should be in euros (I think).
Can you explain me how the unit price/total columns should be filled? Thanks

[2017-05-17 14:57] edwardcodes commented on #322
Do I have to create an UK bank account?

[2017-05-17 15:18] edwardcodes commented on #322
I think transferwise could be a very good option for people that live in other countries, is dwyl registered in transferwise?

[2017-05-17 15:21] markwilliamfirth commented on #322
@edwardcodes please could you send me a copy of your contract / freelancing agreement to mark(at)dwyl.io?

[2017-05-17 16:54] Cleop commented on #320
For the technical challenge question see: https://github.com/dwyl/learn-progressive-web-apps/issues/12#issuecomment-302035025

[2017-05-17 16:57] nelsonic commented on #332
How does this issue help us _Ship Our Product_?
What _exactly_ do we need more capital for?
Do we need a nicer office, more employees or a bigger marketing budget?
Or do we need to keep our heads down and write the code instead of answering questions about capital? (_which by-the-way, we have **more than enough of**_!)

[2017-05-17 17:21] markwilliamfirth commented on #332
@nelsonic

Knowing the capital available to the company is essential for understanding the company's financial position and it allows us to deploy effectively and in a manner that will help us ship our product.

We need to know the status of available capital in order to do many things. For example: to hire staff #313 and set up employee benefits #331

This hasn't been decided yet as we don't know

[2017-05-17 17:25] iteles commented on #332
@markwilliamfirth We're not coming to any conclusions about anything financial until #321 #229 and #209 are done as mentioned previously (here)[https://github.com/dwyl/hq/issues/146#issuecomment-301472836].

This is nowhere near a priority until we know whether it is needed and we won't know whether it is needed until the above is completed :+1:

We can reopen if required.

[2017-05-18 10:15] markwilliamfirth commented on #324
Finance
- Director remuneration
- Financial priorities

[2017-05-18 10:16] markwilliamfirth commented on #332
(Reopening as this issue hasn't been resolved)

@iteles with reference to your comment (https://github.com/dwyl/hq/issues/332#issuecomment-302164578), this issue (https://github.com/dwyl/hq/issues/324) requires resolution before proceeding

[2017-05-18 13:30] markwilliamfirth commented on #229
@iteles please can you send me PDFs of the co-op account for 16/17?

[2017-05-18 13:56] iteles commented on #229
@markwilliamfirth 👍  I've sent these to you before - could you please tell me which ones you're missing ? Is it just the last couple of months since our previous exchange?

[2017-05-18 14:02] markwilliamfirth commented on #229
@iteles I was only sent 3 PDFs in March and a copy-pasted google doc of transactions. Please can you download the PDFs for 16/17?

[2017-05-18 14:04] iteles commented on #229
Those 3 PDFs include all the transactions for the financial year up to March. I'll send the rest through tonight when reunited with my fob 👍

[2017-05-18 14:22] #332 closed

[2017-05-18 14:23] iteles commented on #332
This issue has been resolved. _If_ needed, we will come back to it. There's no need to have 'what if' issues open in the backlog 👍

[2017-05-18 16:31] iteles commented on #319
@markwilliamfirth finished reviewing email (what I referred to as the details to be added to the schedule but is more of the email accompanying the letter) as requested 👍

[2017-05-18 16:41] evilpacket commented on #198
That format works for me. Looking forward to it. Going to put it together today so we'll see what shakes out :)

--- original message ---
On Tue, May 16, 2017 at 05:09 am, <notifications@github.com> Mark William Firth wrote:

@evilpacket

Let's do 18 min talk + 12 min Q+A

Let me know if you'd prefer a different format and we can switch it up - otherwise is that ok?

@Jbarget yes very on trend rig

[2017-05-18 16:48] evilpacket commented on #198
@nelsonic I don't want to assume as it's got me in trouble before, I see something about a "podcast" above. I'll be able to share slides / visuals right not just audio?

[2017-05-18 17:13] markwilliamfirth commented on #329
Signed and stored in drive

[2017-05-18 17:13] #329 closed

[2017-05-18 17:24] iteles commented on #198
@markwilliamfirth Can we get this into everyone's diaries asap please? :)

[2017-05-18 17:27] markwilliamfirth commented on #198
@evilpacket awesome thanks for confirming!

We have a TV screen in our office at [Focus Hub](https://github.com/dwyl/focushub/) so I figured we could do a Google Hangout. This would allow you to appear on screen and also share your screen (and therefore slides/visuals too).

@nelsonic I assume by your thumbs up on my comment here (https://github.com/dwyl/hq/issues/198#issuecomment-301761981) that

[2017-05-18 17:44] markwilliamfirth commented on #198
@evilpacket does your talk have a title or summary yet? Suggestion below...please let me know what I should change so I can send out to people asap! 😄

**Network Security 101 with Adam Baldwin**

Join us for a remote afternoon talk with Adam Baldwin, team lead at [^Lift Security](https://liftsecurity.io/) and creator of [Node Security](https://nodesecurity.io/). Adam is an information security pro

[2017-05-18 18:09] evilpacket commented on #198
The working title is : Security beyond the repo

I'm working on the outline and talk right now, but I'm considering it to be a talk about assessing and protecting what we have built outside the repo touching on network and physical security. So while this is not a description it's what I'm working towards.

[2017-05-19 08:23] iteles commented on #227
Done! In time for yesterday's Stack Overflow deadline. Thanks @sohilpandya !

[2017-05-19 08:39] markwilliamfirth commented on #227
@iteles would it be possible to share the file on here or put it in the branding and marketing drive folder?

[2017-05-19 08:56] iteles commented on #227
👍 Now done!

<img width="657" alt="screen shot 2017-05-19 at 09 56 15" src="https://cloud.githubusercontent.com/assets/4185328/26240595/73c7e040-3c79-11e7-9eef-937052e54fea.png">

[2017-05-19 08:56] #227 closed

[2017-05-19 10:46] markwilliamfirth commented on #198
Hi @evilpacket ! Great - I will advertise this for now (earlier invites will help us get a bigger audience!) - let me know if there are changes and I can update when I send out the event reminder 👍  😄

**Security Beyond the Repo**

Join us for a remote afternoon talk with Adam Baldwin, team lead at ^Lift Security and creator of Node Security. Adam is an information security professional with over

[2017-05-19 11:07] Jbarget commented on #198
@evilpacket are there any resources that you would advise looking through or is this a beginner friendly talk. I say "beginner" because for most of us in the DWYL sphere our experience of coding has mainly come from "within the repo"

[2017-05-19 12:44] markwilliamfirth commented on #324
+1 Company Priorities - Where we should focus our time and resources

I am still unsure as to who is responsible for this. I assume that currently it is either Inês or a joint voting responsibility of Inês, Nelson and myself.

Either way this would mean that in this case (https://github.com/dwyl/video/issues/29#issuecomment-302686617) this should remain a priority-2 as both Inês and I think it sho

[2017-05-19 14:59] iteles commented on #323
@nelsonic Agreed. I did mention we wanted the quote and case study before this happened when our PO called. Under control 👍

[2017-05-19 15:04] iteles commented on #324
I can answer this last one pretty quickly.

I set company priorities. Which of course I will discuss at a high level with my fellow 'directors'.
The issue you are referring to is a bad example of this as the change in priority label came with a clear, concise and polite explanation as to why it was a suggested change. There are better ones.

I agree this needs to be written down and made clear.

[2017-05-19 15:08] iteles commented on #300
Note: Invoices should no longer be 'saved in emails'. Since the beginning of this financial year they should now be saved to Xero on a rolling weekly basis as they are being paid so bank reconciliation is always up to date and we have a clear picture of our financial situation at the end of every week.

[2017-05-19 16:00] markwilliamfirth commented on #241
These have been scanned and saved into drive. These will need to be revisited due to the decision to start official employment on April 6 and after #324 has been resolved

[2017-05-19 16:07] markwilliamfirth commented on #93
We've received this in the post - trademark was granted - it's been uploaded to drive

[2017-05-19 16:07] #93 closed

[2017-05-19 16:09] markwilliamfirth opened #333 "Submit dwyl Heart Logo to Logo Book"
Nelson's comment here: https://github.com/dwyl/hq/issues/93#issuecomment-284217414

Once we have the trademark for the logo we should submit it to: http://www.logobook.com/object/hearts/ #InboundLinks

[2017-05-19 16:09] markwilliamfirth commented on #333
Submissions are currently suspended
http://www.logobook.com/about-us/

[2017-05-19 16:13] markwilliamfirth opened #334 "Defend the dwyl heart logo trademark"
#93

Now that our trademark has been granted we need to defend it to retain it.

- [ ] Research similar logos

- [ ] Email the companies and challenge their use of our logo IP

Known similar logos:
- Fittle
- True View http://trueview.me/

@iteles are there any others that you know of already?

[2017-05-19 16:14] markwilliamfirth commented on #300
@iteles agreed that this process will change once our bookkeeping is done

[2017-05-19 16:21] iteles commented on #334
@markwilliamfirth I don't know of any others for now 👍

Should we be doing this before we have a global trademark? If the orgs have business in the UK but are _based_ in another country, will this just prompt them to trademark the logo in their country?

Shall we open an issue on a global trademark?

[2017-05-19 16:42] markwilliamfirth commented on #334
@iteles agreed each company should be thoroughly researched and the research should include their origins, base and where they trade before proceeding with any challenges. A global trademark might be necessary in future and we should open an issue.

[2017-05-19 16:55] markwilliamfirth commented on #286
@iteles advised 10 days notice period

[2017-05-19 16:58] markwilliamfirth commented on #286
@iteles these are already accounted for in clauses 12 and 25 - please let me know if any changes are required in this issue: #283

[2017-05-19 16:58] #286 closed

[2017-05-19 16:59] markwilliamfirth commented on #283
Please note when I originally wrote the contract I defined working day as follows:

I have now updated this to:

[2017-05-19 19:02] markwilliamfirth opened #335 "Security Beyond the Repo"
Join us for a remote afternoon talk with Adam Baldwin, team lead at ^Lift Security and creator of Node Security. Adam is an information security professional with over 23 years of experience working with and securing technology. He's worked with some of the worlds largest governments and corporate entities to help secure their assets. Adam will be sharing his experiences about how he is assessing

[2017-05-19 19:04] markwilliamfirth commented on #335
Linked to https://github.com/dwyl/hq/issues/198

[2017-05-19 19:05] markwilliamfirth commented on #283
@iteles to review contract

[2017-05-19 19:41] evilpacket commented on #198
This will be beginner friendly. I know the audience and should be able to tailor it appropriately. I'll try and also have documentation for anything I mention as well to play with after. Trying to make it high level but practical.

--- original message ---

--- end of original message ---

[2017-05-21 21:37] iteles commented on #264
Done 👍

[2017-05-21 22:11] iteles commented on #43
They are only 'low priority' _because_ of our move to sketching in the browser with tachyons 👍  Well linked.

[2017-05-21 22:12] iteles commented on #259
Early July for Nelson and I.

[2017-05-21 22:12] #259 closed

[2017-05-22 07:40] iteles opened #336 "URGENT | dwyl.io email not working"
@markwilliamfirth I sent myself an email from my-email@dwyl.com to my-email@dwyl.io 17 minutes ago as a test and still haven't received it ⚠️ ⚠️

Emails sent to dwyl.com are received instantly.

Could you please look into this as your number 1 priority and revert me back to dwyl.io if this can't be resolved before 10am? Thanks! 🙏

[2017-05-22 08:24] iteles commented on #336
Looks like it's only when I send emails to myself that this is an issue 👍

[2017-05-23 10:56] mantagen commented on #149
@Jbarget @nelsonic
I recommend this podcast https://www.youtube.com/watch?v=jlPF9_1VIso

[2017-05-23 15:05] nelsonic commented on #293
@markwilliamfirth https://www.google.co.uk/search?q=zappos+leaving+bonus+how+much+2017
Most recent article is: https://www.inc.com/david-burkus/why-amazon-bought-into-zappos-pay-to-quit-policy.html which indicates it starts at $1000, rises by $1000 per year to a max of $5000.

This is either _super generous_ or _low_ depending on your view point...
As you _know_ I prefer to be on the "_generous_"

[2017-05-23 15:14] nelsonic commented on #262
I don't think I _need_ to be assigned to this issue.
I _still_ think this is a _massive_ distraction from getting _real_ work done. (_**shipping** the **product**_)
If my `input` is required please mention me.

[2017-05-23 18:01] iteles commented on #283
Reviewed! And left comments.

Need to get this out to a client so please make it the top priority 👍

[2017-05-23 18:03] mantagen commented on #149
That's what 1.5 speed is there for! :)
On Tue, 23 May 2017 at 16:19, Nelson <notifications@github.com> wrote:

[2017-05-23 18:27] iteles commented on #293
@nelsonic Let's start discussing it tomorrow in our usual 07h00 catch up 👍

[2017-05-24 08:28] markwilliamfirth commented on #283
@iteles I have replied to your comments in the doc

[2017-05-24 08:32] markwilliamfirth commented on #262
@nelsonic this isn't a distraction - this issue is currently holding back adding me to the co-op bank and filing the company's annual confirmation statement. The former of which could mean our bank account may be closed unless we move fast and the latter of which may mean the company will be shut down by companies house unless we move fast. The only reason your input is required is because you wil

[2017-05-24 08:33] markwilliamfirth commented on #262
@iteles have you completed your review? Are you happy for me to make the required changes and proceed with filing?

[2017-05-24 08:39] markwilliamfirth commented on #198
Hi @evilpacket ! Just wanted to check in with you and ask how things are going? Is there an updated talk title/description or are you happy with what I've posted [here](https://github.com/dwyl/hq/issues/198#issuecomment-302671361)?

[2017-05-24 08:41] markwilliamfirth commented on #335
@sohilpandya did you manage to bring the speakers in? If not could you bring them in tomorrow?

[2017-05-24 09:08] markwilliamfirth commented on #310
Update from Susan after enquiring about new PM:
Alas we wanted to appoint someone who then turned it down as the pre-advertised salary was less than she wanted!
Sorry bit frustrated by the above so, no nothing has moved forward.

[2017-05-24 09:16] markwilliamfirth opened #337 "ZEN Project"
@iteles client is good, but budget is tight - how would you like to proceed?

[2017-05-24 09:46] sohilpandya commented on #335
@markwilliamfirth I've bought a new speaker. Lol. So we can use that one 👍

It's pretty good.

[2017-05-24 10:01] iteles commented on #262
It's my top priority today @markwilliamfirth, so worth getting everything else ready for filing :+1:

[2017-05-24 14:06] markwilliamfirth commented on #302
MVP has been created:

Contractors can submit their invoices [here](https://docs.google.com/a/dwyl.com/forms/d/17cZBuustmgYNj5AsuDNNb3tBanAronavCtn6O4KG1Wg/edit).

@Cleop please could you test when you run your next invoice?

[2017-05-24 14:28] markwilliamfirth commented on #302
Form has been linked to [http://invoice.dwyl.com](http://invoice.dwyl.com)

[2017-05-24 15:05] iteles commented on #302
@markwilliamfirth When we last discussed this, the MVP was going to be a spreadsheet that each person can fill in and keep track of their hours in a consistent way that they can refer back to.

What changed the plan?

[2017-05-24 15:10] markwilliamfirth commented on #140
Transparent salaries / day rates currently blocked by #321 #92 and review of rates / pay scale restructuring

[2017-05-24 15:10] Jbarget commented on #302
Personally (from a user's point of view) I'd much prefer this form than a spreadsheet. I detest spreadsheets

[2017-05-24 15:11] markwilliamfirth commented on #302
@iteles it's difficult to have a common spreadsheet if the rates aren't transparent yet (won't be an issue after https://github.com/dwyl/hq/issues/140 has been actioned)

People are still welcome to track their own hours in their own spreadsheets if they wish - they only need to copy the number of days into the form.

[2017-05-24 15:13] sohilpandya commented on #302
Hey @/all, I'm personally in favor of either a google doc or a spreadsheet over the form.

My current process has 4 steps:
1. change the date
2. update the number of days
3. update the total
4. Save and send

The above process using the form has a lot more steps than that. 😟

[2017-05-24 15:14] markwilliamfirth commented on #302
@sohilpandya would be good if you could time yourself doing both. I think this might be quicker. Don't knock it 'til you've tried it!

[2017-05-24 16:09] nelsonic commented on #337
@iteles depends on #321 👍

[2017-05-24 16:09] nelsonic commented on #310
@iteles depends on #321 👍

[2017-05-24 17:05] iteles commented on #149
I've been going through this and discussing it with various people over the last few months, but this definitely needs to be codified.

The **most important** thing for people to _realise_ is that 'One Metric that Matters' doesn't tie you into that metric forever more. As dwyl and our shared objectives evolve, **we _encourage_ a periodic review of these**.

There are (and should be) OMTMs for each

[2017-05-24 18:24] iteles commented on #310
@markwilliamfirth Hiring a 'PM' full time for this seems like overkill for what _I_ understand to be the scope of this project 😳

http://www.royal-needlework.org.uk/images/uploaded/Documents/Job%20Descriptions/IT%20Project%20Manager%20Royal%20School%20of%20Needlework.pdf

[2017-05-24 18:37] iteles commented on #283
@markwilliamfirth Have resolved the majority of the questions and replied to your replies 😉

[2017-05-24 18:48] evilpacket commented on #198
@markwilliamfirth we're good to go. If we can get the hangout setup a little earlier than the talk is scheduled that might be nice in case of technical difficulties.

[2017-05-24 18:53] markwilliamfirth commented on #198
Will do! Link is [here](https://hangouts.google.com/hangouts/_/dwyl.io/dwyl) - sent you an invite too!

[2017-05-24 18:55] markwilliamfirth commented on #310
@iteles do you think we should advise her of that? I get the impression that she doesn't like the idea of being (or have the time to be) the product owner and giving feedback / doing the testing

[2017-05-24 18:56] markwilliamfirth commented on #337
@iteles should mention that Patrick was hoping for an answer soon

[2017-05-25 09:34] #336 closed

[2017-05-25 09:57] markwilliamfirth commented on #283
@iteles I have replied to your replies to my replies 😉

[2017-05-25 11:45] nelsonic commented on #221
@markwilliamfirth I think there's a miss-understanding here.
Technology/Security is _not_ your area of "_expertise_".
`unless` you think that _intellect_ alone is going to "win" an "argument" with someone who has been _paid_ to be an "_ethical hacker_" I would (_highly_) recommend you don't _attempt_ pursue this discussion.
Simply _acknowledge_ that a (_potentially reputation damaging_) mistake wa

[2017-05-25 11:50] markwilliamfirth commented on #221
@nelsonic

Technology/Security is not your area of "expertise".

I am aware of this, hence my comment [here] (https://github.com/dwyl/hq/issues/221#issuecomment-302091145) directed towards you:

Please let me know what security measures, other than the contract, are required.

[2017-05-25 19:42] iteles commented on #262
I left a question yesterday and a few more comments today 👍

[2017-05-25 20:59] iteles commented on #288
I've just been reading https://www.gov.uk/government/publications/confirmation-statement/confirmation-statement and it implies to me that #262 is _not_ a prerequisite but rather more complete information of the annual confirmation (which is the actual thing that should have been filed in April).

Am I misreading this?

[2017-05-25 21:02] sohilpandya commented on #302
So the test results are back:
**form took 48 seconds**
**Personal Invoice took 1min 38sec including sending email to finance**

Hmmmm.

[2017-05-25 21:13] sohilpandya commented on #302
**Also please ignore those invoices.** I will be sending out the real one tomorrow 😟

[2017-05-26 08:22] markwilliamfirth commented on #302
@sohilpandya that's great! Will ignore them and wait for the proper one 👍

I'm also thinking of adding some improvements to the form, for example making the projects a dropdown to speed that up rather than writing it in. Let me know if you (or anyone else here reading along) has other ideas to improve it.

I should also explain that there is good reasoning behind using this form for anyone who is

[2017-05-26 08:31] markwilliamfirth commented on #288
@iteles you have to make all the separate filings first, the confirmation statement follows all of the separate filings - it confirms everything that occurred during the year, not just these filings we have to do now. If the confirmation statement goes in without us doing these filings first, it'll be rejected because it doesn't match the company history.

[2017-05-26 08:32] markwilliamfirth commented on #288
Closing in favour of #262

[2017-05-26 08:37] Jbarget commented on #302
@markwilliamfirth nice work on the form. Also think a dropdown for project would be great. (adds consistency on your side of things).

A question though, as a contractor I use that App i mentioned above called Albert. Would you expect me to fill out the form and also send a "dummy" invoice through the App too? (Im fine doing that)

[2017-05-26 08:41] Jbarget commented on #94
lets figure out a date! With this delightful sun at the moment it would be great to find a day where its similar that works for everyone. mid June?

[2017-05-26 08:45] naazy commented on #94
Should we make a doodle @Jbarget ?

[2017-05-26 08:58] markwilliamfirth commented on #302
@Jbarget the invoice you submit is also returned to you when you submit it - is it beneficial to send a dummy invoice from Albert to retain the records within Albert as well? Is it possible to add 'historical' invoices sent from yourself to clients using other systems to Albert when you sign up? Is Albert the only app you use? Do you also use Xero / Freeagent?

[2017-05-26 09:14] markwilliamfirth commented on #94
At the moment June 10th - July 15th no one has booked off

@naazy is this a lunchtime thing or weekday afternoon thing or weekday evening thing or weekend thing?

[2017-05-26 09:15] naazy commented on #94
@markwilliamfirth I think weekday evening works best

[2017-05-26 09:26] naazy commented on #94
ps please can we introduce a waterfight this year? 💧:droplet: 🔫 🚰

[2017-05-26 09:26] markwilliamfirth commented on #94
Just remembered that Nelson and Inês are going away early July (even though it's not booked off yet). Looking at the shared calendars I would suggest these dates in June to pick from:

14
15
19
21
26
28
29

totes up for a waterfight 💪

[2017-05-26 09:50] Jbarget commented on #94
June 14?
Mid-week Wednesday fun?

http://www.accuweather.com/en/gb/london/ec4a-2/june-weather/328328?monyr=6/1/2017

[2017-05-26 09:53] Jbarget commented on #302
1. Exactly, Albert has its own filing functionality that keeps track of my earnings to date so when it comes to tax time its really simple.
2. There is not functionality to upload historical invoices to their system. (Id still consider their app an MVP).
3. Albert is the only way I manage my finances
4. I dont use Xero or Freeagent

[2017-05-26 09:58] markwilliamfirth commented on #94
@naazy up to you! Might still be worth doing a doodle as I don't have access to everyone's calendars, but (as much as I love a good doodle) doodles sometimes cause more problems than they solve so might be best just to pick a date and tell people asap! 14 June is a good suggestion looking at the weather link Justen posted

[2017-05-26 10:08] Jbarget commented on #94
@markwilliamfirth completely agree about the doodle

[2017-05-26 10:14] naazy commented on #94
@markwilliamfirth @jbarget Yes I think let's suggest June 14th and the
people can protest if it doesn't work for them 😊 - that's what we did last
time and most people were able to attend
On Fri, 26 May 2017 at 11:08, Justen Barget <notifications@github.com>
wrote:

[2017-05-26 10:28] markwilliamfirth commented on #94
@naazy great! If you can create a short event brief with a description, start/end time and if people need to bring anything then I can add it to the dwyl calendar and send an email out! How did you publicise last time? GitHub and Gitter?

[2017-05-26 10:37] markwilliamfirth commented on #302
@Jbarget oooh that's a tough one! In that case you should continue to use albert, but if there comes a point where you're contracting for dwyl almost exclusively for an extended period of time then the dummy invoice thing would be appreciated from a dwyl internal accounting perspective, but not compulsory! Not sure how much more time it takes you to do both steps, but we shouldn't be transferring

[2017-05-26 10:52] Jbarget commented on #302
just for the record id be happy using both Albert and the form as they are both quite easy tasks and make a big difference in administration/life admin time

[2017-05-26 11:13] markwilliamfirth commented on #302
@Jbarget then if you're happy to, that would be greatly appreciated!

[2017-05-26 11:14] naazy commented on #94
Just on gitter I think @markwilliamfirth . Sure thing will send over the deets soon 🎾  :)

[2017-05-26 13:36] Jbarget commented on #94
May we introduce to you - DWYLympics

DWYL is all about collaboration, every day, every hour. Not today. The DWYLympics is a different beast altogether. This is all about competition.

Ever wanted to beat your collaborator at something?
Hate your QA for making you make multiple commits after submitting a PR?
Find that person whistling in the office annoying?
Someone who leaves the toilet seat up a

[2017-05-26 13:37] Jbarget commented on #94
@markwilliamfirth ^^^ that should do it

[2017-05-26 13:39] naazy commented on #94
really wonderful @Jbarget :clap: - should we say 6.30pm Vicky park?

[2017-05-26 14:45] markwilliamfirth commented on #94
@Jbarget you have a way with words - very nice 🔥

[2017-05-26 14:53] markwilliamfirth commented on #335
Can stream sound to tv (http://lifehacker.com/how-to-send-your-computers-audio-to-a-chromecast-1750297581), but speaker is bluetooth so have connected to laptop

[2017-05-26 15:06] markwilliamfirth commented on #335
webcam works, sound works, reminder sent 👍

[2017-05-26 15:06] #335 closed

[2017-05-26 15:08] markwilliamfirth commented on #198
@evilpacket hope you're excited for the talk! Just a quick q - we were thinking about recording it and putting on the dwyl YouTube channel so that it can reach an even bigger audience - I wondered if you had a preference for us to record it or not? If you'd rather we didn't that's totally fine - but if it's ok then please let me know and I can set it up for recording!

[2017-05-26 15:49] evilpacket commented on #198
@markwilliamfirth recording it is fine.

[2017-05-27 07:59] nelsonic commented on #93
@markwilliamfirth thanks for sorting this. 🎉

[2017-05-27 08:00] nelsonic commented on #227
@iteles are you going to `update` your profile pic on the various networks for consistency? 🤔

[2017-05-27 08:02] nelsonic commented on #135
@markwilliamfirth thanks for opening the dedicated issue. 👍

[2017-05-27 08:05] nelsonic commented on #266
I don't _understand_ why this issue was _closed_ (_was it "resolved"?) ... thought it was a _great_ idea!  😕
Granted, we have a _few_ issues open, but that's "OK" provided they are still relevant.

[2017-05-27 08:44] nelsonic commented on #30
Dedicated chairs issue: https://github.com/dwyl/focushub/issues/79

[2017-05-27 08:46] nelsonic commented on #53
moved to _where_...? 😺

[2017-05-27 20:13] iteles opened #338 "Offer tickets to dwylers for the Mindful Living show 3rd June? Is there interest?"
Mindful living is in principle very much of part of unlocking your potential and in fact, is something we need to look more into as part of our work at dwyl.

Is there enough interest from dwylers who would want to go to [this Mindful LivingShow](https://www.eventbrite.co.uk/e/the-mindful-living-show-tickets-30892526378) next Saturday (3rd June)? Could we get 5 people together for the group ticket

[2017-05-27 20:14] iteles commented on #288
@markwilliamfirth If you're closing this issue, can we at least make the Annual confirmation statement a checkbox in the one you're closing it in favour of?
It's not even listed there at the moment and that's making me a bit nervous 😅

[2017-05-27 22:57] markwilliamfirth commented on #288
It is there - third from the bottom :)

[2017-05-28 01:46] iteles opened #339 "Set up correct categorisation in Xero"
As someone who is interested in improving the efficiency of work processes and use of dwylers' time, I would like the expense categories in Xero to be set up according to what we need for end of year filing so that we don't have to revisit receipts multiple months after I have put them into the system and spend additional time trying to work out/remember/have to ask what category they should fall

[2017-05-29 21:13] iteles opened #340 "dwyl VAT return | period ending 30th April 2017"
# Deadline: 7th June 2017

@markwilliamfirth Please _codify_ the steps for doing this into an `md` file in the _finances_ folder as you go :bush:

+ [ ] Finalise income for the period 1st February - 30th April 2017 (a decent portion of this will be done already through #229 )
+ [ ] Determine VAT on expenses for that period
  + [ ] F&C invoices
  + [ ] Ice Cream Rocketship invoices
  + [x] Receipts

[2017-05-30 08:27] markwilliamfirth commented on #266
It was closed because no one replied to the post - if anyone wishes to share their opinion on this topic then please do and please reopen!

[2017-05-30 12:06] markwilliamfirth commented on #254
dwyl.co.uk has now been acquired and is now pointing to dwyl.com 👍

Zoho email client set up with DNS MX records pointing to Carl as per agreement until 16 Mar 2018.

[2017-05-30 12:06] #254 closed

[2017-05-30 13:10] nogainbar commented on #147
Hey @iteles and @nelsonic, I would love to get the Bose QC35 in Black!

This is so so cool and I am going to fill my headphones with DWYL stickers...!!! <3
Always LOVE working with you guys and looking forward to future adventures in sunny lands...

[2017-05-30 13:12] iteles commented on #147
@nogainbar We'll send you an email when they're ordered! <3
We Love working with you too, thank you for everything you've done for dwyl!

[2017-05-31 08:32] markwilliamfirth commented on #198
Closing as this has now been completed (thanks again @evilpacket !)

[2017-05-31 08:32] #198 closed

[2017-05-31 08:42] markwilliamfirth commented on #283
@iteles I think it is only clause 16 that requires attention now

[2017-05-31 08:44] ghost opened #341 "Payroll"
Run payroll in Xero

[2017-05-31 08:58] shouston3 commented on #198
@markwilliamfirth Where can we find the recording?

[2017-05-31 09:05] markwilliamfirth commented on #198
@shouston3 sadly the sound didn't record because of the issues we were having with the speaker/mic - highly annoying considering we tested it three times prior to the talk and at first it was working(!)

[2017-05-31 10:51] markwilliamfirth opened #342 "Pension Scheme - 01 January 2018"
The People's Pension https://thepeoplespension.co.uk/
Husky Finance https://huskyfinance.com/
Aviva https://www.aviva.co.uk/business/workplace-pensions/
Smart Pensions https://www.autoenrolment.co.uk/
NEST http://www.nestpensions.org.uk/schemeweb/NestWeb/public/home/contents/homepage.html

[2017-05-31 11:07] iteles commented on #342
Why is this a `priority-2` issue?

[2017-05-31 11:09] markwilliamfirth commented on #342
@iteles was conducting quick initial research as it popped up on payroll - doesn't need to be fully actioned until end of the year

[2017-05-31 12:09] iteles commented on #302
Another big plus for this system: invoices can be done from anywhere (e.g. on a mobile on your way home at the end of a sprint).

[2017-05-31 12:15] iteles commented on #341
Action for me: move money to payroll account 👍

[2017-05-31 13:11] markwilliamfirth commented on #304
824.82 paid for May

[2017-05-31 13:59] markwilliamfirth commented on #94
Email sent! @naazy @Jbarget let me know how else I can help with prepping for this!

[2017-05-31 14:31] markwilliamfirth commented on #94
<img width="255" alt="screen shot 2017-05-31 at 15 30 50" src="https://cloud.githubusercontent.com/assets/5732209/26636989/28875f6a-4616-11e7-9c2e-d61e35235a72.png">

:(

[2017-05-31 14:42] iteles commented on #94
@markwilliamfirth You weren't part of the room back then 😊
<img width="266" alt="screen shot 2017-05-31 at 15 42 13" src="https://cloud.githubusercontent.com/assets/4185328/26637606/cc617ef8-4617-11e7-89e9-383e3f4fa39b.png">

[2017-05-31 14:51] markwilliamfirth commented on #94
Is there a reason it was spelled with an 'i' last year? Or is that just a spelling error?

[2017-05-31 14:53] iteles commented on #94
Oh you're right, it was the spelling!
No reason, no one asked @harrygfox to make the logo, he just whipped it up. I think because of the dwyl 'y', it seemed more intuitive to write it with an 'i' (that's what I searched for intuitively) but you're right, it should be spelt with a 'y' 😊

[2017-05-31 14:55] Cleop opened #343 "EMF: Additional Sprints"
- **What:** want to do more work on the app
- **When:** either 2 sprints in July followed by a break in August to continue in September (when there may be capacity for a full team on the project) OR possibility of working August through to September. Depends on availability for both us and them.
- Consecutive sprints are preferred: more efficient, better for morale/momentum.

**- What kind of work

[2017-05-31 14:58] markwilliamfirth commented on #94
<img width="251" alt="screen shot 2017-05-31 at 15 57 44" src="https://cloud.githubusercontent.com/assets/5732209/26638396/e96c5656-4619-11e7-8fa2-259fed0d054d.png">

even when i search with the i version it doesn't come up - must be as you said because I wasn't in the room back then

[2017-05-31 15:07] Cleop opened #344 "GSG Collaboration"
**What?**
- GSG have 4/5 devs from their pilot in need of work.
- Next cohort (16 people) July 9th, in need of work at the end of the year.
- Stack: node/ js / react
- Current opportunities for work from connections of umbrella organisation however need work on managing these, setting expectations and filtering for the right fit for building something grads are ready for (MVPs).

**Needs:**
- Soft

[2017-05-31 15:42] markwilliamfirth commented on #337
@iteles we've left Patrick waiting 8 days

[2017-05-31 15:49] markwilliamfirth commented on #313
@iteles to update about hiring process transparency policy. Confirmation required around uploading status (not personal information) of all candidates currently in the pipeline

[2017-05-31 16:51] katbow opened #345 "dwyl Fridays - elixir code dojo?!"
I would like to run an elixir code dojo on the next dwyl Friday! I think it would give us a great chance to work together to learn a little bit more elixir 🙂 .

The inspiration comes from [this repo](https://github.com/carwow/pokerwars), so I hope people like poker 😃

[2017-05-31 17:12] sohilpandya commented on #345
That sounds amazing! Looking forward to this! @markwilliamfirth can we book this in?

[2017-05-31 17:56] iteles opened #346 "Quodl | Small extension"
This is the app we developed, taking a Teaching Excellence runner up spot in the Guardian Innovation awards. They're currently looking to see if they can find further funds for adding features and need an idea of what can be done in 2 sprints.

+ [x] Book call with PO
+ [x] Provide PO with an idea of team availabilities
+ [x] Discuss requirements (call booked 20th June)
+ [x] PO to provide priorit

[2017-05-31 18:10] markwilliamfirth commented on #345
If people would be interested in this please like the top post!

[2017-05-31 18:35] #319 closed

[2017-05-31 18:46] RobStallion commented on #345
Sounds great 😆🎊🎉

[2017-05-31 19:02] andrewMacmurray commented on #345
yep definitely up for this

[2017-05-31 19:17] JMurphyWeb commented on #345
Sounds good KB.

[2017-05-31 22:42] shouston3 commented on #302
Just used the system. Getting my thoughts out there:
+ Much easier and simpler than my previous way to invoicing 👍 - definitely a great improvement imo
+ How do I know that my invoice has successfully gone through? (other than a "success message")
  How will I know in a weeks time what I invoiced for and for how many days?
  I would like to get something like an email for confirmation which includ

[2017-05-31 22:58] shouston3 commented on #302
Just used the system. Getting my thoughts out there:

+ Much easier than my previous way to invoicing 👍 definitely a great improvement imo
+ I didn’t realise that an email went through or to expect an email. Maybe in the google form success message have something like: “Invoice has been successfully sent. You should receive an email to: user@dwyl.io shortly”

Other than that it's really great, tha

[2017-06-01 10:07] markwilliamfirth commented on #302
@shouston3 thanks for the feedback! I've made the edit :)

Please keep the testing feedback coming guys! Is looking quite promising to roll this out to everyone

[2017-06-01 10:43] Jbarget commented on #302
@markwilliamfirth as an enhancement, would the system be able to send out monthly/yearly breakdowns for us self-employed people? Would go a long way when it came to tax-filing season

[2017-06-01 10:55] markwilliamfirth commented on #302
@Jbarget yes could definitely do that quite easily as everything is assigned per contractor and recorded in a spreadsheet

[2017-06-01 14:19] markwilliamfirth commented on #262
@iteles updated articles [here](https://docs.google.com/document/d/1LJAr-9hJk1CLbpoIRPuL8pgJDNfoVnjlywEcejb0TNA/edit)

[2017-06-01 15:14] markwilliamfirth opened #347 "Share Register and Share Certificates"
To be created following https://github.com/dwyl/hq/issues/262

Not required to send to Companies House, but is a legal obligation

[2017-06-01 15:24] iteles commented on #262
@markwilliamfirth 👍 Will review tonight

[2017-06-01 16:45] naazy commented on #94
Have had a wee brainstorm and edited the top comment with some very rogue games. Feel free to add/edit (ps LOL at @markwilliamfirth's limping comment)

[2017-06-01 16:50] markwilliamfirth commented on #288
Reopening this issue as we'll be filing this separately online to the paper documents. The reason for this is because it is quicker and cheaper (only £13) to file online.

The next steps is to send off the docs https://github.com/dwyl/hq/issues/262 and wait a few days for the changes to appear on beta.companieshouse.gov.uk and then file the confirmation statement online before the 7th June Deadlin

[2017-06-01 16:52] markwilliamfirth commented on #262
Completed. Inês to make a final review + sign tonight. Docs to be sent to:

The Registrar of Companies, Companies House,
Crown Way, Cardiff, Wales, CF14 3UZ.
DX 33050 Cardiff

[2017-06-02 00:16] iteles commented on #302
@jbarget Excellent feedback! This MVP is getting the creative juices flowing nicely ;)

[2017-06-02 14:14] ghost opened #348 "CU Water Project"
Website
Open to the public randomised control trial of the effects of drinking water on weight
Applying for a funding grant

[Proposal](https://docs.google.com/document/d/1KAjQMyjEMZe_L_OozaMBwLP6u7r6s6v-vn9ZdSI74mQ/edit)

[2017-06-02 15:53] iteles commented on #337
@markwilliamfirth He says he's attached one of these 360 images to his email, but I don't see any attachments. I'd like to know what format this image is in and see how big they are, how they work, etc.

Is it adding to an existing page? Or creating a new page in drupal and then adding this functionality?

Do they have access to both drupal and the code?

[2017-06-02 16:19] markwilliamfirth commented on #337
I'll follow up

[2017-06-02 16:32] roryc89 commented on #337
If it's any help, I did a project with this feature before - https://realtalkclient.herokuapp.com/UnionSquare

[2017-06-02 16:36] markwilliamfirth commented on #337
ooooooh

[2017-06-02 16:44] markwilliamfirth commented on #348
Mark has sent email to request call

[2017-06-02 16:53] iteles commented on #310
Removed priority label as we can't do anything about this until we hear back and seeing `p1` seems like an unnecessary stressor 😉

[2017-06-03 08:30] iteles commented on #262
@markwilliamfirth I couldn't review it from Thursday to Friday as it wasn't planned in and didn't get through my non-moveable planned activities in time to fit it in.

When going through it on Friday night/Saturday morning I spotted 2 incorrect things I hadn't picked up on in the electronic copy which need amending in the paper copy and 2 unresolved questions in the electronic copy that we should

[2017-06-03 09:25] markwilliamfirth commented on #262
The deadline isn't to do with the coop, it's relevant to companies house. I will email CH again. Please can you plan in 1h of review time on Monday?

[2017-06-04 19:18] iteles opened #349 "Proposed redefining of priorities for this repo"
As a person who is frequently assigned to issues in the `hq` repo, I need everyone to be _clear_ on what the various labels mean so that I don't end up disregarding them because they are misused.

Case in point: there are 23 `priority-1` issues assigned to me. If something _truly important_ is assigned to me, there is now no way of communicating that.

"Everything is a top priority" is the kind of

[2017-06-04 19:21] iteles opened #350 "Blog | Why dwyl scrum master must also be developers"
This needs to be written.

I have a lot of experience to draw on here, originally being "project manager" ( 🤢 ) with no development experience, then becoming a developer, then scrum mastering _whilst_ developing and now being in a position where I haven't had much time to _write_ code (just some review) for the last few months.
It's been a _huge_ hinderance and my effectiveness as a scrum master a

[2017-06-05 08:30] markwilliamfirth commented on #44
Closed in favour of https://github.com/dwyl/learn-tachyons/issues/15

[2017-06-05 08:30] #44 closed

[2017-06-05 08:33] markwilliamfirth commented on #231
@iteles is this something we still want? Which category?

[2017-06-05 08:35] iteles commented on #231
They have a fantastic network and it would be a great talking point.

Let's do the research and see which categories apply (if any) 👍

[2017-06-05 08:41] markwilliamfirth commented on #231
@iteles these are the only three that I think might apply

WISE Tech Innovation Award
WISE Technology & Engineering in Health
WISE Woman in Industry

Although the rules say that you must nominate yourself - people can't nominate for others

[2017-06-05 08:55] markwilliamfirth commented on #349
@iteles we could always make a priority-0 label 😆

[2017-06-05 08:57] iteles commented on #231
@marwilliamfirth Could you please take a look through them and add a time estimate to this issue so we know roughly how much time we'd need to dedicate?

[2017-06-05 09:01] markwilliamfirth commented on #340
@iteles I think this should say 6th June?

[2017-06-05 09:12] markwilliamfirth commented on #231
@iteles I've estimated 4 hours

[2017-06-05 09:21] markwilliamfirth commented on #340
@iteles can you send me the workings on all VAT returns filed to date? Required urgently to send to Carl

[2017-06-05 09:26] markwilliamfirth commented on #340
<img width="386" alt="screen shot 2017-06-05 at 10 25 35" src="https://cloud.githubusercontent.com/assets/5732209/26778488/5dc009a4-49d9-11e7-91cf-1d9763785787.png">

[2017-06-05 09:26] iteles commented on #340
@markwilliamfirth The workings are just an amalgamation (sometimes manual) of the F&C commission spreadsheet and the `Accounts dwyl a-team` spreadsheet, both of which are not meant for public consumption so not entirely convinced they'll be useful.

[2017-06-05 09:27] iteles commented on #340
Also, I don't think this is required for the VAT deadline mentioned in this issue?

[2017-06-05 09:27] markwilliamfirth commented on #340
@iteles carl said he needs it in order to complete bookkeeping, thus allowing us to submit the vat return

[2017-06-05 10:15] iteles commented on #178
Currently waiting for the lawyers to give us the correct bank account details, invoice was issued in early April but I have now requested that it be sent to the correct financial dwyl address.

[2017-06-05 10:35] iteles commented on #340
@markwilliamfirth FYI I found my wallet and am uploading the final receipts now

[2017-06-05 11:17] markwilliamfirth commented on #349
<img width="992" alt="screen shot 2017-06-05 at 12 16 25" src="https://cloud.githubusercontent.com/assets/5732209/26781908/d659a7e4-49e8-11e7-9f9b-6a81a583a893.png">

@iteles I have cleared my p1s in-line with suggestion in this issue

[2017-06-05 11:18] markwilliamfirth commented on #308
@sohilpandya please fill out this survey

[2017-06-05 11:22] sohilpandya commented on #308
Done

[2017-06-05 11:31] Jbarget commented on #337
@roryc89 is it an open source thing?

[2017-06-05 11:35] Jbarget commented on #349
@iteles I think it may be confusing for us as during sprints we assign priorities based on the order they need to be done. I imagine most teams start by adding `priority-1` labels to the "scaffolding" of the project, not because its time critical (I guess a sprint is always time critical) but because its intuitive.

So having the same labels `priority-n` for both admin and dev work might be confus

[2017-06-05 11:58] iteles commented on #338
No interest. We should ask if people didn't see the issue or if there was genuinely no interest

[2017-06-05 11:58] #338 closed

[2017-06-05 13:48] sohilpandya commented on #346
**Call with Stian + Yinka**

- March 2017 Guardian Uni awards Runners up
- Getting more money to develop this further, it has been difficult but there has been a lot of pushback from IT dept.
- April asked for more money
- Trialed in 5 undergrad lectures and lead by lecturers without Stian's help
- Done some Analytics for the app
- Currently, speaking with IT dept regards to Data protection and co

[2017-06-05 13:54] iteles commented on #349
@markwilliamfirth 😬 This is still very much an open proposal!
The idea was to downgrade everything at once as that's a bit easier in the github interface.

@Jbarget In my experience priority 1 (the sky is falling, drop everything and do just this) and priority 5 (just an idea) are used in the same way across all dwyl projects. priority 2s also tend to be 'these are important and need to be done ne

[2017-06-05 13:57] iteles commented on #340
All of my loose receipts that wouldn't be in emails are in Xero across the approved and for approval buckets (this doesn't include Google invoices, Amazon, Github, tachyons donations or any of the other stuff that are in emails). The ones in euros (apart from the one in the 'to be approved' bucket) have been converted to GBP using the accurate historical rates http://x-rates.com/historical/

[2017-06-05 14:07] Jbarget commented on #349
ah definitely! I didnt mean to imply that it wont work, was just giving my experience of things :)

#onesystemtorulethemall

[2017-06-05 14:25] nelsonic commented on #149
@iteles I saw you _start_ to transfer these OMTMs to a markdown file ... but guessing you got lured away to a more urgent task. please assign PR when ready. thanks! 👍

[2017-06-05 14:28] nelsonic commented on #252
closing as location of dwyl logo vector is now known. ⏫

[2017-06-05 14:28] #252 closed

[2017-06-05 14:28] iteles commented on #262
This morning I printed off the amended copy, signed and went to the post office and stood in line for 20 mins to post this. Next day delivery, will be there tomorrow.

[2017-06-05 14:44] nelsonic commented on #349
Priority and Urgency are related but different.

I would _suggest_ having a deadline `metadata` in the issue title and/or description to aid with prioritisation.

I _agree_ that having _too many_ `priority-1` issues "_devalues_" the importance of the label.
But I don't think "_downgrading_" the priority of all issues is a _good_ way to "_solve_" this.

We should _definitely_ be _clear_ on what a `

[2017-06-05 14:44] nelsonic commented on #297
Not having meetings is not _costing_ us any money. so it's not `priority-1`.
see: https://github.com/dwyl/hq/issues/349#issuecomment-306205947

[2017-06-05 14:45] nelsonic commented on #297
Not having meetings is not _costing_ us any money. so it's not `priority-1`.
Not having management accounts to steer decision making is costing us at _least_ 1k/day.
see: https://github.com/dwyl/hq/issues/349#issuecomment-306205947

[2017-06-05 14:57] iteles commented on #345
@katbow Is this for this Friday 9th June?

This is an absolutely WONDERFUL idea, very cool. Like we discussed, let's contextualise this - it's cart sorting and pattern recognition, not quite poker! 😉

[2017-06-05 15:04] iteles commented on #349
There were at least 3 priority 1 issues on FH related to things that were related to getting more people in. Not sure what happened there...

Agree that priority isn't just about urgency.
Whether or not something is costing us money or upsetting dwylers is actually how I determine how quickly we need to take action on something. This is why accounts #229 and #182 have been `priority-1` issues sinc

[2017-06-05 15:06] nelsonic commented on #123
https://github.com/danschultzer/receipt-scanner

[2017-06-07 09:49] katbow commented on #345
@iteles I was intending it to be for the last Friday of the month which would make it 30th June. However if there are already plans that day, or this Friday is more convenient, I am happy to do it then!

[2017-06-07 09:55] iteles opened #351 "HL extension"
Requirements from the client:
+ AGREED: 3 days to carry out as many tweaks as possible - @katbow
+ TBC: 5 days of ePJS integration & Azure deployment - @nelsonic @katbow & @RobStallion

+ [x] Write and send contracts (25 mins)
  + [x] for 3 day extension
  + [x] for ePJS week
+ [x] Review 3 day extension backlog (1 hour)
+ [x] Chase for agreement on 5 days above
+ [x] Chase for signed contracts

[2017-06-07 10:50] iteles commented on #345
Nelson and I won't be here 😭 But that shouldn't stop you! Please coordinate with @markwilliamfirth to get an invite out early 😊

[2017-06-07 10:58] markwilliamfirth commented on #345
@katbow Inês and Nelson go away on 29th. We might make this 16th or 23rd - rather than end of month - will let you know soon, but it's definitely going ahead so please make the repo for the event! 👍

[2017-06-07 11:01] katbow commented on #345
definitely happy to do it earlier on the 16th or 23rd in that case!

[2017-06-07 11:27] markwilliamfirth commented on #348
User flow: https://drive.google.com/open?id=0B0XeQ2t5WSK2ckw2WDRjbU1pNnc

[2017-06-07 11:30] iteles commented on #345
I would suggest 23rd as we already have dwylympics is on 14th already 😊

[2017-06-07 11:33] markwilliamfirth commented on #94
@naazy loving this. Is there anything we might need to order from amazon in advance? Water balloons?

[2017-06-07 11:38] Jbarget commented on #94
@markwilliamfirth @naazy and I are meeting tonight to plan it all 👍

will keep you updated :)

[2017-06-07 13:20] iteles commented on #342
Moving to p4 in line with #349

[2017-06-07 13:23] iteles commented on #264
Done again

[2017-06-07 15:08] markwilliamfirth commented on #283
Mark to add no approaching clause

[2017-06-07 15:25] iteles opened #352 "Start dates for extensions and new projects"
There are a few [potential projects](https://github.com/dwyl/hq/issues?q=is%3Aissue+is%3Aopen+label%3Anew-project) asking about start dates.

I need to plan out how these might look so I can provide people with some answers.

[2017-06-07 16:00] iteles commented on #348
My notes from the call:
+ Thin data so far on water's effect on weight, still need to know:
  + Best volume of water to drink
  + Best time of day to drink water
+ Best way to address this is a randomised control trial and large numbers can be obtained by having these as self-enrolled and self-reported studies on the web

This one:
+ 6 months trial
+ This is a pragmatic trial - whether people foll

[2017-06-07 17:02] sohilpandya commented on #94
EXITING TIMES!!!

[2017-06-08 07:18] roryc89 commented on #337
@Jbarget Yes. Here's the repo: https://github.com/realFacesTeam/Real-Faces

[2017-06-08 10:30] markwilliamfirth commented on #283
@iteles this was actually already included (clause 33)

Let me know if you'd like it changing

Next step in this issue is for you to review clause 16 and let me know if you're happy with it

[2017-06-08 11:12] iteles commented on #283
@markwilliamfirth Added a response, could you please check this out and we'll send it out to a client today?

[2017-06-08 11:19] markwilliamfirth commented on #348
Additional notes:

This project is being built in connection with a trial to drink a certain amount of water per day (volumes ab libitum or volumes before meals).

The trial will collect data from users (water consumption, weight, mood [optional])

Note: users can also track their water consumption by downloading a paper form

- This is an app that informs, enrols, tracks and motivates users to dr

[2017-06-08 11:23] markwilliamfirth commented on #283
@iteles I responded back

[2017-06-08 11:40] iteles commented on #283
And me :)

[2017-06-08 13:10] markwilliamfirth commented on #283
@iteles I've updated - if you're happy then please send me the client details and I can create the first contract

[2017-06-08 13:26] iteles commented on #283
If we're going to go this route, I think we want to start with OSS as the default as it better reflects our values. I've suggested:

Will send you the details

[2017-06-08 13:39] markwilliamfirth commented on #283
Have reworded slightly

[2017-06-08 13:53] iteles commented on #283
Open source doesn't have a hyphen, but other than that, this is fine.
I would make the last section of the last sentence a sentence in its own right.

[2017-06-08 13:54] markwilliamfirth commented on #283
Updated 👍

[2017-06-08 14:24] markwilliamfirth commented on #219
Currently dependent on #347

[2017-06-08 15:06] shouston3 opened #353 "What online security precautions should dwyllers be taking?"
+ Should I have 2 factor authentication on sites other than github? If so which ones (heroku, aws)?
+ Should I be using a password manager? If so which ones are good?
+ What precautions should I be taking with regards to my laptop (location tracking, secure password - is this important, sticker over the camera)
+ Which sites should I look to avoid on a public network?
+ Are there other things I sh

[2017-06-08 15:15] markwilliamfirth commented on #340
This was submitted and paid, we'll be received a small refund from HMRC as we paid the upper estimate in advance to ensure the bank transfer had time to get there in order to avoid a surcharge

[2017-06-08 15:15] #340 closed

[2017-06-08 15:21] markwilliamfirth commented on #353
Linked to #198 #87

Agreed @shouston3 we need a comprehensive policy around this that employees and contractors must adhere to that is written down for everyone to see.

If you have access to sensitive data then you should at least be doing the following:

This comes from a data agreement that we made for @jackcarlisle when he was given access to AWS keys. We should have something like this for ev

[2017-06-08 16:25] iteles commented on #351
Agreement received on 5 days. No contracts yet.

[2017-06-08 16:46] markwilliamfirth opened #354 "Add Cleo to Payroll"
Add Cleo to Payroll

[2017-06-08 17:04] markwilliamfirth commented on #94
- [kit](https://www.amazon.co.uk/gp/registry/wishlist/9V1CWO97HNKI/ref=cm_wl_list_o_0?)
- pizza + snacks

[2017-06-08 17:08] markwilliamfirth commented on #94
@Jbarget are the water balloons etc biodegradable? If dwyl is buying it needs to align with http://www.dwyl.com/values

[2017-06-08 17:41] Jbarget commented on #94
@markwilliamfirth before you order can we sync up to check we're ordering everything correctly?

[2017-06-09 08:33] markwilliamfirth commented on #354
@Cleop

Please could you email me a completed copy of [this form](https://public-online.hmrc.gov.uk/lc/content/xfaforms/profiles/forms.html?contentRoot=repository:///Applications/PersonalTax_iForms/1.0/SC&template=SC.xdp)?

Please could you also contact HMRC regarding your change of name and let me know when this has been done?

[2017-06-09 10:47] iteles opened #355 "Oxleas HL integration"
Requirements:
- Additional user group
- Copy & styling differences
- Resources might be just content changes
- MW is meeting with them on 13th June
    - TBC whether SLaM will host on Azure

+ [x] Make a list of what would need to be done to decouple HL from ePJS
+ [x] Book meeting with Mollie to review scope
+ [x] Provide estimate for decoupling
+ [x] Provide estimate for additional user groups a

[2017-06-09 15:06] markwilliamfirth commented on #94
@Jbarget if you update the event kit [wishlist](https://www.amazon.co.uk/gp/registry/wishlist/9V1CWO97HNKI/ref=cm_wl_list_o_0?) with what you and @naazy want I can order everything for you today! Just wanted to double check with you that we were being environmentally friendly

[2017-06-09 16:23] katbow commented on #355
For parents being able to add content on behalf of their children:

* How is the parent/child relationship confirmed? Would this be through the clinician to say that X is the parent of Y? Or admin? My main concern would be someone who is not the parent being able to connect and write in data for that person.

Once the connection exists, there could be an extra input field for any data entry that s

[2017-06-09 16:43] markwilliamfirth commented on #345
@katbow I will email out about 23rd - do you have the repo up? I can send in the email so everyone can have a look in advance

[2017-06-09 17:02] katbow commented on #345
@markwilliamfirth it's on my todo list this weekend 🙂

[2017-06-09 20:12] nelsonic opened #356 "dwyl apprenticeship"
_Several_ people have asked what the _specifics_ of the dwyl internship are.
Here are some details, if you have any further questions please leave comments below. (_thanks!_)

# The Question(s) People Need to Answer `before` Joining/Working With @dwyl

The most important question we have to ask (_and get **written**_) answers to are:

## About You (_the Apprentice_)

+ [ ] ***Who*** are ***you***?

[2017-06-09 22:01] iteles commented on #356
Note: budget for this approved in February/March when first discussed with D. Sofer.

[2017-06-09 22:18] Jbarget commented on #94
updated, NB. dont buy the bandanas we're gonna source those elsewhere

[2017-06-10 15:58] katbow commented on #345
@markwilliamfirth not merged in yet, but will be [here](https://github.com/dwyl/elixir-dojo)

[2017-06-11 11:06] iteles commented on #244
@markwilliamfirth This looks like a great event to attend and write a blog post on: https://generalassemb.ly/education/mindful-digital-marketing/london/37521

Thoughts?

[2017-06-11 16:37] ZooeyMiller commented on #356
Hi! should I just comment here with my AMA answers or send them to anyone in particular?

[2017-06-11 18:07] ZooeyMiller commented on #356
Oh! Also, do you know when the apprenticeship would start and/or end?

[2017-06-12 12:15] ZooeyMiller commented on #356
#### Who are you?
:wave: I'm Zooey. I just graduated from Founders and Coders 10.
#### What's your story?
Before coming to Founders and Coders I was working as a bike mechanic and teacher at [London Bike Kitchen](http://www.lbk.org.uk/), and working as a supervisor at Lush Fresh Handmade Cosmetics.

I _love_ working with bicycles, and fixing things. I really liked teaching people how to fix their

[2017-06-12 14:18] Cleop commented on #356
As dwyl's most recent joiner and someone who has joining the company's systems and tech stack fresh in mind...

Some things to consider including when this scheme begins:
- Introduction the dwyl git workflow (with particular emphasis on raising issues instead of asking questions, what to do if you get stuck, notifications)
- An intro to Tachyons (how to use the documentation effectively)
- Means o

[2017-06-12 14:28] Cleop commented on #182
The book [Time, Talent, Energy](https://www.amazon.co.uk/Time-Talent-Energy-Organizational-Productive/dp/1633691764) (Nelson has a copy if anyone wants to read it) says:
- Don't focus feedback during salary reviews.
Feedback is valuable and if an employee is focussed on negotiating their salary it loses the valuable opportunity for ideas to be shared as an employee might feel defensive towards cri

[2017-06-12 16:59] finnhodgkin commented on #356
Finn Hodgkin

Growing up I loved art, animated film and video games, so when it came to choosing a subject for university I landed on animation assuming it would be the perfect combination. It took me three years to realise it wasn't... Although I still enjoy the medium, I don't find the work very satisfying. Even with large team projects the work tends to be solitary and insanely repetitive.

The

[2017-06-12 19:42] sohilpandya commented on #308
[Here is the tweet](https://twitter.com/Sohil_is/status/872894716303613952)
<img width="585" alt="screen shot 2017-06-12 at 20 41 48" src="https://user-images.githubusercontent.com/2305591/27051869-9e27cce4-4faf-11e7-9efd-0da1e84168f0.png">

[2017-06-12 21:59] ZooeyMiller commented on #356
I just realised I have another question, when can those applying/who fulfil the prerequisites of the apprenticeship expect to hear back from dwyl?

[2017-06-13 08:10] nelsonic commented on #356
@ZooeyMiller you and @finnhodgkin are the only people who have show an interest (_so far_)
Both of you have made the time to:
+ [x] respond to the "AMA" questions ❓
+ [x] submit a PR improving a @dwyl learning resource and ❤️
+ [x] ["starred"](https://github.com/dwyl/contributing/stargazers) the "Contributing Guide" to demonstrate that you've read/understood it. ⭐️
So you gents are _in_. ✅

We `st

[2017-06-13 08:25] markwilliamfirth commented on #94
@Jbarget @naazy I have bought the water balloons, rope quoits / wooden pegs throwing game and water guns x3 - should arrive tomorrow. Wasn't able to order non-prime or the cups as they wouldn't arrive in time - so if you want those you may need to source from elsewhere along with the bandanas

[2017-06-13 08:31] markwilliamfirth commented on #94
@Jbarget @naazy Managed to find the boules for next day delivery elsewhere so have ordered 2 sets

So only thing I couldn't order was cups (and bandanas)

[2017-06-13 08:35] naazy commented on #94
Great! Any thoughts on where we can get biodegradable cups @markwilliamfirth ? i can check out hoxton street this lunch for bandanas or something we can fashion as bandanas 😄

[2017-06-13 08:46] Jbarget commented on #94
https://www.amazon.co.uk/Disposable-bioplastic-biodegradable-compostable-transparent/dp/B01N6XKQM3/ref=sr_1_6?rps=1&ie=UTF8&qid=1497343494&sr=8-6&keywords=biodegradable+cups ?

[2017-06-13 09:05] markwilliamfirth commented on #94
@Jbarget they say 15th June
<img width="540" alt="screen shot 2017-06-13 at 10 04 46" src="https://user-images.githubusercontent.com/5732209/27074698-c9565ac8-501f-11e7-8294-68aa0917e8c6.png">

[2017-06-13 09:07] antoniotrkdz commented on #356
Hi Dwyl,
I was starting the AMA questionnaire now, but I would like to know:

Do you have any more spaces?
How long does the intern lasts?

Thanks!

[2017-06-13 09:14] Jbarget commented on #94
ugh, they lie about prime. No worries, @naazy lets chat and figure out what we need to get. I can go to Tiger on my way home

[2017-06-13 14:02] antoniotrkdz commented on #356
_Who are you?_
I am Antonio Trabalza

_What is your "story" (or "journey") so far?_
I studied Neuropsychology at University of Rome and I then started a PhD in Psychobiology.
Psychobiology is the study of behaviour to determine which are the biological basis underneath it.
I was intersted in the networks of neurons (brain cells) involved in learning and memory.
I ended up studying some molecules i

[2017-06-13 14:30] markwilliamfirth commented on #348
[User Flow Draft](https://docs.google.com/document/d/11ICp5QV-oq2QImx6glNXDsGAXLV7zUSrt0t_s54HMZI/edit)

[2017-06-13 14:40] iteles commented on #355
From K:
Here's a summary of the reduced priorities for Oxleas:
1 - Create Basic Admin Dashboard so Oxleas can add everyone and assign roles
2 - Reskim - Change logo/ banner, potentially change site colours although there's some wiggle room on that, a lot of content changes to all the guidance notes, terms of service, privacy statement, Get Support Page, all references to South London & Maudsley et

[2017-06-13 14:55] markwilliamfirth commented on #348
Mark to ask Amanda:
- Estimated project start and end date
- How important it was that she knows where people come from?

@nogainbar
To speak to Inês regarding:
- How much opportunity there will be for user testing will there will be during development? Will there be user testing sessions?

and to provide quotes:
- Low - MVP quote
- Medium - over-estimate quote
- High - high fidelity quote
- Quote

[2017-06-13 16:09] iteles commented on #348
@nogainbar We will plan in some user testing during development but I imagine we would add 1.5-2 days of our time at most (budgets are always tight at CU) to get it set up and then run by the PO.

[2017-06-13 16:51] mattlub commented on #356
I'm Matt- one of the first graduates from FAC Nazareth 😄 . I like problem solving and making cool things, learning to do stuff, teaching, juggling and table tennis (among many other things).

I decided to go to Nazareth to do Founders and Coders as I was really interested to get involved and help out with something new, exciting and relatively unknown, while at the same time of course gaining the

[2017-06-14 12:35] markwilliamfirth commented on #348
I've sent a message to Amanda

[2017-06-14 12:35] markwilliamfirth commented on #310
I've sent a follow-up to Susan

[2017-06-14 12:37] markwilliamfirth commented on #337
Haven't heard from Patrick, so have sent a follow-up email

[2017-06-14 13:00] markwilliamfirth commented on #309
@iteles what do you think about this? Alina sent a follow-up on 23rd May and Sam emailed yesterday

[2017-06-14 14:17] markwilliamfirth commented on #310
Susan: "Our new project manager starts on Monday and then she has to get her head around everything. Your proposal is in the bundle ready for her."

[2017-06-14 15:09] markwilliamfirth commented on #337
![Uploading oe-zen-360-02.jpg…]()
![Uploading oe-zen-360-03.jpg…]()

@roryc89 are these the kinda images you've worked with before? Do you know how long it would take to implement something like this? I assume it could be done in a relatively quick time given you've built this functionality previously?

[2017-06-15 06:56] nelsonic commented on #274
@JoeTanner FYI (_as discussed_)

[2017-06-15 10:02] Cleop commented on #354
@markwilliamfirth - spoken to HMRC and changed my name this morning. The man told me that it will take a couple of days for it to be changed successfully across their whole system so hold fire on contacting them for approx 48 hours.

[2017-06-15 10:17] iteles commented on #274
@joetanner FYI We have a first draft of a case study from April that is wirh @markwilliamfirth for review.

[2017-06-15 10:59] markwilliamfirth commented on #348
The critical deadline is 19th July deadline for application but the proposal needs sign off my finance and research lead at City University before that.  The very earliest the project could start would be around October 2017 but the start date is flexible and a launch next year would be fine too.

It is not at all crucial to know where people have come from. If this adds great complexity lets leav

[2017-06-15 11:08] markwilliamfirth commented on #348
@nogainbar Amanda has replied (as above) - does that help? How are the quotes coming along?

[2017-06-15 11:27] ghost opened #357 "The ZEN Grants Scheme for Cycling"
The ZEN Grants Scheme is open - we can apply for grants of up to £2,000 to encourage sustainable travel at dwyl.

We can utilise this grant for free bike repairs for dwylers amongst other things.

In order to apply for the grant we need to fill out [this survey](https://www.surveymonkey.co.uk/r/ZENtravelsurvey). Please could as many dwylers fill this out as possible?

[2017-06-15 12:21] iteles commented on #357
To make it a little easier for people who might not know all the office details:
<img width="517" alt="screen shot 2017-06-15 at 13 20 27" src="https://user-images.githubusercontent.com/4185328/27180974-7d7d54da-51cd-11e7-9002-bd02dd9e9d37.png">

[2017-06-15 12:56] iteles commented on #351
Work has begun with @robstallion and @katbow

[2017-06-15 14:11] markwilliamfirth commented on #354
@cleop yep you filled it out correctly! I have set you up on payroll in advance - notice won't be sent to HMRC until end of the month when payroll runs. Closing this issue as all steps have been done, but please reopen if you hear back about any issues with the name change going through (should be
 fine) 👍

[2017-06-15 14:11] #354 closed

[2017-06-15 18:10] Cleop commented on #247
@markwilliamfirth - with the site now being built, now might be a good time to start reviving where you left off with this one. Not necessarily as the first blog post but just as one to be part of a collection...

[2017-06-15 18:12] Cleop commented on #265
@markwilliamfirth - were there any conclusions drawn from this? Would be useful to know where we stand on this for @harrygfox's designs for the website redesign, don't want him to design a blog page that may not be needed/ that may have to follow another website's design limitations.

[2017-06-15 18:20] iteles commented on #265
@Cleop Speak to Nelson on this one and we can open a new issue.

[2017-06-15 18:31] markwilliamfirth commented on #265
@Cleop sorry should have put in my closing comment - Nelson has a preference for in-house

[2017-06-15 18:42] sohilpandya commented on #265
I'm also a big fan of in-house after someone convicnced me that it is the way to go. 🙄😳😊

[2017-06-15 19:38] iteles opened #358 "Scrum master Q & A"
As a scrum master with some experience, I would like to share my knowledge in such a way that it can be documented and that people can ask questions to prompt genuinely useful knowledge sharing so that others can learn from it with less time and effort expenditure in future.

[2017-06-15 19:38] iteles commented on #358
Personal notepad for now (I don't expect this comment to mean anything to people and will delete it once the knowledge has been documented).

+ Demo prep issue
+ Closing off previous sprint milestone
+ Primers to speed up (very easy to just slog through issues, challenge yourself but not so quickly you don't think things through)
+ https://github.com/healthlocker/healthlocker/issues/840#issuecomme

[2017-06-16 08:52] innov8tor3 commented on #356
Hi all ...

I am happy to answer the questionnaire, because what I see here is so fantastic. But I suspect - as usual - I don't quite fit the exact need here.

In particular, I spend a great deal of time in a Facebook group supporting folk who are looking to run **_real world projects_**, on quite different levels.

That support time means my ability to learn code - and back in the day, I was a CO

[2017-06-16 09:16] innov8tor3 commented on #356
@ZooeyMiller

In my mind there is a clear link between self doubt and the ability to be creative.

How do we learn new stuff? Mainly by doubting that we know everything, and even doubting knowledge we thought we understood before. That's all quite an uncertain feeling. But when something makes sense, we sometimes have to be willing to lose some existing beliefs.

If we think of all those people ex

[2017-06-16 13:49] iteles commented on #86
@JoeTanner What are you keen for us to highlight here?
Are you taking your business in any specific direction we should make a point of discussing?

[2017-06-17 11:44] iteles opened #359 "Change address for banking & HMRC correspondence"
@markwilliamfirth When you first joined you changed some of the correspondence addresses to the flat on Palmers Road.

We're leaving at the end of the month so please change this to the office address asap so that letters sent out the week after next aren't lost.

[2017-06-17 13:06] sohilpandya commented on #302
Just some more feedback.

- add a date to the PDF and the email so that the user knows when they submitted the Invoice. I got an email at 1am at night and would like to know when I actually submitted it. 😊

[2017-06-19 07:44] nelsonic commented on #356
@antoniotrkdz my _understanding_ is that you were working with @freelancedad on https://github.com/freelancedad/Freelancedad after the F&C Course ...?

@mattlub thanks for your great contribution(s) to: https://github.com/dwyl/learn-tachyons 🎉
Tuesday 27th is fine, but I will only be in London for 2 days so we will have to pair _remotely_.

@innov8tor3 😉

@ZooeyMiller / @finnhodgkin let me know wh

[2017-06-19 07:59] iteles commented on #356
@mattlub FYI, your apprenticeship may have to be shorter than 4 weeks on account of a certain wedding 🙈 but we will confirm this with you asap.

[2017-06-19 07:59] #356 closed

[2017-06-19 08:03] Cleop opened #360 "New repo for communication and product emails"
Relocating: https://github.com/dwyl/dwyl-site/issues/16

- What's the appropriate content of emails?
- What's the optimum frequency?
- How shall we schedule content?
- Understanding why people sign up to get emails from us
- What alternatives are there to emailing people? Ie. blog, etc
- How do various means of communication compliment each other?
- Other general ideas on communicating with people

[2017-06-19 08:26] iteles commented on #351
Reopening as this required a further week of extension.
+ [ ] Budget to be sent
+ [ ] Contract to be added to
+ [ ] Chase for signed contract

[2017-06-19 08:30] markwilliamfirth commented on #302
@sohilpandya thanks for the feedback 😄  Done 👍

[2017-06-19 08:59] iteles commented on #302
@markwilliamfirth Let's roll this out to everyone in time for July?

[2017-06-19 09:24] ghost opened #361 "Cyber Essentials Certification"
https://www.cyberaware.gov.uk/cyberessentials/

Linked to #335

[2017-06-19 09:42] nelsonic commented on #361
The Self-Assessment Questionnaire is insightful.

I responded _personally_, but it would be good if _everyone_ went through it ***and*** for us to have a 12/12 score on it for the _organisation_...
![image](https://user-images.githubusercontent.com/194400/27279180-ccdcced2-54db-11e7-8cc7-0324c796e53c.png)

[2017-06-19 13:49] markwilliamfirth commented on #359
@iteles now that we know we're staying in Focus Hub for at least the next 8 months and bearing in mind you guys are off to Portugal, should I set all addresses to 16 Palmers Rd?

[2017-06-19 13:52] markwilliamfirth commented on #94
Great job guys! 🏅 🏅 https://twitter.com/dwyl/status/875359884115673088

Until next year 👍

[2017-06-19 13:52] #94 closed

[2017-06-19 13:59] roryc89 commented on #337
It depends on how the images are taken. I had 6 photos displayed on the inside of a cube, with the user viewing from the centre and it was quite simple. The curvature on these photos suggests it would fit onto something curved like a cylinder or sphere.

My previous experience in this was from a few years ago and I haven't worked in anything similar since so will still need to read up.

For making

[2017-06-19 14:07] iteles commented on #299
Further estimate requested for Eating Disorders TTRR.

[2017-06-19 14:09] iteles commented on #359
👍 That's exactly what I was thinking with 'office address' 👍

[2017-06-19 14:11] markwilliamfirth commented on #345
@katbow I'm going to send this out today! Let's start at 4:00PM ish. How long will you need for the workshop? 1h? 2h? Would you like me to include a short blurb? If you can't think of anything I can write something 👍

[2017-06-19 14:13] markwilliamfirth commented on #359
@iteles sorry I didn't phrase well - I mean should I update all addresses - including the MDC ones?

[2017-06-19 14:21] iteles commented on #359
@markwilliamfirth Yes, let's do that. We need a central place where everyone has access to the post. Will require a change on our website too.

[2017-06-19 14:23] iteles commented on #94
We need the photos to go somewhere! I don't have many but I think Nelson has quite a few

[2017-06-19 14:27] markwilliamfirth opened #362 "dwylympics Photos & Videos"
https://github.com/dwyl/hq/issues/94#issuecomment-309455313

Anyone with photos and videos from dwylympics please drop them in here!

https://drive.google.com/drive/folders/0B0XeQ2t5WSK2ZUNSTFRraHRob3M

[2017-06-19 14:27] markwilliamfirth commented on #94
@iteles https://github.com/dwyl/hq/issues/362 👍

[2017-06-19 14:42] antoniotrkdz commented on #356
@nelsonic Thank you for your reply.
Due to changes of circumstances the frelancedad project was delayed to future time to be determined.
That happened during the past 2-3 weeks, which, together with the reasons explayned in my profile, brought me to consider application to dwyl internship. Cheers!

[2017-06-19 16:44] markwilliamfirth commented on #351
Signed contract recieved
Countersigned sent
👍

[2017-06-19 16:44] #351 closed

[2017-06-19 16:50] iteles commented on #351
Woah, Katy's da 💣 !

[2017-06-19 17:00] iteles opened #363 "Capturing full time dwylers' time allocation in the short term"
As someone in charge of allocation of resources, I would like to understand the contribution to overheads on our internal projects (as well as client projects) so that I can make informed decisions about projects (both internal and external) in future.

Related to #321 .

At the moment, most of our internal project work is being carried out by full time dwylers and without freelance invoices, ther

[2017-06-19 17:02] markwilliamfirth commented on #363
Linked to #321

[2017-06-19 18:01] iteles commented on #337
Particularly because it's using drupal which is its own problem.

[2017-06-20 07:26] sohilpandya commented on #345
@markwilliamfirth can we try a 3 pm start? 3 - 5 pm would be good to try out?

[2017-06-20 08:31] markwilliamfirth commented on #345
@sohilpandya we can't do 3pm :P https://github.com/dwyl/focushub/issues/55#issuecomment-300160354

@katbow any update on this? Inês mentioned there is a lot of HL stuff this week

[2017-06-20 08:33] sohilpandya commented on #345
Oops

[2017-06-20 09:43] katbow commented on #345
@markwilliamfirth 4 is good (although 3 would be cool 😉). I think it should be somewhere right in the middle, around 1.5 hours.

I don't have any extra blurbs, just what I've put in the [README](https://github.com/dwyl/elixir-dojo) 🙂!

[2017-06-20 09:46] markwilliamfirth commented on #345
Awesome - will send out today

[2017-06-20 11:07] SimonLab commented on #363
At the moment I enter the time I spent on a google sheet. I've started well and describe (too much?) my activity with time. Unfortunately I forgot a few time to add the inforamation. I need a reminder or someone to tell me to enter the data.

[2017-06-20 11:12] Cleop commented on #363
Me too, I use a google sheet. At the moment I manually add the dates as time progresses, I think it would be better automated (I think google sheets has a format for this). Also I currently only fill in the time with a project name ie. tachyons-bootstrap, no more detail than that. This originated from my automated invoicing model and is useful for statistical analysis because it means you can coun

[2017-06-20 11:47] markwilliamfirth commented on #249
<img width="600" alt="screen shot 2017-06-20 at 12 46 37" src="https://user-images.githubusercontent.com/5732209/27331709-8ad69a82-55b6-11e7-926b-e8eeb2c97553.png">

2017-06-20

[2017-06-20 12:51] markwilliamfirth commented on #345
Sent 👍

[2017-06-20 13:01] markwilliamfirth commented on #337
@roryc89 thank you for your help! I've followed up with Patrick...waiting to hear back

[2017-06-20 14:44] markwilliamfirth commented on #358
[scrum-guide-us.pdf](https://github.com/dwyl/hq/files/1088533/scrum-guide-us.pdf)

[2017-06-20 16:33] freelancedad commented on #274
@iteles really want to help out with these and definitely have the time..

[2017-06-20 17:02] markwilliamfirth commented on #274
@freelancedad the copy (in its current form) is here: https://github.com/dwyl/dwyl-site/issues/280

[2017-06-21 09:41] iteles commented on #346
+ Show due diligence and competitiveness of dwyl quote
+ PO will be prioritising backlog
+ dwyl to provide simple quote and timelines

[2017-06-21 09:52] markwilliamfirth commented on #248
Reddit finally replied:

Dear Mr Firth,

This responds to your correspondence alleging that another person’s username infringes your trademark or otherwise improperly uses your trademark. We, at Reddit, respect intellectual property rights, including trademark rights. It is our general policy, however, not to intervene in a trademark dispute unless the complaining party holds a federal United Stat

[2017-06-21 10:38] markwilliamfirth commented on #363
The easiest way to do this is to timebox people's work allocation.

e.g. Simon
25% hours on QA
50% hours on dwylbot
25% hours on dwyl-site

e.g. Mark
20% dwylbot
20% dwyl-site

e.g. Cleo
50% tachyons-bootstrap
25% dwyl-site
25% dwylbot

(these are just examples - not realistic percentage suggestions)

This removes the need for tracking and allows people to devote more time to getting work done. Re

[2017-06-21 11:09] Cleop commented on #363
@markwilliamfirth, I think (certainly at the moment) I fall into a similar category to @iteles when it comes to jumping between projects. My time allocation is quite fluid according to day to day needs and changes for dwyl. Happy to follow direction for whatever system/ working works best though 👍 just wanted to make you aware of my current working patterns.

[2017-06-21 11:49] markwilliamfirth commented on #363
@cleop @SimonLab can you share the links to your spreadsheets here please? Would be good to see how you both approach this already.

[2017-06-21 11:52] markwilliamfirth commented on #321
Initial report has been sent to Inês - I'm currently liaising with carl with regards to project by project ROI

[2017-06-21 13:42] Cleop commented on #363
https://docs.google.com/spreadsheets/d/1UT5y8l1dU_BYl2HLoEsKvmBXXGMq4jomH2CcLk8_8lo/edit?usp=sharing

[2017-06-21 13:48] iteles commented on #178
This is still in progress with both the bank and the lawyers 🙄

[2017-06-21 15:16] iteles commented on #363
A note on current allocation of people to 'all the things':
+ A list of tasks that need to be carried out forms in my head and in Github issues (either by my hand or by dwylers I ask to do this) - at the moment we have a lot of different and very fluid projects so this is usually a week of tasks, but might only be a couple of days at a time
+ Those tasks are estimated
+ An understanding is formed

[2017-06-21 18:13] markwilliamfirth commented on #363
@cleop so what you're actually doing here is a mixture of dynamic time-boxing and time-tracking. With true time-tracking the user starts and ends the timer at the exact start and end points of a task. What you've done is decided to split your week into hours and timebox work on an hourly basis in a dynamic way. It appears that your timeboxing is as a reaction to the work assigned to you, as oppose

[2017-06-21 18:51] markwilliamfirth commented on #363
https://docs.google.com/spreadsheets/d/1fnQYQj4GCd3JCDZI-aW0omPeC6QXRDGMJTFY3sCZmLc/edit?ts=594a8eb9#gid=0

[2017-06-21 18:56] markwilliamfirth commented on #363
Simon has approached this differently - he's taken more of a time-tracking approach, but with inconsistent rounding (sometimes to the nearest minute, sometimes to the nearest 5/10/15 etc). Simon also works outside of set working hours (flexitime) and tracks time related to tasks as opposed to projects.

@iteles would you be able to share the time-tracking app you use? Are you able to export the da

[2017-06-21 18:57] markwilliamfirth commented on #363
@naazy I understand your time is 100% on OA - is that right? Do you currently do any time-tracking at all with regards to tasks?

[2017-06-21 20:57] iteles commented on #309
@markwilliamfirth I think we need a 20min follow up call with Alina now that she's been out there to get info on what the things they're expecting us to build is and what expectations they have of what can actually be built in that timeframe.

Ultimately, they sounded like they were going to struggle for budget. Was this your impression too?

Let's have a _quick_ call with them and lock down wheth

[2017-06-22 08:45] naazy commented on #363
Correct @markwilliamfirth. I don't really time track with small tasks. With the bigger tasks (things that I've estimated will take at least 1 or 2 days), I usually just set a target day (in my head/a stickie) for finishing it and try to update the issue with the correct time estimate if I under/over-estimated. My time tracking is mostly in my head. Sorry - not overly useful!

At my old consultancy

[2017-06-22 09:54] markwilliamfirth opened #364 "Rewrite and Review Contractor Agreement"
Now that #283 has been completed, we should also look into reviewing and rewriting our contractor agreements soon. This was started back in February, but was put on the back-burner.

The working version is [here](https://docs.google.com/document/d/1oXzY7NIpYdLVZU9xCJY41d0i87hPsXfeoZTf3FEspXE/edit)

- [ ] Mark to review and rewrite contracting agreement

- [ ] Inês to review

- [ ] Make changes bas

[2017-06-22 09:59] Cleop commented on #363
@markwilliamfirth - yes so how I calculate or allocate my hours is a result of rounding (which obviously sometimes won't be 100% accurate). Previously I was working on projects for a full day and then potentially had 1 hour of scrum master time in the morning so this worked. But the last week or so has been more fluid and changing on smaller tasks. So for example in the morning I always go through

[2017-06-22 11:03] markwilliamfirth commented on #363
I think it's clear that whatever this system is, it needs to be highly adaptable and flexible.

The MVP here is to track time spent on projects (not tasks - this is something Time will do) I think we should start by listing out all of the projects that people are involved in:

dwyl Website
dwylbot
LDMW
tachyons-bootstrap
Oxford Abstracts
Healthlocker
EMF
SMG
Research Resource
Best Evidence
Medchec

[2017-06-22 11:06] markwilliamfirth commented on #363
@iteles how accurate do you want this to be? To the nearest minute? Nearest hour?

[2017-06-22 11:15] Cleop commented on #363
From time to time I work on other internal repos like ateam-master-reference (at the moment) but in the past I have also added to learn-daydream-nightmare, learn-tachyons, learn-elixir etc.

[2017-06-22 12:33] freelancedad commented on #274
@markwilliamfirth are you around tomorrow to chat about what needs to be actioned?

[2017-06-22 12:44] iteles commented on #274
@markwilliamfirth Is that reviewed copy? I don't know if you've settled on a format yet?

[2017-06-22 12:48] markwilliamfirth commented on #274
@freelancedad in terms of google docs for editing:

The case study website copy in its current form can be found [here](https://docs.google.com/document/d/1golZYk89eZ8iP8psV0MxW_EEgG7rC9vogUQHQt_lDoU/edit)

The version that was iterated upon by @bradreeder that is mentioned by @iteles [here](https://github.com/dwyl/hq/issues/274#issuecomment-308690405) can be found [here](https://docs.google.com/d

[2017-06-22 14:32] nelsonic commented on #321
carl?

[2017-06-22 14:42] iteles commented on #321
@nelsonic Carl from iHorizon.

I haven't had a chance to look at this yet as have been in back to back pre-organised tasks and 'Carl' was very late getting this to us, so I wasn't expecting to review it. I will take a look at it asap.

[2017-06-22 15:29] markwilliamfirth commented on #309
Sent a follow up to alina

[2017-06-22 16:26] markwilliamfirth commented on #288
This has been done

[2017-06-22 16:26] #288 closed

[2017-06-22 18:58] markwilliamfirth commented on #309
<img width="549" alt="screen shot 2017-06-22 at 19 58 19" src="https://user-images.githubusercontent.com/5732209/27450919-2dfa3474-5785-11e7-8735-9c628b056960.png">

bit odd

[2017-06-22 21:46] iteles commented on #309
Seems ok, she mentioned there were a few different interested parties, her employment has probably just been shifted around for financial purposes 👍

[2017-06-23 08:42] ZooeyMiller commented on #302
@finnhodgkin and I have been pointed towards this to invoice for our apprenticeship, can we be added to the name dropdown?
(my legal name is Zachary Miller for any payment-y stuff)

[2017-06-23 10:20] markwilliamfirth commented on #302
@ZooeyMiller @finnhodgkin sure thing - if you send me your emails to mark(at)dwyl.com we can get you set up

[2017-06-23 10:51] markwilliamfirth commented on #302
@iteles yes let's roll it out, but first I'd be interested to get some more feedback from some dwylers who haven't used it yet

@katbow @harrygfox - would you be able to test this with a 'test invoice' and let me know how it could be improved and if there's any reason you wouldn't want to use it?

[2017-06-23 13:18] markwilliamfirth commented on #249
<img width="299" alt="screen shot 2017-06-23 at 14 17 53" src="https://user-images.githubusercontent.com/5732209/27483824-c9107ca4-581e-11e7-9b72-b167eb38c546.png">

2017-06-23

[2017-06-23 13:58] #323 closed

[2017-06-23 13:58] iteles commented on #323
@danwhy and @shouston3 will be working on this from 29th June.

[2017-06-23 14:54] ghost opened #365 "dwyl.com emails"
Hey everyone!

All of your emails have now been upgraded from .io to .com

You’ll still receive emails to your @dwyl.io suffix in your .com inbox. If you wish to also have the option to send emails from the .io email as well as the .com email please follow these instructions to activate that [here](https://support.google.com/a/answer/22370).

You should use your dwyl email for work purposes - all

[2017-06-23 17:02] iteles commented on #365
I have two versions of my signature - one with my mobile and one without (because there are a few people I don't want to have my number!).

@markwilliamfirth I've also elected not to put my 'job title' in as I don't tend to use it much. Is this problematic in terms of branding?

[2017-06-23 18:07] markwilliamfirth commented on #365
@iteles I've updated to say feel free to omit information you do not wish to share 👍

Main point here is just for us all to have consistent branding across emails and also to publicise our twitter and github more

[2017-06-25 19:11] katbow commented on #345
thanks everyone for coming ❤️ 🤗 ✨

[2017-06-25 19:11] #345 closed

[2017-06-26 08:22] RobStallion commented on #345
Thanks for the great dojo 👍

[2017-06-26 14:20] freelancedad commented on #274
Thank you @markwilliamfirth, I had a chat with Ines and once a structure has been defined, I would be more than happy to help out where I can.

[2017-06-26 19:02] nelsonic opened #366 "Replace Battery in MacBook Pro 13" Retina (Used by Mark) ?"
Today I replaced the battery in my MacBook Air 11" and it's got a new life 🍄
(_should be good for another couple of years!!_) 🎉
@markwilliamfirth mentioned that the MacBook Pro he is using is warning about the battery... 😞

![image](https://user-images.githubusercontent.com/194400/27555533-e8dfe884-5aa9-11e7-8ed3-30b22be9b969.png)

It is _possible_ but to change the battery but requires some effor

[2017-06-26 19:04] nelsonic commented on #366
Paying someone `else` to do the replacement is ***£190*** ... 💸
http://www.phoneheroeslondon.co.uk/iphone-repair-london/retina-a1425-a1502/battery-replacement/
![image](https://user-images.githubusercontent.com/194400/27555685-95f1fb84-5aaa-11e7-910e-2631a151b452.png)

You're welcome to look up alternative quotes, but I'm happy to do it if you can't find it _cheaper_. 👍

[2017-06-26 21:30] shouston3 opened #367 "Build our own cms"
There isn't currently a Phoenix CMS.

Using a CMS written in another language isn't going to play well with phoenix and will undoubtably lead to [nasty code](https://github.com/LDMW/app/blob/master/web/controllers/resources.ex) which won't be the most maintainable (plus inefficiencies in how we make our queries and we won't have that much control with how our database is optimised for our phoenix

[2017-06-26 21:58] nelsonic commented on #367
@shouston3 that's the _reason_ we _agreed_ to use Wagtail for LDMW ... 😉
(_it's not because we think Wagtail is "perfect", but it was a way for you & @Danwhy to get "exposure" to a reasonably popular CMS ..._)

Using a _few_ CMSes is the _best_ way to learn the "workflow".
We can do a _much_ better job than Wagtail.

Please take some time to look at a couple more CMSes for UI/workflow/features
`.t

[2017-06-27 08:56] shouston3 commented on #367
I'm so up for this if/when you want to start building it

Closing and continuing [here](https://github.com/dwyl/adoro/issues/100)

[2017-06-27 11:28] nelsonic commented on #367
@shouston3 your input might be required on the "core product" quite soon, but if you want to help build the MVP CMS let me know when you have time on https://github.com/dwyl/adoro/issues/100

[2017-06-27 11:28] #367 closed

[2017-06-27 15:55] iteles commented on #343
Delayed to September.

[2017-06-27 16:28] iteles commented on #280
Will go ahead on 17th July with @SimonLab and @Cleop

[2017-06-27 16:28] #280 closed

[2017-06-29 09:06] naazy opened #368 "dwyl fridays - elm dojo?"
@katbow's elixir dojo #345 was such a hit last week (thanks @katbow ❤️ 😍) that I thought I'd suggest running an elm dojo for one of our dwyl fridays (hopefully with the help of the campbell brothers @Conorc1000 @roryc89?)

The next dwyl friday is over dwyl summer 🌤 🌻 🐳  so unsure if we would want to do it then or later in the year but thought i'd put this out there into the universe 🌏 now anyway

[2017-06-30 10:09] finnhodgkin opened #369 "Key to Focus Hub"
I sometimes arrive before anyone else and can't let myself in (no key). It's fine at the moment because I just pop to the park with a book. Probably wouldn't be so pleasant in the rain :sweat_drops:

@ZooeyMiller has a key and I'm happy to cut a new one from his if that's okay. Thought I'd check first because I'm guessing dwyl are more security conscious than our friends next door...

(Is this the

[2017-06-30 10:41] iteles commented on #369
@finnhodgkin I reckon we have spares! I'll try to find one a little later today!

[2017-06-30 11:26] markwilliamfirth commented on #304
1,030.73 paid for June

[2017-06-30 11:35] markwilliamfirth commented on #369
@finnhodgkin if @iteles doesn't have one let me know and I can get you one cut - any issues with FH in future you can post them here: https://github.com/dwyl/focushub/issues/new 👍