[2018-03-26 13:51] rub1e commented on #451
* How to account for the way Mark paid himself (i.e. minimum wage for salary then topped up with expenses) - our bookkeeper said this is a question for the accountants

[2018-03-26 15:47] iteles commented on #430
The 'Client' will be `dwyl-summer` or a client name, but will the account be `International Travel` across the board? Maybe a question for the accountants #451

[2018-03-28 07:55] rub1e commented on #425
Updated answer: as far as payroll employees go, yes we can easily migrate to Xero's `my payroll` module so people can book holiday and view their payslips easily.

But we can't give contractors access to `my payroll` so I'll investigate if there are any *free* `Xero integrations` which will let us manage people's availability for projects more efficiently and easily than the current `company calen

[2018-03-28 09:20] rub1e commented on #219
Documentation sent to `co-op`, will close when the change has been confirmed

[2018-03-28 09:30] iteles commented on #425
Paid for would be fine, but CharlieHR is proposing to charge us £50 a month (£600) a year, which is a little steep for how few of their features are useful to our particular use case.

[2018-03-28 11:20] rub1e opened #452 "Merging duplicate contacts in Xero"
* [x] Merge duplicate contacts in Xero

Duplicate contacts arise because of typos or not being aware that a contact already exists - it's very easily sorted following the process [here](https://help.xero.com/uk/Contacts-Merge)

![screenshot 2018-03-28 at 12 20 04](https://user-images.githubusercontent.com/11595920/38026011-658a2718-3282-11e8-9b8f-58d6d2b20eeb.png)

[2018-03-28 12:00] rub1e commented on #452
Done for now, but will keep an eye out for duplicated contacts generally.

[2018-03-28 12:00] #452 closed

[2018-03-28 12:09] rub1e commented on #365
@naazy @SimonLab Can you take a look at the above when you have a moment - would be nice to have all permanent dwylers ticked off...

[2018-03-28 12:22] rub1e commented on #447
UPDATE: all *pre* end of year tasks are complete, and the final payroll of the year will be posted tomorrow.

Just to capture one thing here (this will be written up into a process), there's a very good reason to do all this reconciliation and checking well in advance of the end of the tax year:

If there are any discrepancies - e.g. @iteles embezzled **£3** in her December pay packet (claims it w

[2018-03-28 13:44] iteles commented on #448
Login details shared 👍

[2018-03-28 15:35] rub1e commented on #448
I just cannae do it capn, I doont have the pooowr... to transfer domains less than 60 days old

Made a note in my diary, will do it when it's unlocked

[2018-03-28 15:42] rub1e commented on #425
Yeah the ones I've looked at so far are all `pay per person` which obviously isn't viable for managing freelancers - the search continues!

[2018-04-02 21:21] sohilpandya commented on #423
Hey Hey! Just letting you know it is still happening. :)

[2018-04-03 11:11] iteles commented on #324
~ Eurie Kim,  Forerunner Ventures

At 34:38 :arrow_right: https://cdnapisec.kaltura.com/p/2279881/sp/227988100/embedIframeJs/uiconf_id/39241941/partner_id/2279881?flashvars[mediaProxy.mediaPlayFrom]=2078&iframeembed=true&playerId=kaltura-player-0_wj8mdnfl&entry_id=0_wj8mdnfl&flashvars[streamerType]=auto

[2018-04-03 11:11] #324 closed

[2018-04-04 16:43] iteles opened #453 "Platform for creatives technical brief"
Follow on from  #427.

## Tasks
+ [ ] Call with PO to discuss evolving ideas
+ [ ] Finalising MVP
+ [ ] Write a technical brief for the work that came out of the workshop.

[2018-04-04 16:54] iteles commented on #453
Awaiting confirmation from PO on which MVP idea to pursue!

[2018-04-05 06:37] rub1e commented on #442
Our accounting system `Xero` has automatically `uplifted` all tax codes so we're all set

I'll include this in writing up #447

Ready to close @iteles ?

[2018-04-05 11:04] rub1e commented on #425
![image](https://user-images.githubusercontent.com/11595920/38362205-e4ac9e9a-38c7-11e8-8c51-13e2f70a0866.png)

Discovered https://hr.my/

* Free for life, unlimited users
* Logins for employees to request leave so employer can approve
![screenshot 2018-04-05 at 11 54 54](https://user-images.githubusercontent.com/11595920/38362526-11c7fd6a-38c9-11e8-8f60-29991f8e2254.png)
* Visual holiday tracker

[2018-04-05 11:57] iteles commented on #425
Okaaaaaay, but now it's set up, how simple is it for users?

[2018-04-05 12:03] nelsonic commented on #425
There is no such thing as "_Free for life, unlimited users_".
![image](https://user-images.githubusercontent.com/194400/38364756-bfec97cc-38d1-11e8-9f92-877a5d54b73a.png)

[2018-04-05 12:09] rub1e commented on #425
![screenshot 2018-04-05 at 13 08 16](https://user-images.githubusercontent.com/11595920/38364962-895c2082-38d2-11e8-9e90-fcbde829367c.png)

[2018-04-05 12:29] #442 closed

[2018-04-05 13:45] rub1e commented on #373
UPDATE: a big part of being able to work out `per-project profit` was completing #437

It did require going through all historical invoices and assigning client and sprint references (they were all just marked `spend money`), which did take a a few days... 😩

... 🤑 but totally worth it as we can now run reports in `Xero` splitting out clients (and sometimes but not always sprints) - which is what

[2018-04-05 14:10] rub1e commented on #321
UPDATE: movement on this 🔑 issue has been the activity on #373 (see update there)

Main takeaway :curry: is that we're holding ourselves to the following:

[2018-04-05 14:34] rub1e commented on #447
HMRC documents have been filed, staff have their P60s, basically we're all squared away for 2017/18 🔲

All that's left now is to document this mammoth 🐘

😑

[2018-04-05 21:43] iteles opened #454 "BE project extension"
BE is applying for funding to make their evidence-based medical care application commercially viable. This involves a small number of somewhat complex features which require a lot of review with the PO to properly estimate.

## Tasks
+ [x] Review initial proposed set of tasks
+ [x] Document extensive questions for clarification
+ [x] Call with PO for clarifications
+ [x] Call with PO to plot and c

[2018-04-05 22:16] iteles commented on #447
@rub1e Loving the use of emojis, very dwyl 😉
And hooray! 🎉 Thanks for all the hard work on getting all the admin and legalities set up and squared away here, working only 2 days a week no less! You've done a fantastic job 👍

[2018-04-10 08:12] rub1e commented on #445
With CharlieHR now retired, start dates for staff are stored in Xero.

Ready to close @iteles ?

[2018-04-10 09:16] iteles commented on #445
That'll do for now 👍

[2018-04-10 15:52] iteles commented on #438
Just received from consultants:

@rub1e Could you grab our CT600 (corporation tax return) from the HMRC portal for 2015/16 and 2016/17 please?

I've got the rest on file - let me know where to drop it in the G-Drive!

[2018-04-11 08:33] rub1e commented on #438
@iteles The CT600 returns aren't available online - you have to ask for them from HMRC and they'll post it to you which, according to the forums, takes around three weeks.

So I can do that or perhaps if we reply asking what exactly they need, we might be able to run a report in Xero that has all the relevant data.

If you want to just loop me into the emails, I can take it up with them

[2018-04-11 08:53] iteles commented on #438
Email sent but got an out of office until 16th April.

Let's ask for them anyway, worth having on file.

[2018-04-11 15:21] rub1e commented on #363
### Calculating a dwyler's daily cost

Obviously not putting up figures, but this is easily achieved by:

* Taking the employee's `gross pay`
* Adding 2% for pension contributions
* Adding on the `EmployER NIC` (just run pretty much any payroll report, e.g. `gross to net`)
* Dividing by 233 (253 working days in a year, minus 20 days holiday)

[2018-04-13 16:10] iteles commented on #454
Funding for this has been approved _in principle_ but keeping this issue open until we have a definite answer and a date.

[2018-04-13 16:12] iteles opened #455 "Ox project extension"
Ox have come back to us to ask for an extension of the mental health application for children we built for them last year.

## Tasks
+ [x] Agreement on scope
+ [x] Discuss project with dwylers and determine interest/availability
+ [x] Estimations for features
+ [x] Send through budgets
+ [ ] Receive response on budget and timelines
+ [ ] Agree timelines
+ [ ] Send contract to client
+ [ ] Send con

[2018-04-13 16:14] iteles commented on #455
Budgets sent through on 29-Mar-2018 (a little late creating this issue 😬), estimates carried out by @RobStallion and @parkhabit 👏

[2018-04-13 16:30] iteles commented on #438
@nelsonic We've just been sent a spreadsheet to add the list of projects templates with a few examples of the different projects that fall within the outlined project categories (we can add any that fall outside those categories as well).

We've also been asked:

Weekend fun? 😬

[2018-04-13 22:54] iteles opened #456 "EMF CE100 project extension"
Following on from user testing of #343 and with GDPR on the horizon, EMF are keen to further develop the application we have been building with them over the last 1.5 years.

## Tasks
+ [ ] Review request & return questions on scope
+ [ ] Estimations for features
+ [ ] Send through budgets
+ [ ] Receive response on budget and timelines
+ [ ] Agree timelines [current request is mid May to early Jun

[2018-04-14 17:47] iteles opened #457 "Tech partnerships with design agencies"
We have in the past been approached by a few design agencies to form a technical partnership.

For the most part we have said no as we were either in the early stages of forming a relationship with our current design agency partners or largely were not a good fit - the vast majority just want someone to outsource writing their code to and we don't operate in this way. If there is no desire to coll

[2018-04-14 18:26] iteles commented on #438
@nelsonic I've filled in the project names, but could you please fill out columns J & K? (note the notes in column N)

I'll fill in the others tomorrow.

[2018-04-15 12:40] iteles opened #458 "File annual confirmation statement 2017/18"
Annual confirmation statement for the 2017/18 financial year must be filed within the grace period (14 days).

Deadline: 16 April 2018

[2018-04-15 12:42] iteles commented on #425
@rub1e Had an email from @shouston3 noting he's had some trouble booking time off, please look into this with him (no mega rush, but this week or next would be good).

[2018-04-15 12:47] iteles commented on #262
@rub1e Annual confirmation going in on Monday #458 so we can finalise these docs and get them sent to CH 🎉

[2018-04-15 18:43] nelsonic commented on #438
@iteles which _rows_ do I need to fill? (_**all** of the **blank** ones?_)

[2018-04-16 09:08] iteles opened #459 "Adding interest on late payments to our supplier contracts?"
So far we have had one client who has paid us over a year late for their final invoice, another who we worked out a payment plan with (paying their final invoice over the course of a year) who is repeatedly 2-3 months late in payments and a third whose current oldest outstanding invoice with us is from last September (almost 7 months overdue).

We have briefly mentioned the possibility of adding a

[2018-04-16 09:08] iteles commented on #283
Closing in favour of #459

[2018-04-16 09:08] #283 closed

[2018-04-16 14:26] Cleop commented on #457
I think partnerships can work well when **expectations of roles/responsibilities are clear** from the outset. Ie. What is the role of a PO in comparison to a Scrum Master? How much/when should technical people from outside of dwyl be involved in a project if we're being hired as a technical team? When are dwyl allowed/not allowed access to the client's client? Sometimes not having access to the en

[2018-04-16 15:19] iteles commented on #458
<img width="597" alt="screen shot 2018-04-16 at 16 19 07" src="https://user-images.githubusercontent.com/4185328/38818150-f594c19c-4191-11e8-838e-1f74b0dc63f2.png">

[2018-04-16 15:19] #458 closed

[2018-04-16 16:33] katbow commented on #457
Agreed with @Cleop, and also expectations from a technical side! e.g setting the expectations for what sized screens will be styled to a T. I think alongside that, setting up some training at the beginning (like dwyl already does for GitHub training) for technical aspects that will be useful in the partnership would be great.

I think clients the design agency takes on is a factor as well. Even if

[2018-04-17 07:06] rub1e commented on #459
In theory, the `Late Payments of Commercial Debts Act 1998` 📜  means there's a statutory interest of 8% + BoE base rate :bank: once a payment has become late - and you don't need to explicitly include this in the agreement

What's not clear is how easy / practical it is to enforce this if it's not **actually explicitly** included 🖊

Going forward, I can't see any reason to not include it

[2018-04-17 11:18] iteles opened #460 "Work out F&C commission for Q1 2018"
@rub1e Let's please work out how much F&C can invoice us for at the end of April 2018.

As far as I'm aware, this will be for: Jen H, Kitty, Finn and Cleo 😊

[2018-04-17 11:28] iteles opened #461 "FY17/18 Year End Accounts"
These are due at the end of December 2018 at both Companies House and HMRC.

The first task here is to review what we have and make a list of tasks required!

@rub1e Let's both add to the checklist below please 😊

## Tasks
+ [x] Make sure all of our invoicing to clients is up to date as of 30th April 2018
+ [x] Ensure all our outstanding expenses are paid by 30th April
  + [x] Get F&C invoice sort

[2018-04-17 18:06] nelsonic commented on #438
@iteles I've filled in the cells for the relevant columns/rows. please take a look and leave a comment where anything else is required. thanks. 👍

[2018-04-18 06:38] rub1e commented on #460
Plus Jessica and some shrapnel for Sophie.

This is done for Q1 🎆

I'm thinking about a process for #443 but so far have done this manually - it's tricky because the names of the people working on a project are in a different place to the client invoices.

TBH for so few people it might be easier to do manually, but will still try to find a solution

[2018-04-18 07:06] rub1e opened #462 "Google GDPR compliance"
Google requires us to complete their `GDPR process` (cf. #404)

All we need to do is read their updated `Data Processing Terms` 📜

And

Nominate and register a `Data Processing Officer` 👮‍♀️, which I suggest should be @iteles as she is 💯 on all data processing matters, whereas I can barely even spell `GDPR`

[2018-04-18 07:50] rub1e commented on #462
Conveniently, I don't seem to have the required level of access to do this, which is odd because you increased my level to be able to access `support`

So @iteles either give me full double top secret level access 👁, or I'm afraid you'll have to do it yourself:

* Sign in to the `Google Admin console`.
* Click Nav icon.
* Select _Account_ and click _Company Profile_.
* Select _Profile_.
* Scroll t

[2018-04-18 09:14] rub1e opened #463 "Company Calendar (gcal)"
All `dwylers` with a G Suite account will have access to the `dwyl` shared calendar 📆

It's already been populated with people's birthdays 🕯 and a couple of HMRC 🚕  dates

From here, I'd like to make sure all recurring 🔁 and "predictable" events are captured in advance 📌

That way we can actually start using it!

Please add to this list with anything that occurs to you, and I'll do it all w/c 23rd

[2018-04-23 11:26] rub1e commented on #460
@sofer Please invoice dwyl for FAC Commission from 1st Jan to 30th Apr 2018 - **£5,469.75**

(This includes commission for Finn, Jessica, Kitty, Cleo, Rob, and Jen.)

I'm doing finance stuff today and tomorrow (24th) so if you could get an invoice in asap I'd be most grateful 😺

[2018-04-23 14:05] rub1e commented on #425
@iteles this was because he was trying to log into Xero, having not read my email about our new holidays process

It's all sorted.

Though it hardly matters now, I suppose.

[2018-04-24 08:56] rub1e opened #464 "Annual survey of hours and earnings (ASHE)"
It's so exciting - we have the opportunity to contribute data to the [Office for National Statistics](https://www.ons.gov.uk/)' Annual Survey of Hours and Earnings ([ASHE](https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/bulletins/annualsurveyofhoursandearnings/previousReleases))!

What an honour 😊 . It's also a legal requirement and we could be prosecuted if w

[2018-04-24 16:44] iteles commented on #438
Got confirmation today that they finally have all the info they need (after a couple of phone calls of project-specific questions).

I have also emailed our accountants to confirm that they are happy to file this at the end of the week.

Almost there!

[2018-04-25 11:17] iteles commented on #438
Finalising CT600 paperwork.

[2018-04-26 13:50] iteles commented on #438
All done, R&D consultants and our accountants are in touch, everything is agreed and we're good to go.

[2018-04-26 14:06] nelsonic commented on #438
https://getyarn.io/yarn-clip/dfa11304-87d0-45ec-8ec3-7d49bedfc76d

[2018-04-26 14:43] iteles commented on #438
🙄

[2018-05-01 08:22] rub1e opened #465 "Submit pensions compliance form to regulator"
According to Xero we need to declare our pensions compliance:

![image](https://user-images.githubusercontent.com/11595920/39466439-e1b596e8-4d20-11e8-9eb8-5e472d01faed.png)

We may need to apply for a password/code and they take time so I should start this asap

https://www.autoenrol.tpr.gov.uk/TPRGateway/Home

[2018-05-01 11:39] iteles commented on #430
We ended up with `{date}-{amount}-{description}--{client}`

But this process works! 👍

[2018-05-01 11:39] #430 closed

[2018-05-01 12:45] iteles commented on #456
Finalising timelines: 21st May or 28th May.

[2018-05-01 18:09] iteles commented on #438
Done and filed!

Thanks to @nelsonic for filling in all the technical challenges and complexities for relevant projects and
Thanks to @rub1e, thank you for doing _all_ of the pulling together of data from `all the places`, making my estimating job really easy. Gotta have data to make the decisions! Your initiative is MUCH appreciated.

[2018-05-02 11:09] rub1e commented on #460
I've downgraded this to `P3` and I've put a recurring appointment in the dwyl calendar to calculate this every quarter

[2018-05-02 11:58] rub1e commented on #462
@iteles You're now officially the `GDPR` guru, this is done 👍

[2018-05-02 11:58] #462 closed

[2018-05-02 12:41] rub1e commented on #465
Didn't need to apply for a code so just knocked this out now - no gotchas, just informing the regulator that we've done our legal duties re pensions by filling in a short form.

[2018-05-02 12:41] #465 closed

[2018-05-02 13:03] rub1e opened #466 ""dot app" (.app) TLDs"
Thanks to @Jbarget for pointing out what's going on with `.app` TLDs 🕸

https://developers.googleblog.com/2018/05/introducing-app-more-secure-home-for.html

These will be available from Domain Registrars ®️ from 8th May, but we can _pre-book_ now for free at our preferred provider `iwantmyname` (the pre-reg is free, but the costs of the domains won't be up until 48hrs before 8th May).

So, do we w

[2018-05-02 13:07] nelsonic commented on #466
Yeah, saw the announcement yesterday ...
![image](https://user-images.githubusercontent.com/194400/39524752-ed6daf4c-4e11-11e8-8d35-9ff213ba7385.png)

It's _tempting_, but it's probably going to be a "premium" domain (which means another $30 of "rent" per year) with not much _value/benefit_ ... given that we have the **Trademark**, we can easily complain to Google/ICANN if anyone `else` tries to u

[2018-05-02 13:11] nelsonic commented on #462
@iteles endorsing you for GDPR on LinkedIn now ... 😜

[2018-05-02 14:37] nelsonic commented on #466
Discussion: https://news.ycombinator.com/item?id=16967865
Basically some people are _concerned_ that Google can "shut down" your `.app`
for not complying with their Terms of Services ...
Not that I think dwyl would ever have any issues "complying" ... 🤔

If there is a demonstrable SEO benefit from using an `.app` domain I _could_ be persuaded.

[2018-05-03 09:12] rub1e commented on #466
JFC why does it all have to be so fiddly - I'm now reading pages and pages of ICANN docs which look like they were laid out in the 90s using `MS Works`

I've reserved one for Killer just because why not, but you're right it would be good to see if there is any intrinsic benefit to it - whether SEO or consumer trust

[2018-05-08 10:57] rub1e commented on #443
@iteles can I close this in favour of #460 ?

[2018-05-08 11:08] rub1e commented on #256
We'll need contents insurance when we move to Space4 and the process will be made easier when we go through FocusHub and inventory everything (https://github.com/dwyl/focus-hub/issues/136).

I'll recontact Digital Risks when we do this

[2018-05-08 13:52] rub1e opened #467 "Can we reclaim VAT from Portugal?"
We can, it's fiddly, and it's certainly worth a spike

* [ ] Investigate conditions under which we can reclaim VAT from EU purchase
* [ ] Investigate if there are any Portugal-specific requirements (each country is different)
* [ ] See if we can apply it to previous transactions
* [ ] Document process

[2018-05-08 14:34] nelsonic opened #468 "No Reply Amail Address noreply@dwyl.com (antipattern)"
![image](https://user-images.githubusercontent.com/194400/39763419-f16ba2f8-52d4-11e8-8b53-4b05936a3bcd.png)

sending email from a "no reply" is an _antipattern_ we need to avoid.

[2018-05-08 15:00] rub1e commented on #468
Took me a while to remember, but there is a reason for this! Unsurprisingly it's `autocrat` related 🙄

The email either comes from a generic address (which we can't specify) or the address of the last person to edit the spreadsheet.

To avoid the email coming from a different address every time, [we chose](https://github.com/dwyl/hq/issues/302#issuecomment-357926026) to keep it set to the generic

[2018-05-09 09:30] rub1e commented on #464
It wasn't that exciting after all 😿, but it is done - if we receive one again next year, Xero has pretty much all the info needed to fill it in (things like start date, salary, holidays etc.)

[2018-05-09 09:30] #464 closed

[2018-05-09 09:51] rub1e opened #469 "EPIC: Moving into Space4"
What sort of things do we need to think about before moving into Space4? Please add to this list, even if it's just questions

* [x] Do we need a lockbox for private documents etc.?
* ~[ ] Do we want to have a dedicated phone number?~
* [x] Contents insurance - #256
* ~[ ] Mail forwarding~
+ [x] Update the address on Google My Business
* [x] Change address on Santander bank account (need to wait u

[2018-05-10 17:07] iteles commented on #468
@nelsonic Can I edit the title here to reflect the autocrat bug that the reply-to email address isn't working?

[2018-05-10 17:11] #443 closed

[2018-05-10 18:59] nelsonic commented on #140
(_Old_) Values Copy for: https://dwyl.com/values

<hr />

# People 🤝
Our people are our primary focus, not profit. We have a worldwide community of over 400 creative technologists. We believe in inclusivity and accessibility and want to enrich the lives of everyone in our community.

# Transparency 🔎
Open-Source and Open-Kimono: we’re building dwyl for all to see! The vast majority of dwyl project

[2018-05-10 19:16] nelsonic commented on #468
Autocrat indeed ... https://en.wikipedia.org/wiki/Autocracy
Who would call their project/software that ...? 😕

I've searched the HQ issues for "requirements" for what we need(ed) for invoicing all I can see is: https://github.com/dwyl/hq/issues/302 ...
Which is not what I would describe as "requirements" ...
any "_solution_" that forces us to send email as `noreply@dwyl.com` is _not_ "fit for purp

[2018-05-10 20:15] iteles commented on #446
Completed with https://github.com/dwyl/process-handbook/pull/99 👍

[2018-05-10 20:15] #446 closed

[2018-05-15 08:40] rub1e opened #470 "New dwyler invoicing app / process"
The [current invoicing app](invoice.dwyl.com) is a yuge time-saver. **Yuge**.

But there are some bugs 🐞 associated both with the dwyler-facing form, and with the add-on used to generate pdf invoices (`autocrat` 👮) :

* #468 - emails come from generic no-reply address
* #450 - invoice numbers aren't universally unique
* #423 - multiple emails sometimes sent when invoice submitted
* https://github.

[2018-05-15 10:17] nelsonic commented on #470
Hi @rub1e _thank you_ for opening this issue to _capture_ the "issues" with invoicing.
Invoicing was always intended to be a "feature" of our "**Time Tracking**" app; _**not** a **separate** "App"_.

So the "workflow" _should_ be:
+ **Product Owner** creates "Stories" based on feature request from People Using **Product** ("Users")
+ Stories are broken down into "Tasks" (_during Sprint Planning_)

[2018-05-15 10:35] iteles commented on #470
Agreed, I think we're all very aware of this. But this won't be done until 'Time' is prioritised.

Thanks for capturing the wider issue (root cause) @nelsonic 👍

[2018-05-15 11:05] iteles commented on #192
Dealt with, linked to #430

[2018-05-15 11:05] #192 closed

[2018-05-16 18:38] samhstn opened #471 "Removal of personal dwyl email addresses"
My email address `sam@dwyl.com` was deleted today without notice.

@iteles @rub1e could you clarify why this has happened? Have I lost my email data?

As a member of the dwyl community and a contributor to dwyl repositories, I would like to know the how personal `dwyl.com` email addresses are managed and what the process is for notifying dwyl email owners of when major changes to their email addre

[2018-05-16 19:37] rub1e commented on #471
Hi @samhstn, from our previous chats I was under the impression this was just your forwarding address rather than a main email address (and therefore all your emails would be saved in your personal account).

`dwyl.com` email addresses are traditionally given out to those working with dwyl clients directly on projects so we have organisational clarity and communication, they're not given out to th

[2018-05-16 20:17] samhstn commented on #471
I'm just glad that the data shouldn't be lost. I have important information on that email address and need it as soon as possible. I should be able to wait until tomorrow morning though.

[2018-05-17 15:50] iteles commented on #454
🎉 Work begun on this May 10th with @RobStallion and @sophielevens, @Danwhy as QA 😊

[2018-05-17 15:51] #454 closed

[2018-05-22 13:07] iteles commented on #145
https://www.managementtoday.co.uk/wd-40-stayed-disruptive-despite-selling-product-60-years/reputation-matters/article/1464488

[2018-05-23 15:37] rub1e commented on #448
Just attempted this and `iwmn` want £39 for *gitbu.co* - just want to check we're happy with that price?

[2018-05-23 16:17] nelsonic commented on #448
@rub1e spending £39 to transfer the domain is "_not urgent_".

[2018-05-23 16:52] iteles commented on #448
Meh. If there’s a cost let’s just keep them where they are and we can transfer them when they’re up for renewal.

[2018-05-23 16:52] #448 closed

[2018-05-26 23:05] Mihailoff commented on #438
It is quite impressive to witness #HyperTransparency in action!

@iteles you can check out [Quantify](https://github.com/qntify) to see how they are solving this "reporting hell" problem.

[2018-05-29 11:19] nelsonic commented on #262
@iteles I counter-signed the resolutions this morning 🖊 [>](https://en.wikipedia.org/wiki/The_pen_is_mightier_than_the_sword) 🔪
if you take them with you to Space4 tmrw, @rub1e can send. ✉️
(_thanks **both** for doing this ..._)

[2018-05-29 13:05] rub1e commented on #262
I feel really bad because I'd asked @iteles to put them in a folder for me and she actually had but I'd forgotten about this whole thing.

I think there's a post office on my way in so I'll file them in the morning (30/5)

[2018-05-29 14:06] rub1e commented on #469
29/5

Contents insurance requested from our existing provider Digital Risks. Fairly limited in terms of what we need cover for, and DR will try to do it for free as a gesture of goodwill after failing to respond to several of my emails.

Mail forwarding decided against because it's very expensive and we still have access to no 16 to pick up our post ourselves

[2018-05-30 16:46] rub1e commented on #262
Sent. Will close after confirmation from CH

[2018-05-31 16:33] rub1e opened #472 "Sick days process"
* [ ] Figure out how to account for sick days in Xero
* [ ] Check legal statutory pay requirements etc.
* [ ] Write up sick leave policy
* [ ] Document Xero process

[2018-05-31 18:26] iteles commented on #455
Chased again but they're in no hurry! Still waiting for a response.

[2018-05-31 18:37] iteles opened #473 "PoC | QL in virtual learning environment"
We've been asked to come in to discuss a mini proof of concept piece around having QL work within City's virtual learning environment.

## Tasks
+ [x] Meet to discuss scope
+ [x] Initial meeting with LTI to discuss feasibility
+ [x] Agreement on scope
+ [x] Discuss project with dwylers and determine interest/availability
+ [x] Estimations for features
+ [x] Send through budgets
+ [x] Receive respo

[2018-05-31 18:37] iteles commented on #473
First meeting booked: Tuesday 5th June.

[2018-06-01 10:44] nelsonic commented on #161
Re-opening and self-assigning as this _absolutely_ still needs to get done.

[2018-06-05 09:31] rub1e commented on #374
I should have closed this a while ago - Nelson agreed verbally with https://github.com/dwyl/hq/issues/374#issuecomment-363835287, so this is closed in favour of #373

[2018-06-05 09:31] #374 closed

[2018-06-05 11:36] rub1e commented on #256
Digital Risks have kindly given us free `Contents Insurance` (£100 excess, which was the minimum), to compensate us for having ignored several of my emails for several weeks

The policy documents are saved `Legals (private) > Insurance`

Closing now - will re-open if any documents need updating

[2018-06-05 11:36] #256 closed

[2018-06-05 12:55] iteles commented on #473
General scope:
1. LTI Integration
2. Non-synchronous functionality
3. Performance and session management
4. Styling enhancements

[2018-06-05 15:19] rub1e opened #474 "Document pensions process"
The pensions process is quite awkward, and needs to be documented as part of the payroll process.

* [ ] Document process for The People's Pension payments
* [ ] ... for Xero
* [ ] ... for opt-outs & refunds

[2018-06-05 16:26] rub1e commented on #474
And before any of that can happen, I need to get TPP to amend our pensions start date because I just found out that Xero and TPP are refusing to integrate (might have been nice to be told about this two months ago... 🙄)

[2018-06-06 13:03] rub1e commented on #469
We're here, we're insured (#256), Google is processing the address change... any reason to keep this open @iteles ?

[2018-06-06 16:46] rub1e opened #475 "Booking holidays"
A dwyler has expressed confusion about how to use Xero for booking holidays.

* [ ] Document process for employees booking holiday in Xero
* [ ] Review holidays policy (may as well while I'm at it!)

[2018-06-06 20:58] iteles commented on #469
Nope!

[2018-06-08 21:51] nelsonic opened #476 "WebSummit?"
@iteles I have been offered an "Alpha" ticket to WebSummit https://websummit.com
I haven't been for the last couple of years and I'm _tempted_ to go as I will _already_ be in PT.
Are you considering going? (_do you still have "free" tickets?_)

_especially_ those who have never been.

[2018-06-08 22:41] nelsonic commented on #161
Ok, I've made an attempt to capture background info and some requirements in: https://github.com/dwyl/contact
I'm _removing_ the `P1` label and unassigning myself from this issue
because I think we have other _higher_ priorities than CRM ...
@iteles if you feel that this _should_ be my/our highest priority please comment to that effect. thanks!

[2018-06-09 08:02] iteles commented on #476
I _don't_ have a ticket and although I've had a look around and signed up to the 'Women in Tech' network (I had previously ***un***subscribed from the insane amount of useless emails they bombard people with), I haven't had any success yet for a WiT ticket.

I _wasn't_ considering going and I wouldn't pay money to go. But seeing as we're in Portugal already this year and _if_ we get free tickets t

[2018-06-09 08:06] iteles commented on #161
Closing this issue in favour of capturing further work in the contact issue.
Thank you for making progress on writing down your experience on this @nelsonic 🎉

[2018-06-09 08:06] #161 closed

[2018-06-12 09:59] rub1e commented on #262
Updated `Articles of Association` now appear on our Companies House listing so this is now complete

[2018-06-12 09:59] #262 closed

[2018-06-12 12:40] rub1e commented on #469
Reopening because we need to change the addresses on our bank accounts

[2018-06-12 13:28] rub1e commented on #425
Closing because I've updated Xero with everyone's holiday allowances, and I'll write up the process for that along with general setting up / amending staff on Xero process

[2018-06-12 13:29] #425 closed

[2018-06-12 14:14] iteles opened #477 "Clarity around break even numbers"
Following on from making a good dent into our end of year accounts #406 (yay @rub1e! And it's not even the month before the deadline or _anything_!) and linked to https://github.com/dwyl/hq/issues/321

With a hybrid PAYE employee/freelancer model, there is a little less clarity around how much the true cost of each person in the organisation is and how much we have to make sure we cover with our c

[2018-06-12 16:02] iteles commented on #411
@rub1e I have chased TC for the outstanding money they owe us. Will leave the rest to you 😊

[2018-06-13 09:52] rub1e commented on #365
We've moved! I've updated the signatures document with our new address, but Google hasn't processed the move yet so the link to our Google Maps entry has been removed for the time being

I've also removed people not *currently* working on dwyl projects from the list in the top comment for ease

I won't start chasing people until we have the correct 🗺  link, but if anyone sees this in the meantime

[2018-06-15 10:03] roryc89 commented on #476
I may be going as Rebeca gets a free ticket. But not sure if I'll pay to attend or just be staying nearby.

[2018-06-18 15:18] iteles commented on #473
We had a call with an LTI specialist and uncovered the many limitations of moodle when it comes to integrating with third party systems.

Further conversations are to be had on scope.

[2018-06-18 15:25] nelsonic commented on #473
Also: https://blog.ripstech.com/2018/moodle-remote-code-execution 🙄

[2018-06-19 11:27] iteles commented on #477
@rub1e You're a *gem* 💎
So nice to _finally_ have some clarity around this kind of number #321.

Let's walk through them tomorrow and then we can close?

[2018-06-19 12:59] iteles commented on #473
Scope for estimating:
1. Auth
2. Single item in gradebook
3. iFrame with public leaderboard for a module

[2018-06-19 13:17] rub1e commented on #428
I've upgraded the priority to `P2` because this has become an actual barrier to productivity

[2018-06-20 10:48] iteles commented on #473
Estimates discussed with @Danwhy, budgets sent through.

[2018-06-20 13:39] rub1e commented on #477
First thing to note is that employees cost a lot more than their headline pay figure, when pensions and taxes are included - c.10% more.

So, someone on e.g. £3k/month costs the company closer to £3.5k/month - and this needs to be factored in when doing this calculation (fortunately `Xero` calculates employees' total cost for us 😁)

So the calculation here would be:

* Take employee's total monthl

[2018-06-20 14:14] rub1e commented on #461
We have a potentially sticky wicket to handle with the VAT for this period:

It seems that we've either been over-paying or under-paying for VAT for over a year - basically the last time our VAT account was balanced was May 2017!!

HMRC are sending me a VAT ledger (whatever that is) and I'll go through it and try to find the source of the error

@iteles I might ask for your help, because the accou

[2018-06-20 15:38] iteles commented on #477
SO SO happy to finally have this. You're a peach @rub1e 🎉

Also, 😆 at the 🍵

[2018-06-20 15:38] #477 closed

[2018-06-21 18:07] iteles opened #478 "Learning platform workshop"
We've been invited to hold a proposal workshop to get to know a potential client and better understand their requirements for a learning platform.

## Tasks
+ [x] Initial call
+ [x] Receive brief
+ [x] Send back questions
+ [x] Book meeting space
+ [x] Prepare workshop

[2018-06-22 10:39] iteles commented on #455
Unlikely this will go happen at least for now given some big changes at the NHS.

[2018-06-22 10:39] #455 closed

[2018-06-23 11:47] nelsonic opened #479 "Apple Keyboard Service Program for MacBook and MacBook Pro"
Apple has _finally_ admitted that MacBook and MacBook Pro keyboard is not 100% reliable.

https://www.apple.com/support/keyboard-service-program-for-macbook-and-macbook-pro
![image](https://user-images.githubusercontent.com/194400/41809108-9e68f162-76df-11e8-8671-b9694f2be53f.png)

Might have _something_ to do with the Recall petition:
https://www.change.org/p/apple-apple-recall-macbook-pro-w-defe

[2018-06-25 15:45] nelsonic opened #480 "Paper Mail (PMail) Process > Automation"
Do we have a defined process for handling Paper-based Mail and how _automated_ is it?

@iteles please excuse me if this issue/idea is _already_ captured elsewhere.
I did try searching GitHub for "mail": https://github.com/search?q=org%3Adwyl+mail
and looked at: https://github.com/dwyl/process-handbook

[2018-06-26 23:37] nelsonic commented on #366
Picking this up in PT. considering filming / timelapsing the work.

[2018-06-27 09:34] rub1e commented on #138
Where is the phone now? I shall attend to it

[2018-06-27 09:42] iteles commented on #138
It's in my hand as we speak, I've been carrying it around in my work bag for the last 3 weeks and keep forgetting to leave it at the office, will do so tomorrow!

[2018-06-27 11:33] rub1e commented on #138
Pop it in the locker and I'll take care of it (as discussed, the key is actually where it always was, in the box)

[2018-06-27 13:51] SimonLab commented on #480
@rub1e tinyscanner? https://play.google.com/store/apps/details?id=com.appxy.tinyscanner&hl=en_GB

[2018-06-27 15:05] rub1e commented on #480
@SimonLab totes amaze!! I knew the internet would provide a ready-made solution!

[2018-06-28 13:17] nelsonic commented on #479
@iteles I know you were _considering_ doing this repair in PT next week ...
Have you _booked_ an "appointment" to get the repair done?

[2018-06-28 13:28] iteles commented on #479
Yes!

News on this: if you take them to the Apple Store, they take 7-10 days. If you book in with an authorized reseller _through_ the Apple website, it should only be 5-7.

I've booked in with an authorized reseller on Wednesday at 13h20 in Porto, seeing as I'll have my iPad with me and we have to be 'off dwyl' for the end of next week doing some work to pay for the dwylsummer house 👍

[2018-06-28 13:30] nelsonic commented on #479
@iteles sounds good. iPad is a _good_ "stop gap".
we can collect the "Spare" MacBook Air 11' from Carca.
(_that I gave to @carolrmc but she doesn't `use`..._) 🙄
So you can still have a _full_ laptop to get work done (_if you need_)

[2018-06-28 13:33] nelsonic commented on #479
This is a _great_ read on the subject: https://ifixit.org/blog/10229/macbook-pro-keyboard 📖
via: https://news.ycombinator.com/item?id=17413572

[2018-06-29 22:51] iteles opened #481 "Research and Development tax relief for FY17/18"
We should review our FY17/18 projects whilst they are still fresh in our minds and determine which might be eligible for R&D tax relief, following on from #438.

## Tasks
* [x] Identify qualifying projects and populate `Project list` with basic info @iteles
* [x] Populate `Cost Collection` sheet with as much info as possible @rub1e
* [x] Discuss %age of time spent by each dwlyer on R&D-qualifying

[2018-06-30 21:00] iteles commented on #478
Workshop held on Thursday, thanks @nogainbar @nelsonic !

[2018-06-30 21:00] #478 closed

[2018-07-03 09:26] rub1e opened #482 "Keeping track of dwyl books"
A place to keep track of dwyl books 📖

Please note down here when people have borrowed books, and mark when they've returned them.

[2018-07-03 11:26] rub1e opened #483 "VAT Return | May 2018 to end July 2018"
VAT return for the period of 01.05.2018 - 31.07.2018.

Deadline: 1st Sept 2018.

VAT return and payment deadline is 7th Sept but this task needs to be completed ahead of time so that we can ensure the correct funds are available in our outgoing account for this date.

Further complication is added by the fact that HMRC's account for us is massively unbalanced (see https://github.com/dwyl/hq/issues

[2018-07-03 15:43] rub1e opened #484 "VAT on international purchases"
Now that we are a UK company buying things from Europe-based companies and delivering them to another Portugal, there's a bit of VAT difficulties

For example, a recent Amazon purchase bought using the company Amazon account from a seller in Luxembourg was sent to Portugal and charged at Portuguese VAT rates (`IVA` @ 23%)

So the question is, how to account for this (and possibly related to #467 )

[2018-07-04 09:01] rub1e commented on #138
I've got a place that's well reviewed called `iSmash`; I'll take it in next time I'm in town so we save on the postage 🏣

[2018-07-04 10:42] rub1e commented on #342
Update - Xero and TPP aren't integrating *at all*. As usual, each party is blaming the other's systems.

I've done everything I can to make sure the details on each system are correct - the problem is on one/both of their ends, but neither is taking responsibility.

To make matters worse, we owe TPP a bunch of money but we can't settle up until the systems are talking to each other. They won't cha

[2018-07-04 15:41] rub1e commented on #383
I've had a quick look at the Xero `Projects` add-on and it's certainly worth looking into properly 👁  - so I'll start the free trial next week and see if it's worth the extra cost 💸

The main functionality it adds is the ability to add invoices to a specific project, which lets you see the project's profitability at a glance, so useful for #373

There are also a few other features like time tracki

[2018-07-06 16:47] iteles commented on #138
@rub1e I handed my phone to @sofer who kindly agreed to bring it in to the office. Did he hand it to you?

[2018-07-07 07:42] rub1e commented on #138
@iteles Yeah all good, it's in my bag. Depending on where I watch the footie, I may even hand it in today, but currently unclear

[2018-07-11 11:07] rub1e commented on #480
I was arrogant to think this would be without complications.

Re `tinyscanner`: I'm not convinced it's better than just taking photos

Re `process` - I've just taken a photo of a bill, then uploaded it to my `drive`, renamed it, then tried to send it to the *dwyl* `drive`, but in the end it was faster to add it to a folder in my own `drive` and share it with @iteles

Needless to say, this is not a

[2018-07-12 11:52] iteles commented on #482
We should get https://github.com/dwyl/library up and running properly!

[2018-07-12 11:57] iteles opened #485 "Reducing alcohol consumption website"
The folks running a movement to reduce alcohol consumption have been in touch to ask us to work with them on the next iteration of their MVP.

They have an interesting model where brands and venues offering alcohol-free or low-alcohol 'transition' drinks are featured and they are also sponsored by a few interested institutions like city councils and brands.

The budget here is small so my guess is

[2018-07-12 11:59] iteles commented on #473
Moving forward with @Danwhy and @sophielevens 🎉

[2018-07-12 11:59] #473 closed

[2018-07-14 15:10] iteles commented on #479
Working great! I'd heartily recommend it. 👍

Took about 3 working days at an Apple reseller (booked through the Apple website) and I used a backup computer for those days.

[2018-07-16 12:17] iteles commented on #478
@nogainbar @nelsonic AfG went with SBLabs, we'll know more tomorrow 👍

[2018-07-17 11:44] rub1e commented on #467
https://www.gov.uk/guidance/vat-refunds-for-uk-businesses-buying-from-other-eu-countries

https://www.gov.uk/guidance/vat-guide-notice-700#section10

https://www.gov.uk/guidance/vat-and-the-single-market-notice-725#section7

https://www.gov.uk/government/publications/vat-notice-70012-filling-in-your-vat-return

💤 😴

[2018-07-18 11:24] rub1e commented on #438
We've now got all the money back from HMRC; it matches roughly with what we're expecting (we actually got ~£150 more than expected, because HMRC paid us interest!!)

I'm just reopening this because I've added one more task - to check & reconcile these figures.

And I just need one more letter to arrive from HMRC with some calculations on it before this can be closed off entirely (for some reason t

[2018-07-21 08:50] iteles commented on #478
Reasons we were not chosen:
+ Following a phone call pre-workshop to determine focus where we tried to ask multiple questions about the long term and were told to concentrate only on 'Phase 1', other possible partners went into the longer term in the workshops and that ended up being preferred
+ Other partners had a body of work that included a lot of 'strategy' pieces explicitly so were seen as p

[2018-07-24 13:35] rub1e opened #486 "New client process"
Draft process for when we start working with someone new (after work is commissioned)

* Write supplier contract
* Go to Settings > General Settings > Reports > Tracking and add them to the client list
* Add them to `contacts` (along with their banking info if you have it at this stage)
* Create job folder (if one wasn't already created during proposal phase)

[2018-07-24 13:35] rub1e commented on #486
Placeholder for now - will finish off when #428 complete

[2018-07-24 13:38] rub1e commented on #484
Our bookkeeper says she's not hot on int'l VAT so have approached our accountants to see if their VAT dept can help

[2018-07-24 15:45] rub1e commented on #469
Added changing address on government websites (again) because it seems they treat various services (VAT, PAYE etc.) differently and you need to manually change both office address and postal correspondence address separately

So even though we've changed our address on some systems, it hasn't `propagated` through to others

Will tick after 48 hrs when have confirmation

[2018-07-24 16:43] rub1e commented on #428
Folder structure: a proposal

(The folders are such a mess that I'm not even going to bother trying to map old folders onto new)

Let's start with the core `dwyl-private` folder:
* CLIENTS - `Folder for each client`
  * CONTRACTS
  * FINANCE (POs, invoicing etc.)
  * "MY-PROJECT" - `Folder for each project`
    * PLANNING
    * DESIGN & ASSETS
    * CREDENTIALS (e.g. heroku login, api keys)
    *

[2018-07-25 10:01] rub1e commented on #480
Just leaving this here until I find a place for it: because of how the Royal Mail 👑  has this address on their database (either 149 or 139-149 or 141-149), the post can sometimes end up in various places - so **at least once a week** someone (me) needs to check in the pigeon holes round the back entrance for incoming mail.

[2018-07-26 16:45] iteles opened #487 "Diversity and Inclusion MVP"
We've been approached to discuss working on a D&I MVP.
This is an MVP in the sense that it will most likely be the bringing together of a number of existing platform, or at least 2 with a bespoke layer at the centre.

Before going any further, it is likely that timelines will be a factor here so we have agreed to discuss availabilities before anything else.

## Tasks
+ [ ] Initial call
+ [ ] @itel

[2018-07-26 18:08] iteles commented on #485
We're officially working with CS on this 🎉
I have added some more tasks to the top issue so we can kick this off and close the issue.

[2018-07-28 21:13] iteles opened #488 "Potential new mini project | Children's mental health app"
This is a tiny project (less than 2 sprints) as a proof of concept for a well known UK children's charity.

## Tasks
+ [x] Initial conversation (@iteles)
+ [x] Help them narrow down their MVP to something somewhat doable (@Cleop)
+ [x] Further discussion on next steps (@iteles & @Cleop)
+ [x] Mini proposal
+ [x] 'Pitch' deck
+ [x] 'Pitch' call with head of department
+ [x] Await response
+ [x] Set

[2018-07-30 11:57] iteles commented on #485
Contract sent, currently confirming workshop days.

[2018-07-30 12:12] iteles commented on #460
Coming up to that time of year again... @sofer 😉

[2018-07-30 14:42] iteles opened #489 "Small City proof of concept"
An as-yet-unknown subject, we have been asked to have an initial call to discuss the possibility of working together. The product owner is a professor of Cyber Security so I'm very curious about this one!

## Tasks
+ [x] Initial call
+ [x] Review of high level requirements
+ [ ] Send a high level idea of potential scope to see if we might even be in the ballpark of what they need or if different p

[2018-07-30 15:21] iteles commented on #487
Call booked for Thursday, with support from @SimonLab and @Danwhy for estimating.

[2018-07-30 19:10] iteles commented on #486
@rub1e Should this issue be in https://github.com/dwyl/process-handbook/ instead?

[2018-07-30 19:28] iteles commented on #475
@rub1e This has come up again, so bumping the issue.

[2018-07-31 08:25] rub1e commented on #461
The VAT ledger has arrived - mercifully our entire VAT history fits onto a single page of A4... but the explanatory notes to the ledger cover 4.5 sides of A4 😆 😟

[2018-07-31 09:50] iteles opened #490 "QL Study plan & forum PoC"
In our final update to QL, we will be building in a study plan and a forum proof of concept.

## Tasks
+ [x] @iteles to review scope with PO
+ [x] More detailed scope received
+ [x] Further review of scope (@danwhy & @sophielevens 💯 )
+ [x] Agree time for spikes
+ [x] Carry out spikes (thanks @danwhy)
+ [x] @iteles to send over budget
+ [x] Agree budget
+ [x] Await PO
+ [x] Send out invoice

[2018-07-31 10:53] rub1e opened #491 "Managing holidays - freelance dwylers"

[2018-07-31 10:55] rub1e commented on #475
@iteles I'm going to leave this for Xero holidays (i.e. dwylers on PAYE) - for freelancer holidays, see #491

(I'll still write up the process though!)

[2018-07-31 11:28] rub1e commented on #491
## For freelancers

* Get login details from @rub1e or someone similar
* Log in

* Hit the `leave` nav button and hit `application` (screenshot)
![screenshot 2018-07-31 at 12 14 08](https://user-images.githubusercontent.com/11595920/43456442-6ecfc422-94bb-11e8-9878-8a40c88f06b9.png)

* Hit the ➕ under `Transaction` to open a new holiday request (screenshot)
![screenshot 2018-07-31 at 12 16 33](htt

[2018-07-31 11:56] rub1e commented on #491
## For admins

* Note that your login is an employ**er** account, so log in accordingly (screenshot)
![screenshot 2018-07-31 at 12 33 36](https://user-images.githubusercontent.com/11595920/43457293-4e613d6c-94be-11e8-93cf-f8432e2694e9.png)

* Hit the `leave` nav button and select `planner/schedule` (screenshot)
![screenshot 2018-07-31 at 12 37 03](https://user-images.githubusercontent.com/11595920

[2018-08-01 15:02] rub1e commented on #461
I'll have to check this again and confirm it with HMRC directly, but the ledger was actually really helpful and this took no time at all

Basically our account was perfectly balanced until 18th May 2017, and then it *somehow* becomes unbalanced.

The culprit seems to be the practice of transferring HMRC our VAT payments but rounded to the nearest £5k - so we're always in credit.

Spookily, this pr

[2018-08-01 16:35] iteles commented on #461
@rub1e Fantastic, thank you for getting to the bottom of this.

We have a month after the end of each VAT period to put together the returns and we always open the issue for the next VAT period as we close the current one so I expect it won't be too hard to continue to stay ontop of this for FY18/19 👍

[2018-08-01 18:12] iteles commented on #490
Confirmation received, will begin Monday 6th August @Danwhy

[2018-08-01 18:12] #490 closed

[2018-08-01 19:56] iteles commented on #428
Yes. Thank you @rub1e, let's get this done.

There are only a couple of things that we use semi-regularly and might need additional folders for:
+ Employment letters / letters of recommendation
+ Contracts with non-client third parties (e.g. lawyers or accountants) - under Legal I assume
+ Airsupply - could do with its own folder for clarity

How about important company documents like VAT registra

[2018-08-03 07:31] nelsonic commented on #485
The reason I participated in the "pitch" for this project is: https://github.com/dwyl/health/issues/48
My _belief_ is that this Client/Partner is doing "_Good Work_"
promoting a healthy alternative to Alcohol consumption.

**`if`** I write _code_ for this project it will be: [https://github.com/dwyl/**adoro**](https://github.com/dwyl/atm) & [https://github.com/dwyl/**atm**](https://github.com/dwyl

[2018-08-06 15:10] iteles commented on #461
@rub1e Had a call from our accountants saying they can now go ahead and issue the dividends voucher (as I mentioned, this is only needed for Mark and Nelson and I didn't draw any dividends from the company in FY17/18) so we can soon cross this off the list 👍

Thanks for getting us into a position where we're far enough along with the final bits and pieces to do this! 🙌

[2018-08-06 15:15] iteles commented on #485
Workshop booked! Kick off this Wednesday with @harrygfox 🎉

[2018-08-06 15:15] #485 closed

[2018-08-06 20:45] edwardcodes commented on #322
Hello, how can I invoice dwyl?

[2018-08-07 09:59] rub1e commented on #322
Hey @edwardcodes , it's probably easier if I get the information off you and create the invoice myself - I'll send you an email shortly!

[2018-08-07 10:33] edwardcodes commented on #322
Hey @rub1e Thank you for the explanation! Please use this email: edu_martins7@hotmail.com

[2018-08-07 11:01] rub1e commented on #460
Hello @sofer! If you've recovered from your 35th birthday japes 🍰 🍾 , could you please invoice us for **£3,241.70** for the period 1st May 2018 to 31st July 2018

Thank you kindly

[2018-08-07 13:12] rub1e commented on #484
Our accountants say they can research any questions we have about international VAT and debrief us at a rate of £100/hour.

Before we ask them to do this, let's get the questions straight!

* We buy lots of stuff from Amazon. Sometimes no VAT is charged, sometimes UK VAT (20%) is charged and we can reclaim it, and now it seems that Portuguese IVA (23%) is being charged depending on where the purch

[2018-08-07 13:27] rub1e commented on #469
Santander [form](https://www.santander.co.uk/csgs/StaticBS?blobcol=urldata&blobheadername1=content-type&blobheadername2=Content-Disposition&blobheadervalue1=application%2Fpdf&blobheadervalue2=inline%3Bfilename%3D166%5C771%5CANB90042.pdf&blobkey=id&blobtable=MungoBlobs&blobwhere=1314016431462&maxage=3600)

[2018-08-07 14:47] rub1e commented on #438
I still haven't had the second letter off HMRC but I'm inclined to close this anyway, as the figures from the R&D consultants plus the interest added on precisely matches what we were actually paid by HMRC

I'm speaking to them tomorrow so I'll ask if we're due a letter from them, but if not I'm happy to close this off.

[2018-08-07 15:39] rub1e commented on #363
@iteles Anything more needed on this or can it be closed for now?

[2018-08-07 15:49] rub1e commented on #312
New(ish) process is:

* @rub1e looks at each incoming `dwyler` invoice in the `invoicing spreadsheet`
  * Adds the corresponding `client` invoice reference
  * Checks that the days match
  * Flags if anything obvious is wrong
* If invoice passes the first line of defence, @iteles then checks it herself and signs it off
* Now `dwyler` invoices can be paid.

[2018-08-07 15:50] rub1e commented on #312
@iteles if you approve of the above, can I add it to the `handbook` and then close this issue?

[2018-08-07 16:43] rub1e commented on #423
There was a recent autocrat update and I've not seen the problem recently, so I'm closing until it comes back 🤞

[2018-08-07 16:43] #423 closed

[2018-08-07 16:50] rub1e commented on #445
All PAYE dwylers have their details in Xero, and all freelancers have a screenshot of their CharlieHR account in a folder called CharlieHR under `Human Resources` (though that will shortly be updated to something less sterile per #206 )

Ready to close @iteles ?

[2018-08-07 17:00] rub1e commented on #399
The upshot is that we can do `multiple payments` in one go, but not export `batch payments`

This means that we can streamline the process to the extent that we pay everything in one go and so only require one `passcode`, but we can't just export the payments as a `csv` from Xero - we have to enter manually.

Closing until Xero supports batches for the `Faster Payments` system

[2018-08-07 17:35] iteles commented on #399
@rub1e I agree, thank you for investigating rather than passing it back to me to investigate  👍 ❤️

[2018-08-07 17:35] #399 closed

[2018-08-07 18:01] #445 closed

[2018-08-08 08:10] iteles commented on #488
@rub1e Could you please add the budget and Case studies into the slides and make them look aesthetically pleasing? 😬

[2018-08-08 14:38] iteles commented on #312
What I was hoping would come out of this issue was some form of requirements that would be something we could build into _Time_ , but I'm happy to close it for now until we pick up Time.

[2018-08-08 14:38] #312 closed

[2018-08-08 15:07] iteles commented on #488
We had the call.
I don't think we'll get this one as there were some questions about one or two particular limitation imposed on the scope by the small budget, but this will mostly be down to how much other agencies offer to build for the same budget.

It was lovely to build a relationship with these folks in any case and we got a new slide deck out of it to re-use 😉

I also made a lot of notes on

[2018-08-08 17:06] rub1e opened #492 "Change our Transferwise details"
Since our registered email address is of the format `abc+def`@, we can't actually email support from it - so the only way to make small changes to the account is to waste time on the phone

So we need to change the email address, and then ask them to ensure that no previous dwylers are still attached to the account in any way.

* [x] Change registered email address
* [x] Check details associated w

[2018-08-09 16:23] sofer commented on #460
Invoiced. Thank you ❤️

[2018-08-09 17:38] iteles commented on #460
@sofer The above plus rent, all paid up 👍

@rub1e Sorry, I just did the payments and have left the bills in Xero up to you 😬

[2018-08-09 19:18] iteles commented on #363
@rub1e We now have the costs, which is amazing (a lot more than we had this time last year and super useful).

What we _don't_ yet have is a great way of determining how this is split across multiple projects and fits into https://github.com/dwyl/hq/issues/373.
Pulling this down in priority until that issue is done 👍

[2018-08-10 11:45] iteles commented on #491
@rub1e Assigning this back to you until there is a PR to review, the above looks good :+1:

[2018-08-13 17:31] iteles commented on #487
Sent.

[2018-08-15 11:27] iteles opened #493 "Change Ines' name on Companies House, HMRC & banks"
My IDs are expiring at the end of August and my new ones have my married name. 💍

As such, we need to change my name with Companies House, HMRC, banks and any other legal documents where I may at some point need to prove my identity and not have any documents to do so (my marriage license is in Portuguese, so it would be a long and bureaucratic process if it needed to be used).

I usually just use

[2018-08-15 11:28] iteles commented on #493
@rub1e This can happily wait until next week and should not derail this one 👍

[2018-08-15 14:36] rub1e commented on #483
Update 15/8

* Spoke to HMRC and they're sending us a postal order (because we pay by automatic direct debit, this is easier than them taking our credit as part-payment of our next return)
* All invoices have either been inputted onto Xero and reconciled, or requested from @iteles
* *most* expenses for this period have been inputted

[2018-08-15 14:40] rub1e commented on #461
Update ref https://github.com/dwyl/hq/issues/483#issuecomment-413217686

I'm also taking advantage of Xero's free trial of their new expenses system to input relevant receipts, which will hopefully streamline the process a bit and allow me to enter expenses on behalf of others

[2018-08-15 15:15] rub1e commented on #342
Update - Xero have confirmed that the problem is on the TPP side, and I've sent TPP the instructions that Xero sent me.

I'm waiting for this to be complete before I finish the last two tasks on this list

[2018-08-15 16:10] rub1e commented on #312
The tricky thing is that you'd have to have the approval process hook into your invoicing / project planning process, and you'd have to be *very* granular about it - because if e.g. you have a freelancer and a salaried employee at the same level working in the same sprint, it won't be easy to approve the freelancer invoice unless the client invoice splits everything out.

Anyway, let's discuss whe

[2018-08-20 10:08] rub1e commented on #492
UPDATE: Just waiting for response from TW about the account details

[2018-08-21 11:06] rub1e commented on #428
(Notes to myself)
* Save latest pdf version(s) of agreements and move doc versions to archive once signed
* Expired agreements should be moved to archive (e.g. project is done, freelancer moves on etc.)

[2018-08-21 11:09] rub1e commented on #469
Santander form printed along with documentation, so a handsome and witty courier has been commissioned to bring the document to Europe for signature and return it to Blighty for posting

[2018-08-21 13:58] rub1e commented on #492
Update of details confirmed

[2018-08-21 13:58] #492 closed

[2018-08-26 19:44] iteles commented on #489
After some back and forth it was determined that for now, they would only look to build a native application.

[2018-08-26 19:44] #489 closed

[2018-08-26 19:45] iteles commented on #488
Further questions answered last week via email, received a further email with more questions on Friday.

[2018-08-26 20:52] nelsonic commented on #489
@iteles we _must_ write the "Blog" post on why Native applications are _terrible_ for testing MVPs (_that do not require "native" capabilities_) ...

[2018-08-28 10:46] rub1e commented on #438
I'll pay the last R&D invoice and close this off when I do our next pay run

In the meantime, the consultants got in touch to ask about the 2018 claim. I've got a mate who said he was doing the claim for his business and that it's really not too much work - so I asked him to send over any info I might need. He sent me a bunch of stuff, before revealing that he didn't bother doing it himself and ju

[2018-08-28 11:00] rub1e commented on #481
Bumping up to `P2` as the consultants are nagging me to do a call about getting the ball rolling on this one

[2018-08-28 11:59] rub1e commented on #483
We've now received the postal order!

Anyone know what to do with postal orders? Asking for a friend. Just looks like a cheque, so I guess I'll try to pay it in like one... 😟

[2018-08-29 07:09] iteles commented on #481
Don’t let them dictate the priority on this @rub1e, I’m keen for us to square away the accounts before we look at this.

[2018-08-29 09:33] rub1e commented on #481
@iteles Totally - actually the main thing was for me to check the contracts and review my mate's reading list before speaking to them!

[2018-08-29 12:56] rub1e commented on #483
OH FFS! We've just sent in a change of address request - please do nothing until we've had confirmation of that change, otherwise it'll go to our old address!

[2018-09-04 14:08] iteles commented on #488
Replied and we have a few more questions. Call scheduled for Thursday.

[2018-09-04 16:18] rub1e commented on #383
I've now had a play around with the Xero `Projects` product - it's between *quite* and *somewhat* useful.

If you want a general intro, you could do worse than watching this [five-minute video](https://tv.xero.com/detail/video/5755852909001/managing-projects) (try to ignore her saying `pr-oh-jects` the whole time)

The main points of interest are

* Visibility across all jobs at once - this is som

[2018-09-04 16:26] rub1e commented on #373
See [comment](https://github.com/dwyl/hq/issues/383#issuecomment-418429637) about `Xero Projects`

tl;dr - my instinct is that it wouldn't meet all of our needs and it might end up being a bit of an albatross, but @iteles might feel differently when we chat!

[2018-09-04 16:40] rub1e commented on #481
Reading for R&D DIY

https://granttree.co.uk/how-to-file-rd-tax-credits-yourself/
https://granttree.co.uk/r-d-tax-credits-guide/
http://www.thisismoney.co.uk/money/smallbusiness/article-4402416/Could-claim-tax-research-development.html
http://www.g2innovation.co.uk/news/2015/7/29/how-long-will-rd-claim-take
https://businessn2k.com/rd-tax-credits-how-make-claim-hmrc/
https://simpleweb.co.uk/an-intr

[2018-09-04 16:41] rub1e commented on #438
All payments have been reconciled and all invoices have been settled

Happy to close @iteles ?

[2018-09-04 22:15] iteles commented on #481
@rub1e As we discussed today, it would be good to just find out from them if the information we need to provide is based on the same templates this year. If so, this is something I can start filling in whilst you're dealing with the fun of the accounts https://github.com/dwyl/hq/issues/481#issuecomment-416848749 and we can tag-team this 😉

[2018-09-05 08:40] iteles commented on #438
@rub1e 👍 Thank you! Closing as the write-up is captured in #481

[2018-09-05 08:40] #438 closed

[2018-09-05 09:01] rub1e commented on #383
After discussion with @iteles and responses from Xero:

Xero would indeed charge us for each person involved in Projects.

While an extra £50/m wouldn't be unreasonable if it saved time elsewhere, we'd have to do so much work to get an output from Projects in the format we want that it's just not worth it (specifically the ability to see across a whole client/project rather than just per sprint)

[2018-09-05 09:56] rub1e commented on #383
@iteles the second task above:

Do you just mean the usual balance sheet / P&L reports we need for HMRC & Accountants? If so then that point can be checked off and I'll document the process as we do #461

If there's anything else, let me know and I'll investigate when I look at the pain points in #382

[2018-09-05 16:49] rub1e commented on #483
VAT Return submitted without any issues

I've added a task for @iteles to call Santander to get the paying-in envelope (https://github.com/dwyl/hq/issues/483#issuecomment-416941911), once that's in this can be closed

[2018-09-05 16:51] rub1e opened #494 "VAT return | Aug to end Oct 2018"
VAT return for the period of 01.08.2018 - 30.10.2018.

Deadline: 1st Dec 2018.

* [x] Reference #508 when the next quarter's issue is opened

[2018-09-05 16:55] iteles commented on #383
@rub1e That's exactly it 👍

[2018-09-06 11:17] iteles commented on #469
@rub1e Address change request made for Coop as agreed.

I thought the Santander courier was so charming!

[2018-09-06 11:34] iteles commented on #483
@rub1e I called and they said we don't need a paying in slip.

We can just sent in the cheque with a piece of paper/post-it containing the following information:
1. Sort code
2. Account number
3. Number of cheques to pay in

To the following address:
Santander Clearing Centre
Bridle Road
Bootle L30 4GB
UK

Please take a photo of the cheque before you send it!
I also checked (no pun intended) and i

[2018-09-06 11:35] iteles commented on #469
@rub1e I have also checked the top box for 'Change the address for Santander bank account' because when I called about #483, they confirmed the address change had gone through last week (30th August) 🎉

[2018-09-06 12:16] rub1e commented on #483
Hahaha - this is after I pleaded with the helpdesk woman and told her my boss was on holiday and we really needed to pay this cheque in and she has the company card so PLEASE is there ANY WAY I can pay this in

Computer said no :laughing:

[2018-09-06 12:49] iteles commented on #488
Call complete. We should have a final outcome by the end of tomorrow.

If this goes ahead, here are the likely details:
+ Kick-off 2 hour workshop on Thursday 13th September, 12h00 - 14h00
+ Design & development to begin either 26th September or 1st October (ish)
+ It's a small but intense timeframe:
  + 4 days of design (basic!)
  + 16 days of development

[2018-09-07 15:15] iteles commented on #488
This came through :tada:

Proposed team:
+ @RobStallion & @SimonLab
+ @cleop scrum mastering
+ Design TBC
+ QA TBC

I will speak to you all on Monday about this!
😊

@rub1e assigning to you for the contract please - let's discuss on our Tuesday standup as priority 1.

[2018-09-07 18:36] iteles commented on #428
@rub1e I have started creating the folders for #488 and Club Soda and have a couple of observations/questions:
1. Is there a template set of folders we can copy over for a new client yet?
2. We should number the folder names as well as GDrive defaults to a name sort and for example within a client, it makes more sense to have folders in the chronological order of the process

[2018-09-11 15:05] rub1e commented on #461
I've now sorted through a load of 17/18 receipts (and put aside a load of 18/19 ones)

I'm just waiting to hear back from Xero about using the expenses app to enter expenses on behalf of others - turns out that processing it through the app submits them with the `spent by` field locked to the submitter. Which is pretty dumb, but hopefully there's a way around this (the expenses app automatically p

[2018-09-11 16:48] rub1e commented on #428
1 - sorry, haven't got to that yet - will do one up and add  to https://github.com/dwyl/process-handbook/issues/114
2 - yes, I've started with `.private` for the private files in client folders (obvs), but I'll update as you suggest
3 - I was going to transfer everything to `hello@` when I'm done and go through the permissions on each folder to make sure that private stuff is shared specifically a

[2018-09-11 17:01] rub1e commented on #474
This was sorted only two weeks ago, so I would be ready to document the process but... Xero have now decided that they're launching a whole new integration from October, so there's very little point in writing up a now defunct process.

Will update when the new integration is launched.

[2018-09-11 17:16] iteles commented on #474
I think that means we're doing it manually from October until March 2019 if we're lucky.

[2018-09-11 20:04] iteles commented on #297
We no longer have this problem. All actions are captured on Github as issues.

[2018-09-11 20:04] #297 closed

[2018-09-12 01:00] nelsonic commented on #485
@iteles could you please share some detail on:
a) What is the "budget" in days/weeks and how are we allocating it?
b) What is the delivery _deadline_ for the project (_exact date_)
c) Have we got a list of the _metrics_ the client wants to track (_what drives their "bottom line"_?)

[2018-09-12 07:48] iteles commented on #485
@nelsonic Of course!
a) Exactly 3 sprints for a 2 person team (with QA & scrum master) = 30 working days
b) Mid October was the date they had requested, we should double check this
c) We don't as we haven't been able to get this yet. To date we have been told that they care more about having customers see and use the product and venue search than they do about their bottom line.

[2018-09-12 12:17] nelsonic commented on #485
@iteles thank you for clarifying the “budget”.
Do we have a way of _visualising_ the “_burn down_”?

[2018-09-12 12:30] iteles commented on #471
Hey @samhstn, are you happy this issue was resolved and can be closed?

[2018-09-12 12:42] iteles commented on #485
@nelsonic Sadly no _good_ way at the moment.
I personally need to keep track of this _somehow_ so I have a makeshift tracker [here](https://docs.google.com/spreadsheets/d/1HejQid3ZqaIK2iYzsv4SrD40UGWYa7qm1YSvMdcWfME/edit?pli=1#gid=1068312920) which I put together last summer in a desperate attempt to plug the hole whilst waiting for https://github.com/dwyl/hq/issues/363 and others to be finalised.

[2018-09-12 12:49] samhstn commented on #471
Hey @iteles, all good, have had a chance to back up my data, thanks 👍

[2018-09-12 12:49] #471 closed

[2018-09-12 14:39] rub1e commented on #365
Chased all dwylers who have dwyl emails, will tick off as they prove to me they've done it. `Trust but verify`

Will add this to the #214 checklist

[2018-09-12 15:47] rub1e commented on #488
Contract delivered but not yet signed, and their corresponding form has been filled in and returned.

Saved in the `private` folder in their client folder. Will add their signed contract has been returned.

[2018-09-12 15:55] rub1e commented on #428
UPDATE: supplier agreements have been moved to `.private` folders in the corresponding named client folder, with permissions restricted to only dwyl ops personnel.

[2018-09-18 14:31] rub1e commented on #474
Yeah I'm holding my breath

Looks like I can still submit this month's file, and if I process next month's pay run early then I can get that file to TPP early, and if the integration isn't updated by then we'll switch to manual upload and I'll write up that process (which is like pulling teeth because of TPP's godawful website) ☹️

[2018-09-19 14:51] rub1e commented on #461
Update:

* All bank transactions have been reconciled, except for a shortlist which I've shared with @iteles and @nelsonic
* All paper receipts out of the main account have been captured

Remaining:
* @rub1e - capture remaining expenses receipts in London and reimburse @iteles
* @iteles - capture remaining expenses receipts in Portugal

[2018-09-22 11:48] iteles commented on #483
Cheque has finally been deposited into our account YAY!

After spending much of 2017 overpaying for VAT unnecessarily, we now finally have the money back from HMRC.

Thanks for sorting this @rub1e

[2018-09-22 11:48] #483 closed

[2018-09-24 09:18] nelsonic opened #495 "GitHub? (Continue Using or Consider Alternatives?)"
GitHub is a _good_ platform for Code (Source/Version Control) and "_OK_" for Issue/Task/Bug Tracking.
But it's ***fundamentally*** a **_Closed_ Source** (opaque) product/service
which is why https://github.com/dear-github/dear-github _exists_. (_the feedback process is "broken"_)

## What are our `<option>`s ...?

+ GitLab? (_the only "credible" alternative...?_) https://github.com/nelsonic/nelson

[2018-09-25 10:37] rub1e commented on #365
What a good bunch we are - all ticked for now 😄

Closing until we have someone new to induct, or if any other changes arise

[2018-09-25 10:37] #365 closed

[2018-09-25 13:28] rub1e commented on #461
Just finished adding details and approving all of the expenses using the much-vaunted expenses app. It took ALL MORNING, even though the app had already analysed the receipts.

Having now had more of a chance to play with it, I'm not convinced that it's the silver bullet I thought it was - it's patchy on everything from VAT to GBP/EUR to dates to amounts. That said, it's still (much, much) better

[2018-09-25 15:26] rub1e commented on #428
OK, now that this is well in hand, I've got a few updates/proposals - please review when you have a moment @iteles and thumbs up 👍 or kick off 👢

* Instead of having separate folders for private files like contracts and finance docs, it makes more sense to just have one `Private` folder in each client project. This is because there are only 2-3 such files on average, and having separate folders se

[2018-09-25 15:35] rub1e commented on #428
In addition to the above, I've been `starring` things that I'd like @iteles to take a look at - I think there's a lot of digital bumf in there that can just be deleted if you agree

[2018-09-26 08:16] iteles commented on #484
This question we can cover as part of the work they do for us at year-end because they are dependent on this for them to be able to do their jobs right:
+ What do I put in Xero for a purchase with IVA on it?

This question they have already answered for us: these are office costs and should be treated as such (we still need an answer on how to deal with IVA generally):
+ My understanding is that t

[2018-09-26 09:12] rub1e commented on #484
Thanks @iteles - I've amended the list based on the above. I've also added in `Car hire` and `petrol`, as that could be a fair bit of cash to reclaim if that's at all possible.

Have requested indicative costs for researching this, will update when they've replied

[2018-09-26 14:11] rub1e opened #496 "Google Drive Cleanup"
We've loads of files which really don't seem to be needed any more - a cleanup is in order

I've been through the `dwyl private` folder and all subfolders and started starring items which I think @iteles  might take a view on

I suggest you just keep an eye out for the starred files just as you generally use google drive, rather than setting aside time to go through it properly, but obviously up t

[2018-09-26 17:17] iteles commented on #496
![screen shot 2018-09-26 at 18 12 55](https://user-images.githubusercontent.com/4185328/46096758-f184fa80-c1b7-11e8-8372-ed06d158a4de.png)

1. A proposal we put together, but didn't finish, this one can be chucked
2. A talk I gave at CAST's annual event - we should keep this one in a talks folder but definitely shouldn't be in `private`
3.`dwyl-standard-terms` was our very first contract (before i

[2018-10-01 23:26] nelsonic opened #497 "Individual Project Learning Goal"
# _Context_ 🌱

Since the beginning of @dwyl (_the web/app development agency_),
we've had a **_clear_ goal** of **_sharing everything_** we **know/learn** with each other freely & openly.
see: https://github.com/dwyl/hq#individual-team-members

Which is why we have accumulated so many `learn-...` tutorials and self-contained examples.
see: https://github.com/dwyl/?q=learn 😍

Both our team members,

[2018-10-02 14:53] rub1e commented on #428
Update: the dwyl Private folder has now been updated in line with https://github.com/dwyl/hq/issues/428#issuecomment-363745562

* Every client has a `.private` folder
* _Currently active_ client folders have been split into planning / design & assets / creds / sprints (as above)
* _Old clients_ haven't been touched - @iteles if you want this enacted retrospectively let me know
* Loose files and fo

[2018-10-02 15:29] rub1e commented on #481
OK, I've reviewed the project list and the cost collection spreadsheet and it looks the same as last year (they've even pre-filled a couple of old project from last year)

@iteles the best thing is probably for us to have a quick chat over the phone how to divvy up the sections.

In the meantime, here is a rough task list:

* [ ] Decide which projects are suitable
* [ ] Populate spreadsheets with

[2018-10-03 11:32] rub1e commented on #481
I've assigned this to you @iteles for the first task, please assign back to me when you're done and I'll pick up the `cost collection` side of things

[2018-10-08 07:03] nelsonic commented on #453
@iteles to be clear the _entire_ platform did (does) not _need_ to be Open Source for us to _consider_ working on it; as long as we can _use_ Open Source and make contributions _back_ "_upstream_" ...

But the fact that the person who was considering building the platform has not not tried to [low-fidelity] **`prototype`** the idea _herself_ in order to figure out if it's something **people _want_

[2018-10-08 07:35] nelsonic commented on #487
@iteles agree with all the above. Really wanted to work on this.
But the _fixed_ mindset of "no open source" and the timelines not working out are _conclusive_.
In our own way we _will_ be building a platform that encourages diversity and inclusion.
And it will be **100% Open Source/Culture** https://github.com/dwyl/home

[2018-10-08 12:57] nelsonic commented on #479
@iteles closing as you have used this repair/replace service so the issue has fulfilled it's objective.

[2018-10-08 13:53] #479 closed

[2018-10-09 09:56] rub1e commented on #493
@iteles for the Coop, you need to do the following:

* Send a letter to

Cooperative Bank
PO Box 250
Delf House
Skelmersdale
WN8 6WYT

* Letter to contain
  * Company Name
  * S/C & Account number
  * Current name and desired change
  * Copy of old signature
  * Copy of new signature
  * *Original* marriage certificate OR *certified* copy
  * Note with your contact details saying you'd like to get

[2018-10-09 10:17] rub1e commented on #493
@iteles Are you visiting the UK soon? Just spoke to Santander and they're a bit iffy with changing names by post - we'd need to remove you from the account and then re-add you under your new name, and I don't really trust them not to screw that up.

So the easiest thing to do is for you to go into a branch and they can process it for you (it's the only time they seem to be willing to do anything i

[2018-10-09 13:47] rub1e commented on #382
Just adding some thoughts on the above mainly because I'd like to close #383 off and this is the last topic that's not been addressed.

Using the Company Calendar (very manual) lets us see the agreed days to be worked for each freelancer, but we still don't have an automatic way of linking this to the client invoice or the freelancer invoice, or whether either has been settled.

We could begin to

[2018-10-09 13:50] rub1e commented on #383
I've answered the final outstanding question about invoicing pain-points at length [here](https://github.com/dwyl/hq/issues/382#issuecomment-428198420)

As far as I can see we've now answered all the points in the issue description (or at least put some explanation of our thinking in the relevant issue), so this issue can be closed.

[2018-10-09 16:39] nelsonic opened #498 "Octobox - Untangle your GitHub Notifications"
@iteles this _might_ be relevant to you ... https://octobox.io  https://github.com/octobox/octobox
You _know_ it's good because @andrew made it ...  ❤️

![image](https://user-images.githubusercontent.com/194400/46684168-f3a07d80-cbe9-11e8-99e6-b37500e438cf.png)

![image](https://user-images.githubusercontent.com/194400/46684186-fef3a900-cbe9-11e8-8829-dc2d16ee2169.png)

[2018-10-09 16:40] andrew commented on #498
👋 if you have any questions or feedback

[2018-10-10 14:33] iteles commented on #414
Adding the images here as I go along, to be written up in readme (I'll do this once I'm done with the process)

### Get export from Co-operative Bank
![image](https://user-images.githubusercontent.com/4185328/46742115-45a2db00-cc9e-11e8-86de-120e7c233c01.png)

![image](https://user-images.githubusercontent.com/4185328/46742164-6408d680-cc9e-11e8-9be7-610e94eb3674.png)

![image](https://user-images

[2018-10-10 14:47] rub1e commented on #414
@iteles check you out - loving it!

If you want to just confirm you're happy with it, I can add it into the `md` file (unless you're keen for the green square... 😉 )

I'm thinking of just slicing this and the Xero reconciliation off into its own guide as the general `finances` one is getting pretty long!

[2018-10-10 14:57] iteles commented on #414
Haha, no it's fine, I need to add some wording around the first bit, might as well do it straight into the readme.

YES, I think the finance.md needs some more organisation, happy for it to be a folder of mds on finance topics rather than a file. Let's open an issue in the right repo for it 👍

[2018-10-10 16:16] rub1e commented on #383
I'm not sure where this lives, but I've just checked and Xero Expenses costs £2.50 a month per user, and it would just be me and @iteles using it - so I'm very inclined to say it'll save more in man-hours than the £5/mo cost

So I'd say go for it!

[2018-10-10 16:21] rub1e commented on #411
@iteles with your permission, I'd like to add a wider "reconciling Xero" to the list of weekly tasks

Reason being: I'm trying to reconcile a bunch of old transactions and it's taking ages making sure the multiple payments match the right invoices (not to mention when invoices are paid at the same time as wages) - as ever the longer you leave it the harder it gets. So I'd like to enforce a weekly

[2018-10-10 16:43] rub1e commented on #475
This is all contained within our snazzy new Holidays document - https://github.com/dwyl/process-handbook/blob/master/holidays.md

I said above that I'd review the holidays policy but... have we ever had one? And do we need anything beyond what's in people's contracts:

* PAYE dwylers: must get their holiday approved in advance by the CEO
* Freelance dwylers: "To provide 10 working days of notice p

[2018-10-16 10:33] rub1e commented on #467
Closing this in favour of #484, which is seeing movement

Being honest, I'm not sure this is something I could have researched myself and felt confident about the answer - which is why we've contacted accountants to look into it.

[2018-10-16 10:35] #467 closed

[2018-10-16 11:32] rub1e opened #499 "dwyl Invoicing: bugs & fixes"
Freelancer invoicing at dwyl is done through a google form which is saved to a spreadsheet, converted into a PDF, and sent to the freelancer and Xero

Currently known bugs are:

* #423 - **multiple emails generated**
  * FIX: just ignoring it seems to work; DO NOT act on emails from Autocrat saying you need to give it permission to run - that's the problem!
* **All the rows have disappeared** 😱

[2018-10-16 11:55] rub1e commented on #138
Just had a call from the technician; he says that they ran the diagnostic and the phone isn't in a good place - even with a new battery, it won't connect to a laptop, which means it's a `logic board` issue

So the only solution is to get the whole phone fixed, as they can't do any data recovery without the phone working in the first place, and that will take 2-3 weeks as they have to send it to th

[2018-10-16 12:05] nelsonic commented on #138
Hi @rub1e _thank you_ for investigating this! 🔍 👍

a "logic board fix" will mean that the "_old_" Logic Board is _discarded_. i.e. data will be _lost_.
Please _confirm_ (_by email i.e. in writing_) with the person/people offering to "fix" the phone
that the memory chip on the phone will not be substituted, otherwise this is a _pointless_ "fix".

To be clear: we don't want the phone to be "fixed" w

[2018-10-16 13:16] rub1e commented on #138
Yes that was my understanding, but absolutely will check and get that in writing

100%

If they can't guarantee the data, I'll go elsewhere

[2018-10-16 13:32] iteles commented on #138
@rub1e Thanks for this. If we can get it in writing, that would be ideal. Thanks again for looking into it!

[2018-10-16 17:03] iteles commented on #499
@rub1e From point 2, it sounds like we need to regularly back up data until we build something better!

[2018-10-16 17:22] rub1e commented on #499
Actually, we're ok on that one - all the PDFs are sent to Google Drive so they're all backed up automatically

And the rows weren't actually deleted - it just looked that way because the cells were empty, which in turn was because they were trying to compute formulae without the data (which was just on another sheet)

Basically, we cool!

[2018-10-16 19:55] iteles commented on #484
We would need to wait a few years to be able to recoup those costs in international VAT! Thanks for the update @rub1e

[2018-10-17 07:29] nelsonic opened #500 "Happiness at Work Venn Diagram"
![3fed96f2-d068-480a-a284-2958b8d3b8b4](https://user-images.githubusercontent.com/194400/47069406-b5591e80-d1e6-11e8-8f5a-83e66bc99085.png)

https://whatconsumesme.com/2009/06/03/ive-been-working-at-start-ups-and-small/amp/

[2018-10-17 10:19] iteles commented on #481
@rub1e First pass done! 👍

I've noted down as much as I can in terms of qualifying projects so passing back to you for dates. The company calendar will be your friend but you'll need to check invoices for Healthlocker, SMG, EMF and Quodl for the period between 2017/18 year beginning and the June start of the calendar please!

For the internal projects, I also noted down who worked on them in the c

[2018-10-17 16:50] rub1e commented on #481
I've done as much of the project list spreadsheet as I can, adding dates, descriptions, and personnel where possible (I actually used github more than the company calendar - tells you exactly who worked on it and when! - just FYI)

I'll give it another once-over before asking @iteles about gaps

Now, regarding the `cost collection` sheet, I'm confused: since we're entering `X staff at Y%` figures

[2018-10-21 01:35] iteles commented on #484
@rub1e As I come by larger invoices that are relevant here, I am editing the very top comment to add them (if we do end up claiming something, these are the ones we shouldn't forget!)

[2018-10-21 11:15] iteles commented on #451
@rub1e I closed this but do you think that we should capture some of it in our docs? Like accountancy FAQs?

I'm thinking everything apart from the payment of dividends throughout the year to one  director before we even know if we've made profits is relevant for the future (this one thing will never happen again as it put us in a very difficult position last year).

[2018-10-23 09:01] rub1e commented on #342
Just been chased for pensions data per https://github.com/dwyl/hq/issues/474#issuecomment-422417005 (will write process up when I've figured it out!) and it jogged my memory - @iteles did you or @nelsonic ever log in to The People's Pension to claim your refund?

[2018-10-23 09:08] iteles commented on #342
Ah, no, I'll add it to my list!

[2018-10-23 17:05] rub1e commented on #481
Just a little progress update - almost ready to finish with inputting into the cost collection sheet, just waiting to hear back on a couple of queries from the Leyton team and then we'll be ready to populate the %age of people's time spent on each project

[2018-10-24 08:49] rub1e opened #501 "THIS. IS. DWYL. (Intro video for FAC)"
FAC invites everyone to come and introduce 🤝  themselves / their company to new cohorts, and obviously _dwyl_ should have pride 🦁 🦁 of place as FAC's most important and long-standing partner.

Since this is going to happen three times a year (or more depending on growth), it might be a nice idea for out-of-towners @iteles and @nelsonic to record a short video 🎥  introducing themselves, their visio

[2018-10-24 13:20] rub1e commented on #138
How's this for a guarantee? Let me know and I'll get them to start

![screenshot 2018-10-24 at 14 18 20](https://user-images.githubusercontent.com/11595920/47433219-e2ce3b00-d797-11e8-8463-d8916fd71ac1.png)

[2018-10-24 15:00] rub1e commented on #460
It's that time again @sofer - please send us an invoice for £1,267, covering Finn and Rob for this past quarter and I'll take care of it

[2018-10-24 15:03] iteles commented on #501
@rub1e :arrow_right: https://github.com/dwyl/video?

[2018-10-25 18:14] iteles commented on #414
Moved writing up the reconciliations process to https://github.com/dwyl/process-handbook/issues/128 so we can now close this issue 👍

[2018-10-25 18:14] #414 closed

[2018-10-26 08:36] rub1e commented on #501
Yeah I put it here uh deliberately cos, um, the README for that repo was unclear :eyes:

Either that or I didn't see the repo

https://github.com/dwyl/video/issues/44

[2018-10-26 08:36] #501 closed

[2018-10-29 20:01] iteles commented on #475
@rub1e We've never had anything other than what's in the contracts because... no one ever wrote it up before you! Thanks for doing that.

Agreed that the notice periods should be the same for both and maybe add a proviso that if you know your holidays are going to land right on a particularly critical time, as much notice as possible is appreciated.

Broadly, dwylers have in the past followed this

[2018-10-30 14:06] rub1e commented on #484
Had a *lovely* response from FAC's accountant about this - he says *at most* £300 +VAT for this.

At that price we might not necessarily be able to make it all back in a reasonable amount of time (and actually the answer to that depends on the answer to our VAT questions!), but I do think this now looks like it's worth doing - because ultimately we do need this info if we're going to be as efficie

[2018-10-30 14:14] iteles commented on #484
Let's do it. Hopefully we can open source the info and save other people spending the money for information that should be easily found in the public domain.

Let's make sure we have a tight set of questions for them!

[2018-10-30 16:49] rub1e opened #502 "Google Drive issues"
Last week @iteles and I were both lamenting how slow `Drive` can be - especially spreadsheets with formulae in them which seem to trigger a recalculation when you so much as change tabs, meaning you have to wait up to a minute every single time.

I've tried `pasting as values`, but when I did that to the Invoicing Spreadsheet, every single cell went blank and I had a panic attack.

So I'll find a

[2018-10-30 17:33] rub1e commented on #481
Progress

* All staff details inputted
* All projects inputted into freelancer section
* All freelancers inputted into freelancer section with their project dates (stupidly, I should have done the gross amounts paid out at the same time as the dates)

Questions @iteles :

*  Looks like the `legacy` tab on the company calendar goes back as far as 19th June 2017 - which means I'm missing info for Ma

[2018-10-30 18:11] iteles commented on #481
In answer to your questions:
+ Before the legacy calendar we had a different way of doing it that was not updated from February 2017 onwards when I handed it onwards; this is why I put together the calendar, just so we had _something_ to track it
  + The February to June 2017 void needs to be filled with invoices and my memory 😬
+ Projects questions:
  * `TC Roam` - everything from October 2017 on

[2018-10-31 10:11] rub1e commented on #138
OK, this has been approved, it's going to the next level repair place, and I'll update this when they've given me a timeline

(And the guy on the phone reassured me that they would call me if they had any worries about affecting the data before they start)

And we don't have to pay until we collect the repaired phone.

[2018-10-31 11:55] rub1e commented on #474
Xero are now looking into our account to figure out why this is happening (which at least means it wasn't my fault!)

[2018-10-31 12:16] rub1e commented on #475
PR: https://github.com/dwyl/process-handbook/pull/130

[2018-10-31 13:51] rub1e commented on #469
PR for checklist: https://github.com/dwyl/process-handbook/pull/131

[2018-10-31 14:11] iteles commented on #411
@rub1e Done my bits for this week and gittered you the caveats around who to chase for outstanding invoices and who has already been in touch about them this week 👍

[2018-11-01 09:54] rub1e commented on #474
Lolsies - Xero say that the Special TPP csv file that's specially designed to be uploaded into TPP... isn't compatible with TPP

They have asked me to get in touch with TPP to see why this is. Which I've done. But not before I asked Xero to escalate this issue and explain to me why the specially designed file that's actually called `TPP csv` doesn't work, and why they expect _me_ to sort it out _m

[2018-11-01 19:05] iteles commented on #474
Exactly.

[2018-11-04 09:58] nelsonic commented on #379
This is a [*moot point*](https://en.wiktionary.org/wiki/moot_point) because it _assumes_ that we _want_ to work with (**`for`**) _any_ organisation on a "consulting" basis.  It has _never_ been our goal to build apps **`for`** any client. Building apps for clients was _always_ a "stop gap" to get funds to build our _own_ products. Sadly, (_from **my** perspective_) the day-to-day running of a "Web

[2018-11-04 09:58] #379 closed

[2018-11-06 11:28] iteles commented on #469
Reviewed and merged, thanks @rub1e !

[2018-11-06 11:28] #469 closed

[2018-11-06 15:58] rub1e commented on #481
Note to @rub1e - for documentation of process - you can fix the dates of the invoicing sheet and manually add up amounts in the total column

[2018-11-07 17:32] rub1e commented on #474
So, TPP have told me how to solve the issue, but it's 100% Xero's fault - they've not included a column which TPP say is mandatory, so we have to add it in ourselves.

### Temporary pension details upload process
* Go to Xero > Payroll > Pension filings
* Go to the month you need to upload and select `Download TPP CSV` from the three-dot menu on the right
* Open the CSV in Google Sheets (or whatev

[2018-11-13 09:57] rub1e commented on #484
I'm having a kickoff call with the accountant to understand precisely what outputs we're getting etc. on Thursday morning; will then formalise list of questions, and run it by @iteles before pushing <kbd>the button</kbd>.

[2018-11-13 09:59] rub1e commented on #494
Bumping up priority so this gets done before December, while we're looking at Finances generally

[2018-11-13 15:04] iteles opened #503 "Acknowledging each other"
It's one thing to have feedback #182 in a more formal setting or in retrospectives, but there are so many opportunities for us to acknowledge each other either for help someone has given us, for moral support, for being an outstanding example of how something should be done, for sharing knowledge and much more.

We need a good way of doing this internally but through the wider dwyl community too.

[2018-11-13 15:10] rub1e commented on #502
* Just ran a test using the *amazing* Chrome Developer Tools `Performance` tab and both the `Company Calendar` and the invoicing spreadsheet take over 40s to load (and then extra time whenever you make a change). That's *mental*.

* The reason `paste values` wasn't working in the Invoicing sheet is because there is a resource-sucking `importrange` formula in the first cell. Based on all the compla

[2018-11-13 15:45] rub1e commented on #503
At one of my old jobs, we used to have a sort of `employee-of-the-week` type thing where people would nominate their colleagues and three winners would be chosen, who would each receive a company Starbucks card loaded with enough money to get a coffee every morning for a week.

* Cost to company: _£15_
* Benefit to company: _happier, more caffeinated workers_
* Piling your free coffee cups high on

[2018-11-13 16:15] rub1e commented on #461
Situation so far:

* Every bank transaction up to mid-november 2017 has been reconciled (yay!)
* There's only about 20 transactions left to reconcile, and the majority are ones we already know about (heroku, 3 Mobile), or ones I'm keeping open just on the off-chance that we find a VAT receipt for them so  we can reclaim VAT
  * Heroku - I've recently discovered that these invoices are subject to t

[2018-11-13 22:58] nelsonic opened #504 "Irregular activity in your AWS account"
😞

@iteles please sit down with me at the office tomorrow so we can look at this.

[2018-11-14 08:39] rub1e opened #505 "Update address on invoicing template"
We're still down as residing at FocusHub on our incoming invoices template

* [x] Update address on template to Space4
* ~Add process to handbook~
* [x] Add to moving premises checklist

[2018-11-14 11:11] rub1e commented on #461
OK I've been through all the receipts now and made sure they're correct. I've also added an `IVA` label to the Portuguese receipts so I can go through them and add up the tax paid in case it turns out we're able to reclaim IVA (#484)

So now they can be settled whenever we like!

[2018-11-14 11:37] rub1e commented on #342
Bump @iteles!

I've added this to the top of your `project` - it's not urgent, just needs to be done so I can reconcile wages as part of #461

[2018-11-14 12:41] rub1e commented on #461
### Payroll reconciliation

Because of dwyl's `accounting period` (year to 30th April) overlapping with the tax year (year to 5th April), an extra month of payroll needs to be reconciled

Annoyingly, this is the exact time our pension scheme started, so refunds/opt-outs have to be processed first, and the first pensions payment categorised correctly

[2018-11-14 14:38] rub1e commented on #449
Reopening to add a note to cover `pensions` and pension scheme opt-outs

[2018-11-14 16:28] rub1e commented on #474
Pensions payments need to be reconciled to Employer and Employee contributions. Usually I'd do this at the end of the tax year all in one go along with Wages, but because of the slight overlap of Accounting Period and tax year, this has to be done now for April 2018 (https://github.com/dwyl/hq/issues/461#issuecomment-438648741)

Since that was the first month of our pension scheme, the opt-outs al

[2018-11-15 11:18] iteles commented on #502
@rub1e Pretty sure it's the conditional formatting: https://productforums.google.com/forum/#!topic/docs/cO1ojvtKA7w
![image](https://user-images.githubusercontent.com/4185328/48549595-1f3d1480-e8c8-11e8-88a1-2992f2586d7d.png)

[2018-11-15 11:19] iteles commented on #342
As you saw yesterday:
![image](https://user-images.githubusercontent.com/4185328/48549649-498ed200-e8c8-11e8-83fc-b6785a09f9e2.png)

I've sent them a support request, let's see!

[2018-11-15 19:41] iteles commented on #411
@rub1e I believe this was completed for the week but just not updated?

[2018-11-16 08:44] rub1e commented on #411
Yep, my bad, apologies - all ticked and issue closed now

[2018-11-16 16:18] Cleop commented on #503
I don't necessarily have an idea for how to do this to add but I like the idea of doing something about it. I think it's especially beneficial in a remote working scenario 👍

[2018-11-17 06:31] nelsonic commented on #373
@rub1e is there a single-page report where I can see the P/L of _all_ projects we have undertaken as an "Agency" since records began? (_please/thanks!_) ✨

[2018-11-17 06:33] nelsonic commented on #476
Closing as the event has passed.
For a good video summary, see: https://www.youtube.com/channel/UCJtkHqH4Qof97TSx7BzE5IQ

[2018-11-17 06:33] #476 closed

[2018-11-19 11:11] #505 closed

[2018-11-19 11:43] rub1e commented on #373
@nelsonic I've saved a couple of all-time reports in Xero.

Log in to Xero, go to `Reports > All reports` from the top menu, and then you'll see a `custom` tab, where I've saved three reports titled `all-time...`.

Two are very top-level P&L summaries, and one is a very granular transaction summary split by client

You can export them into an `xls` or `Google sheet` if you want to play around...

[2018-11-19 11:53] nelsonic commented on #373
@rub1e when you have 10 minutes to sit with me and go through this, please let me know. thanks!

[2018-11-19 12:17] nelsonic commented on #373
@rub1e Thanks for granting me access. 👍
I can see the dashboard when I login and have navigated to the Reports > Custom > "All Time".

https://reporting.xero.com/!MmKfl/v1/Run/4105352?isCustom=True

# All-time client project PL

![image](https://user-images.githubusercontent.com/194400/48706662-da311f00-ebf4-11e8-8128-4faca43098ca.png)

Am I correct in reading that the "All-time P&L for Client Pro

[2018-11-19 12:37] rub1e commented on #373
OK, that's bizarre. After investigation, this is because it's only tracking our `Sales` account from January *this year* - it's ignoring all previous invoices

I'm on the case

[2018-11-19 13:08] rub1e commented on #373
OK, so after even more investigation, this is because I filtered the report to client projects only, but invoices before January didn't have client references on them so they got filtered out.

The upshot of this revelation is that you can't trust *any* all-time reports because you can't be sure that they've got correct client references

The solution to this is that I'm just going to have to knoc

[2018-11-19 13:10] rub1e opened #506 "Add client reference to all historical invoices"
Per https://github.com/dwyl/hq/issues/373#issuecomment-439886776, invoices from before Jan 2018 are missing client references, and therefore don't appear in P&L reports we need to run.

There is no easy solution - just a matter of going into each invoice and adding a client ref line by line.

* [x] Add client refs to receivable invoices
* [x] Add client refs to payable invoices

[2018-11-19 13:14] nelsonic commented on #373
@rub1e thanks for confirming that the data in Xero is "_inconsistent_". 👍 😞
Please keep me posted with your progress on this.

[2018-11-19 13:40] rub1e commented on #481
As discussed with @iteles just now, because the personnel on a project will all be spending the same proportion of their time on R&D-relevant activity, the simplest way of going about this is for @iteles to fill in the `Project List` sheet with topline information (e.g. "5 staff at 80% R&D") and then I can fill in the granular breakdown in the `Cost Collection` sheet.

* [ ] Fill in `project list`

[2018-11-19 19:26] nelsonic opened #507 "TM01"
@rub1e please prepare my TM01 form. Thank you.

[2018-11-20 12:17] rub1e commented on #506
I might have been a bit optimistic with my half-day estimate... 😕

Honestly, I didn't realise how little work our previous accountants had done - they've reconciled every single transaction without putting a client reference (sometimes any reference at all), even though this info is usually available on the bank feed (that's how you reconcile the payments!)

But the upside of this is that we'll be

[2018-11-20 12:19] rub1e commented on #507
?? Are you being terminated?

[2018-11-20 12:21] nelsonic commented on #507
Yes please & thank you.

[2018-11-20 12:29] iteles commented on #506
@rub1e Let’s start with just FY17/18 (which were not in the previous accountants’ purview - that should have been done correctly by us from the start)

[2018-11-20 12:30] rub1e commented on #507
OK - all ready - shall I push the button? And should it be effective from today?

[2018-11-20 14:58] nelsonic commented on #507
@rub1e push which button?

[2018-11-21 08:38] rub1e commented on #507
Oh, sorry - it's literally a button - the form is online at Companies House! I just need to put the `effective from` date and <kbd>Push The Button</kbd>

[2018-11-21 10:47] nelsonic commented on #488
# PLEASE DON'T READ THIS <br /> (_if you are easily "offended" by "difficult truths"_)!!

@rub1e was this contract ***signed***?
The history of this issue _appears_ like it was added to "Priorities" and then not really followed through.
_Starting_ a project without a _water-tight_ contract that includes clear IP clauses, SLAs and terms for future development is like setting off on a polar expediti

[2018-11-21 11:05] nelsonic commented on #507
@rub1e please upload a screenshot(s) of what you see.
Please document the work _while_ you are doing it so that no "steps" are missed.
I will "press the button" on this when it's ready. All I asked was for you to _prepare_ it.

Also, this is _not_ a **`priority-1`** task, for clarity **`priority-1`** is described in https://github.com/dwyl/labels#labels as "drop everything and work on this".
This

[2018-11-21 12:33] nelsonic commented on #401
@iteles is this still relevant?

[2018-11-21 12:40] #401 closed

[2018-11-21 15:57] rub1e commented on #506
Progress update: FY17/18 now has client references on each transaction. (I'm collecting a list of ones where it wasn't obvious, or I have queries, and I'll check with @iteles at the end of the process)

Cracking on with the rest now.

[2018-11-21 17:51] rub1e opened #508 "New VAT requirements: "Making Tax Digital""
I've just skimmed a Xero article on this new VAT process. It wasn't really clear, but I think the way we record our receipts and submit through Xero means we're already compliant (but I'll still check to make sure and document any changes to the process)

* [ ] Very brief spike to understand if there are any new reporting requirements on top of what we already do
* [ ] Document any changes to proc

[2018-11-24 09:38] iteles opened #509 "Clean up finance inbox"
Our financial email inbox is a mess because nothing has been done to organise it. We shouldn't be relying on the emails forwarded to our individual inboxes for information, the finance email should be the reference for things like purchase receipts and purchase orders before they are saved into the right places (outside of the inbox).

I am creating this as a p2 so that we can spend a short amount

[2018-11-28 15:22] rub1e commented on #506
Done.

Unfortunately, [as I said](https://github.com/dwyl/hq/issues/506#issue-382207475) there's no helpful process arising from this, because it's totally manual and not relevant going forward (because we've been diligently putting client refs on invoices since the end of 2017)

However I did notice an option to automate reconciliation of items on the bank feed, which will be useful for recurring

[2018-11-28 15:22] #506 closed

[2018-11-28 15:26] rub1e opened #510 "Investigate automatic coding of bank feed items in Xero"
Xero includes functionality to automatically code and reconcile bank feed items based on rules you input yourself. This may or may not be useful for recurring payments like phone bills, subscriptions etc.

* [x] Quick spike to see if this is worth doing
* [ ] Document process if we should start using this

[2018-11-28 15:42] rub1e commented on #373
#506 is now complete, so the reports mentioned in https://github.com/dwyl/hq/issues/373#issuecomment-439865848 are now based on up-to-date information. (_NB The navigation menu has just changed so I've updated the instructions on how to access_)

(Additionally, if you want **overall** P&L / transactions / Balance Sheet reports - i.e. not filtered by client projects - just go to `Accounting > Repor

[2018-11-28 16:18] rub1e commented on #507
Process documented in this PR: https://github.com/dwyl/process-handbook/pull/135

To clarify, I can't actually _prepare_ the form because there's nothing to prepare - you just log into Companies House, enter the date, and hit submit.

[2018-11-29 07:56] nelsonic commented on #147
These Wireless Noise Cancelling Headphones look like a _real_ contender ... 🎧💡
"PANASONIC RP-HD605NE-K" another Panasonic product name the name rolls off the tongue ... 🙄
The reviews are overwhelmingly positive on Amazon:
https://www.amazon.co.uk/PANASONIC-RP-HD605NE-K-Bluetooth-Cancelling-Headphones-Black/dp/B07FNPMBY4
![image](https://user-images.githubusercontent.com/194400/49206566-591f1800-f3

[2018-11-29 16:34] nelsonic commented on #507
@rub1e thanks for confirming. 👍
Now just pending the clarity on balance sheet so I can submit the form.

[2018-11-30 04:37] nelsonic commented on #417
@iteles could you send them a follow up email to find out how the project went?
Just out of _curiosity_ if they have shipped the product as we would like to _test_ it as _consumers_!

[2018-12-02 17:50] iteles commented on #488
### tl;dr
_Mea culpa_.

@nelsonic **What we proved with the Action for Children MVP was that we _do_ still need you to do client projects, _otherwise you would not have felt you had to write the comment above_.**
For the vast majority of our projects you have always been there to remind us of the things we were missing and to write tutorials on these.

We have _all_ the resources for this (or a [v

[2018-12-03 11:56] iteles commented on #497
I really wanted to leave a little space for everyone else to add their learning goals but seeing as @rub1e has been the only one so far (💙), I thought I'd add mine too, they can't wait any longer!

**Project:** https://github.com/dwyl/product-roadmap, with a focus on https://github.com/dwyl/technology-stack/issues/67
**Learning Goals:**
+ Elm
  + [ ] https://github.com/dwyl/learn-elm
  + [ ] https

[2018-12-03 12:22] iteles commented on #342
@rub1e As we discussed, the reply I eventually got was:

Please check for the refund and take the necessary steps 👍

[2018-12-03 14:06] nelsonic commented on #488
@iteles "capturing" the points I've made in _other_ issues will simply _fragment_ points and mean that _nothing_ changes/improves. For an organisation's workflow/process/approach for delivering _excellence_ to change, the _people_ need to be willing to change/improve.

There needs to be a _desire/commitment_ to be _excellent_ at delivering the highest quality software.
That means _everyone_ needs

[2018-12-04 15:51] rub1e commented on #510
OK this is actually awesome and I'm annoyed I didn't notice it sooner (I'm already using it for #494!)  - it lets you set up a rule for what to do when your bank feed loads payments which meet certain conditions, but it doesn't automatically apply it: rather it lets you say "Yes, apply the rule" or "No, this one's different, I'll do it manually"

(I'll copy this into the process handbook after I'v

[2018-12-04 20:12] iteles commented on #481
@rub1e Preeeeeetty sure this is now done (I hope!). Left lots of comments, let me know where I can help.

[2018-12-05 15:17] rub1e commented on #494
This is no longer an issue, but just for the sake of completeness...

Our VAT bill looked quite high, and the usual procedure would be to check the `VAT audit report` to see where the charges are coming from.

But the report had disappeared from the menu, so Xero support told me to clear my cache, which didn't solve it. But I did manage to access the report in `Incognito Mode` (and it turned out t

[2018-12-08 18:21] nelsonic commented on #504
@iteles you've assigned me, does that mean you have _time_ to look at this? (_today?_)

[2018-12-08 20:55] nelsonic commented on #504
We sat together and went through this. No irregular bills on the account. password changed and keys deleted. closing. 👍

[2018-12-08 20:55] #504 closed

[2018-12-11 11:06] rub1e opened #511 "VAT Return | Nov 2018 to end Jan 2019"
VAT Return for the period 01.11.18 to 31.01.19

Deadline: 1st March 2019

Since this is the last VAT Return before the government's Making Tax Digital comes into force, so we should check if there are any further requirements on top of what we already do, and file this according to the MTD rules as a test run.

* [x] Review #508 and update any processes
* [x] @iteles to check all expenses have bee

[2018-12-11 13:11] rub1e commented on #481
Yes, thanks for this! I'm prioritising getting the regular accounts done and then I'll hit this hard

[2018-12-11 14:05] rub1e commented on #449
I'm just going to be honest and say it: I never documented this process, and it's now taken me half an hour to figure out how I did it in the first place.

*The very moment* our accounts are submitted to our accountants, I'll document all the things I've neglected

-------------

For my own notes: pretty sure the whole process can be simplified by just going into the relevant pay run and opening t

[2018-12-11 17:04] rub1e commented on #461
Payroll was mercifully easy as we didn't actually _pay_ the pension provider until much later - so this was just a matter of reconciling the wages and tax as usual

(That said, I'll still have to deal with pensions/refunds and write up the process, just not for FY17/18)

General update: it's just filling gaps now - there's... less than one page's worth of reconciliations; a couple of boxes of rece

[2018-12-12 16:20] rub1e commented on #494
Confirmation received

[2018-12-12 16:20] #494 closed

[2018-12-12 17:53] rub1e commented on #461
Weekly update - not to brag, but I smashed through my box of receipts today. Once the rest are done, I'll go through adding correct references / accounts / labels etc. and then we can pay all of the FY17/18 expenses in one go.

There are a handful of items in the `suspense` account which I need to investigate, but otherwise this is straightforward.

[2018-12-13 09:55] rub1e commented on #138
I emailed to ask why we hadn't heard anything and oh! what a coincidence - I got a note saying I can come pick the phone up on the 6th of December at 8am. :man_facepalming:

I'm sure I'll pass through Kx in the next few days so I'll pick it up and send it on to Braga

[2018-12-13 15:57] iteles commented on #138
@rub1e Did they say whether they'd been able to retrieve any data?

[2018-12-18 16:37] rub1e commented on #461
State of play:

* I've edited and approved all of my receipts
  * My love affair with the Xero Expenses app has well and truly ended. It can get the name of a shop in Greek right, but not a date in `yyyy-mm-dd` format. All receipts must be checked manually.
  * Amazon's `Business Analytics` system was sent by the Devil to test me
* Ines will submit all of hers for approval (they're already uploade

[2018-12-19 11:03] sofer commented on #460
Agh! @yvonne-liu just spotted this. She's on it.

[2018-12-19 11:12] rub1e commented on #460
👍 If you get it in this morning, you'll catch the last payment run of the year...

[2018-12-19 12:03] rub1e commented on #461
The only thing to add to the above right now is the Expenses process I've been following:

* For UK expenses, put `No VAT` if VAT isn't clearly marked on the receipt
* For EU expenses...
  * Always mark as `No VAT` (or Xero will try to reclaim it from HMRC)
  * If IVA (Portuguese VAT) is clearly marked, then add the label IVA
  * Also if you feel so moved, I've been adding up the IVA for each rece

[2018-12-19 14:12] rub1e commented on #460
Paid

[2018-12-19 15:16] rub1e commented on #460
I've updated the next period to end Jan 19 not Dec 18 after Ines pointed out the error, which was just because I failed to properly count months on my fingers

[2018-12-19 17:20] rub1e commented on #461
As discussed @iteles it looks like there's a permissions issue with me approving your expenses. Issue has been raised with Xero, but in the meantime...

* I've been through every one of your receipts and corrected dates / VAT rates
* They should all appear with `approval timed out` on your expenses page
![screenshot 2018-12-19 at 15 26 23](https://user-images.githubusercontent.com/11595920/5023630

[2018-12-30 15:29] Cleop opened #512 "What is the company PAYE reference number? (for tax return purposes)"
I need to know:

What is the company PAYE reference number? (for tax return purposes)

I'm not sure if this information is sensitive so I don't mind if you don't respond here. Apparently they're usually on your payslips but I can't see ours on there.

[2018-12-30 15:35] Cleop opened #513 "When did pensions contributions begin?"
#342 #474 show details about the pensions but I can't clearly ascertain from it when pensions began being contributed to.

I need to fill this information in for my tax return... 🙌 🙄

[2018-12-30 18:15] iteles commented on #513
@Cleop April 2018 https://github.com/dwyl/hq/issues/342#issuecomment-374928044
You should have the details in the email we also sent you just before the pension scheme started (sometime in March 2018) and you should also see these logged in your payslips from April onwards.

[2019-01-02 12:17] rub1e opened #514 "Credit notes - paying money back"
We had a client pay a voided invoice by mistake, so we had to create a Credit Note to pay them back.

As is the way with these things, the process can be a bit fiddly, so needs to be documented:

* [ ] Add Credit Note raising and reconciling to `process-handbook`

[2019-01-02 14:53] rub1e commented on #474
It's unclear to me whether Xero or TPP fixed the issue, or it just kinda sorted itself out somehow... but we no longer need to go through the rigmarole of changing the CSV file (as described [here](https://github.com/dwyl/hq/issues/474#issuecomment-436709152) - `just upload` the file and TPP takes care of the rest

[2019-01-02 15:04] rub1e commented on #512
Closing in favour of https://github.com/dwyl/UK-HMRC-FAQs/issues/14

[2019-01-02 15:04] #512 closed

[2019-01-02 15:04] rub1e commented on #513
Closing in favour of https://github.com/dwyl/UK-HMRC-FAQs/issues/14

[2019-01-02 15:04] #513 closed

[2019-01-02 16:20] rub1e commented on #461
After Xero straight up lied to me and said they'd checked and I didn't have permission for expenses, they "checked" again and the approval issue is because @iteles is so pretentious she insists on spelling her name correctly.

The solution is for you to log in and change your name to remove the circumflex accent*, and then I'll be able to approve the expenses.

Once again, they are asking the user

[2019-01-04 17:38] iteles commented on #461
This will certainly be faster than them fixing it on their side though.

Done. Now pretentiousness-free 💁

[2019-01-08 17:37] rub1e commented on #461
Thanks for this - all expenses now approved.

Thanks also for telling me you found another box of receipts and I'll be back at it tomorrow 😭  (I can't do receipts right now because of the below)

![screenshot 2019-01-08 at 17 15 54](https://user-images.githubusercontent.com/11595920/50847409-6a742080-1369-11e9-84ee-d7e96f611b08.png)

Xero's advice if you can't use Euro is to just use Sterling. I m

[2019-01-15 10:30] rub1e commented on #475
PR https://github.com/dwyl/process-handbook/pull/139

[2019-01-15 10:34] rub1e commented on #461
Accounts were submitted last week and our accountants are going through them this week

Added task to document process for next year

[2019-01-15 15:43] rub1e commented on #481
* Filling in gaps from the distant past - just use github! `https://github.com/[INSERT NAME}?tab=overview&from=2017-06-01&to=2017-06-30`
* Sense-checking
  * There are roughly 250 working days in a year, minus 25 days' holiday & sick leave, minus non-productive time - so each full-time staff would shake out at roughly 210-220 days of work per year, or 18 days a month
  * I've added a sum at the en

[2019-01-16 08:33] rub1e commented on #449
Issue updated with tasks

[2019-01-16 09:06] rub1e opened #515 "End of tax year 5th April 2019"
* [x] Claim employment allowance
* [x] Update all dwyler tax codes (#442 ) (check for forms P9T/P9X from HMRC)
* [x] Generate P60 for all employees and send
* [x] Split PAYE, student loans, and NICs on Xero (#449)
* [x] Check that total paid to employees + total paid to HMRC matches the total going out of our bank account.
* [x] Check employees' addresses up to date
* [x] Check director status up

[2019-01-16 09:14] #447 closed

[2019-01-16 10:17] rub1e commented on #474
Update: I'm not going to bother documenting the Xero process properly because they're hopefully launching the new automatic Xero --> TPP integration in the next few weeks.

I will document the refund process and general pensions reconciliation process as part of #515

And depending on how the new integration works, I might make "upload/check the pensions data has been transferred from Xero to TPP"

[2019-01-18 20:10] nelsonic commented on #349
This issue has _way_ too much _noise_ from "Ghost". Closing.
GOTO: https://github.com/dwyl/labels/issues/87

[2019-01-18 20:10] #349 closed

[2019-01-20 10:42] nelsonic opened #516 "The Harsh Reality of Innovative Companies"
For the people who have not worked in a “startup”, this podcast has a lot of insight:

https://hbr.org/ideacast/2019/01/the-harsh-reality-of-innovative-companies

If you have an iDevice use: https://itunes.apple.com/gb/podcast/hbr-ideacast/id152022135?mt=2&i=1000427274875

*everyone* in the “core” @dwyl team should listen to the podcast and *understand* the topic.

[2019-01-20 11:48] iteles commented on #516
A lot of good insight on something I think we don't see much in 'the London bubble' which is that there's a great side of tech startups - the energy, the fun, the freedom to speak up and the experimentation - but there's a more difficult and less fluffy side which is _necessary_  - the discipline, the hard conversations and the hard decisions.

An environment should never be cruel but always truth

[2019-01-22 09:30] nelsonic commented on #138
@rub1e thanks for persisting with this. 🥇
I don't know if it's "_urgent_" to send the phone to Braga ... (_given how long we've already waited..._)
@iteles could it wait for when someone comes to visit @home in the next couple of months?

[2019-01-22 09:50] rub1e commented on #138
Cool! It also occurs to me that I could bring it in to the office to charge and maybe connect it to someone's iCloud account - or even just download all of the files onto the hard drive and upload them to Google Drive from there? (I couldn't do this at home as I have no access to Apple Tech, not even cables)

[2019-01-22 09:52] rub1e commented on #138
@Cleop is making a note to bring in the cables so we can do this ☝️

[2019-01-22 10:09] nelsonic commented on #138
@rub1e again no rush. as long as the data is "safe" on the device and the device is in a safe place ...

[2019-01-22 10:56] rub1e commented on #509
Unsubscribe:
* HMRC advice emails (transferred to my account as they're occasionally useful)

Filter & Label
* Pensions provider (TPP/B&CE)
* Uber
* Domain providers
  * Netfirms
  * iwantmyname

WIP

[2019-01-22 11:06] rub1e commented on #509
You can create filters from the search bar!

![screenshot 2019-01-22 at 10 55 47](https://user-images.githubusercontent.com/11595920/51531545-a2816600-1e35-11e9-8e1e-c57b2e4c8892.png)
![screenshot 2019-01-22 at 10 55 59](https://user-images.githubusercontent.com/11595920/51531543-a2816600-1e35-11e9-998f-b70dbac06ec6.png)

[2019-01-22 15:05] rub1e commented on #510
To add to the above: Xero seems to randomly not offer the rules sometimes, but otherwise this is ace. BUT it should only be used for payments where no invoice is required - if we're reclaiming VAT on something, we need to attach the invoice, which needs to be done manually

[2019-01-23 17:55] rub1e commented on #449
* `Xero > Payroll > Pay employees`
* Select the month you need
* At the bottom of the page, click the `options` button and get the `Payroll Activity Summary` report
* Reconcile into:
  * `814 - Wages Payable - Payroll` - this is the "Net Pay" amount on the report
  * `825 - PAYE Payable` - this is the "PAYE" amount under "Employee Tax"
  * `826 - NIC Payable` - the **sum** of
    * "Employ**ee** N

[2019-01-28 12:58] nelsonic opened #517 "Gitter?"
# Preface

Building a technology/software product is _difficult_.
There are _many_ competing demands that need to be juggled.
Gitter is a _good_ product and has provided a _good_ service to the Open Source community.
We have used it for _free_ and benefitted from it. (_in "exchange" we have promoted them everywhere_)

On a _personal_ level I have nothing but love, respect and admiration for Mike,

[2019-01-28 16:53] nelsonic commented on #517
@Cleop thank you for reading and commenting. ❤️

This is issue is specific to Gitter and capturing the existing functionality, flaws and desirable features of the product/service. We'll determine what to do _next_ after we have gathered the "evidence" and ideas.

If you know of _any_ other "bugs" in Gitter that you would fix if you had a "magic wand", please share. 🙏

I would  rather become a monk

[2019-01-28 17:33] nelsonic commented on #132
Sadly Xero was adopted in order to "put out a fire" and no real _system_ was created.
Rather than having a clockwork management accounting system that _effortlessly_ produces the statutory financial accounts, we have a _mess_ that has incorrect data and unreliable reports.
I blame myself for _allowing_ this to happen.

[2019-01-28 17:52] RobStallion commented on #517
@nelsonic as @Cleop mentioned above, your analysis of gitter's features comprehensive, but I'll try to add what I can.

### Features

- Real time chat
- Rooms
- Private conversations
- Notifications
- Read receipts (really like)
- Rough timestamps
- Hide unused chats
- Favourite chats appear at the top of the list (and you can drag and drop into an order you like most. One of my favourite features

[2019-01-29 06:56] nelsonic commented on #168
Sadly, this thread is typical of my experience in @dwyl and the _negativity_ of "ghost". 👻

1. Nelson has an idea to use a set of axioms to systematically codify culture. 💡
2. "ghost" adds exactly _zero_ value and takes a dump on the idea. 💩
3. Boss lowers priority so the idea becomes relegated to "_nice, but never going to happen_" pile. 👎

This is how "startups" _fail_.

[2019-01-29 06:56] #168 closed

[2019-01-29 09:20] rub1e commented on #517
This is _uncanny_ - no word of a lie, I was thinking of opening this **exact** issue last night

I reckon I've had **all** of the issues described above, plus on Android I'll see a notification but when I go to the app, the message isn't there - and the only way I can get the message to download is by logging out and back in again. It's... frustrating.

The idea that this is created *by* developer

[2019-01-29 09:53] nelsonic commented on #517
@rub1e thanks for adding your **Android UX** ... **that's _horrible_**! 😞
Why have we put up with this for so long?! 💭

The "_by_ developers _for_ developers" is a variant on "_we are **fixing** our **own problem**_" AKA ["dogfooding"](https://en.wikipedia.org/wiki/Eating_your_own_dog_food).
The _theory_ is that if you are the **`user`** of your own product you will _want_ to make it better.
And b

[2019-01-29 12:34] rub1e commented on #449
In the first two months of the tax year, we have £3k of allowance taken off our NICs.

*This isn't reflected on the `summary report`*, so you'll have to go into `Payroll > Taxes & Filings` to find this - you'll see Month 1 and Month 2 have £3k total under `Recoveries`

For the sake of clarity, I'm going to say that we should include the recovery as a negative line - so in months 1 & 2 we'll have t

[2019-01-29 14:24] nelsonic opened #518 "UX Research"
Today in our team call we emphasised the need to focus/renew our efforts to both _estimate_ our tasks and effectively _track_ the time against our estimates.
I asked the people on the call: "_what online tool do you use for tracking the time on your current task_?"
i.e. are you using a Pomodoro timer that is linked to your current task and is the data persisted online?
(_there are many offline Pom

[2019-01-29 14:35] Cleop opened #519 "Has dwyl's name/ meaning changed?"
I've noticed a couple of places on github where dwyl which I've always formerly known to stand for 'do what you love' instead reads:

![image](https://user-images.githubusercontent.com/16775804/51915319-bcd9b780-23d2-11e9-823a-a9b67876fb57.png)

has this changed? is there an issue relating to the process of this decision?

To me, I think this is a more negative phrase. However I suppose it could l

[2019-01-29 15:24] iteles commented on #461
We received draft accounts from our accountants on Saturday and are reviewing them with them again today.

[2019-01-29 15:31] Cleop commented on #518
I didn't find the linking with Github very easy to access:

It's under 'Import/Export' which is greyed out and in a 'show more' part of the menu. So I assumed it was a paid for feature. I only found it after reading 2 help articles. Even within that title, you have to click integrations to get to the right tab:

![image](https://user-images.githubusercontent.com/16775804/51919082-a5063180-23da-11e

[2019-01-29 15:44] nelsonic commented on #518
Features: https://toggl.com/features a graphic of a levitating lady telekinetically juggling random objects:
![image](https://user-images.githubusercontent.com/194400/51919399-3d041b00-23db-11e9-894e-a5e99873695f.png)
If Toggl will give me the powers of levitation and telekinesis, I'm _sold_!
_However_ scrolling through the "features" page I at _no point_ see the _actual_ App UI/UX;
Just a bunch o

[2019-01-29 16:19] nelsonic commented on #518
https://toggl.com/signup
![image](https://user-images.githubusercontent.com/194400/51922334-bbaf8700-23e0-11e9-8cbe-b64aeef56b97.png)

First thing I'm greeted with is a modal:
![image](https://user-images.githubusercontent.com/194400/51922385-daae1900-23e0-11e9-91e0-0f102669e9de.png)
It tells me that the product is too complicated for me to _understand_
and I need to "Hire a Toggl Consultant" ...

[2019-01-29 16:22] nelsonic commented on #518
Oh look, another Modal ... "become a beta tester" ... Really?
![image](https://user-images.githubusercontent.com/194400/51922938-ebab5a00-23e1-11e9-8851-e9b2b1fd9cf9.png)
I _just_ started using your _core_ product and now you are spamming me with "beta testing"...?! 😕

[2019-01-29 17:47] rub1e commented on #518
I've been on the site for 0 seconds and they've already tried to upsell - I can hire a "certified" TOGGL "consultant" to set it up for my team! (I instinctively dismissed it before taking a screenshot, sorry)

[2019-01-29 17:49] nelsonic commented on #518
@rub1e scroll up for the "consultant" modal. 😉

[2019-01-29 19:45] iteles commented on #481
Added checklist to 'Review data' point in top comment.

[2019-01-29 19:55] nelsonic commented on #301
# _PLEASE_ DON'T READ THIS! IT'S NOT FOR YOU!!

When a person opens an issue to pay lip-service to "tracking" the task ✅❓
then adds _zero_ detail/checklist or follow-up so it's _impossible_ to "unpick" what was actually _done_ ... 😞

![image](https://user-images.githubusercontent.com/194400/51933340-fde4c280-23f8-11e9-8a0b-d35c548be3ae.png)

What was the _criteria_ for selecting a bookkeeper? What

[2019-01-30 08:43] SimonLab commented on #518
The application doesn't really work on mobile (with browser). You can still login but some features are not working.
![toggl-login-mobile](https://user-images.githubusercontent.com/6057298/51968797-ba2aa100-246a-11e9-9cf9-2b75bae5cefa.png)

[2019-01-30 09:05] Cleop commented on #518
You can't attribute a block of time to more than one project.

E.g. I've just been checking my notifications and planning my day which has consisted of things both for 'Time' and 'Club Soda' but toggl will only let me attribute that block of time to one or the other.

[2019-01-30 11:32] rub1e commented on #460
@sofer @yvonne-liu please send through an invoice for £286 to cover this quarter (this is the final portion of dwyl's fees for Finn)

Once that's in, we'll close this issue off for now, until we take on more FAC grads

[2019-01-30 13:57] nelsonic commented on #519
@Cleop _thank you_ for opening this issue.
we had the "do what you love" (slogan) in the title for a long time (_long before others_<sup>1</sup>...)
until "ghost" decided to [remove it](https://github.com/dwyl/learn-nightwatch/issues/58) ... 🙄

We briefly restored it last year and then _I_ updated it to the ["_other side of the **same** coin_"](https://dictionary.cambridge.org/dictionary/english/b

[2019-01-30 14:04] iteles commented on #519
I'm a fan of the versatility so I didn't change it myself when I noticed @nelsonic had changed it. I currently use both interchangeably depending on what is more befitting of the situation and I think a stronger brand presence brought on by a product will clarify this (with the help of some user testing).

The WeWork trademark was also a 🙄 moment so as you mentioned @Cleop it was definitely a fact

[2019-01-30 14:32] rub1e commented on #514
Closing as PR https://github.com/dwyl/process-handbook/pull/138 has been merged

[2019-01-30 14:32] #514 closed

[2019-01-30 14:46] rub1e commented on #459
Downgraded to P5 and added a task to issue description. I'll bump priority back up when we have a new client to send a contract

[2019-01-30 15:18] rub1e commented on #451
@iteles Shall I just add anything from here that's not already in our docs when I update the `annual accounts` process next week (after the accounts have been submitted)?

[2019-01-30 15:40] rub1e commented on #518
* Gamification

![screenshot 2019-01-30 at 09 39 32](https://user-images.githubusercontent.com/11595920/51992227-8b312100-24a4-11e9-9f0a-964e1810c343.png)

I don't like it. It feels infantilising.

* Accuracy

Perhaps this says more about my way of working than anything else... I just don't find timers a particularly accurate way of tracking my time.

For example, if I'm doing a lengthy task and a

[2019-01-30 16:47] rub1e commented on #201
In terms of `Value for Money`, you'll never see anything better (except maybe if you type `learn-` into dwyl's github searchbar)

My takeaway from what FAC are doing now is that we wouldn't be getting strategic support - _we_ would have to do the strategy part and the Digital Mum would do the tweeting (I think that's something they should have done rather than relying on the Digital Mum, who's doi

[2019-01-30 16:58] nelsonic commented on #518
@rub1e we _agree_ that the UX can be improved. And that we need a way of context switching from one activity to the other when the "quick task" (_like answering an email_) is "only 2mins".

Want to "Be more effective. Upgrade now" ...
![image](https://user-images.githubusercontent.com/194400/51997986-bd944b80-24af-11e9-9903-a9e07ad260bb.png)

This is the kind of nonsense "**up-sell**" we will avoi

[2019-01-30 17:08] nelsonic commented on #518
![image](https://user-images.githubusercontent.com/194400/51998870-67c0a300-24b1-11e9-9b36-d839184ff95f.png)

If you click on the annoying RED "Upgrade now" button, this is what you see:
https://toggl.com/app/subscription/3207297/all-plans
![image](https://user-images.githubusercontent.com/194400/51998686-026cb200-24b1-11e9-901d-f7fe4f6a9530.png)

That **URL** should give you some insight into how

[2019-01-30 17:51] rub1e commented on #518
I can't stop looking at that red button. It's almost offensive, the idea that you'll instantly become a more effective person if you click here and enter your credit card details.

Imagine if Waist-Watchers had a button saying "Get thinner. Upgrade now"

Good insight re the /all-plans route 👍

[2019-01-30 18:32] nelsonic commented on #201
We have no interest in a "social media presence" we need to focus _all_ of our efforts on building the product. We will then hire a "Digital Mum" to help us UX Test and eventually to help us with Customer On-boarding, Support and Forum Answers.

For now, let's "park" this.
Thanks for following up on it @rub1e ✨

[2019-01-30 18:34] nelsonic commented on #459
There are a _number_ of _reasons_ this is a **`priority-5`** (_agreed_). Thanks. ✨

[2019-01-30 18:59] iteles commented on #201
My experience of this through Founders & Coders is that it is useful but formulaic.

It will be a good exercise in codifying our 'voice' , style and strategy but without using platforms like Instagram and Facebook (which we don't _want_ to use https://github.com/dwyl/home/issues/29) this is much less relevant.

Thanks @rub1e !

[2019-01-30 18:59] #201 closed

[2019-01-30 19:05] iteles commented on #422
Not relevant for now as we are focussing on our own product roadmap. Will reopen if required.

[2019-01-30 19:05] #422 closed

[2019-01-30 19:07] iteles commented on #431
Closing this for now. We need to focus on product and without wanting to use Facebook or Instagram https://github.com/dwyl/home/issues/29 , this is not a concern as long as we own the real estate so that others cannot use our name or pass themselves off as us.

[2019-01-30 19:07] #431 closed

[2019-01-30 19:08] iteles commented on #382
We can close this issue. There  are a number of things that can't currently be addressed in Xero, so closing and archiving for review if needed.

[2019-01-30 19:08] #382 closed

[2019-01-30 19:10] iteles commented on #450
We will develop a better solution for this, but for now, the volume of invoices is such that they are easily searchable and we need to refocus efforts elsewhere.

[2019-01-30 19:18] nelsonic commented on #431
Also Google+ ...?
https://www.theverge.com/2018/10/8/17951890/google-plus-shut-down-security-api-change-gmail-android 💀

[2019-01-30 19:19] iteles commented on #482
@rub1e Did these come back? Can we close this issue and move it to the `library` repo? 😊

[2019-01-30 19:58] iteles commented on #409
Experience has shown me that this is usually ignored after a short while and there wasn't much engagement with the issue anyway :+1:

[2019-01-30 19:58] #409 closed

[2019-01-30 19:59] iteles commented on #404
We will build this into our apps and the issue will be transferred.

[2019-01-30 19:59] #404 closed

[2019-01-30 19:59] #380 closed

[2019-01-30 20:00] iteles commented on #378
Done and closed. We have a starting point and can open a less noisy issue for improvements when we come to the next one.

[2019-01-30 20:00] #378 closed

[2019-01-30 20:04] iteles commented on #468
Closing this issue because the volume of invoices is very low and this isn't an issue for those people.

We _can't_ change the from address to anything stable other than 'no-reply' because that is a limitation of the software we are using.

The solution here is to use an invoicing system that is fit-for-purpose, which is a separate low priority issue to be opened ((given our current product focus,

[2019-01-30 20:04] #468 closed

[2019-01-30 20:06] iteles commented on #416
This is still something that could benefit from a blog post but gets lost in proposals anyway so that is not the right home for it.

Closing for now.

[2019-01-30 20:08] nelsonic commented on #416
@iteles we need a place we can transfer these kinds of "short" (5 min read) blog posts ... 💭

[2019-01-30 20:10] nelsonic commented on #468
@iteles then we need to change the "_software_" we are using. 👎
Any software designer/developer should know better than to use a **`no-reply`** email.
It's _terrible_ UX! 😠

At the _very_ least we should write a  "_short_" (5 min read) blog post on this ... 💭

[2019-01-30 20:17] iteles commented on #242
There is a draft in a plain, 2 page word document that was never really circulated and is pretty dry.

@rub1e Could you please take a look and see if there's anything _useful_ in there that is not already contained in repos and if so, this (as with everything we do) should be a markdown file in HQ.

Thanks!

[2019-01-30 20:19] iteles commented on #275
Solving this in https://github.com/dwyl/product-roadmap/issues/8

[2019-01-30 20:19] #275 closed

[2019-01-30 20:30] iteles commented on #331
And that issue was never complete so this issue wasn't revisited. Closing because there's a lot of noise, documented in the high priority issues so we can return to it afresh once we _know_ our  financial position a little better.

In the meantime we have continued to offer accommodation for dwylsummer and have team dinners and outings whenever there is a  good idea of what to do or when a group o

[2019-01-30 20:30] #331 closed

[2019-01-30 20:33] iteles commented on #348
This didn't come to fruition and the client wasn't very enthused with the late proposal and having to chase us for it multiple times.

The initial bout of funding didn't come through and she was less interested after that.

[2019-01-30 20:33] #348 closed

[2019-01-30 20:35] iteles commented on #357
No longer available as we had originally anticipated and we are no longer in the ZEN catchment area so cannot apply.

[2019-01-30 20:35] #357 closed

[2019-01-30 20:36] iteles commented on #214
Moved to https://github.com/dwyl/video/issues/20 as nothing was done about this.

[2019-01-30 20:36] #214 closed

[2019-01-30 20:38] iteles commented on #173
@nelsonic Could you please move this to https://github.com/dwyl/leadership ?
Don't want to take credit for your find  😉

[2019-01-30 20:40] iteles commented on #133
No longer relevant.

[2019-01-30 20:40] #133 closed

[2019-01-30 20:44] iteles commented on #98
A deadline. No information to summarise the scheme, pros and cons, no actual work to save others in the organisation work done.

Closing as no longer relevant.

[2019-01-30 20:44] #98 closed

[2019-01-30 20:49] iteles commented on #59
Closing for now until we want to ramp up the team again.

[2019-01-30 20:49] #59 closed

[2019-01-30 20:51] iteles commented on #26
Our combination of ethical banking providers is not _fantastic_ but is working for us _at  the moment_. Will reopen when there  is a pain point to address here.

[2019-01-30 20:51] #26 closed

[2019-01-30 20:57] iteles commented on #173
@nelsonic Tried to transfer this issue to https://github.com/dwyl/leadership but it didn't give me the option to! Could you please open the issue there again?
I don't want to take credit for it 😉 and it's a good article!

[2019-01-30 20:58] iteles commented on #416
Bit hasty in closing this one anyway, I was on a roll 😉

[2019-01-30 21:16] nelsonic commented on #173
Derp ... (_repo not found ..._)
![image](https://user-images.githubusercontent.com/194400/52013045-0100b100-24d4-11e9-9bab-15bc8ab752de.png)

GOTO: https://github.com/dwyl/leadership/issues/7

[2019-01-30 21:16] #173 closed

[2019-01-30 22:34] iteles commented on #517
At the moment, whilst our processes are still under improvement, I often use gitter to alert people to something that they might miss if there is a lot going on like a re-prioritisation of an issue, that I have answered a question or reviewed a pull request. I don't tend to use it for anything urgent or of any consequence - all of these things go into issues directly (though we do need a much bett

[2019-01-30 22:37] iteles commented on #325
Really wanted to use  this gif but couldn't get it to display! https://img-s3.onedio.com/id-57e132d5950fdb64063725bc/rev-0/raw/s-d573ece8748dd63218413b37554acae8a21eabf8.gif

[2019-01-30 23:30] nelsonic commented on #325
![child-candle](https://user-images.githubusercontent.com/194400/52019855-087d8580-24e7-11e9-9cb6-0e699bb6c012.gif)

[2019-01-31 02:35] edwardcodes commented on #322
@iteles This issue can be closed, Thank you!

[2019-01-31 02:42] #322 closed

[2019-01-31 07:56] Cleop commented on #519
Thanks for the clarification @iteles @nelsonic, I like the context of the 'away motivation' 👍

[2019-01-31 07:56] #519 closed

[2019-01-31 08:14] rub1e commented on #481
Good news!

### Level of depth needed in project descriptions

:raised_hands: :tada:

### Weekends
We're doing the right thing in capturing the _actual_ days worked, but we don't pay overtime so it won't make a difference to how much we can reclaim.

(My understanding is that capturing weekends will affect the _ratio_ of how much time is put to each project; ultimately we're talking about _employe

[2019-01-31 08:20] rub1e commented on #519
Honestly, the first time I noticed "Don't Waste Your Life", I refreshed the page to see if it would change to "Don't worry, you lump" or "Do while you learn".

Disappointed.

[2019-01-31 10:19] nelsonic commented on #519
Worth linking to this issue/thread from "start-here" in case anyone ***`else`*** has this question ...? 💭

[2019-01-31 15:45] nelsonic opened #520 "OKRs? CFRs? (The Key to Success Building Product!)"
The slightly longer "_subtitle_" of this issue/story is:

"_How to build a sustainable values-driven open source software product company in 3 months
using a proven system to set company-wide, team & individual goals/tasks ("**Objectives**"),
track metrics ("**Key Results**") and help each other to ship great UX that delights users_."
"_How are we going to encourage **Conversations**, **Feedback**

[2019-01-31 15:54] nelsonic commented on #516
OKRs: https://github.com/dwyl/hq/issues/520

[2019-01-31 16:06] nelsonic opened #521 "Zoom.us (Replace Google Hangouts/Meet) ?"
# Story  ... 🤙 |> 😞 |> 💡

As a product owner, team member or stakeholder
I want an _excellent_ way of running/attending & ***recording*** remote team meetings with _great_ quality
So that I can _communicate_ effectively with teammates and never _lose_ any insight.

_Additionally_ if/when I am _unable_ to attend the meeting,
I need a quick+easy way of catching up on the meeting by watching a _video

[2019-01-31 16:51] SimonLab commented on #521
Very happy to try zoom, my only question was if they provide a client for linux, but they do!
![image](https://user-images.githubusercontent.com/6057298/52070248-4e365e80-2578-11e9-83bd-4d5b1dead82f.png)

https://zoom.us/download#client_4meeting

[2019-01-31 18:19] iteles commented on #461
Accounts submitted by accountants today and any corporation tax due has been paid.

@rub1e What do you need from  me in terms of documentation so that we can close this off?

[2019-01-31 18:23] iteles commented on #481
For the documentation: We need  to get our accounts done and ready as early as possible after financial year end so that computations from these can be sent to the R&D consultants and then we won't need to amend our accounts post facto.

Computations received @rub1e, have added them to the  drive.

[2019-01-31 21:09] edwardcodes commented on #520
I really liked “the taste” of “Measure What Measures”, this is very serious and very straightforward.. the f.a.c.t.s (focus alignment commitment tracking and stretching) are every day with you and Inês 🚀
I’m keen on adopting this system.

[2019-01-31 22:27] nelsonic opened #522 "New Phone || Desk Charger || Battery Case for Inês?"
https://github.com/club-soda/club-soda-guide/issues/438
![image](https://user-images.githubusercontent.com/194400/52089680-15fa4480-25a7-11e9-905f-93ace824575a.png)
not even **10am** and @iteles' phone is down to **7%** ... 🔋
Maybe time to:
+ [ ] Get a "battery case" that extends the life of current iPhone
+ [ ] Get a desk charger
+ [ ] Buy a Newer Phone (_with wireless charging_) ?

[2019-01-31 22:37] iteles commented on #522
😆 I'll get a new desk charger thanks, I would just never use a batter case.

[2019-01-31 22:44] nelsonic commented on #522
https://www.amazon.co.uk/DIGI4U%C2%AE-Ligntning-Charger-Station-Support/dp/B01LBAJ63Y
![image](https://user-images.githubusercontent.com/194400/52090566-ad609700-25a9-11e9-90a7-06867c25f004.png)
Lighting port is hight-adjustable so it works with any thickness of case. 💡

[2019-01-31 22:54] iteles commented on #520
@nelsonic Thank you for making the time to open this issue which I should have opened a long time ago! I'm excited about where we're headed, it's been a long time coming.

We just need everyone to be 100% honest with each other on how they feel...

This in particular hit home for me, I think this is where it starts. We need to be unafraid of having the tough conversations (which I *thought* I did

[2019-01-31 23:02] iteles commented on #522
Ordered. Thanks for the intervention!

Should arrive 6-Feb directly to Portugal.

[2019-01-31 23:02] #522 closed

[2019-01-31 23:06] nelsonic commented on #522
The _first_ step is admitting we are powerless over our iPhone dependency
and that our lives have become unmanageable.
https://en.wikipedia.org/wiki/Twelve-step_program
🙄

[2019-01-31 23:18] nelsonic commented on #518
Has anyone started a timer _incorrectly_ and then _deleted_ it?
![image](https://user-images.githubusercontent.com/194400/52092111-7b9dff00-25ae-11e9-9fa2-bbcc4081bea8.png)

[2019-02-01 10:57] iteles commented on #521
I have used Zoom once before, when I was having a call with some folks about a talk, in September 2017 so I'm out of date on how good it might be.
At the time, as a first time user, it made me jump through a lot of hoops to be able to use it and I had to install software on my computer (which, as a person on the receiving end of an invite, especially for a one-off call as was the case, I hate). I

[2019-02-01 11:21] nelsonic commented on #521
@iteles thanks for diving in. Do you feel that we can test Zoom.us for our CS Retro call _today_?

[2019-02-01 11:22] iteles commented on #521
Already updated the invite 20 mins ago 👍

[2019-02-01 11:31] nelsonic commented on #521
@iteles cool. 🎉 https://zoom.us/j/7014628618 (_for anyone reading this issue_)

Keyboard shortcuts: https://support.zoom.us/hc/en-us/articles/205683899-Hot-Keys-and-Keyboard-Shortcuts-for-Zoom

[2019-02-01 11:40] nelsonic commented on #521
Native app means we get pop-over faces and can still look at content full-screen. 😮
![image](https://user-images.githubusercontent.com/194400/52120987-049c5100-2616-11e9-9b9c-cb9539b8419d.png)

[2019-02-01 13:34] RobStallion commented on #521
First impressions

I felt that zoom was pretty good. Other than the page not loading and having to get the app I felt it went pretty smoothly.

- The link in the calendar opens the app so it's pretty seamless to use.
- The keyboard shortcuts were clear and easy.
- The raise hand feature seems like a pretty good way to let people know you have something to say that isn't talking over someone or int

[2019-02-01 16:38] Danwhy commented on #521
I was quite happy with our trial. It seemed to handle all six of us with our videos displayed with no problems, which is more that can be said for Google Meet.

Like Rob said, it was easy to connect. I like the desktop app as it means I don't have to go looking through my emails for the right hangout link.

The biggest problem I've had with Meet is that my microphone doesn't work half the time whe

[2019-02-01 16:58] SimonLab commented on #521
Our first call was good and without any issues (sound or video).
I like that the native app allow me to share all of my screens (couldn't do this with meet, and it was only working correctly with Chrome).
The video thumbnail is great too while reading/watching another screen.
So far so good

[2019-02-02 05:39] nelsonic opened #523 "WeWork The Most Overvalued Company in the World?"
[![image](https://user-images.githubusercontent.com/194400/52160388-b4240280-26ac-11e9-92af-7d2a06063f5f.png)](https://youtu.be/DwAyUV6hTf8)
https://youtu.be/DwAyUV6hTf8
@iteles it's worth watching this video to _understand_ ***why*** there is "buzz" about "We" ... 📺

[2019-02-04 09:33] nelsonic commented on #521
Can't join without @iteles ... 😕
![image](https://user-images.githubusercontent.com/194400/52200146-d611b680-285f-11e9-9635-3c7f70c951fa.png)
We need to _pay_ for this service and all members of the "core" team should have host access.

[2019-02-04 11:06] SimonLab commented on #518
feedback question on the main app screen:
![do_you_like_this_app](https://user-images.githubusercontent.com/6057298/52204657-b5039280-286c-11e9-9f1e-a1ea50467b4c.png)

[2019-02-04 14:45] Cleop commented on #521
I feel like Zoom worked fine for our recent retrospective. I like the 'hand up' feature that @RobStallion came across. But like @iteles I was frustrated/confused by the initial set up journey and feel this could be confusing for clients.

[2019-02-05 10:05] nelsonic commented on #517
# "Unread" Messages Counter/Notifications ... 😕

Another "bug" that drives me _nuts_ is when I click on a room that has a few unread messages:
![image](https://user-images.githubusercontent.com/194400/52265575-4c7bea80-292c-11e9-8a00-6a105e0d2f0f.png)
When I am in full view of the unread messages (_screenshot window viewport constrained for privacy_),
![image](https://user-images.githubusercontent

[2019-02-05 10:08] iteles commented on #518
Most of the little prompts in the corner of the screen don't annoy me at all because I can still do what I need to do without having to click off them. But the ones that block my field of vision I find pretty annoying, particularly when they are irrelevant to me.

Got this new one today which is pretty relevant and could be useful (but the pop-up in the middle of my screen still annoyed me):
![ima

[2019-02-05 11:00] Cleop commented on #518
I like the fact that on timer mode you can still change the start time because sometimes I forget to start the timer (which I want to be on timer mode) but I need to add the 5 mins it took me to realise the timer wasn't running!

<img src="https://user-images.githubusercontent.com/16775804/52269105-29096d80-2935-11e9-93b7-14155c9a8d1e.png" width=300px />

[2019-02-05 11:01] iteles commented on #517
@nelsonic I mentioned that as  my second point on mobile above :arrow_up: https://github.com/dwyl/hq/issues/517#issuecomment-459137486

Only happens to me rarely on desktop (I never use in-browser gitter).

[2019-02-05 11:24] iteles opened #524 "Credit in HMRC CT account"
When I logged into our HMRC account last week  to make sure the latest accounts had been  filed correctly #406  noticed that there was a credit in our corporation tax account.

This was a hangover from last year where we had a credit because we paid into an erroneous  HMRC account (separate to the credit from deliberate overpayment of VAT 🤦‍♀️ https://github.com/dwyl/hq/issues/461#issuecomment-409

[2019-02-05 11:48] rub1e commented on #524
Yeah I've figured this out - it's actually quite straightforward (but I did misremember and therefore mislead you when we spoke over the phone, apologies)

* We paid our Q4 VAT payment "manually" so the money would come out of our account in that same financial year
* BUT I paid it into HMRC's Corporation Tax account instead of the VAT account by mistake
* AND then HMRC took our VAT payment a mont

[2019-02-05 12:30] rub1e commented on #481
@iteles I've filled in the gaps in both the `project list` and `cost collection` sheets.

(Only `datepicker` was missing, as it only had two days of work on it in FY17/18 - the rest of was this FY)

So all that remains is for you/Nelson to go through the project list and add bullet points about uncertainties & challenges - I've highlighted in 🔶 ( 🍊 ) the bits where I think you should put fuller de

[2019-02-05 12:39] iteles commented on #524
@rub1e Thanks for the sleuthing :shipit:
The payment  made in January 2019 is our corporation tax for FY2017/18 - HMRC will treat this as a credit for now until the corporation tax filing is carried out by our accountants in the coming weeks (deadline: end April 2019). This is all correct.

I wasn't aware that we were in credit from last year (like you, I though this had  been returned to us), so

[2019-02-05 13:21] rub1e commented on #461
https://github.com/dwyl/process-handbook/blob/master/Finances/preparing-accounts-for-your-accountant.md

I'll add in the R&D section now, and then go over to see if we've missed anything relevant

The only thing I need from you is if there were any issues you went through with the accountants directly?

If you've anything to add, just let me know 👍

[2019-02-05 13:45] iteles commented on #461
Nothing specific, it changes every year based on what they send back and  needs reviewing. More of a question of understanding where the figures come from. I'm taking up the question of getting Xero sorted with them too so I'll open  a separate issue for anything that comes of that.

[2019-02-05 13:46] rub1e commented on #524
Yes of course - that all makes sense!

[2019-02-05 15:19] rub1e commented on #481
Having spent so long staring at this spreadsheet, I only just noticed that there's a section for spending on `Software Licenses`!

So just mentioning that in case we had any relevant costs that could go down there? (But given the open-source nature of our work, it's not likely to be a great deal)

[2019-02-05 17:15] rub1e commented on #524
On its way back to us now - we should check after the 18th to see if the repayment has been confirmed, and then it'll hit our account shortly after that

[2019-02-05 17:21] rub1e commented on #482
Chased

[2019-02-05 19:16] nelsonic commented on #482
In "normal" circumstances I would _never_ allow a book to go "AWOL".
But given that the Elixir & Phoenix books have changed since our paper copies were purchased,
(_the [Phoenix one especially](https://github.com/nelsonic/practice/issues/55)_), it's not a _high_ priority to get them returned.
**`priority-5`** is appropriate  or even **`priority-6`** ...
I'd be _far_ more interested in getting "The

[2019-02-05 19:20] iteles commented on #482
@nelsonic Who has Sprint? We'll set @rub1e on them! 😆

[2019-02-05 19:32] nelsonic commented on #482
Time/effort/cash-wise it's more effective to buy a new copy (£10)
than to attempt to "chase" the person who we lent the book to ...
at this point probably doesn't "remember" that it's _our_ copy ... 😞
I don't recall "stamping" the book with the @dwyl stamp
so my guess is that the book has been "_assimilated_" into the person's book shelf ...
https://www.amazon.co.uk/Sprint-Solve-Problems-Test-Idea

[2019-02-05 19:50] iteles commented on #481
@rub1e None that I can think of. @nelsonic Any on your list?

[2019-02-06 06:36] nelsonic commented on #518
@Cleop yeah, the ability to _retrospectively_ update the start or end of a timer is a _useful_ feature.

Have you noticed how if the time ticks over from AM to PM you have to _manually_ change that?
(_try starting a timer **just `after`** midday and then try changing the start time to `before` midday ... you will need to **manually** change the "PM" to "AM" for change in start time to work ..._)

[2019-02-06 08:36] iteles commented on #521
Reporting back on **recordings** as I've been the only person to have access to these:
+ The recordings have worked well and have saved to my local machine:
![image](https://user-images.githubusercontent.com/4185328/52306677-8088f700-2990-11e9-9094-11755a8fc329.png)
+ Having these in Zoom starts at an extra €37/month
+ The only thing to note about these is that they do not show everyone on the cal

[2019-02-06 08:58] rub1e commented on #521
Just FYI - it's now possible to record G'Meetings - https://support.google.com/meet/answer/7557124?co=GENIE.Platform%3DDesktop&hl=en

(Yes, I know that doesn't solve any of the other issues!)

[2019-02-06 09:02] olizilla commented on #521
It's the least worst solution I've used. It scales well (as long as
everyone is polite), we use it for all-hands calls with around 80 (mostly
muted) participants.

Recording calls has historically been pretty taxing on the host machine,
but only in as much as you will notice your fans spinning.

Linux + tiling window managers have had problems with screen sharing in the
past, but folks seem to hav

[2019-02-06 09:26] rub1e commented on #518
* Good `Office Space` memeing, but you shouldn't have to explain what Office Space is - your staff should just know.
  * @RobStallion this is more Dilbert-era office bantz, get involved
* Agree with both Nelson and Ines about the modals, in that they're incredibly annoying (in a *productivity* app, FFS), but ultimately they are ignorable
* Being able to edit your start/end time is in theory desira

[2019-02-06 10:13] iteles commented on #521
## Update _for now_
+ Zoom seems to be working well for our Club Soda standups and internal meetings (see comments above) and we can finally have at least 6 of us on video at the same time without it toppling over
+ Recording these standups in decent quality is *gold* 🏅
+ _Let's try it out_

I have upgraded up to the paid plan (no 40 minute cut-off) and will **keep a close eye on which of the feat

[2019-02-06 10:24] rub1e opened #525 "FY18/19 Year End Accounts"
These are due at the end of December 2019 at both Companies House and HMRC.

BUT... why not go through this early? We've just been through this process for [FY17/18](#461) (including R&D #481), and we'll have to do a bit of finance work for the end of the tax year anyway (#515)

The first task here is to review what we have and make a list of tasks required!

@rub1e @iteles  Let's both add to the

[2019-02-06 10:30] rub1e commented on #502
Yeah @iteles I think you're right

Closing this for now, will reopen if there's every anything we can actually _do_ about any of this

[2019-02-06 10:30] #502 closed

[2019-02-06 10:38] rub1e opened #526 "Annual Confirmation Statement 2019"
From HMRC:

**Our deadline is 16th April 2019**, but we can file sooner if we like - just be aware that if we file sooner, our schedule changes according to the new date (i.e. the next deadline is one year from the _new_ date) **unless** we change the date manually (see `Process` below)

* [x] File Confirmation Statement
* [x] Add process to handbook

[2019-02-06 10:44] nelsonic commented on #521
@olizilla thanks for your feedback. ❤️
We _really_ value your experience with this as you are running/attending meetings with _lots_ of people and seeing _acceptable_ results.
"least worst" and "Mildly recommend" ... are _ringing_ endorsements as far as I'm concerned. 😉

"_least bad_" is the first step toward "_good_".
I _agree_ that it's not "outstanding" by any means.  But it's **_objectively_ b

[2019-02-06 10:52] rub1e commented on #526
Oh! I just tried to do a dry run of the process to check if we needed any extra info... and I actually just finished it!

@iteles Assuming there are no changes that I'm not aware of, this is ready for filing.

The only thing I want to check is why our Share Capital entry is down as "Updated" when it was actually updated last year and hasn't changed since

## Process
* Log into Companies House
* Hi

[2019-02-06 11:09] rub1e commented on #482
Essentially what you're saying is that if I track down whoever stole Sprint, I get to keep it?

Or if you buy a new one it'll be delivered here anyway so I can borrow it before it goes to Braga - win/win!

Why don't I do a little spike on stamping/RFID and put it into a new issue in `Library` when I close this one?

[2019-02-06 11:22] iteles commented on #525
@rub1e As suggested, let's use the documentation you're creating from #406 to put together what we need and make sure it's up to  date and understandable 👍

[2019-02-06 11:30] rub1e commented on #525
The annual accounts process is [already there](https://github.com/dwyl/process-handbook/blob/master/Finances/preparing-accounts-for-your-accountant.md) so what I'll do is use that list for FY18/19 and then fill in any gaps / update with any tips & tricks I've learned along the way

The last part of that documentation is the R&D process - that's ready but I need to check it over before submitting f

[2019-02-06 11:38] iteles commented on #526
@rub1e I've checked and agree the share capital is the same so also not sure what that's about!

Worth considering #493 ?

[2019-02-06 12:14] rub1e commented on #526
All good - your Companies House entry is already updated and that's what the Conf Statement is based on:

![screenshot 2019-02-06 at 12 13 10](https://user-images.githubusercontent.com/11595920/52340830-bc5fa300-2a08-11e9-8c01-ef1c0fd4a717.png)

[2019-02-06 12:14] rub1e commented on #526
OK so shall I just file it once I've double-checked about the share capital?

[2019-02-06 12:48] iteles commented on #526
@rub1e The names in the 'shareholders' section aren't updated though.

But other than that, yes. Do you need me to file for bank card payment purposes?

[2019-02-06 13:04] nelsonic commented on #482
@rub1e your skills/knowledge/experience/abilities/awesomeness is better spent on more valuable tasks.
We will define an "intern" task for stamping+tagging the books in the library. 😉

[2019-02-06 13:27] rub1e commented on #481
@iteles I've added our Sketch subscription to the list.

Just thinking - if ops time counts towards the R&D claim, what about Xero and G-Suite?

I'll sent the consultants an email about this now

[2019-02-06 13:50] iteles commented on #518
I have been noting down things I particularly like and things that annoy me over the last few days in an effort to contain my thoughts within one place.
Whereas this list is _not exhaustive_ , it contains the things that captured my attention the most.

## Likes:
+ Timer **name displays in the tab in-browser** for online timer, reminding me that it’s on
￼
![image](https://user-images.githubusercon

[2019-02-06 13:52] iteles commented on #481
@rub1e Xero would make sense because it is how the financials and managed for every project (even internal ones). Let's see what they say 👍

[2019-02-06 13:53] rub1e commented on #526
Nah - you owe me a couple of expenses anyway and I'll sort that next week, so all good

Re names - good spot - the `Officers` section is correct, but the `Shareholders` isn't - a mildly interesting insight into how they've designed the platform. *Mildly*

[2019-02-06 14:11] rub1e commented on #526
![screenshot 2019-02-06 at 14 10 59](https://user-images.githubusercontent.com/11595920/52347112-136d7400-2a19-11e9-8f11-8cff0f6554f9.png)

Boom

Will close when accepted

[2019-02-06 14:18] rub1e opened #527 "[Security] PROOF online filing for Companies House"
After I completed our Confirmation Statement, I was offered this:

I don't really see any reason to _not_ do it, as I can't think of when we'd be filing things via paper post anyway.

(It's also not clear to what extent this is a `service` - it's just an instruction to not accept paper submissions 🤷‍♂️ )

@nelsonic as dwyl's Worf/Odo/Tuvok, what do you think?

[2019-02-06 14:56] rub1e commented on #481
Unfortunately they say it's too generic an expense for R&D relief (which is kinda fair enough I reckon)

[2019-02-06 15:00] rub1e commented on #527
![screenshot 2019-02-06 at 14 09 24](https://user-images.githubusercontent.com/11595920/52350210-ec667080-2a1f-11e9-8091-d71465f8d4ba.png)

And how's this for a dark pattern, eh?

[2019-02-06 16:20] Cleop commented on #518
I definitely agree re what to do with very small chunks of time context switches e.g. someone gitter messages you, checking github notifications, coffee/toilet break etc.

I suppose it's somewhat down to the individual to determine at what point these small chunks of time are significant e.g. popping to the kitchen to top up a water bottle might not be worth switching for, whereas popping to the k

[2019-02-07 07:57] Cleop commented on #518
I was just taking a glance at my Toggl and noticed I've not been keeping up assigning my tasks to projects as diligently as when I first began. I think I'm somewhat disappointed by the github integration. So far all I've noticed that does is import a list of my project names (which as I said before doesn't include other orgs you're part of, just personal repos which isn't very useful for me.)

I t

[2019-02-07 09:30] Cleop commented on #521
![image](https://user-images.githubusercontent.com/16775804/52401947-deb1f900-2aba-11e9-8c5f-3d582537e57f.png)
You see this error message when you enter a correct meeting ID but your host has not started the call yet. I feel like this is not a clear error message that could confuse a client and make them worry they're in the wrong place.

[2019-02-07 14:19] iteles commented on #521
@Cleop Looks like it's not when the host isn't present but possibly because you can't just reuse a meeting ID, you have you schedule the meeting in Zoom first. Looking into it :+1:

[2019-02-07 14:28] SimonLab commented on #521
It might be linked to https://github.com/dwyl/hq/issues/521#issuecomment-461437385 but this morning I couldn't start the meeting with the id we have been using so far (the one on the calendar notification). I'm not sure if I didn't set it up properly or if my zoom client didn't allow me to reuse the id of the previous meetings

[2019-02-07 15:16] iteles commented on #521
@SimonLab Looks like you just can't reuse a meeting ID. I tried the meeting ID we used yesterday like you guys did and it didn't work for me either.
Then just in  case it was a glitch from me changing the email address on the account, I tried the ID from the meeting you hosted this morning with that account and it also didn't work.

Looks like: meeting IDs are _one time usage_ unless you actually

[2019-02-07 15:25] nelsonic commented on #521
Guys we are getting carried away with making _assumptions_ instead of actually asking the appropriate questions. Not only are meeting IDs re-usable we can define a human readable ID e.g: **/dwyl**.
It's called a "Personal Meeting ID", please see: https://support.zoom.us/hc/en-us/articles/201362843-What-is-Personal-Meeting-ID-PMI-and-Personal-Link-

[2019-02-07 15:37] iteles commented on #521
@nelsonic The human-readable URL ([vanity URL](https://support.zoom.us/hc/en-us/articles/215062646-Guidelines-for-Vanity-URL-Requests)) is reserved for the next level up of payment plan which requires a minimum of 10 hosts (i.e. £160 a month) 😉 On our plan though, we can define any  numeric value for the personal ID.

_More interestingly_, as you  were typing that, I was investigating and came acr

[2019-02-08 09:18] Cleop commented on #521
Yes this is the UI you see when the meeting hasn't started yet, as opposed to the invalid code error:
![image](https://user-images.githubusercontent.com/16775804/52469107-74648b80-2b82-11e9-80a2-2f118a9a5ed0.png)

This is more informative for clients.

[2019-02-08 09:22] nelsonic commented on #521
~~clients~~ > Product
(_we need this remote meeting tool to interact as a **software product** development team_)

[2019-02-08 11:04] Cleop commented on #518
I'd like it if there's a way we could group together entries with almost the same name (by ignoring upper/lower case) either retrospectively or somehow more efficiently when you create them (I know there are currently recent suggestions you wrote but evidently I ignored those enough to create so many variations of the same title:
![image](https://user-images.githubusercontent.com/16775804/52474579

[2019-02-08 11:09] iteles commented on #518
@Cleop Good thoughts! Just so you know, if you  use the _exact_ same name for them, they group automatically.

[2019-02-08 13:26] SimonLab commented on #520
Just finished the first read of "Measures what matters".
The main idea of OKR in itself is quiet simple (create **objectives**, the what,  and key results, the how, to complete the objectives). The difficulty will be to apply the process to dwyl. We will have some tries/errors and a quick calibration phase. We need also to define the structure of our OKRs (time length: quarters seem to be mostly u

[2019-02-11 18:54] nelsonic commented on #520
Anyone interested in succeeding with OKRs should read:
+ https://en.wikipedia.org/wiki/Goodhart%27s_law (via: https://thehustle.co/Goodharts-Law )

[2019-02-12 09:13] rub1e commented on #520
Apologies, I've finally ordered the book. This is all very exciting and inspirational! Will report back once I've made my way through it

As an aside, Goodhart's Law reminded me of this gem from Christopher Hitchens's crank younger brother, Peter:

![screenshot 2019-02-12 at 08 57 55](https://user-images.githubusercontent.com/11595920/52624257-4050d980-2ea6-11e9-97f0-7cdc1857a4c1.png)

[2019-02-12 10:22] rub1e commented on #361
Migrated to https://github.com/dwyl/learn-security/issues/57

[2019-02-12 10:22] #361 closed

[2019-02-12 16:49] rub1e commented on #508
OK so Xero could have saved us time and bother if they'd not hidden this tidbit of useful info halfway down an FAQ page

![screenshot 2019-02-12 at 16 46 16](https://user-images.githubusercontent.com/11595920/52652415-fe478800-2ee5-11e9-84f3-c2efc5b7aec4.png)

Basically, we already are MTD compliant, no new documentation required - if that changes I'll update this issue. Otherwise I'll close it on

[2019-02-12 16:54] rub1e commented on #80
Is this still a goer? Do we still use `hapi`? @nelsonic

Are there other "communities" I should see about? Any of the PETE ones, for example?

(Just respond positively if so - don't waste your time looking for them!!)

[2019-02-12 17:15] rub1e commented on #461
PR https://github.com/dwyl/process-handbook/pull/143 ready and awaiting review (no rush!) and all tasks have been transferred to #525 for FY18/19 so this issue can be closed.

[2019-02-12 17:15] #461 closed

[2019-02-12 22:43] nelsonic commented on #80
This _was_ a _major_ priority in 2017 when we were still doing work in Hapi.js ... 📆
The quote was prepared ... all _someone_ had to do was create the PR. 😞
I don't think this is relevant anymore. And adding @dwyl to "PETE" is basically pointless.
Closing. Thanks. ☀️

[2019-02-12 22:43] #80 closed

[2019-02-13 08:32] rub1e commented on #518
@iteles @Cleop Not sure if this is what you're getting at, but you know you can just press "play" on completed timer entries? So you don't need to re-enter the name of the activity: just find the existing entry in the list and press play on the far right hand side

[2019-02-13 09:00] Cleop commented on #518
@rub1e - yes I use and like that functionality. It's more that sometimes I'll start something in the top bar (for convenience) and then forget I had an existing entry (or the name of the existing entry) and so end up giving it a new name. For those who have a strict naming convention I'm sure it wouldn't be an issue but otherwise you can end up with several with almost similar names. I liked the i

[2019-02-13 09:10] nelsonic commented on #518
@Cleop good feature idea. please create the issue in: https://github.com/dwyl/time/issues 👍

[2019-02-13 10:05] RobStallion commented on #521
I did a screen share with zoom yesterday and it made my laptop VERY hot (🔥) and I noticed that things started to run slightly slower than normal.

[2019-02-13 11:03] nelsonic commented on #521
@RobStallion interesting. thanks for reporting your experience. 👍

Have you ever tried to record your screen using QuickTime (_Mac Native recording App_) for that length of time? (_if your laptop did **not** overheat I would be very surprised..._) 🤔

When I use Google Hangouts/Meet with QuickTime to record it _destroys_ the battery of my MacBook Air laptop in 20 mins (_which usually lasts ~3h doin

[2019-02-13 11:54] RobStallion commented on #521
Once during FAC so I can't really say. I might check it out just to see what happens. I wasn't actually recording the screen though. I was just sharing (I don't know if this has the same effect but my guess would be it should be less taxing than sharing and recording).

Were you using Atom and Chrome at the same time? Those tend to be process/RAM/power hungry too.

Yes I was. I never had this happ

[2019-02-13 16:36] RobStallion commented on #518
My favourite toggl feature by far... (enough to take me away from the desktop app back to the browser)

### active
![image](https://user-images.githubusercontent.com/15571853/52713125-63ef4f00-2f8e-11e9-840d-63ab3ca7006b.png)

### not
![image](https://user-images.githubusercontent.com/15571853/52713243-b29ce900-2f8e-11e9-8e9b-4176c32b5a44.png)

- Reminds me to actually use it because I see it(good

[2019-02-13 17:31] rub1e commented on #511
I've just led an almighty assault on the bank reconciliation page. Where there were 100 items, there are now only 19 items.

Do you know when the last time there were only 19 items was? My guess is right after the 19th transaction some time in 2016.

I just want to get something off my chest: Amazon `Business Analytics` reports are LIES

---------------

* NB there were quite a few amazon transact

[2019-02-14 07:37] rub1e opened #528 "Change dwyl registered office address in readme"
We went through documents changing our registered business address on them when we moved last year, but I've just noticed a README with the old MDC address

* [x] Search through repos for MDC or Palmers road and update

[2019-02-14 10:01] nelsonic commented on #528
@rub1e is there any way to ["DRY"](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) this?
(_i.e. if we change address again in the future, we only need to update it in **one** place_)

[2019-02-14 12:40] rub1e commented on #528
I'll have a think and then add it to https://github.com/dwyl/process-handbook/blob/master/moving-premises.md

Might even turn it into an actual checklist, rather than just bullets :man_facepalming:

[2019-02-14 16:53] Cleop commented on #518
I just wanted to link this issue with another UX research issue for another app: https://github.com/dwyl/time/issues/184

[2019-02-15 10:13] rub1e opened #529 "Changes to pensions from April 2019 payroll"
The Government introduced automatic enrolment for pension schemes, and has been gradually increasing the minimum contribution levels.

From the 6th April 2019 (i.e. effective for April payroll)...

* employER contributions will increase from 2% to 3%
* employEE contributions will increase from 2.4% to 4%
* tax relief on employEE contributions will increase from 0.6% to 1%

This yields a final sum

[2019-02-18 10:04] #488 closed

[2019-02-19 10:02] rub1e commented on #529
This is quite useful an illustration, provided by The People's Pension

**Current system**
![image](https://user-images.githubusercontent.com/11595920/53006474-2fb3dc80-342d-11e9-8536-c8d40cb978df.png)

**New system (from 30th April payroll)**
![image](https://user-images.githubusercontent.com/11595920/53006572-5c67f400-342d-11e9-8203-bb75647d4711.png)

[2019-02-19 10:23] rub1e commented on #529
@iteles I've drafted a letter for informing dwylers - shared with you.

If you could cast your eyes over it next chance you get, that's the only `P1` aspect of this - once dwylers have been informed it'll drop to `P3`

[2019-02-19 16:06] rub1e commented on #449
This is all up to date now, except for a couple of discrepancies which I'll have to access our online banking account to check (and which really underline the need to reconcile these things right after they're paid)

[2019-02-19 17:18] rub1e commented on #528
The only real way to DRY this is by not actually putting our office address down in so many places!

So **on github** we have our Registered Address...

* in the [HQ README](https://github.com/dwyl/hq/blob/370cae031834a6b9d6a735b5f3b7f1643938009f/README.md), which really isn't _necessary_ - our company registration number suffices because Companies House displays our address publicly.
* In the `em

[2019-02-19 19:05] iteles commented on #528
@rub1e Agreed!

[2019-02-25 14:47] nelsonic commented on #518
I've been using Toggl _exclusively_ in the **Web Browser** because I feel that the UX in the Browser should be _flawless_ and I should not be _forced_ to download a "native" App in order to _use_ the functionality!

There are plenty of people who _prefer_ to _always_ us a "native" App because they have been _conditioned_ by their Smartphone/OS vendor to _discover_ Apps in the "App Store". 📱🙄

Earl

[2019-02-25 15:06] nelsonic commented on #518
I've just discovered my _biggest_ "_gripe_" with this UI/UX:
![image](https://user-images.githubusercontent.com/194400/53345229-4d40e480-390c-11e9-89a6-a29d244b1a7d.png)
If for _any_ reason your web browser is _unable_ to access the Toggl website/API then _nothing_ works!
No offline functionality whatsoever in the Browser-based version. 😞
(_the internet was being "intermittent" in the office today

[2019-03-02 09:04] nelsonic commented on #518
![toggl-there-was-an-error](https://user-images.githubusercontent.com/194400/53679808-9e185a80-3cc9-11e9-9700-afbba5f96650.png)
This error message appeared at the _bottom_ of the web UI when I attempted to stop a timer ...
This is _exactly_ how _not_ to do error messaging:
+ **temporary** - blink an you'll miss it!
+ **out of context** - not visually near to the action being performed
(_e.g: next

[2019-03-05 16:10] rub1e commented on #511
All transactions from this period and a _load_ of other late claims have now been assigned the right tax rate, so we're ready to submit the return

That said, there are some suspicious duplicate bank statement lines - all in the middle of November, when we had that issue with some Coop transactions being duplicated in the Santander feed

So I will need you to log me into Santander tomorrow @iteles

[2019-03-08 11:31] #529 closed

[2019-03-12 09:32] rub1e commented on #511
Filed last week, will close when confirmation received

[2019-03-13 09:26] #511 closed

[2019-03-13 09:37] rub1e commented on #528
![image](https://user-images.githubusercontent.com/11595920/54268555-5f10c180-4573-11e9-87ca-b380eada7f16.png)
And the only place that Palmers Road shows up is in FocusHub, so this is looking good!

[2019-03-13 09:37] #528 closed

[2019-03-13 10:28] rub1e opened #532 "VAT Return February to end April 2019"
VAT Return for the period 01.02.19 to 30.04.19

Deadline: 30th April 2019

* [x] @iteles to check all expenses have been put through
* [x] @rub1e to check all bank feed items have been reconciled
* [x] File return
* [x] Check we've been debited and close issue

[2019-03-13 14:59] rub1e commented on #486
Closing as superseded by: https://github.com/dwyl/process-handbook/issues/114

[2019-03-13 14:59] #486 closed

[2019-03-15 19:03] iteles commented on #521
From https://blog.stephenwolfram.com/2019/02/seeking-the-productive-life-some-details-of-my-personal-infrastructure/

I think the biggest issue here is the line: "I’ll do a meeting where I have lots of people in case we need to get their input" which I disagree with as a strategy entirely and kills the premise of this paragraph.

But a good reminder that there are lots of different points of view

[2019-03-19 16:24] rub1e commented on #515
Bumped priority as this is now two weeks away (that said, most tasks already complete)

[2019-03-21 20:47] nelsonic opened #533 "GitHub Verified Domain"
# Todo
+ [ ] Verify dwyl.com https://help.github.com/en/articles/verifying-your-organizations-domain

[2019-03-21 20:47] nelsonic commented on #533
Example: https://github.com/dockyard
![image](https://user-images.githubusercontent.com/194400/54783960-94c04500-4c1a-11e9-94e5-3ef2bb58779f.png)

[2019-03-24 22:54] assembledadam commented on #112
Randomly found this on a Google search.

May be useful to people in this thread: check out Claimer (https://www.claimer.io). It's now in public beta, and cuts the fees of specialist agencies significantly, charging 5% of what you get back instead of the 20-30% that GrantTree/Leyton charge.

Because the information gathering part is via an app, it's also a lot quicker - minutes instead of weeks. Tr

[2019-03-25 04:26] nelsonic commented on #112
@assembledadam well done for building an app to replace over-charging human "experts" (_sales people_) who take a *chunk* out of claims for not much in the way of "service" ... 🥇

![clamer io](https://user-images.githubusercontent.com/194400/54894666-be47cd80-4eb3-11e9-9dbd-4677807dd61b.png)

Worth noting that 5% while _much_ cheaper than the competitors is not a "flat fee".
The graph of 5% of any

[2019-03-25 12:24] assembledadam commented on #112
@nelsonic Hey Nelson.

Thanks for the detailed reply. Below is my response to your points one by one.

Good spot, just a grammar fail there, now fixed. As I mentioned the app is in public beta - the homepage generally sucks in a few ways. There's a vastly improved one coming very soon (< 2 weeks), which better explains the service.

Also worth noting, which will be illustrated in the new homepage,

[2019-03-27 13:39] #411 closed

[2019-04-04 15:22] nelsonic opened #534 "Agile Lite"
https://github.com/davebs/AgileLite

[2019-04-14 12:41] nelsonic commented on #517
https://signal.org ? 💭

[2019-04-29 10:45] nelsonic commented on #521
I'm upgrading to the **_annual_ plan** (£119.90/year or £9.99/month) because I want to have meetings (_remote pairing mostly_) that last longer than 40 mins and don't give me a count-down that is visible in the video (_esp. if recording..._)
![image](https://user-images.githubusercontent.com/194400/56889543-8ca3c280-6a6e-11e9-80ad-45bfc87156f0.png)

£9.99/month might seem like a "lot" of money to

[2019-05-01 10:14] innov8tor3 opened #535 "Is active collaboration a viable way forward?"
If the obverse of protectionism is speed to market, can we say the obverse of competition is collaboration?

If we can say these two things fit with current understanding and trends, how might product developers reach out to and tie in with those in the market place, who see the real world problems, and where some in those market places are in fact actively looking for partnerships that blend skil

[2019-05-03 19:58] nelsonic commented on #521
Closing issue for now. Got 12 months of Zoom. 🔍

[2019-05-03 19:58] #521 closed

[2019-05-20 10:56] nelsonic opened #536 "Email Tracking?"
This morning we got this email which prominently displays the "Sender notified by Mailtrack" signature (_obviously translated to Portuguese because the sender is based in Brazil_):
![mail-track](https://user-images.githubusercontent.com/194400/58009290-01a26f00-7ae6-11e9-9563-c99c6fc504bf.png)

I can _understand_ why the sender wanted to have the Opening of their email tracked.
But I can't help bu

[2019-05-25 05:21] nelsonic commented on #520
OKRs from a development team’s perspective:
https://zafulabs.com/2019/05/24/okrs-from-a-development-teams-perspective/
via: https://news.ycombinator.com/item?id=20004127

[2019-06-02 15:12] iteles commented on #524
Confirmed! 🎉

[2019-06-02 15:12] #524 closed

[2019-07-01 20:50] iteles opened #537 "All monthly dwyl HQ expenses"
As dwyl is metamorphosing, it would be good to have a run-down of our existing monthly expenses so that we can determine if the tools/services we are spending money on every month still serve us.

## Tasks
+ [ ] List out monthly expenses
+ [ ] Ines to review these
+ [ ] Cancel expenses that no longer serve us
+ [ ] Reduce/increase expenditure for those that are serving us but not quite in the righ

[2019-07-15 19:04] nelsonic commented on #533
@iteles I need access to the domain registrar to create the TXT record
https://github.com/orgs/dwyl/domain/MDE4Ok9yZ2FuaXphdGlvbkRvbWFpbjQ0NjM4/verification_steps
![Screenshot 2019-07-15 at 20 03 32](https://user-images.githubusercontent.com/194400/61241586-b7cbb300-a73b-11e9-9ce4-48dfe378dafe.png)

[2019-07-16 09:56] iteles commented on #533
@nelsonic Just let me know when you want me to sit down with you to do this 😊 Tomorrow morning 09h00?
Alternatively: https://github.com/dwyl/learn-security/issues/51

[2019-08-27 17:38] #532 closed

[2019-08-27 17:39] iteles opened #538 "VAT Return | May to July 2019"
VAT Return for the period 01.05.19 to 31.07.19

Deadline: 7th September 2019

* [x]  @iteles to check all expenses have been put through
* [x] @iteles to speak to Karen about changes in allowable expenses
* [x] @rub1e to check all bank feed items have been reconciled
* [x] File return
* [x] Check we've been debited and close issue

[2019-08-28 13:30] rub1e commented on #537
* Zoom - was monthly but we paid for a year in May
* Amazon Prime - £8
* Digital Risks (insurance)
* Linode hosting - used to be pennies, but now jumped up to £7-10 - so presumably that means it's actively being used?
* GSuite - we've cancelled all unused email addresses so it's only core usage
* Audible - £8
* Xero - payroll removed, so we're only paying for core + pay-as-you-go expenses module
*

[2019-08-30 15:04] iteles commented on #537
:+1: Perfect, thanks @rub1e ! Giffgaff was £12 til last month when the roaming ran out 🙄
I'm on it!

[2019-09-01 08:52] rub1e commented on #537
Sorry, meant to put WIP on there - there are a couple more I needed to add (have done now) - and will doublecheck I've caught everything tomorrow when I do #538

[2019-09-13 09:29] rub1e opened #539 "VAT Return | Aug to Oct 2019"
VAT Return for Q3 2019/20 - Aug to Oct

Deadline: 7th December 2019

## Tasks
+ [x] @iteles to update Co-op feed
+ [x] @iteles to check Santander feed
+ [x] @iteles to confirm all additional expenses are input (outside of bank expenses)
+ [x] @rub1e to review & reconcile all bank transactions
+ [x] @rub1e to run report
+ [x] @iteles to sense-check figures
+ [x] @rub1e to submit VAT return

[2019-09-13 09:29] rub1e commented on #538
We've been debited but leaving this open as we haven't been able to get hold of Karen yet

[2019-09-24 15:00] nelsonic commented on #520
How to Set KPIs and Goals (Adora Cheung YC): https://youtu.be/lL6GdUHIBsM

[2019-09-29 20:48] nelsonic opened #540 "Hex.pm @dwyl user access?"
@iteles do you know who has access to the @dwyl user for publishing packages? ❓

https://hex.pm/users/dwyl
![image](https://user-images.githubusercontent.com/194400/65838855-3f6a9c00-e2ff-11e9-8b8c-7dfc0a31e2ec.png)

I ask because I am in the process of writing a tutorial for how to publish Hex.pm packages https://github.com/dwyl/learn-elixir/issues/95 and would like to publish my sample/demo pack

[2019-09-30 11:52] iteles commented on #540
In touch with @finnhodgkin and @ZooeyMiller and working on this 👍

[2019-09-30 12:04] nelsonic commented on #540
@iteles was able to reset the password using `hello@dwyl.com`:
![image](https://user-images.githubusercontent.com/194400/65877148-cf9df500-e382-11e9-908d-f9f61ea4947a.png)

(_might not need to bother Finn / Zooey ..._)

[2019-10-03 06:09] nelsonic commented on #540
Updated profile picture:
![image](https://user-images.githubusercontent.com/194400/66103089-7fa27680-e5ac-11e9-9b3d-636787fbbd19.png)

Going to attempt to publish a package and then will close this issue. 📝

[2019-10-03 23:45] acegilz commented on #476
Anyone have a spare developer ticket? I would highly appreciate it.. missed the timing they are gone now

[2019-10-04 03:17] iteles commented on #476
@acegilz I don’t think any of us have any/are going this year - this issue was for last year’s websummit!

[2019-10-08 12:36] iteles commented on #538
Let's have Karen as a separate issue 👍

[2019-10-08 12:36] #538 closed

[2019-10-30 10:07] nelsonic opened #541 "The Truth About Open Offices"
+ [ ] Read the article / listen to the podcast: https://hbr.org/2019/11/the-truth-about-open-offices

[2019-11-10 21:14] nelsonic opened #542 "Remove (Out-of-Date) Mission from HQ (and instead just link to start-here)"
At present the @dwyl mission statement is in _multiple_ places and the one in HQ:
[https://github.com/dwyl/hq#mission-statement](https://github.com/dwyl/hq/tree/2afc101cffe9bc16a7c554982c039cfc64949077#mission-statement)
is out of sync with the recently updated https://github.com/dwyl/start-here/pull/191 >> [/start-here/mission.md](https://github.com/dwyl/start-here/blob/931fb1bf29ee821b62f05ffca6

[2019-11-20 19:33] iteles commented on #138
This was sorted successfully in the first quarter of this year. Thanks @rub1e 🌟

[2019-11-20 19:33] #138 closed

[2019-12-03 11:26] rub1e commented on #539
This is filed now, and they owe us a small sum. If there's anything that needs to be documented in terms of claiming it I'll do that, but hopefully they just credit our account and we don't need to do anything

[2019-12-03 11:26] #539 closed

[2019-12-03 11:29] rub1e opened #543 "VAT Return Nov to Jan 2020"
VAT Return for Q4 2019/20 - Nov 19 to Jan 20

Deadline: 7th March 2019

## Tasks
+ [x] @iteles to update Co-op feed
+ [x] @iteles to check Santander feed
+ [x] @iteles to confirm all additional expenses are input (outside of bank expenses)
+ [x] @rub1e to review & reconcile all bank transactions
+ [x] @rub1e to run report
+ [x] @iteles to sense-check figures
+ [x] @rub1e to submit VAT return

[2019-12-03 11:34] rub1e opened #544 "BE project handover"
BE has been handed over to the client so we don't have to manage yearly domain charges etc. The one thing left to do is have them take ownership of the Heroku account, which we're still paying for.

I'm in contact with the client and encouraging them to do so with all possible haste, but I can't issue the final invoice until they've inputted their credit card.

Currently working towards a deadline

[2019-12-03 20:41] nelsonic commented on #533
I'm game for doing it tomorrow morning after standup if you are ... 🗓

[2019-12-19 12:53] iteles commented on #537
## Decisions being made

+ [x] Zoom - was monthly but we paid for a year in May **[Paid, decision to be reviewed in Apr-2020]**
+ [x] Amazon Prime - £8 **[cancelled, no longer needed]**
+ [x] Digital Risks (insurance) **[still required until we wrap up CS]**
+ [ ] Linode hosting - used to be pennies, but now jumped up to £22
+ [x] GSuite - we've cancelled all unused email addresses so it's only co

[2019-12-19 13:04] iteles opened #545 "Github Sponsorship for OS Tech we Use @dwyl"
We have built and maintain a lot of open source modules which ~~is a very time and resource-consuming affair!~~ we do because we want to build a great quality product.
We use a lot of Open Source code that other people have spent ***millions*** of hours developing!
As such, it might be worth looking into [Github Sponsors](https://help.github.com/en/github/supporting-the-open-source-community-with-

[2019-12-20 10:32] nelsonic commented on #545
No thanks. I don't believe in or _need_ handouts. Or want to _risk_ having a _corporate_ sponsor.
We (_should_) build a [**`product`**](https://github.com/dwyl/product-roadmap) that people _love_ using and are _delighted_ to _pay_ us for it.
Cash from a _great_ product will more than pay for all the work "we" have done and expect to continue doing.
_Surplus_ cash from a successful product that _th

[2019-12-20 16:17] iteles commented on #545
I think we see this differently in terms of what constitutes a 'handout'. Nevertheless, having no control over who we accept sponsorship from (i.e. running the risk of having a corporate sponsor whose values we disagree with) is a good enough reason to not set this up at the moment.

As for sponsoring the tech we use, we already do this (see https://github.com/tachyons-css/tachyons/releases/tag/4.

[2019-12-20 16:17] #545 closed

[2019-12-20 16:19] iteles commented on #130
We are already part of the Open Collective community as we give to folks through Open Collective as a thank you for the technology we use.

Closing this issue for the same reasons as https://github.com/dwyl/hq/issues/545#issuecomment-567980749

[2019-12-20 16:19] #130 closed

[2020-01-15 12:08] rub1e commented on #544
Client has been chased again x2, with a hard deadline so we're 100% not making any payments after February.

Have encouraged the client to put their CC into Heroku asap, and once that's done I can issue the final invoice / get a PO

[2020-01-15 12:14] rub1e commented on #537
Digital Risks - level of Professional Indemnity Insurance cover has been reduced, to reflect the fact that we're not working with as many clients as before so less cover is needed. This means a _significant_ saving on the monthly cost, while still providing more than sufficient cover.

Latest documents saved in the insurance folder

[2020-01-23 14:22] nelsonic opened #546 "Do we have an Apprentice Training Contract/Agreement Template on GitHub?"
At present, it appears that we do not have an Apprentice Training Contract/Agreement Template on GitHub. This is understandable given that most of the "Legal Admin" for @dwyl is stored on Google Drive. But it doesn't make it _easy_ for (a) prospective apprentices to review the template or (b) the person running the apprenticeship program to create a contract for the new apprentice(s).

I eventuall

[2020-01-25 13:10] iteles opened #547 "New, *more ethical* domain name registrar?"
Currently we have our domain names rented across 2 different platforms: iwantmyname and netfirms.

Price is no longer really a consideration in this arena because there are pennies in it either way between providers so I propose we look for a more ethical provider.

I've spent 10 minutes doing a quick search and this is the only one that kind of appears more 'ethical':
https://www.gandi.net/en/abo

[2020-01-25 13:32] nelsonic commented on #547
@iteles my biggest concern with domain name registrars is **`privacy`**.
We have used _several_ other domain registrars in the past so we know _all_ about the 'grey' practices.
I _hate_ it when registrars charge me _extra_ per year for "privacy protection". 😠
So in _addition_ to the fact that Gandi describe themselves as "ethical",
I like that they are privacy-focussed:
![image](https://user-image

[2020-01-25 13:38] iteles commented on #547
I saw that too!

Here are the transfer instructions: https://docs.gandi.net/en/domain_names/transfer/description.html