[2017-06-30 21:02] iteles commented on #359
@markwilliamfirth We've now left the flat. Is this done?

[2017-07-01 22:12] katbow commented on #302
@markwilliamfirth I tried it out. Definitely way simpler & quicker than my current process. I definitely prefer filling in a form like this instead of a spreadsheet.

One thing that would be nice to have but not necessary is to see the total calculated amount of the invoice before submitting. I noticed it in the email, but it's nice to see that I will be submitting an invoice for X amount before d

[2017-07-03 11:44] markwilliamfirth commented on #359
The registered office address has been updated to:

Focus Hub,
Unit 16 Palmers Road,
London
E2 0SY
United Kingdom

Your, mine and Nelson's correspondence address is linked to the registered office address, so all correspondence will also now come to Focus Hub. Your and Nelson's home address has remained recorded at 104 MDC.

The Santander business and Director correspondence addresses have also be

[2017-07-03 12:24] markwilliamfirth commented on #302
@katbow great feedback!

Your email had been updated to the dwyl.com one and the invoicing system now emails from finance@dwyl.com

This is a good idea, but it isn't currently possible with the current system without [making all dwyl contractor rates public](https://github.com/dwyl/hq/issues/140#issuecomment-303754455), which is still under discussion 👍

[2017-07-03 15:36] harrygfox commented on #140
I am pro hyper transparency - to me it is conspicuously the only non transparent part of the company.

[2017-07-04 10:17] nogainbar commented on #147
yeyyy! these are here!!! THANK YOU SOOO MUCH @iteles + @nelsonic and DWYL!

what a pleasure to have these headphones, I LOVE them. <3
Always a pleasure working with you peeps!! always.
Wish I could come to Portugal, im gonna miss having you around FAC during the summer!!
Here is me, being happy. :) 🤘🏼

💈❤️💈🎧❤️💈🎧❤️💈🎧❤️💈🎧❤️💈🎧❤️💈🎧❤️💈🎧💈
![img_7017](https://user-images.githubusercontent.com/12494147/27

[2017-07-07 09:31] iteles commented on #369
@markwilliamfirth We ran out of keys, so please get a few more cut 👍

[2017-07-07 15:17] markwilliamfirth commented on #369
@finnhodgkin you still need one right?

[2017-07-07 15:18] finnhodgkin commented on #369
Yes please! Thanks guys :heart:

[2017-07-08 23:06] iteles commented on #311
@nogainbar All our t-shorts are at Focus Hub this week! Please go take a look at the available colours and grab any you want!

We should also be getting some new ones made soon :blush:

[2017-07-08 23:07] iteles commented on #231
This wasn't done.

[2017-07-08 23:07] #231 closed

[2017-07-10 08:41] markwilliamfirth commented on #369
@finnhodgkin I've got one cut for you this morning, so just come and grab one! I'm in No. 16 today 👍

[2017-07-10 08:45] finnhodgkin commented on #369
Cheers @markwilliamfirth I'll pop over in a few :+1:

[2017-07-10 08:45] #369 closed

[2017-07-11 10:40] markwilliamfirth commented on #249
<img width="287" alt="screen shot 2017-07-11 at 11 40 15" src="https://user-images.githubusercontent.com/5732209/28064757-bf0d8842-662d-11e7-876c-ee5f845f6a4a.png">

Rujuta

2017-07-11

[2017-07-11 11:16] markwilliamfirth commented on #348
[Proposal](https://docs.google.com/document/d/1KAjQMyjEMZe_L_OozaMBwLP6u7r6s6v-vn9ZdSI74mQ/edit) has been completed, requires review from @iteles before sending to Amanda

[2017-07-11 13:32] markwilliamfirth commented on #249
<img width="218" alt="screen shot 2017-07-11 at 14 32 08" src="https://user-images.githubusercontent.com/5732209/28070699-c113b838-6645-11e7-9a24-4b589d498d32.png">

Chris - Focus Hub tenant

2017-07-11

[2017-07-12 12:29] markwilliamfirth commented on #348
Sent yesterday

[2017-07-14 15:03] harrygfox commented on #249
@markwilliamfirth gahhh those people that say dwhile...

[2017-07-14 15:43] markwilliamfirth commented on #249
@iteles perhaps we should review this issue again and talk about brand guidelines given we are soon to be releasing the dwyl site?

[2017-07-17 19:45] iteles commented on #299
The client decided to deal with this one in-house because we weren't able to provide any developers for this until August.

[2017-07-17 19:46] #299 closed

[2017-07-20 11:18] markwilliamfirth commented on #348
Amanda will be applying for funding for this. If we are successful the project will likely begin late August or September

[2017-07-20 11:21] markwilliamfirth commented on #302
@RobStallion can you please test this out (invoice can be a test invoice) and let me know if there is any reason you wouldn't use this compared to your normal invoicing method? Any way it could be improved?

[2017-07-20 11:24] markwilliamfirth commented on #366
My laptop's started dying when it reaches 12% now, so I will be looking into this

[2017-07-20 11:26] markwilliamfirth commented on #337
Chased Patrick again

[2017-07-20 11:29] markwilliamfirth commented on #309
Have chased Alina

[2017-07-20 11:55] nelsonic commented on #366
@markwilliamfirth we have the tools here (in PT) to do the switch so if you order the battery from Amazon and bring it with you we can do it. 👍

[2017-07-20 15:02] iteles commented on #368
@naazy Still up for doing this next Friday?

[2017-07-20 21:34] iteles commented on #355
In progress with @RobStallion

[2017-07-20 21:34] #355 closed

[2017-07-28 10:36] iteles commented on #346
Additional change to budget requested.

[2017-07-28 15:49] markwilliamfirth commented on #41
WeWork registration:

The uk registration number concerned is: WE00001294295
https://www.ipo.gov.uk/tmcase/Results/23/WE00001294295

The international registration number concerned is: 1294295
http://www.wipo.int/madrid/monitor/en/index.jsp

Covers the following:

<img width="845" alt="screen shot 2017-07-28 at 16 48 40" src="https://user-images.githubusercontent.com/5732209/28725191-a4f5171a-73b4

[2017-07-28 15:50] markwilliamfirth commented on #41
Posting above as WIPO got back to me by email

This means we could still trademark it for "software" class.

@iteles do we want to reconsider this?

[2017-07-28 16:05] markwilliamfirth opened #370 "VAT Return"
We need to submit a VAT return for the period 01.05.17 to 31.07.17

Deadline: 7th September 2017

[2017-07-28 17:24] markwilliamfirth commented on #357
@Cleop @Conorc1000 @Danwhy @finnhodgkin @ZooeyMiller @harrygfox @jackcarlisle @Jbarget @katbow @naazy @nogainbar @RobStallion @roryc89 @shouston3 @SimonLab @sohilpandya

A reminder to please fill this out if you haven't yet! It will give us a grant that all dwylers can use for sustainable travel e.g. cycling maintenance etc

**Deadline is 31st July**

[2017-07-28 18:23] Jbarget opened #371 "Create TROUBLESHOOTING.md file for bugs within each repo"
**As a** developer working on a DWYL project
**I want to** see common bugs and their answers that I might come across when working
**so that** I don't have to spend time looking for answers on Stack Overflow or asking questions that have already been answered.

I feel this will make bug solving quicker, help onboarding new developers and create a logical place for people to keep all "gotcha's" ass

[2017-07-28 18:31] Jbarget commented on #357
done 👍

[2017-07-28 19:52] RobStallion commented on #357
Did it a while back 👍

[2017-07-28 23:07] iteles commented on #370
I have some outstanding receipts. I will aim to upload these over the course of the next week.

[2017-07-28 23:10] iteles commented on #41
@markwilliamfirth Yes :+1: It might not be what we want to be known by but the association is evident and advantageous.
How much is the UK Trademark?

[2017-07-29 05:30] nelsonic commented on #41
dependent on _cost_ we should _consider_ applying for the TM on the Phrase for Software.
It's a _real_ shame that "WeWork" got it in the other categories ... 😞

[2017-07-29 05:31] nelsonic commented on #41
dependent on _cost_ we should _consider_ applying for the TM on the Phrase for Software.
(_It's a **real shame** that "WeWork" got it in the other categories ..._ 😞 )

[2017-07-29 07:45] nelsonic commented on #100
_Manually_ updating dependencies is lame.
Testing GreenKeeper on: https://github.com/dwyl/learn-hapi
![image](https://user-images.githubusercontent.com/194400/28742828-26ce2182-7432-11e7-86bf-0cda80ed6917.png)

Steps:
![image](https://user-images.githubusercontent.com/194400/28742774-19aa6908-7431-11e7-8144-f5f3f56bb55e.png)

![image](https://user-images.githubusercontent.com/194400/28742776-2b633

[2017-07-29 08:03] iteles commented on #100
The greenkeeper badge is understandable but slightly annoying. The label is just unabashed branding - it doesn't actually serve a purpose as far as I can tell!

[2017-07-29 10:11] sohilpandya commented on #357
Done 🎉

[2017-07-29 10:14] finnhodgkin commented on #357
Pretty sure I did it a while back :+1:

[2017-07-29 10:22] ZooeyMiller commented on #357
Thanks for the reminder, done.

[2017-07-29 10:33] iteles commented on #371
The interesting thing for me here is how to organise this information and reduce the maintenance burden across our many repos.

Keen to see how you use it in _tudo_ to open up the conversation. 👍

[2017-07-29 11:09] nogainbar commented on #357
Done! :)

[2017-07-29 15:44] naazy commented on #357
Done :smile:

[2017-07-30 11:29] shouston3 commented on #357
Done

[2017-07-30 15:49] naazy commented on #368
Am keen @iteles although will have to be sometime this week instead 🤓

Have recruited @Conorc1000 to get involved also.

Watch this space https://github.com/dwyl/elm-dojo

[2017-07-30 16:37] naazy commented on #357
Done
On Sun, 30 Jul 2017 at 12:29, Sam Houston <notifications@github.com> wrote:

[2017-07-30 17:48] iteles commented on #368
I think we might have to leave this til you're back in the UK as this week will be pretty tight with people taking a few days off here and there as well as some water sports mornings!

[2017-07-31 09:21] markwilliamfirth commented on #304
1,112.28 paid for July

[2017-07-31 10:26] harrygfox commented on #357
donezo

[2017-07-31 11:17] iteles commented on #320
Followed up on 28th July and they confirmed they built a small native iOS application with another organisation (smaller scope than originally predicted).

[2017-07-31 11:17] #320 closed

[2017-07-31 11:19] iteles commented on #178
Chased again. Bank account is currently being opened and causing delays. 🙄

[2017-07-31 11:51] harrygfox commented on #302
@markwilliamfirth I love the new system! My only comment on improving would be to echo @Jbarget https://github.com/dwyl/hq/issues/302#issuecomment-305457399 - monthly & yearly breakdowns to help with taxings

[2017-07-31 13:19] markwilliamfirth commented on #347
Digital documents have been created

[Company Register
](https://drive.google.com/open?id=0B0XeQ2t5WSK2bldORmtmeXpDMkk)

[Share Certificates](https://drive.google.com/open?id=0B0XeQ2t5WSK2RlQ5YzJSakxFaDg)

These can now be sent to Keith to prevent Coop account closing and to enable #219

[2017-07-31 13:45] #347 closed

[2017-08-01 11:02] markwilliamfirth commented on #359
@nelsonic @iteles

Santander's recorded companies house address and our trading address has been updated to:

Focus Hub,
Unit 16 Palmers Road,
London
E2 0SY
United Kingdom

This means that you need to use this as the billing address for card payments from now on

08007316666 is the number to call if there are any issues

[2017-08-01 14:37] markwilliamfirth commented on #359
The following have also been updated to:

Focus Hub,
Unit 16 Palmers Road,
London
E2 0SY

**Coop**
- Correspondence address
- Trading address

**HMRC**
- Corporation Tax Registered address
- Corporation Tax Communication address
- PAYE for employers Business Address
- PAYE for employers Communication address
- VAT Principal Place of Business address

Principal Place of Business address

[2017-08-01 14:37] #359 closed

[2017-08-01 14:43] #310 closed

[2017-08-01 14:43] markwilliamfirth commented on #309
We're not going to pursue this one

[2017-08-01 14:43] #309 closed

[2017-08-01 14:44] markwilliamfirth commented on #337
Have not received a response from Patrick after chasing 3 times

[2017-08-01 14:44] #337 closed

[2017-08-01 14:45] markwilliamfirth commented on #219
Have sent company register and share certs to Keith, waiting to hear back

[2017-08-01 14:46] iteles commented on #310
@markwilliamfirth Did we hear back from them?

[2017-08-01 14:48] markwilliamfirth commented on #310
They said they're going to go with another company

[2017-08-01 15:28] iteles commented on #283
@markwilliamfirth This is really not as important as https://github.com/dwyl/process-handbook/issues/35

[2017-08-01 15:30] markwilliamfirth commented on #283
Yep - it's behind it in priorities - was just updating github as it was on my other todo list

[2017-08-01 15:37] iteles commented on #310
That's useful information, did they say why?

[2017-08-01 15:53] markwilliamfirth commented on #310
We missed the deadline for the resubmission of the detailed system requirements quote and the project manager received a number of quotes to compare from a bunch of other companies

[RSN System Requirements 19.06.17 (1).xlsx](https://github.com/dwyl/hq/files/1191165/RSN.System.Requirements.19.06.17.1.xlsx)

[2017-08-01 15:55] iteles commented on #310
😕 Did we _know_ there was a detailed system requirements submission needed?

[2017-08-02 09:42] markwilliamfirth commented on #310
Yes, this was sent to us after the RSN project manager took over, but by the time I had any time to devote to it Kat was already on holiday and unable to do quotes and I couldn't get through to Nelson so it wasn't possible to get new quotes and a newly written proposal together in time for the deadline

[2017-08-02 09:46] iteles commented on #310
I will add better planning to the list for https://github.com/dwyl/process-handbook 👍
This should be as simple as: when there is an established deadline, take 10 minutes to check the schedules of the people you need for holidays/particularly busy periods and form a plan B if needed. This should also help prevent things like the almost 3 week delay on getting this proposal out: https://github.com/d

[2017-08-02 09:50] markwilliamfirth commented on #310
I actually did ask Kat early on and she said she could do it, but then later said she couldn't when it came to it due to family commitments. I wouldn't say 348 are planning failures - I think they're capacity issues

[2017-08-04 12:24] jpls93 commented on #371
May I suggest writing **bugs** and their **answers** in each repo's section? Github's **Issues** section already serve the purpose of **being the logical place for people to keep all "gotcha's" associated with a project**. _Solved_ bugs would be **closed** while _unsolved_ bugs would still be **open**. This way, your process when encountering a bug would be:

1. Search for **closed** issues for a

[2017-08-04 13:22] #149 closed

[2017-08-16 10:37] markwilliamfirth commented on #343
@iteles is there any update on when this one is likely to start?

[2017-08-16 12:04] markwilliamfirth commented on #343
Spoke to @iteles on Gitter - this date is currently still being confirmed (mid-September ish)

[2017-08-17 10:29] iteles commented on #178
BIC has been throwing up roadblocks for 3 months. Switching to BPI.

[2017-08-17 11:23] iteles commented on #321
@markwilliamfirth It's been a few months for this `priority-1` issue. Can we have an update please?

[2017-08-17 12:28] iteles commented on #346
Began on 7th August with @sohilpandya @jackcarlisle as the full time team.

[2017-08-17 12:28] #346 closed

[2017-08-17 12:29] iteles commented on #352
Now confirmed 👍

[2017-08-17 12:29] #352 closed

[2017-08-17 13:20] markwilliamfirth commented on #321
Update: Management accounts were created by our accountants at iHorizon and these were sent to @iteles (https://github.com/dwyl/hq/issues/321#issuecomment-310055156). @iteles gave feedback that they were not particularly useful. Requested that we look into other ways of producing management accounts in house without the help of accountants and requested mark to spend a 1d spike into looking into t

[2017-08-18 08:54] markwilliamfirth commented on #350
@iteles is there a good reason not to make one of the developers that is on the project the project scrum master (like was done for OA recently) as they know the project best technically? And then have a separate role for yourself or myself (or whoever) for dealing with non-technical project management, client relations, etc?

[2017-08-18 09:14] iteles commented on #350
@markwilliamfirth None at all! If you'll notice, we're currently training our developers to become scrum masters across a couple of different projects. This is something we're trialling out as we speak now that our developers have more experience in both understanding what the role entails and in End to end projects with dwyl. This is a role a handful of dwylers are beginning to enjoy.
Some client

[2017-08-18 09:32] markwilliamfirth commented on #350
Yes - I think we need to separate the roles into something roughly like this:

Project Manager
- Gets requirements from client
- Writes up project proposal
- Agrees budgets
- Gets contracts signed
- Organises resourcing
- Books meetings
- First point of contact with client
- Acts as filter between client and scrum master
- Understands client's priorities and communicates these

Scrum Master
- Orga

[2017-08-18 10:48] iteles commented on #350
The last thing I want to introduce at dwyl is another level of management and I abhor the term 'project manager' or 'account manager'. This also doesn't strike me as the correct issue to discuss this topic.

That is also nowhere near a complete list of what the Scrum Master's responsibilities are and is exactly why I created https://github.com/dwyl/process-handbook/issues/35 and https://github.com

[2017-08-18 10:52] markwilliamfirth commented on #350
@iteles yep it's just a rough idea (job titles and responsibilities obviously need to be adapted)

It's more about the idea of separating development management and client management

[2017-08-18 10:56] iteles commented on #321
They are not particularly useful because they only cover point 1 in the checklist for this issue and don't provide enough data to make any decisions with.

This has been a `priority-1` issue with a `blocker` label which has been blocking my ability to make data-driven decisions for _months_ 🕥 . All of the other issues you have linked to are `priority-2` and lower.
Before these points are raised:
+

[2017-08-18 11:01] markwilliamfirth commented on #272
This keeps getting pushed back, but Dan's been waiting on this a long time and I think we should make this a priority @iteles

<img width="786" alt="screen shot 2017-08-18 at 12 00 33" src="https://user-images.githubusercontent.com/5732209/29456289-e679c754-840c-11e7-8455-21d2e53895bc.png">

Dan's actually asked me about it 4 times, but each time my answer is that it hasn't been done yet as it isn

[2017-08-18 11:02] iteles commented on #350
:+1: More thought is being put into this as we speak. That's why I'm trying to carve out some deep work time for myself and @nelsonic !

[2017-08-18 11:04] markwilliamfirth commented on #350
Ok well please let me know your thoughts once you and Nelson have discussed (please feel free to open a separate issue if you want to separate the threads of discussion)

[2017-08-18 11:06] iteles commented on #272
It _is_ a priority.

There has literally been _one_ thing that is higher priority than this for months, which is something we discussed as a key part of what was needed on 31st January: https://github.com/dwyl/hq/issues/321

**That is still a higher priority.**

I also agree that seeing as this was opened as a priority 2 in March, we need to understand exactly why the priority of this wasn't respe

[2017-08-18 11:08] markwilliamfirth commented on #283
This is a p1 now after various frictions that have occurred with MV

[2017-08-18 11:10] iteles commented on #283
https://github.com/dwyl/hq/issues/321 is a **higher priority than this**. I'm not sure how useful it is to move everything else to a p1 until that is complete.

[2017-08-18 11:12] markwilliamfirth opened #373 "Profit & Loss Fixed Costs per Project"
Linked to https://github.com/dwyl/hq/issues/321

Contribution to Fixed Overheads for each project (i.e. does the project make or lose money? and if so exactly how much?)

[2017-08-18 11:14] markwilliamfirth commented on #363
This tracking document has been done to a half-day accuracy: https://docs.google.com/spreadsheets/d/1HejQid3ZqaIK2iYzsv4SrD40UGWYa7qm1YSvMdcWfME/edit#gid=1068312920

Still awaiting @iteles input on accurancy https://github.com/dwyl/hq/issues/363#issuecomment-310348854

[2017-08-18 11:17] ghost opened #374 "Utilisation Rate"
Linked to https://github.com/dwyl/hq/issues/321

Utilisation Rate for each person in the team/company

@nelsonic can you confirm that this is the utilisation rate on client projects to the nearest half hour divided by a 35h week?

[2017-08-18 11:18] iteles commented on #363
Half day is fine for development.
My experience of non-development tasks is quarter day at least is required so that the process is not hugely onerous.

Hopefully we will solve this problem soon.

[2017-08-18 11:19] markwilliamfirth opened #375 "Estimates vs Actual Times for every issue in GitHub"
Linked to https://github.com/dwyl/hq/issues/321

**Estimates vs Actual Times** for each task/issue on a project so we know if we are getting better at estimating.

@iteles can you please clarify the priority for this sub-issue of the epic? I'm not sure if this one is a p1

[2017-08-18 11:20] markwilliamfirth commented on #321
Have changed this to an epic and separated the requirements

[2017-08-18 11:23] markwilliamfirth commented on #363
Thanks @iteles

Please could you answer https://github.com/dwyl/hq/issues/363#issuecomment-310172989

and confirm if this is a p1 or p2 as it relates to #321

[2017-08-18 11:27] iteles commented on #375
Making this a `priority-2` because #373 should be the only top priority, followed by the other issues in #321.

[2017-08-18 11:47] SimonLab opened #376 "Shared Folder for Books?"
Do we have a shared folder for dwyl people containing ebooks/pdf?
I'm reading one about [Ecto](https://github.com/elixir-ecto/ecto) and I'd like to share it. We have also Elixir and Phoenix books, and I might share my Haskell book too!

Could we create this folder on google drive (or anywhere else) or are there any restrictions (authors' right maybe) to make this folder under dwyl accounts?

[2017-08-18 14:30] SimonLab commented on #376
great thanks @markwilliamfirth :+1:

[2017-08-18 14:38] #376 closed

[2017-08-19 11:43] iteles commented on #264
Been like this since yesterday lunch time:
<img width="743" alt="screen shot 2017-08-19 at 12 43 02" src="https://user-images.githubusercontent.com/4185328/29486372-0ccd8ce0-84dc-11e7-8904-5d60eb6d0b43.png">

[2017-08-21 10:52] markwilliamfirth commented on #272
@iteles because there are 63 priority 2 issues in HQ alone (ignoring other repos e.g. focus hub etc)

The priority-2 label doesn't really mean much when there are so many. The only thing we can go by is the projects log and as you can see it keeps getting pushed back as more urgent things pop up and move in front of it

I think we need to agree a deadline for when it should be done by and stick to

[2017-08-21 10:53] iteles commented on #272
The deadline for this is after #321 is complete 👍

[2017-08-21 11:11] iteles commented on #229
This was done in May.

[2017-08-21 11:51] iteles commented on #363
Lately I have been testing http://angryaztec.com/nowthen.html for time spent on client projects.

Actually tracking the time needs to be done continuously for client projects and internal products so that we can allocate our time correctly. This isn't a question of priority, it needs to happen in the background for these projects.

The deadline for having visibility of the time was end of June 201

[2017-08-22 12:27] markwilliamfirth commented on #363
@iteles I think the issue here is that we're still trying to work out the best way of doing this (in terms of an MVP). As you can see from the conversation above, Simon and Cleo have different ways of doing this, although from what I can see neither sheet has been updated since July.

My question to you was if you would you be able to share the time-tracking app you use? Are you able to export the

[2017-08-22 16:08] iteles commented on #363
The time tracking app I'm trying at the moment isn't ideal, so I'm looking for the next one to try out: http://angryaztec.com/nowthen.html

I'm happy to provide you with the time I spend on specific client and internal projects in whichever way you prefer, just let me know once you're determined which way you want to trial first to get that info into the accounting system.

[2017-08-23 09:12] markwilliamfirth commented on #265
Hi everyone I think we need to reopen this discussion - yesterday @iteles told me on Gitter that the blog platform will require Nelson's involvement in order to build it, but he doesn't have availability to devote time to it until at least October.

I would like to suggest again that we consider using a medium blog as an alternative platform for now (and link it to blog.dwyl.com) until we have the

[2017-08-23 12:15] iteles commented on #264
Finally sorted their problems. Done.

Have also update Xero with all the latest payments.

[2017-08-23 12:23] iteles commented on #274
Hm, this shouldn't still be assigned to me.

@markwilliamfirth As per https://github.com/dwyl/hq/issues/274#issuecomment-308690405 and the sharing of the case study over email chat, could you please let me know where this is at?

[2017-08-23 12:31] iteles commented on #325
Closing this as the question has been answered - rates are not fixed across 'markets' and therefore not across all our clients.
To be expanded on in https://github.com/dwyl/process-handbook/issues/45 and an issue on researching market rates can be reopened later this year if we confirm what we need to research.

[2017-08-23 12:46] markwilliamfirth commented on #325
I think before we can close this we can establish which markets we are targeting

e.g. http://www.eyecatchermc.com/

these guys are a branding agency that work exclusively with startups in the health tech space

If we can narrow down some of our markets
e.g. development services for startups in the healthtech space then we can look at market rates and answer this issue

Definition of markets depen

[2017-08-23 12:48] markwilliamfirth commented on #274
@iteles I think you're the only one with the case study info!

Please can you fill in the info [here](https://docs.google.com/spreadsheets/d/14fFQDGqhmucMQfkshR_8zdeZuZlhn8Rf1mFyXhi4Yi8/edit#gid=0)

Missing info is in yellow boxes

[2017-08-23 12:49] iteles commented on #228
Let's get this done 👍

@markwilliamfirth Could you spend 10 minutes looking at the paperwork and let me know how much time you think it will require so that we can determine whether #321 is a still top dog in terms of priorities?

[2017-08-23 12:55] iteles commented on #325
@markwilliamfirth Did you read my comment above about the question in _this_ issue being closed and a new issue is to be opened when we make that exact determination?

[2017-08-23 13:00] iteles commented on #274
@markwilliamfirth In April, you were emailed the first draft of a case study to review (of format, language, technique, etc) to see if it could form a good template, as per the emails exchanged and https://github.com/dwyl/hq/issues/274#issuecomment-308690405

That's the thing I am asking for an update on please. https://github.com/dwyl/hq/issues/274#issuecomment-324312547

[2017-08-23 13:06] markwilliamfirth commented on #274
Let's make this an epic and split it up!

[2017-08-23 13:07] markwilliamfirth opened #377 "dwyl Case Study Content"
Linked to #274 & #378

- [x] @iteles to add correct CE100 link to doc (AR - looks like this has been done already?)
- [ ] @iteles to provide case study content - missing info is in yellow boxes [here](https://docs.google.com/a/dwyl.com/spreadsheets/d/1mgWM-B4eTi0KyhiwRdd_CXdjQ4rtW9GyaX3BqsHMbrE/edit?usp=sharing)
- [x] @rub1e to write copy for selected case studies
- [x] @rub1e to populate template

[2017-08-23 13:08] ghost opened #378 "dwyl Case Study Format"
Linked to #274 & #377

- [x] Desk research on "competitor" agencies' approach to portfolios
- [x] Create rough 'n' ready mockups of portfolio slide templates
- [x] Confirm template
- [x] Create blank templates for reuse

~~Mark to review case study format and suggest a new, better format~~

[2017-08-23 13:10] markwilliamfirth commented on #378
I think the current format on the new site is good enough for now

Viewable here:
http://127.0.0.1:8000/redesign/cs-emf.html

@iteles when would you like the review of the format to be done by?

[2017-08-23 13:11] iteles commented on #150
Got some more of these at dwyl-summer.

Will open an issue in https://github.com/dwyl/dwyl-site if required

[2017-08-23 13:11] #150 closed

[2017-08-23 13:12] markwilliamfirth commented on #325
I think it's fine to leave this open and have a blocker on it until 328 is done

[2017-08-23 14:10] ghost opened #379 "Who do we want to work with?"
Moved from https://github.com/dwyl/dwyl-site/issues/68 (Who do we want to work with?)

Current suggestions:
British Museum
British Library
Victoria and Albert Museum
Bodleian Library
National Archives
http://www.opencompany.org/directory/

Assigning Inês as this comes under biz dev

Dependant on #328

[2017-08-23 15:18] Jbarget commented on #379
[Welcome Collection](https://wellcomecollection.org)?

[2017-08-23 19:25] iteles commented on #265
I have requested that Nelson spend the next 5 weeks exclusively focused on dwyl's technology, allowing this organisation to move forward rather than hamster-wheeling around client work.

@markwilliamfirth Thanks for raising this again. Please clarify why there is a rush to get this completed prior to that 5 week timeframe.

[2017-08-23 19:32] markwilliamfirth commented on #265
@iteles I am aware that dwyl has been talking about setting up a blog [since 6 June 2015](https://github.com/dwyl/dwyl-site/issues/5) and during my first week here it was also mentioned and has (obviously) been mentioned a number of times since then.

Unfortunately other more important things always seem to pop up and divert attention away from this.

My suggestion follows the logic that this is a

[2017-08-24 08:47] iteles commented on #265
I take your point.

The [SEO](https://github.com/dwyl/hq/issues/265#issuecomment-283110876) issues mentioned above are still a concern to me.

However, as it stands, you have already merged in Cleo's PR that sets up the blog post templates on our website: https://github.com/dwyl/dwyl-site/pull/298 :tada:

We're all developers. With very little work (adding in some comments in the code and testing

[2017-08-25 07:15] markwilliamfirth commented on #265
@iteles what would be the features of the above proposed blog MVP? Does this include interaction and commenting, sharing, etc? Or just text?

[2017-08-25 09:07] markwilliamfirth commented on #283
- [ ] Include clause allowing time for dwyl team retrospective

[2017-08-25 09:14] iteles commented on #283
?! A retrospective is an _essential_ part of the agile development process. It's never a question.
Are you proposing we add all of our ceremonies into our contracts?

[2017-08-30 06:32] ghost opened #380 "Record Voice Recognition and Microphone Research in an MD file"
How to record microphone on Safari (Desktop and iOS)?
https://github.com/dwyl/best-evidence/issues/3

voice recognition api?
https://github.com/dwyl/best-evidence/issues/2

@iteles do you know where this should be recorded?

[2017-08-30 08:28] iteles commented on #350
Further thoughts that came up from a scrum master on a retrospective today:
'I try to ask all of the clarifying questions of the Product Owner that I would like to know the answers to as a developer so that when the developers come to it, they can don't have to ask the obvious questions and can work much more efficiently'

[2017-08-30 10:00] Jbarget commented on #375
also linked to https://github.com/dwyl/labels/issues/73

[2017-08-31 08:05] Cleop commented on #363
I'm back on the case as of today @markwilliamfirth  👍

[2017-08-31 09:57] markwilliamfirth commented on #304
1,112.28 paid for August

[2017-08-31 11:28] iteles commented on #264
Done. Confirmed no further payments made from our clients since 21st Agust round of updates in Xero.

[2017-08-31 14:38] iteles commented on #242
https://blog.charliehr.com/2017/08/16/how-to-write-your-first-employee-handbook

[2017-08-31 20:30] RobStallion commented on #302
@markwilliamfirth SORRY I TOOK SO LONG 😞

but this is fantastic. It is much faster and easier way of sending an invoice which will be less prone to human error (because as you know sometimes I would send my invoice email without the actual invoice attached 😖)

I am having the same issue @katbow mentioned [here](https://github.com/dwyl/hq/issues/302#issuecomment-312458368) where the email is being

[2017-09-01 04:09] markwilliamfirth commented on #302
thanks @RobStallion !

Yes - at the moment half of the emails are coming from finance and half from my email - not sure why it's done that - doesn't appear to be a pattern though - something needs to be reset!

[2017-09-01 04:13] markwilliamfirth commented on #264
@iteles thanks - just a note to say that the balance probably needs to be significantly increased to prepare for #370

[2017-09-01 11:04] iteles commented on #370
The outstanding receipts I have with me have been input into Xero (all under 'Office supplies' as the correct categories are not set up yet #339), though there may still be some in the UK outstanding. Please do go through the bank statement to pick up on these expenses.

I have a number of Portuguese ones that I can't enter because the app does not support euros, but these should not impact VAT. L

[2017-09-01 17:20] markwilliamfirth commented on #302
Another bug spotted by @jackcarlisle - system does not currently allow for non-VAT registered companies

[2017-09-04 09:40] markwilliamfirth commented on #366
<img width="270" alt="screen shot 2017-09-04 at 11 39 13" src="https://user-images.githubusercontent.com/5732209/30020877-bdd2f800-9165-11e7-84aa-3fc75b6a3db6.png">

Should do this when I'm back in London

[2017-09-04 09:54] markwilliamfirth commented on #368
@naazy I would suggest Sep 8th or Sep 22nd - which do you prefer? Let me know and I'll email out today

[2017-09-04 11:03] naazy commented on #368
Let's go with the 22nd @markwilliamfirth :smile: :pray: Thanks

[2017-09-04 13:54] iteles opened #381 "VAT Return | August - October 2017"
VAT return for the period of 01.08.2017 - 31.10.2017.

**Deadline:** 1st December.

VAT return and payment deadline is 7th December but this task needs to be completed ahead of time as bank funds to HMRC take 2 days to clear so this period needs to be taken account of so that we don't have to overpay and wait for HMRC to return the difference once the return is finalised again.

Low priority whils

[2017-09-04 16:50] iteles opened #382 "Invoicing for our work | Pain points"
Up until January 2017, I kept a spreadsheet which was filled out with the agreed number of days to be worked, who was on the team, the invoice number and date to the client, whether the team members had invoiced us and whether they had been paid already.

In moving to Xero for invoicing, a lot of this information was lost as this spreadsheet stopped being filled in.

7 moths on, I can conclude thi

[2017-09-04 17:14] iteles commented on #112
This has been blocked for the last 6 months, but the relevant blocker has now been moved into #373

[2017-09-04 17:19] iteles opened #383 "Xero capabilities and limitations - 1 day spike"
As discussed on 26-Jun-2017 and captured in https://github.com/dwyl/hq/issues/321#issuecomment-323071446, we need a spike to better understand how we can utilise Xero to its full potential and in a way that benefits our needs.

Including (but not limited to) understanding how to:
+ [ ] Add contractor invoices to the application in as automated a fashion as possible (i.e. is there a way which would

[2017-09-04 17:38] iteles opened #384 "RAF Museum Centenary celebrations 'online collection'"
We received an invitation to tender (1  of 10 organisations) for a project on working with the RAF Museum on their centenary celebrations in 2018. It would have consisted of allowing the museum to display information about all their exhibits across an array of different devices, for display in the museum, access through a mobile application for the public and mobile tablets for museum tour operato

[2017-09-04 17:38] #384 closed

[2017-09-04 17:47] iteles opened #385 "HL deployment and Ox extension"
Current proposed extensions:

+ Ox final issues: https://github.com/healthlocker/oxleas-adhd/issues/125 and https://github.com/healthlocker/oxleas-adhd/issues/94
  + Proposed start date: 7-September-2017
+ HL production deployment
  + Proposed start date: 14-September-2017
+ Ox one sprint extension
  + Proposed start date: 27-September-2017
  + Amended start date: 9-Oct-2017

@RobStallion @katbow

[2017-09-04 17:53] iteles commented on #348
Lowering the priority on this for now as there isn't much we can do about it.

@markwilliamfirth I spent 1 hour on this call + maybe another 30 minutes in brief conversations with you and Noga + 2 hours of a skimmed review of the proposal and discussing my thoughts with you. I didn't add a time estimate though as you were the one taking point on this.

Please log the time you spent on it and pulli

[2017-09-04 19:18] iteles commented on #49
https://www.amazon.co.uk/b2b/info/amazon-business?layout=landing

[2017-09-04 19:19] iteles commented on #218
https://www.amazon.co.uk/b2b/info/amazon-business?layout=landing

[2017-09-04 19:23] iteles commented on #343
Confirmed to start on 18th September with @Cleop and @SimonLab

@SimonLab will carry out an API spike in the previous week.

[2017-09-04 19:23] #343 closed

[2017-09-05 02:51] iteles commented on #264
Account balance significantly increased over the course of 3 working days given daily transaction caps.

[2017-09-05 10:26] markwilliamfirth commented on #363
@iteles it seems like that application is only available on iphone - do you know of any apps that work across different platforms? Please let me know, if not I can research into them

[2017-09-05 10:33] markwilliamfirth commented on #382
@iteles

Filling the spreadsheet in is still an open task behind other tasks #272

If we don't want to rely on this we can now use the invoicing system to generate the invoices ourselves

We could create repeating calendar events to solve this

This is the same as before, the issue here is that #272 keeps getting pushed back

[2017-09-05 10:36] markwilliamfirth commented on #112
@iteles this isn't blocked - the next step is to provide estimates of what percentage of each project is R&D work, the £ figures don't block the percentage estimate

[2017-09-05 10:40] markwilliamfirth commented on #384
@iteles what happened with this one? Did you guys send questions in?

<img width="775" alt="screen shot 2017-09-05 at 12 39 21" src="https://user-images.githubusercontent.com/5732209/30057539-5d606e30-9237-11e7-872f-e1fb563cd6fd.png">

<img width="775" alt="screen shot 2017-09-05 at 12 39 32" src="https://user-images.githubusercontent.com/5732209/30057538-5d598548-9237-11e7-9619-f7776f4e475c.png">

[2017-09-05 10:43] markwilliamfirth commented on #383
All of these issues will take much longer than a day - or do you mean just understanding the process of how to solve each one?

[2017-09-05 10:44] iteles commented on #363
@markwilliamfirth Still looking for the next one to try out.
For now, the half day captures work fine for most people but The important thing here is to determine what _you_ need in terms of info and format for the accounting system. Linked to #383

[2017-09-05 10:44] markwilliamfirth commented on #348
@iteles this is still high priority, but has a dependency on it

[2017-09-05 10:48] markwilliamfirth commented on #363
@iteles ok can you confirm if you want half day accuracy or quarter day accuracy for the MVP? (as per your comment https://github.com/dwyl/hq/issues/363#issuecomment-323327856)

[2017-09-05 10:51] markwilliamfirth commented on #264
This will need to be increased again post payment

[2017-09-05 13:25] iteles commented on #348
Please see my question above on time https://github.com/dwyl/hq/issues/348#issuecomment-327008620

[2017-09-05 13:27] iteles commented on #383
Yes, this is essentially an implementation _plan_, with a quick test implementation of one element where relevant, not the implementation itself.

[2017-09-05 13:29] iteles commented on #112
@markwilliamfirth As per my comment here: https://github.com/dwyl/hq/issues/112#issuecomment-286265917 this cannot be _completed_ until #373 is complete. I was just updating the issue reference seeing as you split that portion of the issue out into a new issue recently.

[2017-09-05 13:31] iteles commented on #363
Quarter day is preferable, as stated, but that's not a blocker, happy to start from what we already _have_ (half days) and just **start** and iterate.

[2017-09-05 13:33] markwilliamfirth commented on #112
@iteles I understand your point but I think there is a misunderstanding - the next step is to provide an estimate of a claim, to do this we need two pieces of information. One is the percentage of a project that is R&D / open source. The second is the amount of money spent on that project. Both figures can be estimated independently of each other, so there is no blocker.

[2017-09-05 13:38] markwilliamfirth commented on #363
@iteles in that case this has already been completed with creation of the company calendar

https://docs.google.com/spreadsheets/d/1HejQid3ZqaIK2iYzsv4SrD40UGWYa7qm1YSvMdcWfME/edit#gid=1068312920

We will record in here to a half day accuracy and the codes can be counted when necessary

Do you want people to record themselves or it to be maintained by you / myself?

[2017-09-05 13:53] markwilliamfirth opened #386 "Refresh Coop Bank Feed"
@iteles it seems the bank feed for coop stopped on May 15 - can you refresh please?

[2017-09-05 13:54] markwilliamfirth commented on #386
Linked to #370

[2017-09-05 14:13] iteles commented on #386
Seemingly not. It just endlessly hangs (5 minutes and counting).
<img width="163" alt="screen shot 2017-09-05 at 15 11 52" src="https://user-images.githubusercontent.com/4185328/30065395-94a15642-924c-11e7-993c-b32bc531ddd8.png">

Historically we have always done our VAT returns based on invoices sent out in the period rather than cash in the bank (for simplicity) so unless we are changing this (w

[2017-09-05 14:20] markwilliamfirth commented on #386
@iteles it's not just invoices sent out, it's money received and expenses etc - it's everything

Can you contact xero support and ask why it won't refresh? (I would but I don't have coop credentials, so there will not be much point in me doing so)

[2017-09-05 14:45] iteles commented on #386
The only thing that we use use the Coop Bank for is to receive invoices, so there won't be any additional money received or expenses that come out of there.

Happy to send you a PDF statement for the quarter until #219 is sorted, but all of the payments made in were captured against the relevant invoices in Xero as well (Xero is up to date with payments made into Coop up to 4-Sept).

I can call Xe

[2017-09-05 14:49] iteles commented on #363
@markwilliamfirth The main purpose of this issue is:

As I have mentioned [here](https://github.com/dwyl/hq/issues/363#issuecomment-310111713), [here](https://github.com/dwyl/hq/issues/363#issuecomment-323327856), [here](https://github.com/dwyl/hq/issues/363#issuecomment-323724416) and [here](https://github.com/dwyl/hq/issues/363#issuecomment-327139572), the key thing in this issue is to  understa

[2017-09-06 09:05] markwilliamfirth commented on #363
@iteles a bit confused about what you mean here - this information is already in Xero - the number of days employees work on client projects is already recorded in our accounting system on the invoices - are you referencing internal projects? This could be done by generating invoices with no cost associated with them if you just want time recorded in Xero

[2017-09-06 13:02] iteles commented on #264
Done.

[2017-09-06 17:15] iteles commented on #363
Internal projects is the _main_ one, as per the description of this issue.
However, as you know, there are various cases where we have done some additional time on _client_ projects at no additional cost, for example:
+ A high profile project that we have dedicated some time from an extra dwyler on the project to make sure things are polished (e.g. Cleo's contributions to HL weren't always charged

[2017-09-07 13:22] iteles commented on #386
Done.

[2017-09-07 15:40] markwilliamfirth commented on #370
Submitted, net due was 45,959.74

[2017-09-07 15:40] #370 closed

[2017-09-07 15:55] markwilliamfirth commented on #49
Closed in favour of https://github.com/dwyl/hq/issues/49

[2017-09-07 15:55] markwilliamfirth commented on #218
Completed

The verification process can take up to three business days to complete. We will send you a confirmation email when your information has been verified.

[2017-09-07 17:19] iteles commented on #49
@markwilliamfirth You closed this issue in favour of itself? Assuming that was in error 😊

[2017-09-07 17:26] markwilliamfirth commented on #49
@iteles well spotted! Closed in favour of https://github.com/dwyl/hq/issues/218 (also now closed)

[2017-09-07 17:27] #49 closed

[2017-09-08 13:33] markwilliamfirth commented on #26
Agree with the comment above

[2017-09-08 13:41] markwilliamfirth commented on #218
Welcome to Amazon Business. The information you provided has been verified and your account registration is now complete.

[2017-09-08 16:12] markwilliamfirth commented on #350
Couple weeks back I came across someone on LinkedIn who has experience as an Agile Coach / Agile PM and they were looking for a new role. They had quite good experience (some excerpts from cv below):

<img width="496" alt="screen shot 2017-09-08 at 17 08 22" src="https://user-images.githubusercontent.com/5732209/30220761-89de7e88-94b8-11e7-8e83-9e9af9406853.png">
<img width="664" alt="screen shot

[2017-09-08 16:29] markwilliamfirth commented on #368
@naazy how long do you need for this? Katherine's elm dojo was 1.5h for reference

[2017-09-08 16:32] naazy commented on #368
Let's say 1.5 hours also then @markwilliamfirth 📿  Thanks

[2017-09-08 16:36] iteles commented on #350
This is the answer of a 'professional scrum master' whereas the more traditional scrum master is a developer who is part of the team, rather than someone who just deals with the business, which is what you now see in bigger teams (as there's much more bureaucracy for these teams).

I agree with them that code reviews are not part of the SM's role, though there seems to be some misunderstandings ar

[2017-09-14 11:50] ZooeyMiller commented on #302
@finnhodgkin and I both sent our invoices for last week through on Friday 8th (on the google form), but neither of us received confirmation emails, did they go through?

[2017-09-14 12:36] shouston3 commented on #302
I raised some invoices that weekend and didn't get an email response. I told @markwilliamfirth and got this response.

![screen shot 2017-09-14 at 13 35 15](https://user-images.githubusercontent.com/15983736/30430025-9df4d3ac-9951-11e7-888f-5a2203803c66.png)

[2017-09-15 12:27] markwilliamfirth opened #387 "Submit dwyl to engineering blog list"
https://github.com/dwyl/dwyl-site/issues/21

[2017-09-15 12:28] #350 closed

[2017-09-15 12:29] #289 closed

[2017-09-15 12:30] markwilliamfirth commented on #140
Blog part of this issue moved to https://github.com/dwyl/blog/issues/11

Keeping open as there are still actionable points here

[2017-09-15 12:31] #58 closed

[2017-09-15 12:32] markwilliamfirth commented on #265
@iteles can you clarify the above?

[2017-09-15 12:33] #247 closed

[2017-09-15 12:34] #246 closed

[2017-09-15 12:34] markwilliamfirth commented on #181
Closed in favour of https://github.com/dwyl/blog/issues/13

[2017-09-15 12:34] #181 closed

[2017-09-15 12:36] #189 closed

[2017-09-18 09:21] markwilliamfirth commented on #386
Requires refresh again

[2017-09-18 09:35] markwilliamfirth opened #388 "Old Amazon still taking payments"
a 14.95 payment came out of the bank account on 7 september - I haven't made any purchases on the new account ( #218 ) and I removed the cards to the old account after we last used it so I don't know what caused it. I tried to log back in to the old account to check what happened - possibly a delayed payment? But it's now asking me for a code from the new ideaq email in order to log in so I'm unab

[2017-09-18 10:29] iteles commented on #388
Our audible account is still linked to the old email, so it's probably that. I'll get this swapped over.

Lowering the priority as it doesn't need to be done this week 👍

[2017-09-18 11:20] markwilliamfirth commented on #302
To update this issue - the above error has been fixed now

[2017-09-18 11:59] markwilliamfirth commented on #388
@iteles I think I removed the cards from that too so I don't think it's that either - I might be wrong though

[2017-09-19 14:23] markwilliamfirth commented on #368
This has been sent out

[2017-09-19 14:52] markwilliamfirth commented on #357
Got this message from Zen

@iteles are there any notes from what was agreed with Zen last time? I thought FAC use/used the grant for bike repair?

[2017-09-19 15:09] markwilliamfirth commented on #357
[18675985-ZEN Grant Application Form (Aug 2017).PDF](https://github.com/dwyl/hq/files/1314735/18675985-ZEN.Grant.Application.Form.Aug.2017.PDF)
[18676017-ZEN Grant App Guidance (2017).PDF](https://github.com/dwyl/hq/files/1314736/18676017-ZEN.Grant.App.Guidance.2017.PDF)
[18712508-DWYL Action Plan.PDF](https://github.com/dwyl/hq/files/1314737/18712508-DWYL.Action.Plan.PDF)

[2017-09-19 17:13] markwilliamfirth commented on #373
@iteles I have completed this for the most recent sprints of the current projects - please let me know if this format works for you?

[2017-09-20 11:23] markwilliamfirth commented on #375
@iteles can we action the new labelling system across all of our repos?
https://github.com/dwyl/labels/issues/73

[2017-09-20 11:39] markwilliamfirth commented on #228
http://www.wipo.int/madrid/en/forms/

[form_mm2.pdf](https://github.com/dwyl/hq/files/1317571/form_mm2.pdf)

@iteles I have no idea how long it will take but I think this is the correct form

It should cost 1041 swiss francs (currently approx 799.95 British Pound)

[2017-09-20 12:33] markwilliamfirth commented on #26
I contacted Triodos to ask if I could demo their online banking and they said:

I did a bit of Googling and couldn't find much - must be better than Coop though?

And they rank better than coop in terms of ethics:

<img width="302" alt="screen shot 2017-09-20 at 13 32 21" src="https://user-images.githubusercontent.com/5732209/30643796-34b03646-9e08-11e7-9b3a-00d14b4c45f5.png">

Shall I open an acc

[2017-09-20 12:36] iteles commented on #26
@markwilliamfirth There's a whole application process to go through, but I think it would be great to have an account with them 👍

[2017-09-20 12:48] naazy opened #389 "Claiming expenses"
@markwilliamfirth My understanding is that when a contractor claims expenses for something (e.g. MS office), they have to add the expense to their invoice.

What's the process for a **full timer** claiming an expense? Do we invoice also?

[2017-09-20 12:50] markwilliamfirth commented on #26
Have sent an email to ask

[2017-09-20 12:51] iteles commented on #389
@markwilliamfirth This is a pre-approved expense as the OA team required a specific tool to enable them to carry out the project work. This was discussed and agreed with me ahead of time.

[2017-09-20 13:01] markwilliamfirth commented on #389
@naazy just submit through Xero (I've sent you an invitation)

https://docs.google.com/a/dwyl.com/document/d/1SeXnzTD4P-Ley-RfcEpM4X5aYgjB8SN9mwywtXMPi-o/edit?usp=sharing

[2017-09-20 13:02] markwilliamfirth commented on #389
Linked to #123 https://github.com/dwyl/hq/issues/191

[2017-09-20 13:26] naazy commented on #389
Thanks @markwilliamfirth  👍

[2017-09-20 13:27] naazy commented on #389
Closing issue because question has been answered ❤️

[2017-09-20 13:27] #389 closed

[2017-09-20 13:33] markwilliamfirth commented on #41
@iteles @nelsonic

It costs £170
https://www.gov.uk/how-to-register-a-trade-mark/apply

Do you want to go ahead?

[2017-09-20 15:18] markwilliamfirth opened #390 "Financial Forecasting"
Look into FUTRLI

[2017-09-20 15:40] markwilliamfirth commented on #348
@iteles this was sent back in July and I can't remember how much time was spent on it. I would hazard a guess at a day in total maybe?

[2017-09-20 15:43] markwilliamfirth commented on #365
@naazy, @SimonLab, @Cleop, @Conorc1000, @Danwhy, @harrygfox, @jackcarlisle, @katbow, @nogainbar, @RobStallion, @roryc89, @shouston3, @sohilpandya

A reminder to please tick yourself off on the top comment here once you've completed this!

[2017-09-20 15:47] ghost opened #391 "R&D Projects Percentage Estimate"
We need a percentage estimate per project for how much of the work might be eligible for R&D. Just an estimate at this stage.

Urgent because I am meeting with our accountants next week to discuss our claim and will need to review it beforehand and prepare in advance.

Linked to https://github.com/dwyl/hq/issues/112

[2017-09-20 15:49] markwilliamfirth commented on #112
This is now an epic

**Next steps:**

- [ ] https://github.com/dwyl/hq/issues/391
- [ ] https://github.com/dwyl/hq/issues/229
- [ ] https://github.com/dwyl/hq/issues/339

[2017-09-20 15:50] Danwhy commented on #365
Done, but I can't edit the top comment

[2017-09-20 15:53] markwilliamfirth commented on #365
@Danwhy thanks! Didn't realise some people couldn't edit the top comment. For those reading, if you're unable to please comment below and I'll tick you off.

[2017-09-20 15:54] markwilliamfirth commented on #219
Still waiting to hear back from coop - have emailed them twice since

Coop truly are awful in terms of digital (online banking + emails)

#26

[2017-09-21 13:45] #155 closed

[2017-09-21 14:49] markwilliamfirth opened #392 "Use meet.google.com instead of hangouts?"
https://meet.google.com/

https://techcrunch.com/2017/02/28/google-quietly-launches-meet-an-enterprise-friendly-version-of-hangouts/

Might be better - @iteles ?

https://support.google.com/a/answer/7304109

[2017-09-22 07:47] iteles commented on #264
And again, as well as updating all payments in Xero.

[2017-09-22 08:03] iteles commented on #386
This is done but the amount is incorrect (6k over on the balance). I'm not sure why.
For your purposes @markwilliamfirth shall I sent you the last few months as a PDF so you can see where the discrepancy comes from?

@markwilliamfirth The reason this keeps failing is because Xero doesn't have a sophisticated interface with the CBank and because we use a one-time authentication token, it's wrong ev

[2017-09-22 10:13] markwilliamfirth commented on #386
@iteles yes PDF would help if possible

[2017-09-22 10:44] markwilliamfirth commented on #26
@iteles fees are here https://www.triodos.co.uk/downloads/bb-tariff.pdf?audience=Business

[2017-09-25 17:26] iteles commented on #375
@markwilliamfirth I think we need to trial it in a few more places first - the only people who have tried this out yet are diligent at updating labels and my real question there is whether this will be done across the board.

Happy to add it to `hq` until we have `time` ready for use though.

[2017-09-25 17:36] #368 closed

[2017-09-25 18:18] iteles commented on #385
There has been a huge amount of back and forth on this, with conversations around:
+ Technical questions on our estimates
+ Discussion on new sprint planning methods
+ Fielding requests for changing scope
+ Explaining dwyl methodologies in more detail (estimations, planning, budgeting)
+ Having to reach out to @katbow and @RobStallion in a piecemeal way with scattered requests rather than efficien

[2017-09-26 16:32] markwilliamfirth commented on #366
Laptop info is:

MBP13.3/2.5/8GB/256GBFLASH
PartNumber:MD213B/A
SerialNumber:C02JG38DDR54

Not sure I should do this myself for fear of breaking the laptop

Going to get a quote from Apple too

[2017-09-26 16:39] markwilliamfirth commented on #366
Apple quoted me:

Going to try and file a consumer rights claim
https://www.apple.com/uk/legal/statutory-warranty/

[2017-09-26 16:59] markwilliamfirth commented on #366
After explaining I wanted to claim under consumer law, they offered me a repair slot at:
MR SHOREDITCH, England, United Kingdom, EC2A 3DH

When I asked again if this would be free they said it would likely not be as to claim under consumer law I need to deal with Apple directly. They then booked me in for an appointment on Monday 2nd October at 5pm at Stratford City, but warned that Apple might no

[2017-09-27 00:07] iteles commented on #366
Would it not be less time consuming and hassle-free (just setting up a new laptop takes half a day) to wait a week and a half until we can get the tools to you to just replace the battery ourselves as suggested above? Or did you never end up ordering one from Amazon?

[2017-09-27 00:08] iteles commented on #358
This was carried out in June and as a result, multiple commits were added to the 'process-handbook' repo.

[2017-09-27 00:08] #358 closed

[2017-09-27 09:56] markwilliamfirth commented on #366
The laptop isn't designed to be repaired - the battery is glued and I don't really fancy messing with it, plus apple might be free repair

[2017-09-27 15:48] markwilliamfirth opened #393 "Coop PDFs"
@iteles please could you send me the coop bank statements for 2017?

Linked to #339 #229

[2017-09-27 17:06] iteles commented on #363
If it's recorded by either of us @markwilliamfirth, we just become the middlemen, having to check in with people for an accurate picture. That seems like duplicated effort to me.

[2017-09-27 17:07] iteles commented on #391
Apologies @markwilliamfirth, I didn't see this in the sea of priority-1s assigned to me.

When is your meeting?

[2017-09-27 17:11] iteles commented on #393
@markwilliamfirth I'm on unsecure wifi until tomorrow so can't send them until then.

You have them until the end of April 2017, so do you need them for the current financial year too?

[2017-09-27 17:30] markwilliamfirth commented on #391
@iteles it was meant to be today, but I cancelled it

[2017-09-27 17:31] markwilliamfirth commented on #393
@iteles yep please send them all if you can!

[2017-09-27 17:34] markwilliamfirth commented on #363
@iteles in that case sharing the company calendar with everyone seems like the solution here - does this work for you?

[2017-09-28 08:26] iteles commented on #363
Sounds good @markwilliamfirth :)

[2017-09-28 11:11] iteles commented on #385
Current status:
+ HL has been completed (for now)
+ MV is awaiting confirmation from Ox before confirming final dates with us, expected to go ahead around 9-Oct-2017
  + Ox now fully estimated (thanks @katbow!)

[2017-09-28 14:55] markwilliamfirth commented on #363
@iteles can you clarify what you mean by "fed into our accounts"? Do you want the actual time somehow recorded within Xero? Or do you mean a separate accounting spreadsheet that takes the total time? Do you have some acceptance criteria for this?

[2017-09-28 15:14] iteles commented on #363
I've just been trying to use different wording to convey this ☝️

The task was to find the most effective way of capturing the time spent (and therefore the cost of said time) in a format that we could use in the most efficient way possible to understand how much we're spending on all projects for full time dwylers, for whom we _don't_ have clear invoices in Xero from (we already know what needs t

[2017-09-28 15:47] markwilliamfirth commented on #363
@iteles it's difficult to understand as there isn't clear acceptance criteria here

If this is the acceptance criteria:

- [ ] visibility of time spent on each project by full time dwylers in such a way that we know what the contribution to overheads is for each project

This time is already in the spreadsheet - if the above is true, as I understand all you want is these time blocks to be counted

[2017-09-28 17:00] iteles opened #394 "LDMW final sprint extension"
LDMW will go live on 18th Oct 2017 and there is a request for a final sprint to catch the final snags before go-live.

Currently being estimated by @Danwhy and @iteles, with a view to begin sometime week beginning 2nd October.

[2017-09-28 17:00] iteles commented on #394
@cleop FYI ☝️

[2017-09-28 17:25] iteles commented on #26
Thanks for Googling for those.

It seems the pertinent information is:
<img width="258" alt="screen shot 2017-09-28 at 16 23 45" src="https://user-images.githubusercontent.com/4185328/30975234-aaed50c0-a469-11e7-871d-1cd83c6e09c1.png">

More notably, the ones of these we use are:
+ Automated payments into account: all of our client payments, around 10-15 a month
+ Automated payments out of account

[2017-09-28 17:29] iteles commented on #391
In that case, I'm supposed to have been on offline these last 2 days and the next 2, so I will do this next week.

[2017-09-28 17:33] iteles commented on #392
Seems to be free if you're already a G Suite customer? If so, happy to try this @markwilliamfirth, please switch it on.

[2017-09-28 17:48] iteles commented on #393
Up until April 2017 re-emailed to you @markwilliamfirth .
I still don't have a secure internet connection (well, not one I trust with our banking data), so the rest will have to wait until Monday. Is that ok?

[2017-09-29 07:09] markwilliamfirth commented on #393
@iteles yep

[2017-09-29 07:10] iteles commented on #363
In essence, yes.

This issue was also about thinking how to do this most effectively but we can iterate from what you have.

[2017-09-29 07:11] markwilliamfirth commented on #392
@iteles yes it's free

Have switched it on, may take up to 24 hours to take effect

[2017-09-29 07:11] #392 closed

[2017-09-29 07:20] markwilliamfirth commented on #26
@iteles to be honest I don't think Triodos is a great solution, when everything is taken into account (internet banking, connections with Xero, branch access, cost, etc)

I think we should look into getting an account with one of the following:
Barclays
Metro Bank
NatWest
SVB
RBS

Do you have concerns about any of the above before I start looking into them?

[2017-09-29 08:27] iteles commented on #26
😕 It would seem we have lost track of the topic of this issue somewhat.

http://www.ethicalconsumer.org/buyersguides/money/bankingcurrentaccounts.aspx
<img width="303" alt="screen shot 2017-09-29 at 09 24 58" src="https://user-images.githubusercontent.com/4185328/31007348-38872a44-a4f8-11e7-82a7-a1154f560036.png">
<img width="304" alt="screen shot 2017-09-29 at 09 24 30" src="https://user-images.g

[2017-09-29 08:38] markwilliamfirth commented on #26
@iteles I think it's important to keep in mind that if we opt for a sub-optimal solution this causes us issues and slows us down and prevents us from doing our work (which is socially impactful, etc) so that is something to consider

Perhaps Metro is the best contender if you think the ethicalconsumer.org score is the most important factor. I'll look into Metro first.

[2017-09-29 10:37] markwilliamfirth commented on #375
@iteles this is more of a policy and enforcement of policy issue rather than an issue with the system

I don't think this should be put on hq first, I think this should be trialed on a development repo first, as ops issues are very different when compared to dev issues and the main value proposition of this process is towards improving estimations that contribute to sprint planning

I would sugges

[2017-09-29 11:50] Jbarget commented on #375
@markwilliamfirth @iteles if it is going to be trialled on dwylbot I would recommend setting clear guidelines on how to use the AT labels. Mainly in terms of the feedback here: https://github.com/dwyl/labels/issues/73#issuecomment-322224005 as its something that we would have benefitted from

[2017-09-29 16:02] iteles commented on #375
As we discussed extensively @markwilliamfirth, this is absolutely not a 'development-only' thing.

We time estimate tasks because:
+ Without timeboxing, tasks (_especially non-development tasks_) can easily extend and take up large amounts of time because of distractions, interruptions and a lack of a plan - time boxing helps to _focus_ on the task at hand
+ It forces us to _think_ about tasks _be

[2017-09-29 16:25] markwilliamfirth commented on #304
1,112.28 paid for September

[2017-09-29 16:54] markwilliamfirth commented on #375
@iteles again would voice my disagreement with the _**initial**_ repo being hq vs a dev repo, can explain my reasoning fully here if you'd like

[2017-10-01 08:01] iteles commented on #375
I did not suggest that the _initial_ repo be `hq`. The initial repo has already been `tudo`. The suggestion now is to roll it out to `dwylbot` & `dwyl-site` as you suggested and `hq` in parallel.

[2017-10-02 12:00] markwilliamfirth opened #395 "Finn & Zooey dwyl emails"
Create dwyl emails for Finn and Zooey

[2017-10-02 12:09] markwilliamfirth commented on #249
<img width="393" alt="screen shot 2017-10-02 at 13 09 11" src="https://user-images.githubusercontent.com/5732209/31076605-ed074c66-a772-11e7-8e1a-16924575d598.png">

2017-10-02

[2017-10-02 14:08] markwilliamfirth commented on #395
@finnhodgkin @ZooeyMiller this has been done

Please check out https://github.com/dwyl/hq/issues/365

[2017-10-02 14:08] #395 closed

[2017-10-02 15:32] markwilliamfirth commented on #386
PDF issue moved to #393

[2017-10-02 15:32] #386 closed

[2017-10-02 15:34] #42 closed

[2017-10-02 15:41] markwilliamfirth commented on #290
Closing in favour of

1- https://github.com/dwyl/process-handbook/issues/45
2- https://github.com/dwyl/process-handbook/issues
3- http://dwyl.com/team
4- https://github.com/dwyl/

[2017-10-02 15:41] #290 closed

[2017-10-02 15:47] markwilliamfirth commented on #277
This was done here https://github.com/dwyl/phase-two/blob/master/plan.md

[2017-10-02 15:47] #277 closed

[2017-10-02 15:59] markwilliamfirth commented on #75
Linked to https://github.com/dwyl/hq/issues/328

[2017-10-03 09:41] sohilpandya commented on #147
Hey @nelsonic & @iteles,

you know where this is heading.... Unfortunately, I lost all my tech a couple of weeks ago and a few things like my camera and headphones and sunglasses were not insured. 😢😢😢😢

I know this issue has been closed for a while but wondered if it was possible to finally ask for a pair of headphones for myself? There is a 2nd gen of bose qc35's out and I realised they make my l

[2017-10-03 10:46] markwilliamfirth commented on #249
<img width="1223" alt="screen shot 2017-10-03 at 11 46 04" src="https://user-images.githubusercontent.com/5732209/31121526-76eeda4e-a830-11e7-9ba6-26836d8ad042.png">

2017-10-03

[2017-10-04 08:43] iteles commented on #394
Will run 2-Oct-2017 for 2 weeks.

[2017-10-04 08:43] #394 closed

[2017-10-04 14:57] iteles commented on #393
Back on a secure internet connection and email April 2017 to now to you today 👍

[2017-10-04 14:57] #393 closed

[2017-10-04 19:16] ghost opened #396 "Reasons for Open Source vs Closed Source"
Hi everyone!

I'm in the process of creating [a document](https://docs.google.com/document/d/1xCw6w2EUY2IGCdSN9w9mOaCR7znpJqAMbRNdTPNgKg0/edit#heading=h.srw3kuaiy86x) that outlines the following:

- Benefits of open source vs closed source
- Cons of open source vs closed source
- Benefits of closed source vs open source
- Cons of closed source vs open source
- Examples of successful commercial ope

[2017-10-08 12:34] iteles commented on #385
Current status:
+ HL has one more error to be fixed, from 16-Oct-2017 onwards, @iteles in touch with MV on this
+ Still awaiting confirmation for Ox who are looking for budget.

[2017-10-09 09:47] iteles opened #397 "Evaluate meet.google.com"
As per #392, we are trialling meet.google.com at the moment.

### User Story
As someone responsible for the operations of dwyl,
I would like to gather feedback on how the usage of meet.google.com is going
To evaluate whether it is a good tool for our organisation (in particular whether it is better than our previous tools).

[2017-10-09 10:34] iteles commented on #397
So far, I have only _booked_ a meeting but there was one slight annoyance in that I got this:
<img width="448" alt="screen shot 2017-10-09 at 10 45 38" src="https://user-images.githubusercontent.com/4185328/31332699-56ef835c-acdf-11e7-91c3-3d00d5dce5a3.png">

I have long since added the hangouts link to the 'location' field in an invitation because it was difficult for non-google calendars to acce

[2017-10-09 11:48] iteles commented on #218
"There was a problem and we could not find an account with that email address"

[2017-10-09 11:53] iteles commented on #218
Thanks for confirming the correct email for me @markwilliamfirth 👍

[2017-10-09 11:53] #218 closed

[2017-10-09 16:15] iteles commented on #397
Had a little lag on the screensharing today but nothing insurmountable.

We couldn't hear @yvonne-liu on the call this afternoon at all thought. Yvonne, which browser were you using? Have you had trouble recently?

[2017-10-09 16:25] sohilpandya commented on #397
FYI: My experience with meet has been OK, I can never get it off mute on the iPhone, its always on loudspeaker with no option to change it

[2017-10-09 16:53] markwilliamfirth commented on #283
Interest on late payments

[2017-10-09 17:29] iteles commented on #283
Is this a suggestion that charging interest on late payments should be added to our contracts with clients in light of the 2 client non-payment of invoices and 1 client who is paying us 3 months past the due date of invoices?

It would be a great idea to do a little research and suggest a sensible (spurs action but doesn't offend) interest rate 👍

[2017-10-09 21:12] yvonne-liu commented on #397
@iteles I think it might be a Google Chrome bug.

I've had the same issue before with Google Hangouts and now today with meet.google.com.

I've fixed it previous by putting `sudo killall coreaudiod` in terminal.

[2017-10-10 11:38] iteles commented on #272
@markwilliamfirth I need to meet with @sofer on this in the next 2 weeks, so the priority on this needs to rise.

Is it realistic to please carry out step 1 of the checklist in the top comment of this issue (or any other methodology you see as more efficient over filling out that spreadsheet) **by the end of this week** so that we have an idea of roughly how much we need to settle and can also det

[2017-10-10 15:25] naazy opened #398 "Buying Sparkfun sound detector"
In order to accurately measure the sound in the room, I believe we will need this sparkfun sound detector:
https://shop.pimoroni.com/products/sparkfun-sound-detector-with-headers

I've been trying to do it with an Electret microphone but i'm only able to make the sound detection work when i'm screaming into the microphone. This isn't ideal for measuring the sound in focushub. A number of sources i

[2017-10-10 15:40] iteles commented on #398
Perfect, thanks @naazy !

[2017-10-11 12:29] markwilliamfirth commented on #26
@iteles let's go with metro?

<img width="732" alt="screen shot 2017-10-11 at 13 28 25" src="https://user-images.githubusercontent.com/5732209/31440528-3036c0a4-ae88-11e7-9c1b-47d61a901b80.png">
<img width="719" alt="screen shot 2017-10-11 at 13 28 31" src="https://user-images.githubusercontent.com/5732209/31440527-30226eba-ae88-11e7-805b-c9664e5149ba.png">

[2017-10-14 19:23] iteles commented on #398
@naazy Assigning this back to you so you can close it when it arrives.

You'll already know how to claim this from here: https://github.com/dwyl/hq/issues/389#issuecomment-330843952

[2017-10-16 10:31] nelsonic commented on #397
https://support.google.com/a/answer/7303775?hl=en
![image](https://user-images.githubusercontent.com/194400/31607740-67918ae4-b265-11e7-9ebd-b9d6a3683f63.png)
Does not have a _built-in_ "record" function to easily record sessions.

[2017-10-17 11:56] markwilliamfirth commented on #264
Balance is now in minus figures after recent order of Anker Mouse on Amazon

[2017-10-18 16:54] iteles commented on #264
I have been temporarily separated from my fob and when I tried to call cooperative bank yesterday, it appears our telephone banking has been mysteriously deactivated.

I expect to be reunited with my fob tonight but in the meantime have made a temporary loan from my personal account to cover any payments to dwylers that _must_ go out this week.

[2017-10-18 16:59] markwilliamfirth commented on #264
@iteles shall I open the metro account? #26

[2017-10-19 18:00] iteles commented on #385
HL: closed for now.
Oxleas: still awaiting confirmation.

[2017-10-20 06:32] iteles commented on #366
Was this resolved @markwilliamfirth?

[2017-10-20 08:34] markwilliamfirth commented on #366
@iteles no, I sensed you weren't happy with the decision so I cancelled the appointment

[2017-10-20 08:35] markwilliamfirth commented on #366
The laptop dies without warning at 20% now

[2017-10-20 09:02] markwilliamfirth commented on #324
company blog

[2017-10-20 09:24] iteles commented on #366
@markwilliamfirth This isn't an unsolveable impass.

[2017-10-20 09:24] iteles commented on #366
@markwilliamfirth This isn't an unsolveable impass.

[2017-10-20 09:29] iteles commented on #366
Closed from mobile erroneously 🙄 This UI needs some help!

This isn't an insolveable impass. Please book the appointment and spend the money (and time). I was merely suggesting it might be less hassle to do it as suggested.

Please plan for tasks in that week that require the least setup, preferably browser-based (e.g. No changes to the website to review, get documentation of processes out of the

[2017-10-22 07:20] iteles commented on #397
Meet links do not have 'dwyl' anywhere in the link at the moment. This isn't big, but we've had several people/clients comment in the past when using hangouts that `dwyl` formed part of the link. It was a neat little feature and I'm surprised it hasn't been carried through. I'm thinking this may be a setting we can investigate changing?

In addition, meet doesn't allow you to change the meeting UR

[2017-10-23 15:59] markwilliamfirth commented on #396
@iteles please could you review this document? I need to send it to Amanda as soon as possible (feel free to use google docs review features)

[2017-10-24 05:05] iteles commented on #373
I'd come to check in on the status of this and realised that the comment I thought I had made has either disappeared or was not posted at all 😔 Apologies for the hold up @markwilliamfirth, I didn't realise this was the case (as you know, this has been the top priority for me for more than 6 months).

This looks like a good start, thanks.

We also need to take account of the following:
+ Your days

[2017-10-24 18:16] iteles commented on #228
Oh, sorry, I thought you were still going to provide an estimate for this to determine priority.
Yes please, let's!

I've reviewed the form and it doesn't look like any of the questions are 'essay' questions, they're mostly one liners and tick boxes so I'm thinking it won't take long if you're not interrupted (the `AMOUNT OF FEES` will take a little longer maybe).

If you need an info from me just

[2017-10-24 18:36] iteles commented on #385
Ox will possibly start 6-Nov-2017.
Final issues have been estimated, awaiting confirmation of the date above. @katbow and @RobStallion currently on board, scrum master & QA tbd.

[2017-10-24 18:39] iteles commented on #178
For now, we will be based in the UK. We will reopen in 2018 around the possibility of moving the _legal base_ to Portugal whilst continuing our work in the UK.

[2017-10-24 18:49] iteles commented on #26
I had a little brainwave: At the moment, we're not automating any of our transfers into santander #264 which quite frankly is stupidity on my part.

Seeing as this is literally the only thing we do from the Coop account (transfer and check for Xero once every couple of weeks) and because banking applications are a pain and can take a lot of chasing, I propose that as a stopgap until we clear our h

[2017-10-24 18:51] iteles opened #399 "Can we automate payment of dwyler invoices?"
* [x] Ask Xero why their batch exports don't work on the Santander system (this was because they don't support BACS at all)
* [x] Test batch payments using "Faster Payments" system in Santander on next pay run
* ~Resolve between Xero and Santander how to export batches from Xero and import into Santander~

At the moment, @markwilliamfirth has to go in every week and _manually_ pay all dwyler invoi

[2017-10-24 18:56] markwilliamfirth commented on #26
@iteles I don't think that answers this issue - this is more about moving to a different bank (that is also ethical) so we no longer have to use coop or santander, as both are not great for various reasons

I think Metro is a good solution - what do you think?

[2017-10-24 18:57] markwilliamfirth commented on #178
@iteles why was this decision made? What happened with the lawyers?

[2017-10-24 19:32] markwilliamfirth commented on #399
https://teller.io/

https://help.xero.com/uk/Accounts_AP_AddBatch

[2017-10-25 08:52] markwilliamfirth commented on #373
@iteles I'm not sure why this issue is such high priority - it doesn't really give us that much more information. The sprint profit shows which projects are more profitable and can be used to estimate future sprint profit margins. What is the problem here that we're actually trying to solve? What will these exact figures allow us to do?

[2017-10-25 08:54] markwilliamfirth commented on #366
@iteles where is the chromebook - how do I get hold of it?

[2017-10-25 09:19] markwilliamfirth commented on #313
@nelsonic I noticed you were interviewing but hadn't created an issue about it yet (I thought you wanted hiring transparent?) - can you confirm what position these candidates are applying for?

![1](https://user-images.githubusercontent.com/5732209/31990780-eeb7cfc4-b96d-11e7-82ba-da19ec7d11eb.png)
![2](https://user-images.githubusercontent.com/5732209/31990781-eed568fe-b96d-11e7-96a4-ce1fdb1ddedf

[2017-10-25 10:29] markwilliamfirth commented on #219
From coop:

In order to update the correspondence address this needs to be a written
instruction signed in accordance with your signing instruction.

The signature will then be checked against  the signatures provided on your
mandate.

I have double checked and this can not be  done via email.

Also, with regards to the online banking this can be set up as you have
requested it in the mandate. How

[2017-10-25 11:03] iteles commented on #373
Thanks for the question @markwilliamfirth, you're definitely correct in reminding me that the motivation/problem to solve should be very clear for everything we're doing 👍  I'm happy to elaborate on https://github.com/dwyl/hq/issues/321#issuecomment-323323949

**tl; dr:** As the person responsible for allocating resources in dwyl, I feel like I am 'flying blind' which severely hampers my ability t

[2017-10-25 11:05] iteles commented on #177
This arrived and we can now close this issue (seems to have been forgotten about 😊 ).

[2017-10-25 11:05] #177 closed

[2017-10-25 11:22] iteles commented on #313
@markwilliamfirth Nelson was helping out one of our older clients who is interviewing for their internal team and asked Nelson to lend his expertise.

This isn't relevant to dwyl and our own hiring process.

[2017-10-25 11:28] markwilliamfirth commented on #373
I wouldn't say we're flying blind - the sprint margins provide enough data to make decisions on and I'd say we have significant cash reserves compared to most young companies.

This isn't decided with this information, our pipeline isn't that big and deciding factors are usually - does the project align with our values? Is it over 10k? Can we deliver the requirements?

This hasn't been decided yet

[2017-10-25 11:33] markwilliamfirth commented on #313
@iteles are you able to clarify how much time Nelson is spending on TC - on the calendar it seems quite a lot for something we're not being paid to do - this week alone is 6.2 hours

[2017-10-25 11:56] iteles commented on #373
Mark, as the person actually making decisions on allocation of resources in this organisation, please allow me to determine what information I feel is necessary for me to make the decisions I need to make.

I have been requesting a better view of our financial position verbally since you joined us and in writing for the last 5 months through #321. We have equally been talking about how this is the

[2017-10-25 12:04] markwilliamfirth commented on #373
I agree that it's useful, I just don't think it's as high priority as other issues and I'd encourage you to reconsider based on the logic above

Also we previously said #328 was the single highest priority issue

With regards to taking the next steps to close this issue off can you clarify the minimum requirements to achieve what you consider is the most urgent data you need?

[2017-10-25 12:11] iteles commented on #373
The minimum requirement as of now is to:
+ Capture this for projects since you have joined (February 2017 onwards) as you have ready access to this information
+ Document the process you undertake for capturing this to that it can be replicated for projects in 2016
+ Establish the process for capturing this for ongoing projects

A separate issue will need to be opened to allow us to capture this f

[2017-10-25 12:29] markwilliamfirth commented on #373
@iteles can you clarify the order of post-jan17 projects for which are most urgent to least urgent in order for you to make decisions?

- Ellen Macarthur Foundation (new sprints - ongoing)
- QUODL (new sprints - ongoing)
- behavioural science
- Best Evidence (paused)
- healthlocker (ongoing)
- ldmw (ongoing)
- research resource
- oxleas (ongoing)
- medcheck (dementia)

[2017-10-25 12:33] iteles commented on #373
Whichever order makes your life easier for coming up withe the process (e.g. our longest running project (OA) first or a short one like medcheck first).

Behavioural science is a bit of an anomaly and tiny, so it won't yield much info, please leave that one til last.

[2017-10-25 12:36] markwilliamfirth commented on #373
@iteles to clarify - OA has been going for a long time before feb17, so it wouldn't be included in this initial set

[2017-10-25 12:52] iteles commented on #373
@markwilliamfirth Thanks for your clarification, please include only the sprints you have information on for OA 👍

[2017-10-25 13:02] iteles commented on #366
I've been checking with a couple of people who were the last to use it and I believe it is no longer functional 😕

We absolutely need a spare laptop for dwylers for eventualities such as this one so let's please order this one  (I did 10 mins of research here based on #177) on Prime so you have it when you need it:
https://www.amazon.co.uk/Acer-Chromebook-CB3-431-Celeron-Storage/dp/B01J3UVWKO

Lin

[2017-10-25 13:15] Cleop commented on #292
Only just stumbled across this... Has this happened? (If so... photos?!) If not, when can this happen :pray: ?!!! I think there are more likes now than the initial 8.

[2017-10-25 13:33] markwilliamfirth commented on #292
@Cleop hasn't happened yet - have pasted info below in case anyone is keen to lead on booking / arranging:

events@the-crystal-maze.com | 0207 278 2271 | www.the-crystal-maze.com
CrystalMaze@seetickets.com

https://thecrystalmaze.seetickets.com/tour/the-crystal-maze

We are very pleased to receive your team event enquiry. Please feel free to give me a call on 0207 278 2271. In the meantime, here i

[2017-10-25 17:43] iteles commented on #399
If we're looking to consolidate with one bank (this seems wise) as per https://github.com/dwyl/hq/issues/26#issuecomment-339095090, is Metro bank also a good candidate for this issue?

[2017-10-25 17:55] markwilliamfirth commented on #399
@iteles how do you mean? Metro also works with Xero

[2017-10-26 13:07] Cleop commented on #159
Was this issue achived for #213 or is this something we should be preparing for Dec 2017 as @nelsonic mentioned?

[2017-10-26 13:11] markwilliamfirth commented on #159
@Cleop this was never written up, but I've now moved them to the blog repo:
https://github.com/dwyl/blog/issues/22
https://github.com/dwyl/blog/issues/23

[2017-10-26 13:11] #159 closed

[2017-10-26 13:11] Cleop opened #400 "Christmas Party / Meal 🎄"
I really enjoyed the March dinner #213 and think it would be a good idea to have another get together / meal at Christmas 🎄 ☃️

My suggestion would be a meal at FocusHub on an weeknight evening in the first half of December 2017. We can either pick out an arbitrary date or run a doodle poll if people's availability is already looking patchy. My first arbitrary date suggestions are Weds 6th or Fri

[2017-10-26 13:12] naazy commented on #400
Werewolf!

[2017-10-26 13:26] markwilliamfirth commented on #271
Closing as Nelson confirmed via email he's been using his bank card, so it would seem the pin situation was resolved

[2017-10-26 13:26] #271 closed

[2017-10-26 13:37] markwilliamfirth commented on #324
@iteles we should review and close this issue as soon as possible - what's a realistic time for when you can get this one done by?

[2017-10-26 13:47] markwilliamfirth commented on #371
@Jbarget how did you get on with testing this theory? This could probably be solved by searching `is:issue label:"bug" ` in the issues

[2017-10-26 13:49] #387 closed

[2017-10-26 13:50] markwilliamfirth commented on #398
@naazy did this arrive?

[2017-10-26 13:53] naazy commented on #398
Yes it has arrived @markwilliamfirth. Any chance you could reinvite me to xero? My invitation has expired :pray: thanks

[2017-10-26 13:53] markwilliamfirth commented on #397
@iteles have we tested enough now to weigh up whether we should move to this from hangouts or should we switch back?

[2017-10-26 13:53] #398 closed

[2017-10-26 13:54] markwilliamfirth commented on #391
@iteles are there any updates on this one?

[2017-10-26 13:55] markwilliamfirth commented on #388
I've marked this against the loan account for now as I can't seem to find a business purchase that matches this, please reopen if you know what this is

[2017-10-26 13:55] #388 closed

[2017-10-26 13:59] Jbarget commented on #371
What i've found it mainly useful for is getting the dev environment set up on my current contract, which is particularly involved. (4 repos all used in conjunction with each other using `vagrant` - a lot of things can go wrong)

I created a MD file [here](https://github.com/dwyl/tudo/blob/master/TROUBLESHOOTING.md) for the `tudo` project but im skeptical that its actually needed.

I agree with @jp

[2017-10-26 13:59] markwilliamfirth commented on #374
@nelsonic 🙌 not sure if you saw the above q so thought I would post again

[2017-10-26 14:03] markwilliamfirth commented on #371
Ok thanks @Jbarget closing this issue in favour of https://github.com/dwyl/contributing/issues/103

[2017-10-26 14:03] #371 closed

[2017-10-26 14:03] markwilliamfirth commented on #366
Have ordered the laptop 👍

[2017-10-26 14:04] markwilliamfirth commented on #365
Hey everyone - please let me know when you complete this

[2017-10-26 14:07] Jbarget commented on #371
FYI I've moved the contents of the TROUBLESHOOTING.md here: https://github.com/dwyl/tudo/issues/257

and removed the md file: https://github.com/dwyl/tudo/pull/258

[2017-10-26 14:09] markwilliamfirth commented on #360
We don't have a newsletter at the moment, but we are collecting emails for Time so this repo isn't needed for now - we can reopen if we decide to do a newsletter in future or if Time comes to fruition

[2017-10-26 14:09] #360 closed

[2017-10-26 14:12] iteles commented on #397
No, I've only just rolled this out to a second client yesterday and we have yet to test it with brand new clients who aren't used to our ways of working yet.

[2017-10-26 14:13] markwilliamfirth commented on #349
@iteles what's the next step in this issue?

[2017-10-26 14:14] markwilliamfirth commented on #344
@iteles should we check in now that it's been a few months?

[2017-10-26 14:16] iteles commented on #272
I'm assuming the answer to my question directly above this was 'no', rather than what was implied by the labels which is that it was both doable and in progress?

[2017-10-26 14:17] markwilliamfirth commented on #398
@naazy sent!

[2017-10-26 14:19] markwilliamfirth commented on #333
This is still suspended after several months and doesn't look like it's going to open anytime soon - closing

[2017-10-26 14:19] #333 closed

[2017-10-26 14:20] markwilliamfirth commented on #330
Closing due to lack of posts

[2017-10-26 14:20] #330 closed

[2017-10-26 14:21] markwilliamfirth commented on #328
@iteles has any progress been made on this? When is a realistic timeframe for when you think the initial 1st draft of the above bullets can be done by (a few sentences on each point - single page business plan)?

[2017-10-26 14:22] markwilliamfirth commented on #272
@iteles this is in progress - I've already discussed this with Dan separately. if there is a deadline for this completion please let me know

[2017-10-26 14:24] markwilliamfirth commented on #316
Closing due to lack of posts

[2017-10-26 14:24] iteles commented on #272
I'm not sure I understand your comment @markwilliamfirth.

My question above was what was a realistic timeline for to "carry out step 1 of the checklist in the top comment of this issue (or any other methodology you see as more efficient over filling out that spreadsheet)".

[2017-10-26 14:27] iteles commented on #316
I believe this is an important question that is still outstanding. Leaving this in the backlog as a reminder that it requires consideration.

[2017-10-26 14:29] markwilliamfirth commented on #312
If this spreadsheet is kept up to date:
https://docs.google.com/spreadsheets/d/1HejQid3ZqaIK2iYzsv4SrD40UGWYa7qm1YSvMdcWfME/edit#gid=1068312920

We can automate this further with a half day accuracy

@iteles during your invoice approvals calendar slot could you instead update the resourcing spreadsheet?

[2017-10-26 14:29] markwilliamfirth commented on #311
Closing as I believe Noga got this

[2017-10-26 14:29] #311 closed

[2017-10-26 14:30] markwilliamfirth commented on #308
This should be written up in an md file

[2017-10-26 14:31] markwilliamfirth commented on #303
Iron Yard has closed now - closing this issue

[2017-10-26 14:31] #303 closed

[2017-10-26 14:33] markwilliamfirth commented on #298
closing as blog issues were moved out

[2017-10-26 14:33] #298 closed

[2017-10-26 14:36] markwilliamfirth commented on #297
Closing as was decided not to continue meetings

[2017-10-26 14:37] markwilliamfirth commented on #294
closed in favour of https://github.com/dwyl/blog/issues/25

[2017-10-26 14:37] #294 closed

[2017-10-26 14:38] markwilliamfirth commented on #314
Moved to https://github.com/dwyl/process-handbook/issues/72

[2017-10-26 14:38] #314 closed

[2017-10-26 14:47] markwilliamfirth commented on #282
Closed in favour of
https://github.com/dwyl/events/issues/1
https://github.com/dwyl/events/issues/2

[2017-10-26 14:47] #282 closed

[2017-10-26 14:48] markwilliamfirth commented on #275
@iteles does the resourcing sheet work for you to solve this problem?

https://docs.google.com/spreadsheets/d/1HejQid3ZqaIK2iYzsv4SrD40UGWYa7qm1YSvMdcWfME/edit#gid=1068312920

[2017-10-26 14:49] markwilliamfirth commented on #274
These two issues don't really need this epic - therefore closing the epic

[2017-10-26 14:49] #274 closed

[2017-10-26 14:52] markwilliamfirth commented on #95
Closing in favour of https://github.com/dwyl/events/issues/3

[2017-10-26 14:52] #95 closed

[2017-10-26 14:56] markwilliamfirth commented on #400
@Cleop I've moved this event to the new events repo here: https://github.com/dwyl/events/issues/4

Everyone who sees this please go to the new issue and follow the new repo if you're interested in events!

[2017-10-26 15:01] nelsonic commented on #271
Nope. Not "_confirmed via email_".
What I wrote in the email is that my card was _rejected_. i.e. it's "_not working_".

I don't _understand_ is _why_ the pin required resetting in the _first_ place...?
The pin was working `before`; I used it in 2016 without any issues. and I haven't _forgotten_ it ...
so _why_ would I need to reset it...? Why was the card "_blocked_"?
Did someone `else` try to us

[2017-10-26 15:05] markwilliamfirth commented on #265
Closed in favour of https://github.com/dwyl/blog/issues/26

[2017-10-26 15:05] #265 closed

[2017-10-26 15:08] markwilliamfirth commented on #271
@nelsonic this issue was from March when you said you couldn't remember you pin

If you need assistance with unblocking your card you will need to phone Santander Business support (phone number of back of card or online). They should be able to answer your question on why it was blocked. Please create a new issue in hq if you need more assistance from me on this problem or if you'd like to record

[2017-10-26 15:13] iteles commented on #312
I update that spreadsheet on a regular basis (i.e. within 24 hours of a change in plan usually as I refer to it pretty much daily) but I think that the question that this raises is that if we want/can automate this process through this particular spreadsheet, half a day of accuracy is no longer enough for our needs.

As was captured [here](https://github.com/dwyl/blog/issues/19#issuecomment-338114

[2017-10-26 15:16] markwilliamfirth commented on #250
Done

[2017-10-26 15:16] #250 closed

[2017-10-26 15:18] markwilliamfirth commented on #363
@iteles as per https://github.com/dwyl/hq/issues/312#issuecomment-339699141 are you suggesting we should change the accuracy to 1 hour as opposed to a half day?

[2017-10-26 15:19] iteles commented on #297
This wasn't _decided_. This was _given up on_. I will revisit this when I have the energy for it, there are higher priorities.

[2017-10-26 15:23] markwilliamfirth commented on #249
Closed in favour of https://github.com/dwyl/brand/issues/11

[2017-10-26 15:23] #249 closed

[2017-10-26 15:25] markwilliamfirth commented on #251
Closed in favour of https://github.com/dwyl/brand/issues/12

[2017-10-26 15:25] #251 closed

[2017-10-26 15:25] iteles commented on #363
@markwilliamfirth It seems like our needs from the current solution (the spreadsheet you implemented) have changed as per the issue you reference.

This means there are two options to consider here as far as I can see:
+ We find another way to do #312
+ We find a way to make this spreadsheet more granular because #312 is dependent on it
+ We find a better way to capture our time.

[2017-10-26 15:29] markwilliamfirth commented on #248
Closed in favour of above issues

[2017-10-26 15:29] #248 closed

[2017-10-26 15:30] markwilliamfirth commented on #244
Linked to #201

[2017-10-26 15:33] markwilliamfirth commented on #222
This was done

[2017-10-26 15:33] #222 closed

[2017-10-26 15:35] markwilliamfirth commented on #215
Closed in favour of #256

[2017-10-26 15:35] #215 closed

[2017-10-26 15:35] markwilliamfirth commented on #212
This was completed

[2017-10-26 15:35] #212 closed

[2017-10-26 15:36] markwilliamfirth commented on #209
Closed in favour of #324

[2017-10-26 15:36] #209 closed

[2017-10-26 15:39] markwilliamfirth commented on #204
This was done

[2017-10-26 15:39] #204 closed

[2017-10-26 15:40] markwilliamfirth commented on #202
This is no longer an issue

[2017-10-26 15:40] #202 closed

[2017-10-26 15:42] markwilliamfirth commented on #193
Closed in favour of https://github.com/dwyl/print-me/issues/28

[2017-10-26 15:42] #193 closed

[2017-10-26 15:46] markwilliamfirth commented on #188
These have been carried out since this issue was posted

e.g. #345 #368

@sohilpandya please reopen this issue if there are more steps here!

[2017-10-26 15:46] #188 closed

[2017-10-26 15:47] markwilliamfirth commented on #187
Closing in favour of https://github.com/dwyl/hq/issues/373

[2017-10-26 15:50] iteles commented on #187
This is about the _required_ contribution vs the _actual_, which as you say, is being dealt with in #373

[2017-10-26 15:50] markwilliamfirth commented on #175
Closing as I think this might breach fire safety law - Nelson if you have more decoration suggestions for Focus Hub please post them in the new FH repo

[2017-10-26 15:50] #175 closed

[2017-10-26 15:52] markwilliamfirth commented on #171
Closed in favour of new podcast repo https://github.com/dwyl/podcast

[2017-10-26 15:54] iteles commented on #171
There is really no point in adding _another_ repo until we have made a decision to do this and determined a timeline.

[2017-10-26 15:57] markwilliamfirth commented on #148
Closed in favour of above issues

[2017-10-26 15:57] #148 closed

[2017-10-26 16:01] markwilliamfirth commented on #171
Nelson agreed with you with his emoji expressions and I agree too 👍

Better to have it in a repo than hq issue as other people can find and contribute to it

also the video repo is a good example where there have been no timelines, but it is slowly growing

Please reopen if you disagree! (trying to clean up the backlog)

[2017-10-26 16:01] #171 closed

[2017-10-26 16:05] markwilliamfirth commented on #140
Closed in favour of https://github.com/dwyl/values/issues/1

[2017-10-26 16:05] #140 closed

[2017-10-26 16:07] markwilliamfirth commented on #138
@iteles are you still interested in us recovering these photos?

[2017-10-26 16:11] markwilliamfirth commented on #396
https://github.com/nayafia/lemonade-stand

[2017-10-26 16:11] markwilliamfirth commented on #103
Closed in favour of https://github.com/dwyl/hq/issues/396

[2017-10-26 16:11] #103 closed

[2017-10-26 16:12] markwilliamfirth commented on #98
Apply before Friday 8 December 2017 to be a part of our Jan-March 2018 cohort.

[2017-10-26 16:13] markwilliamfirth commented on #88
Closed in favour of https://github.com/dwyl/values

[2017-10-26 16:13] #88 closed

[2017-10-26 16:16] markwilliamfirth commented on #81
Closed in favour of #256

[2017-10-26 16:16] #81 closed

[2017-10-26 16:20] markwilliamfirth commented on #71
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #71 closed

[2017-10-26 16:20] markwilliamfirth commented on #70
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #70 closed

[2017-10-26 16:20] markwilliamfirth commented on #69
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #69 closed

[2017-10-26 16:20] markwilliamfirth commented on #68
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #68 closed

[2017-10-26 16:20] markwilliamfirth commented on #67
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #67 closed

[2017-10-26 16:20] markwilliamfirth commented on #66
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #66 closed

[2017-10-26 16:20] markwilliamfirth commented on #65
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #65 closed

[2017-10-26 16:20] markwilliamfirth commented on #64
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #64 closed

[2017-10-26 16:20] markwilliamfirth commented on #63
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #63 closed

[2017-10-26 16:20] markwilliamfirth commented on #62
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #62 closed

[2017-10-26 16:20] markwilliamfirth commented on #61
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #61 closed

[2017-10-26 16:20] markwilliamfirth commented on #60
Closed in favour of https://github.com/dwyl/brand/issues/19

[2017-10-26 16:20] #60 closed

[2017-10-26 16:25] markwilliamfirth commented on #46
Closed in favour of https://github.com/dwyl/process-handbook/issues/73

[2017-10-26 16:25] #46 closed

[2017-10-26 16:25] markwilliamfirth commented on #33
Linked to #392 #397

[2017-10-26 16:30] markwilliamfirth commented on #29
Moved to https://github.com/nelsonic/nelsonic.github.io/issues/422

[2017-10-26 16:30] #29 closed

[2017-10-26 16:31] markwilliamfirth commented on #24
Assigning iteles as this comes under partnerships / biz-dev

[2017-10-26 16:33] markwilliamfirth commented on #10
Closed in favour of https://github.com/dwyl/focushub/issues/115

[2017-10-26 16:33] #10 closed

[2017-10-26 16:33] markwilliamfirth commented on #8
@nelsonic anything you'd like!

[2017-10-26 16:39] markwilliamfirth commented on #349
After reviewing the backlog this doesn't appear to be an issue anymore (plz reopen if you disagree)

[2017-10-26 16:44] markwilliamfirth commented on #292
Closed in favour of https://github.com/dwyl/events/issues/15

[2017-10-26 16:44] #292 closed

[2017-10-26 16:48] markwilliamfirth commented on #8
Closed in favour of https://github.com/nelsonic/nelsonic.github.io/issues/423

[2017-10-26 16:48] #8 closed

[2017-10-26 16:54] iteles commented on #10
This is not about fruit and vegetables for the whole of focus hub, it's about the "core team" as Nelson says in the issue description. Whilst dwyl/focushub#115 is relevant in its own right, it seems different to this one to me.

Did you close this by mistake @markwilliamfirth ?

[2017-10-26 17:05] markwilliamfirth commented on #324
Who is the PO for https://github.com/dwyl/process-handbook/ ? Will assume me for now

[2017-10-26 17:08] iteles commented on #10
@markwilliamfirth That's not what I was suggesting. As I said, I think you're right to have it in focus hub as we also need to consider it for the office space as a whole.
My question was just about checking whether you had read the original description and whether it might be useful to have it in hq as well as a 'just for members' version of the issue.

[2017-10-26 17:11] iteles commented on #138
Very much so, not much luck yet though.

[2017-10-26 17:12] markwilliamfirth commented on #10
I assumed Nelson was only suggesting that dwyl people who used the office would have access to this (i.e. we're not going to arrange separate deliveries of fruits to people's houses), so it doesn't seem like a dwyl benefit, it seems like a focus hub benefit (and dwyl people have access to the office and therefore access to the fruit) - am I missing something?

[2017-10-26 17:16] iteles commented on #29
@markwilliamfirth Please explain your reasoning here.

[2017-10-26 17:19] markwilliamfirth commented on #29
@iteles GDE certification is attributed to the individual, not the org - so it is for Nelson to decide if he wants to apply for it or not

[2017-10-26 17:23] iteles commented on #29
To me, the question `Should we?` along with the `help wanted` and `question` labels imply that Nelson was not thinking about this for himself but for people within the context of dwyl generally.

Interpretations vary I suppose.

[2017-10-26 17:39] markwilliamfirth commented on #29
Looking at the criteria the only person who seems like they might be able to qualify is Nelson

[2017-10-26 19:36] markwilliamfirth commented on #272
We're not actually going to solve this via the old spreadsheet - this requires getting Xero completely in order (which I've almost done) and then doing some weird Xero magic - the dependency is here because i'm currently in contact with Xero as our account balances don't match

[2017-10-26 20:20] sohilpandya commented on #188
@markwilliamfirth, agree we've had a couple of them, but we need more!!! like on a regular basis! :)

[2017-10-26 20:21] markwilliamfirth commented on #188
@sohilpandya agreed! If you have more ideas please post in https://github.com/dwyl/events (this covers all events including dojos, workshops, talks, etc)

[2017-10-26 20:26] iteles commented on #297
Mobile UI 🙄

[2017-10-27 11:32] harrygfox commented on #365
I couldn't complete this - my dwyl email signature doesn't show up when I use 'send from' my main email

[2017-10-27 13:47] markwilliamfirth commented on #365
@harrygfox I think there's a way round this in settings - let's do it next time we're both in Focus Hub

[2017-10-30 13:30] iteles commented on #357
@markwilliamfirth I seem to have missed this issue, sorry.
The deadline for this grant was 31 July (as you mentioned in an email to the team) so I assume we'll now have to wait for the next on in December. It would be good to check that they can reuse the forms from July that everyone filled out.

The money was sent over to the bike shop directly and Founders & Coders should be using it for the ag

[2017-10-30 14:28] markwilliamfirth commented on #206
This issue isn't complete yet - the branding and marketing folder ownership still needs changing

[2017-10-30 14:31] markwilliamfirth commented on #138
@iteles will assign this one with you as it makes more sense as these are your personal photos and personal data

[2017-10-30 14:37] markwilliamfirth commented on #357
@sofer please could you confirm the agreement with Zen? Zen said to me in an email that the grant cannot be used for bike repairs, which FAC has been doing

[2017-10-30 19:31] iteles commented on #138
This is actually a dwyl phone (I hadn't received any money from dwyl yet and couldn't afford one until remuneration was sorted out at the end of the financial year) and a lot of the photos were from dwyl summer, which is why it's in `hq` rather than a personal repo for me, but happy to sort this out of course 👍

[2017-10-31 09:15] iteles opened #401 "Impacts of hapi v17 for existing dwyl plugins"
With hapi v17 coming out this week, we are beginning to receive questions from our community (see  https://github.com/dwyl/hapi-auth-google/issues/51 and https://github.com/dwyl/hapi-auth-jwt2/issues/248).

There are a few people in the dwyl community who are happy to contribute and submit PRs to make sure our plugins now work with hapi v17, but given how different v17 is to previous versions of h

[2017-10-31 10:39] nelsonic commented on #401
@iteles we will update and release a new _major_ version as required.
I am _happy_ to accept pull requests from the team/community especially people who are _currently_ working on a project that uses Hapi in production.

[2017-10-31 11:21] iteles commented on #401
@nelsonic We're not updating client apps to hapi v17 yet as we're mostly waiting for it to be stable and plugins we are using to be updated, e.g: https://github.com/emfoundation/ce100-app/issues/981
This decision will be revisited with our clients in 2 months or so.

We will only be maintaining one version of each module as required then and people can use older versions if they are not using hapi

[2017-10-31 13:04] iteles commented on #192
@markwilliamfirth In answer to the question, we've used ICE in the past but in the last year, we have simply used the money from our personal accounts in Portugal so haven't needed to exchange at expensive rates.

[2017-10-31 13:08] iteles commented on #269
@markwilliamfirth Yeouch, this one definitely got lost.

All previous contracts should be in the google drive from early this year but I will double check.

In order to gauge priority (there are 26 priority 1 issues assigned to me and 38 priority 2) could you please clarify/record what this historical information will be useful for?

I have to do some digging for #112 so can do at least a portion

[2017-10-31 15:46] markwilliamfirth commented on #269
@iteles this issue isn't high priority, it's for our records

from what I can see you have 15 p1s and 28 p2s (https://github.com/issues?utf8=%E2%9C%93&q=assignee%3Aiteles+is%3Aopen+label%3Apriority-1+-label%3Adependency+user%3Adwyl)

[2017-10-31 16:46] iteles commented on #269
@markwilliamfirth Within the dwyl repos, that's correct. Those are not the only repos where tasks are assigned to me.
Thanks for clarifying.

[2017-10-31 17:06] markwilliamfirth commented on #269
@iteles I can't seem to see those repos - are they private repos? The only other p1 I can see is cul-2016 quiz issue 553

[2017-10-31 18:13] markwilliamfirth commented on #264
There isn't enough in the account to pay payroll

[2017-10-31 18:23] markwilliamfirth commented on #341
Partially blocked by https://github.com/dwyl/hq/issues/264

Naaz, Simon, Cleo, Mark complete

Inês, Nelson, HMRC outstanding

[2017-10-31 18:26] markwilliamfirth commented on #341
October completed

[2017-10-31 18:27] markwilliamfirth commented on #304
2,563.14 paid for October

[2017-10-31 18:27] #304 closed

[2017-10-31 18:27] iteles commented on #264
Transferred and Xero updated with latest payments.

[2017-10-31 18:28] iteles commented on #264
Actually, decided to reopen so that I can make another transfer tomorrow after payroll is complete for the next set of payments.

[2017-11-01 11:55] #264 closed

[2017-11-01 12:00] iteles commented on #300
@markwilliamfirth I am just conjecturing that the reason this issue is assigned to me is because there are invoices that need approving?

[2017-11-01 14:39] iteles commented on #300
dwyler invoice spreadsheet updated with approvals and comments.
Column added to track corresponding client invoices.
All client invoices updated and approved.

[2017-11-01 15:11] iteles commented on #272
@markwilliamfirth Very excited to hear Xero is almost completely in order! Is this related to #383 ?
Where are you tracking your progress on that?

[2017-11-01 22:20] iteles commented on #344
We haven't followed up on this and things in GSG have moved on considerably, they have a fair amount of sorting out their business before any of this is possible and it could be 6-12months. I'll reopen this issue if they get back in touch.

[2017-11-01 22:20] #344 closed

[2017-11-01 22:28] iteles opened #402 "QL | mini sprint"
QL have asked us for a mini sprint on AWS migration and load testing/performance troubleshooting.

Proposed dates: 08-Nov to 10-Nov
Proposed team members: @Danwhy @sohilpandya @eliascodes, @iteles (scrum master & client liaison)

Task list:
+ [x] Discuss requirements with PO
+ [x] Agree number of days available with both dwylers & PO
+ [x] Agree team available with both dwylers & PO
+ [x] Confirm

[2017-11-02 17:19] markwilliamfirth commented on #26
[What you Need to Open a Business Account with Metro Bank.pdf](https://github.com/dwyl/hq/files/1438665/What.you.Need.to.Open.a.Business.Account.with.Metro.Bank.pdf)
[Business Bank Account IIS.pdf](https://github.com/dwyl/hq/files/1438666/Business.Bank.Account.IIS.pdf)

This is free to open so I'm going to suggest we just open it and try it out and then we can decide whether to make the move perma

[2017-11-05 20:44] sofer commented on #357
We burnt through ours by buying stuff from a local bike shop. It was a mixture of new stuff, replacement wheels (several got nicked from outside No.14), and the odd repair. It's all gone now,

[2017-11-06 10:42] iteles commented on #402
Green light received. This will be a few days this week 👍

[2017-11-06 10:43] iteles commented on #402
@markwilliamfirth Elias doesn't have a freelancer agreement with us yet, could you please create one? I'll send you over an email with the details.

[2017-11-06 13:16] markwilliamfirth commented on #357
@sofer thanks - wanted to clarify how you managed to agree with Zen that the grant could be used for that purpose? They seemed quite adamant it couldn't. Was this a special agreement made over the phone? What did they say when you submitted the grant review to show where the money had gone?

[2017-11-06 17:37] iteles commented on #385
Ox are still thinking about this and adding features to the backlog. Seems like they are awaiting official word on Funding still.

[2017-11-06 19:16] iteles opened #403 "Script to protect master branch across all dwyl repos"
As per https://github.com/dwyl/process-handbook/issues/74 we need to write a well-documented script (remember that people who own organisations are sometimes now 'managers' and haven't written any code for a while!) to protect `master` branches across all dwyl repos.

[2017-11-08 09:01] sofer commented on #357
Maybe they have changed the rules. It was all dealt with via email. I sent them a link to the spreadsheet maintained by the bike shop and links to tweets with pictures of new gear. There were never any issues.

[2017-11-08 14:56] ghost opened #404 "GDPR Compliance | 25 May 2018"
The GDPR will apply in the UK from 25 May 2018

[2017-11-08 15:09] iteles commented on #404
Being investigated in: https://github.com/dwyl/learn-security/issues/25

[2017-11-08 16:52] iteles commented on #404
@markwilliamfirth Could you please action the email we got from Google on this as well?
<img width="720" alt="screen shot 2017-10-14 at 17 01 46" src="https://user-images.githubusercontent.com/4185328/31577157-7d19cd32-b101-11e7-9702-54bb8121bf7d.png">

[2017-11-08 22:33] iteles commented on #272
Any luck with Xero? They seem slow on the resolving of issues 😕

[2017-11-08 22:35] iteles commented on #382
Is there an action here for me @markwilliamfirth ?
It seems that until https://github.com/dwyl/hq/issues/272#issuecomment-339777311 is completed, we're not getting any further with this?

[2017-11-08 22:36] iteles commented on #362
Uploaded the only ones I had.

[2017-11-09 11:20] markwilliamfirth commented on #362
Reassigning @nelsonic as I remember he had drone shots

[2017-11-09 11:44] nelsonic commented on #362
Drone video _unusable_, sadly. (_I'm not a very good pilot_)

[2017-11-09 13:36] #362 closed

[2017-11-09 15:18] iteles commented on #404
https://github.com/dwyl/learn-security#gdpr

[2017-11-09 17:02] nelsonic commented on #404
@iteles _describing_ how to comply with GDPR is not the same as _compliance_.
In the _first_ instance each app that we have built will need a communication channel for allowing _users_ to request removal of their data.
And from a _technical_ side we should be using _encryption_ ("_at rest_") to safeguard any personally identifiable information stored by the app.
Which App/Client has specifically r

[2017-11-09 17:06] iteles commented on #404
If I thought we were compliant, I would have closed the issue. I have just added a couple of points as reference.

OA have requested it.

[2017-11-10 15:44] Danwhy commented on #403
Having a look into this now. What kind of protections do we want, a requirement of at least one reviewed pull request to merge into master?

[2017-11-10 15:54] Danwhy commented on #403
These are the available protections:
<img width="832" alt="protection rules" src="https://user-images.githubusercontent.com/8939909/32666453-5f25a9fc-c62f-11e7-86ab-1ca52d571206.png">

[2017-11-10 15:54] iteles commented on #403
Code Owners are a relatively new thing in github, but let's try this out. Once we have the script we can always alter it!

I was thinking this would warrant a new repo? dwyl/protect-master-branch for example.
(we could evolve this to be 'protect a specific branch in specific repos when we have more time).

<img width="737" alt="screen shot 2017-11-10 at 15 52 20" src="https://user-images.githubuse

[2017-11-10 18:30] iteles commented on #402
@markwilliamfirth The development work for this is now completed. I did a little sleuthing and couldn't find a freelancer agreement in our google drive.

Could you please update this issue with whether or not one was created and then close (I don't think there's that much point in creating one retrospectively but will leave that to you)?

[2017-11-12 20:49] styfle commented on #100
@nelsonic Thank you, that was very thorough!

I found an alternative to greenkeeper called dependabot but it looks like the permissions are roughly the same as greenkeeper.

### Greenkeeper

![image](https://user-images.githubusercontent.com/229881/32703252-f9324d92-c7c0-11e7-93d2-6bdee33822ad.png)

## Dependabot

![image](https://user-images.githubusercontent.com/229881/32703254-ff71d736-c7c0-11e

[2017-11-13 17:39] markwilliamfirth commented on #402
Sorted 👍

[2017-11-13 17:39] #402 closed

[2017-11-13 17:46] markwilliamfirth commented on #302
Known issues 13 Nov 2017:
1. Some emails come from finance@dwyl.com some come from mark@dwyl.com (should all come from finance@dwyl.com) https://github.com/dwyl/hq/issues/302#issuecomment-326482374
2. On 10/24/2017 14:12:40 Finn submitted invoice DWYL1135, but the email did not come through, he had to submit again (DWYL1155)
3. The system generated two copies of DWYL1146 instead of one

[2017-11-16 15:32] nelsonic commented on #100
@styfle thanks for sharing Dependabot in this discussion,  👍
we had noticed it on https://github.com/marketplace 💭
but as you say it requires similar permissions ... ✏️
I cannot determine the _security_ of Dependabot from anything on their website 🔍
and I tend to _not_ trust anything that isn't _explicitly_ security-tested / audited. 🙄

[2017-11-16 16:40] styfle commented on #100
@nelsonic I am the same way. I asked the author about this and the answer makes sense.

Source: https://github.com/dependabot/feedback/issues/38

So the answer is write access is required to avoid maintaining many public forks.

[2017-11-17 08:07] iteles commented on #366
I haven't seen anything come into the office.
Has this arrived?

Also, have you sorted out the laptop battery issue?

[2017-11-17 08:13] iteles opened #405 "HL 8 week support"
We have been asked to support HL in maintenance mode for 8 weeks.

Over a period of 8 weeks, excluding 21st December to 2nd January, this will include:
+ 1 day per week working on bugs and small additions
+ 4 ad-hoc support days with a 48 hours response time

Actions:
+ [x] @iteles to finalise contract negotiations (finalised 16th November)
+ [x] @markwilliamfirth to create agreements
+ [x] Agreem

[2017-11-17 16:04] iteles commented on #385
Same 😕

[2017-11-18 19:19] iteles commented on #178
The lawyers just told us what the options were and what we would have to do to base the company in another country. For now, with the pound quite low and all our clients in the UK, they advised us this wouldn't make sense for dwyl.
When myself and @nelsonic eventually start to spend more time in Portugal and as our clients become less UK focussed, this will be revisited to see if it makes sense.

[2017-11-18 19:19] #178 closed

[2017-11-18 21:57] iteles opened #406 "FY17/18 Year End Accounts"
These are due at the end of December 2017 at both Companies House and HMRC.

The first task here is to review what we have and make a list of tasks required.
For FY16/17 these were handed in late so we need to get a solid start on this by the end of November.

[2017-11-19 16:23] iteles commented on #406
Got a little ahead of myself here thinking of the wrong financial year! https://github.com/dwyl/hq/issues/229 is the issue I meant to add timelines to.

[2017-11-19 16:23] #406 closed

[2017-11-19 16:25] iteles commented on #229
@markwilliamfirth I think the tasks at the very top of this issue are now out of date?

The first task here is to review what we have and make an updated list of tasks required.
For FY15/16 these were handed in late so we need to get a solid start on this by the end of November.

[2017-11-19 16:42] iteles opened #407 "Formalising and communicating our culture"
So far our culture at dwyl has been one that we have created together, based on simple values (https://dwyl.com/values), guided by a strong [contributing process](https://github.com/dwyl/contributing) and
enacted through the amount of resources we put into our learning materials, the actions of each one of us and a quality [tech stack](https://github.com/dwyl/techonology-stack).

This had been wor

[2017-11-20 11:37] iteles commented on #405
Any update on this @markwilliamfirth?
Seeing as we're cutting it pretty fine with the start date, please let me know when I can tell the MV CEO to expect this so we can ensure he makes time to sign it.

[2017-11-20 12:53] iteles commented on #324
To be clear, we are not operating in a vacuum.

We each have job descriptions as a starting point. However, this is a startup
and therefore needs are constantly evolving and taking new shape. This can manifest
as new challenges that we didn't expect to take on (such as FocusHub) or as things
we thought were going to happen imminently but had to wait until other parts of
the organisation found thei

[2017-11-20 13:43] nelsonic commented on #374
Yes, utilisation is based on statutory working hours (35h/week).

[2017-11-20 13:48] markwilliamfirth commented on #374
@nelsonic statutory maximum working hours are 48 hours a week. The reason I asked to confirm if you meant 35 hours or not is because our contractor contracts are 7 hours a day and our supplier agreements provide for 7 hour days. Whereas our employee contracts are 40 hours a week.

[2017-11-20 14:51] iteles commented on #328
Sure, plenty of progress was made on this earlier this year in https://github.com/dwyl/phase-two/ and https://github.com/dwyl/phase-two/blob/master/plan.md

This is currently being revised as I'm putting together the plan for the first 6 months of 2018.

[2017-11-20 18:23] Danwhy commented on #403
@iteles https://github.com/dwyl/protect-master-branch/pull/2 This is ready for review now, who should I assign it to?

[2017-11-20 18:35] iteles commented on #403
@Danwhy 🎉 To @nelsonic please! He's snowed under this week, so will probably be a slow burner 😊

[2017-11-21 13:26] iteles commented on #405
This was not completed so I will get it done today.

[2017-11-21 15:22] nelsonic commented on #374
Yes, EU Working Time Directive is 48h/week,
so technically it would not be "_unreasonable_" for us to `expect` people to work 48h/week,
however we don't; we prefer people to have a "work-life-balance_
and therefore only expect 35 hours of (_effective_) work per week.
The remaining 5h (to make up 40h/wk) should be spent on learning, spikes or internal work.

AFAIK we only bill clients for **7h per

[2017-11-23 19:30] iteles opened #408 "Maintenance & support for CU projects"
We have done 2 projects with CU so far and have been asked about the possibility of supporting these. There are a lot of conversations to be had around how this will work and knowing CU, there will be a lot of back and forth, but logging this issue to track tasks.

+ [x] Preliminary phone call to discuss possibilities
+ [x] @iteles to send dwyl's standard SLAs and some context on a retainer model

[2017-11-23 20:27] iteles commented on #112
Prepped and met with our R&D consultants today, great meeting.

We'll be looking to sign our contract for them to help us with this work by 14th December, have our technical onsite in early January and our claim in in late February, once #229 is finally done.

[2017-11-23 20:29] iteles commented on #391
Prepped some of this for our meeting with the R&D firm today.
We will take a half day with @nelsonic in early January to go through all of our projects and do this with them onsite, so that there are no doubts around what is eligible for R&D claims or not.

This day will be booked in the next few weeks.

[2017-11-23 20:39] iteles commented on #391
Changed the label as this is more accurate.

Steps:
+ [ ] Receive dates from R&D firm for technical onsite interview (they can't do one before January)
+ [ ] Book interview with @nelsonic
+ [ ] Receive results from this interview which will also help understand which financial information they may additionally need.

[2017-11-23 20:44] iteles commented on #385
@katbow @RobStallion Spoke to MV today and they think this will be a February 2018 project 😞

[2017-11-25 21:27] iteles commented on #400
Reopening this as very few people see closed issues.

[2017-11-25 21:50] iteles opened #409 "Looking into personality profiles as a method for improved communication"
We all work in different ways and this can sometimes make for either very stressful or very harmonious work environments, particularly in a culture where there is maybe a little more reluctance to tell people when they are doing something that we don't really appreciate!

For example, if I work better digging straight into the code, but I know that my team mate has a need to think through a proble

[2017-11-27 13:02] iteles opened #410 "BEP extension mini sprint"
There has been a request from CU for a mini sprint to cover off https://github.com/dwyl/bestevidence/milestone/8

Tasks:
+ [x] Finalise which issues sit within the milestone (completed by @markwilliamfirth with some additional questioning from @iteles)
+ [x] Provide estimates for these issues (thanks @Danwhy & @SimonLab!)
+ [x] @iteles to provide estimated costs
+ [x] CU to confirm budget approval

[2017-11-28 12:23] iteles opened #411 "Weekly finance checks & payments"
Every week, there's a financial dance that occurs in dwyl.
_Because_ it's done every week, it doesn't take a huge amount of time, but can still be further codified, made more efficient and automated/outsourced.

As it stands, this is included:

+ [x] Check coop account (export feed, upload into Xero) & update Xero with payments made by clients through reconciliation (20mins)
+ [x] Move money acros

[2017-11-28 12:23] iteles commented on #300
Superseded by #411

[2017-11-28 12:23] #300 closed

[2017-11-28 18:40] iteles commented on #411
Completed this morning for this week, will open again next week.

[2017-11-28 18:42] iteles commented on #410
1.5 days approved, to be carried out by @Danwhy on Thursday 30th November & Friday 1st December, with @SimonLab as QA.

[2017-11-28 18:42] #410 closed

[2017-11-28 18:52] iteles commented on #187
Dependent on having a clear financial picture of where we're at. #229 #321

[2017-11-28 20:25] iteles commented on #400
Invite sent out! I hope everyone got it 😊

[2017-11-29 21:47] iteles commented on #403
🎉  Done! https://github.com/dwyl/protect-master-branch
Any further enhancements to be opened as issues in that repo.

Thanks @Danwhy @ZooeyMiller @nelsonic 💖

[2017-11-29 21:47] #403 closed

[2017-11-30 11:21] iteles commented on #341
Longer this week as I write up documentation and deal with calculating final payments.

I would normally expect this to be a 30 minute to 1 hour (tops!) task.

[2017-11-30 13:11] iteles commented on #388
I figured out what this was. It's not the _old_ amazon account that was taking the payments, it's that rather than sharing the old amazon account's Prime membership (prepaid until end March 2018) with the new dwyl Amazon account  #49 , a _new_ prime membership was created for the new dwyl Amazon account.  🙄

I've now cancelled the new Prime membership account (under £30 spent on this in total happ

[2017-12-05 11:00] iteles opened #412 "Comic Relief Grant with RASASC"
We're working on putting together a funding application with RASASC for the [Comic Relief Tech for Good 2018 grant](https://www.comicrelief.com/apply-for-grants/open-grants-initiatives/tech-for-good-2018), for a project beginning June 2018.

## Tasks
+ [x] Initial meeting to discuss project requirements
+ [x] Review application form with Ops Lead from RASASC and assign reposibilities
  + 2.5 Which

[2017-12-05 15:28] iteles commented on #411
Completed, took just under an hour with a few interruptions.

[2017-12-06 11:00] iteles commented on #377
@rub1e Please let me know where you would like me to fill in the gaps once you have #378 ❤️

[2017-12-06 11:09] rub1e commented on #378
- [x] Desk research on "competitor" agencies approach to portfolios
- [ ] Create rough 'n' ready mockups of portfolio slide templates
- [ ] Confirm template
- [ ] Fill gaps in [case studies spreadsheet](https://docs.google.com/spreadsheets/d/14fFQDGqhmucMQfkshR_8zdeZuZlhn8Rf1mFyXhi4Yi8/edit#gid=0)
- [ ] Write up each case study

[2017-12-06 11:21] iteles opened #413 "Anyone like a half price Santander bicycle membership?"
As members of the ZEN network, we get 50% off Santander cycle hire membership!

With this code, your yearly membership is halved to £45. If your journey is under 30 minutes, then it is free.

If you would like to get a code for this, please let me know by Friday 15th December and I'll ask for all of the codes on that day ✨

[2017-12-06 12:42] rub1e commented on #378
Starting on mockups of templates, process to take max 1hr, output of slides with copy but minimal design

[2017-12-06 16:49] rub1e commented on #377
@iteles I've added in three columns at the end of the spreadsheet - please fill with general and technical points of focus, if any come to mind.

Please also note that I made a copy of the spreadsheet as the other one was locked for editing - https://docs.google.com/a/dwyl.com/spreadsheets/d/1mgWM-B4eTi0KyhiwRdd_CXdjQ4rtW9GyaX3BqsHMbrE/edit?usp=sharing

Please finally note that the cell formatting

[2017-12-07 16:37] iteles opened #414 "Review Xero setup with book keeper"
In order to clear some of the backlog in financial tasks and getting #381 in, I am reviewing our existing setup with our book keeper.

This should also help with #383 and #382, I'll update those issues as relevant.

[2017-12-07 17:22] rub1e commented on #378
With the format approved in Google Slides, is this issue ready to close @iteles ?

[2017-12-07 23:55] iteles commented on #378
@rub1e Would love to see the write-up of your findings from your desk research in here first and then very happy to close!

[2017-12-08 01:01] iteles commented on #262
@rub1e If you have some time next week to give me a hand with this whilst I sort out #229, that would be grand!

Reopening this issue rather than opening a new one so as we already have the steps and the history logged here (this makes me happy we do everything in issues 🎉 )

[2017-12-08 01:06] iteles commented on #381
Completed.

[2017-12-08 01:06] #381 closed

[2017-12-08 01:10] iteles opened #415 "VAT Return | November 2017 to end January 2018"
VAT return for the period of 01.11.2017 - 31.01.2018.

**Deadline:** 1st March 2018.

VAT return and payment deadline is 7th March but this task needs to be completed ahead of time so that we can ensure the correct funds are available in our outgoing account for this date..

Low priority whilst we are waiting for the period to finish, but will be revised in February.

## Tasks
+ [x] Make sure all

[2017-12-08 09:12] rub1e commented on #378
@iteles ah yes of course - I had started writing a longer issue in https://github.com/dwyl/process-handbook combining notes on format and content together just so it's not stuck at the bottom of a couple of different issues, and that seemed a sensible place for it.

But I haven't pressed submit yet so can copy and paste it to wherever you think it belongs (soz, should have mentioned y'day!)

[2017-12-08 10:07] iteles commented on #342
We'll be postponing this for 3 months to allow us to write up all of the information for dwylers in a way that will enable informed decision making. http://ukpensionsautoenrolment.co.uk/survival-guide/postponement/

A letter will go out to explain this.

[2017-12-08 10:12] rub1e commented on #262
@iteles Yup! I appear to have access to all the... _word_ documents :confused: - haven't seen a `.docx` since the old days :smiley:

[2017-12-08 10:22] iteles commented on #241
Nothing was done about these, should be a quick change on the employment date. This _should_ have been minuted in Board meeting minutes but I can't remember reading this there off the top of my head so will need to check.

Role descriptions are fluid in a start-up and contract role descriptions should be a starting point as per #324.

[2017-12-08 11:52] rub1e commented on #378
## Notes from desk research into case studies

After looking at examples from other, similar orgs, we've identified some good and bad practices and sketched out a general approach to writing them up, whether for a pitch deck or the dwyl website.

### Things we like

* **Quotes from the client** (as long as these have been approved). Some clients like a hand with areas to focus on, so be helpful an

[2017-12-08 12:22] iteles commented on #378
❤️ So much this.

[2017-12-12 17:32] iteles commented on #378
Question on our current format:
Are we making the solution evident enough?
I wrote the whole HL case study and then had to go back at the end to insert a paragraph in the 'Technology' section on what the application was because I realised I hadn't actually talked about it yet 😆

[2017-12-12 17:53] iteles commented on #414
Left the `in-progress` label here until I was able to write up the findings of the day.

The following will need to be dealt with:
+ Reconciliations have all been done as 'money spent' rather than reconciling between banks or with any actual bills
+ There are no freelancer invoices or invoices of any kind from 2017 in Xero - these will all need to be uploaded manually before #406 can be done
  + I

[2017-12-12 17:57] iteles commented on #414
**Actions:**
+ [ ] Get Xero set up so that invoices go straight there where possible
+ [ ] Write up process for submitting VAT returns
+ [ ] Obviously don't pay anyone dividends before the year is over and we know if we will be turning a profit
+ [ ] Write up process for updating Coop bank feed
+ [ ] Write up process for reconciling Xero properly.

[2017-12-12 18:25] iteles commented on #377
@rub1e An update on this:

+ I wrote the case study for HL - for your review in the deck, pending approval to publicise
+ We now have the following, completed for the time being:
  + Oxford Abstracts
  + Inclusive Classrooms
  + Science Museum
  + Healthlocker
  + EMF

Good Thinking and TC are next on my list!

[2017-12-12 18:25] #377 closed

[2017-12-13 07:52] iteles opened #416 "Add 'What we need from you' section to our proposals?"
We haven't had this question from prospective clients directly in response to a proposal but I suspect this is mostly because we make sure to set the scene in our very first encounter (a mismatch of expectations can be lethal at the start of a project!).

Should we add a section on this to our proposals to ensure this is covered?
A possible halfway house solution might be to write a blog post on t

[2017-12-13 08:07] iteles opened #417 "Potential Client | TP Energy monitoring"
Based on our work at the SMG (thanks @SimonLab @Danwhy as well as @shouston3 and @Cleop!), we have been asked to submit a proposal for a piece of work developing the front end of an energy monitoring service.

Opening this issue to track work and progress

## Tasks
+ [x] Initial email exchange on brief
+ [x] Initial phone call
+ [x] Meeting with stakeholders (@iteles and @nelsonic attended)
+ [x]

[2017-12-13 08:17] iteles commented on #417
😆 Yes! Thanks dwylbot!

[2017-12-13 10:50] nelsonic commented on #417
@iteles what do you think of re-purposing _this_ image for the intro:
![image](https://user-images.githubusercontent.com/194400/33935295-4c0bd12e-dff3-11e7-9d12-5f804610b0ea.png)
Source: http://reneweconomy.com.au/what-the-tesla-powerwall-battery-means-for-households-61055

[2017-12-13 15:33] rub1e commented on #378
@iteles As discussed, I think this was more an issue of me not talking about the product enough rather than a flaw in the format :wink:. (But I've put that in bold in the template instructions!)

[2017-12-15 14:37] iteles commented on #412
Sent to RASASC:

2.5 This question is very very general. I would suggest the following apply:
<img width="522" alt="screen shot 2017-12-15 at 14 17 34" src="https://user-images.githubusercontent.com/4185328/34046253-524ebb8e-e1a4-11e7-857f-30f35be96940.png">

This application will _certainly_ work on desktop as well as mobile but "Desktop _publishing_" doesn't apply. I have added in 'Directory' be

[2017-12-15 16:14] iteles commented on #412
The longlist will come out in March 2018! Long wait on this one.

[2017-12-18 09:24] iteles commented on #400
Done!

[2017-12-18 09:24] #400 closed

[2017-12-18 10:13] iteles commented on #413
No takers 👍

[2017-12-18 10:13] #413 closed

[2017-12-18 12:02] iteles commented on #142
Seems like finding one hour proved difficult between March and November.

@rub1e Could you please find an hour or two (as needed) to do the research on this this week?

+ [ ] Brief description of B-Corps
+ [ ] Requirements that need to be met to become one (could be a link to an existing list)
+ [ ] Time & costs involved in setup
+ [ ] Time & costs involved in maintenance

[2017-12-18 17:01] iteles commented on #219
First step to undo this: Call Coop Bank and see what needs to be done.

[2017-12-18 17:39] iteles commented on #405
This was done, by the skin of our teeth seeing there was at least a week of delays as documented above on our end.

[2017-12-18 17:39] #405 closed

[2017-12-18 17:53] iteles commented on #219
http://www.co-operativebank.co.uk/assets/pdf/bank/business/customerservices/change-of-account-signatories.pdf
No need to complete Part A or C

[2017-12-18 18:18] rub1e commented on #342
# Pensions - it's time to adult

## Pensions are fun! (And sensible)

Let's just assume you want to plan for the future and start your pension. Good for you, that's smart.

The way this works is that you put some of your salary into a pot, and your kind employer dwyl matches it (up to 1% of your annual salary).

Your pension pot is managed by dwyl's pension provider, who invest your money for you

[2017-12-19 10:25] rub1e commented on #142
## What is a B Corp?

B Corp status is a **private certification given to for-profit companies** which score well on a *social impact assessment*.

This involves demonstrating **positive social and environmental impact, having good accounting standards, and being transparent to the public**.

Put another way, you could say it's a rejection of Milton Friedman's famous quote: "There is one and only

[2017-12-19 10:33] rub1e commented on #142
My *personal* view is that it would be lovely if more companies adopted the [triple bottom line](https://en.wikipedia.org/wiki/Triple_bottom_line) view of business **(People, Planet, Profit)**

But dwyl is *already* a Purposeful company with strong socially responsible values - *I don't see this changing the way dwyl thinks or behaves as a company*.

So the question is really **"Is there any benef

[2017-12-28 23:00] iteles opened #418 "Change Category column in Xero back to 'Category' from 'Mindwave'"
The Category column in Xero was inexplicably renamed to 'Mindwave' early in our usage of Xero and has been causing me confusion since - I have been asking 'why is everything allocated to Mindwave?' for months, when actually everything has just been left un-categorised (also not good, but that's another issue).

Now that we are actually _using_ categories as we should, we need to change the name of

[2017-12-29 23:00] iteles opened #419 "Potential new project | Materiom"
An exchange of emails and telephone call was had with the founders of this co. after being referred to us by EMF.

Their budget was £7k which was unfeasible given our costs for each project team of 2 full time and 3 part time folks (scrum master, tech architect & designer) and the time required for an MVP to be put together (6 weeks or thereabouts).

After discussing some possibilities around MVP

[2017-12-29 23:01] #419 closed

[2017-12-30 09:51] nelsonic commented on #417
https://blog.kroy.io/monitoring-home-power-consumption-for-less-than-25/

[2018-01-03 18:50] iteles commented on #385
Final estimates/budget confirmed, start date likely to be 10th or 15th January 2018.

[2018-01-08 13:08] iteles opened #420 "Run script to protect `master` branch on all our repos"
As per https://github.com/dwyl/hq/issues/403, a script was created to protect `master` branch in all repos.

We should run this, add anything we'd like to the docs and publicise it.

[2018-01-09 14:37] iteles commented on #112
Met with the consultants today to ascertain which projects qualified, next step is https://github.com/dwyl/hq/issues/391

[2018-01-09 14:45] iteles commented on #391
Met with our consultants today and awaiting the spreadsheet for estimates.

[2018-01-09 15:31] rub1e commented on #276
This is now covered by #142 - can this issue be closed @iteles?

[2018-01-09 15:51] rub1e commented on #174
Same reason they abandoned not being evil?

[2018-01-09 15:52] rub1e commented on #172
This is sooooo last year - ready to close @iteles?

[2018-01-09 16:08] nelsonic commented on #174
Indeed ... 😞
Perhaps the question _should_ be:
is "_20% Time_" a good idea for @dwyl full-time people?
(_and why has Google abandoned it, given their early success_!?)

[2018-01-09 16:17] #276 closed

[2018-01-09 16:18] #172 closed

[2018-01-09 17:00] iteles commented on #385
Confirmed for a 15th January start.

@rub1e Let's get the contract for this out tomorrow please 😊

[2018-01-09 17:40] rub1e commented on #86
Is this still pending or ready to close?

[2018-01-09 23:27] iteles commented on #86
@JoeTanner Any thoughts on my questions above? :arrow_up:

[2018-01-10 14:16] rub1e commented on #106
Are there better / more recent books about MVPs and Validated Learning?

Let's write a blog post about it!

[2018-01-10 14:33] iteles commented on #106
Thanks for changing this back to the original title which makes a lot more sense @rub1e 🎉

A blog post would be great as something to point clients to when they don't 'have time' to read the whole book.

[2018-01-10 16:08] nelsonic commented on #106
A blog post summarising the book is a _good_ idea.
My original question was whether we should be recommending the book
or one of the _many_ summaries to our _prospective_ clients.

Because almost _everyone_ we work with wants _all_ the features/ideas to be built
_before_ showing the App to target users ... which wastes _everyone_'s time! 💸

There are quite a few good video summaries on YouTube e.g

[2018-01-10 17:53] rub1e commented on #200
Ref https://github.com/dwyl/process-handbook/issues/81

[2018-01-10 18:01] iteles commented on #243
We'll open this again if it ever becomes an issue.

[2018-01-10 18:01] #243 closed

[2018-01-15 11:01] Jbarget commented on #366
did this get sorted? i need to replace my battery and looking for recommendations of where to go.
Im not in warranty period anymore so doesnt necessarily need to be a apple licensed place, just real apple battery

[2018-01-15 11:08] iteles commented on #366
Nope. The Chromebook was ordered 4 months after the issue was opened and arrived the next day, but 1 month later (by the time Mark left), nothing had been done.

@nelsonic Any recommendations for Justen on this?

[2018-01-15 11:44] nelsonic commented on #366
@iteles I swapped out the battery in my MacBook Air for an OEM one and it's been working fine.
https://github.com/nelsonic/nelsonic.github.io/issues/371#issuecomment-311083652

There are a few more "_steps_"
There are kits for the specific models: https://www.ifixit.com/Kits/Macbook-Pro-Retina-Battery-Kits
For example, _our_ MacBook Pro "13 Retina is this kit:
https://eustore.ifixit.com/en/Parts/M

[2018-01-15 12:00] Jbarget commented on #366
@nelsonic sounds like a blast :)
id be looking to do it within the next couple of weeks if that works for you?

[2018-01-15 12:00] yvonne-liu commented on #366
@Jbarget @nelsonic I can most definitely get you a discount 😄  hit me up. Repair is sexy.

[2018-01-15 12:15] yvonne-liu commented on #366
Just checked, for EU123010-4, after my discount 😎  it's 55,63€ + 8,90€ shipping! I also have all the tools if you need to borrow them 💛 .

[2018-01-15 12:25] nelsonic commented on #366
@Jbarget yeah, next couple of weeks is fine for me. An evening or weekend is best for me. You? 📆
I need to check the serial number on the hardware to ensure I order the _correct_ battery. 🔍
Will let you know. ⏳

@yvonne-liu thanks! I will _defs_ take you up on the kind offer of using your discount! ❤️

[2018-01-15 13:54] Jbarget commented on #366
@nelsonic that sounds good, i'll work from FAC one day next week and i can hang around for the evening

@yvonne-liu thanks :)

[2018-01-16 11:00] rub1e commented on #302
Today I've...

* Updated the `cc` address to `finance@dwyl.com`
* Added the `Xero` address to `bcc` so the pdfs get sent there automatically
* Generally spent a looooong time figuring out how the process works, which I shall document in an `md` file and PR for the process handbook 😺

[2018-01-16 11:14] iteles commented on #302
@rub1e Thanks for the time estimates, update and finally getting some docs on this 🎉  (thanks @cleop also for starting us off with https://github.com/dwyl/process-handbook/issues/70#issuecomment-339266181. You're both 🌟 s

[2018-01-18 12:11] iteles commented on #229
Currently replying to a number of questions from accountants to finalise draft accounts.

[2018-01-22 17:18] nelsonic commented on #366
Serial Number of the MacbookPro "13 is **C02KF8BBFFRP** and Model is **A1425**.
https://everymac.com/systems/apple/macbook_pro/specs/macbook-pro-core-i5-2.5-13-late-2012-retina-display-specs.html
![image](https://user-images.githubusercontent.com/194400/35234086-de259d60-ff97-11e7-9bdf-45382888746f.png)

@yvonne-liu can you please place an order and pass us the invoice so we can pay you back?
and

[2018-01-23 16:30] yvonne-liu commented on #366
@nelsonic @Jbarget ordered!

[2018-01-23 16:38] iteles commented on #366
@yvonne-liu Please forward on the receipt so we can reimburse you!

[2018-01-23 16:42] Jbarget commented on #366
@yvonne-liu thanks!
@iteles whatever is easiest re money let me know

[2018-01-23 18:00] nelsonic commented on #417
@iteles _super_ keen to hear the _feedback_ from them ... ⏳ 😉

[2018-01-23 18:10] iteles commented on #417
Indeed... They said they should have an answer by last Friday so I'm following up tomorrow 😊

[2018-01-24 07:54] rub1e commented on #302
Now that https://github.com/dwyl/process-handbook/pull/84 is documented in the `process handbook`, do we want to close this issue and open a new one when we have time to update the Invoicing MVP, or keep this one open?

[2018-01-24 08:44] iteles commented on #302
@rub1e If we have things that we know need updating, let's open a new issue now. If not, then we can close this one and a new issue will be opened when things arise.

[2018-01-24 09:00] rub1e commented on #302
Closing as all current confirmed bugs have been resolved per https://github.com/dwyl/hq/issues/302#issuecomment-357926026

[2018-01-24 09:00] #302 closed

[2018-01-24 11:31] iteles opened #421 "Extension of HL SLA"
We have been asked to continue with our HL SLA under the same conditions as we had for the original 8 weeks, until the end of March.

+ [x] Create SLA extension contract
+ [ ] Turn it into 'SLA with retainer' contract template

[2018-01-24 17:51] Jbarget commented on #366
scrap that
@yvonne-liu can you let me know how much i owe you too and to send me the same receipt :)

[2018-01-25 10:28] rub1e commented on #421
This will be templatified once it's signed / any amends are incorporated

[2018-01-25 16:03] iteles opened #422 "SLA with retainer template"
Following on from https://github.com/dwyl/hq/issues/421, when we've ratified the wording on a couple of SLAs, we should look to create a template for this.

[2018-01-25 16:03] iteles commented on #421
Woah @rub1e, quick work of this `priority-1`  🎉 🙌

Closing this one and opening a separate one on the template so it's not 'hanging' https://github.com/dwyl/hq/issues/422

[2018-01-25 16:03] #421 closed

[2018-01-31 13:29] rub1e commented on #383
We can't do any multi-currency stuff until we upgrade Xero to a Premium account.

If we think that's worth doing, great - if not, I'll draft a process for non-GBP expenses

[2018-01-31 15:37] rub1e commented on #339
Not 100% clear on what the ask is here. Are you saying that the existing Expense categories in Xero (copied below) aren't what you need for EOY accounts, or that people simply aren't using those categories properly, meaning you have to add that info months later?

If the former, we can add custom "Account Profiles" in addition to the below. Let's chat 😃

_400 - Advertising & Marketing
Expenses inc

[2018-01-31 16:37] rub1e commented on #59
Is the doc referred to in the comment above (https://github.com/dwyl/hq/issues/59#issuecomment-182645751) the right one to be starting with? Or is there a more up-to-date one I should look at?

[2018-01-31 16:54] iteles commented on #59
@rub1e That's the right one Rubie, nothing was done on it _at all_ over the last 12 months despite the request 🙄

[2018-02-01 09:17] iteles commented on #229
Completed and submitted. Awaiting final paperwork from accountants before we close this.

[2018-02-01 09:52] rub1e commented on #399
Not really following what's going on here, but we can certainly bundle together payroll into a BACS export, then import it into Santander _as long as we have the appropriate Santander account_, (Connect Plus) and we might need to check with our "relationship manager" or whatever they're called.

[2018-02-01 11:53] iteles opened #423 "dwyl invoicing | Multiple emails being sent"
Currently a bug in dwyl invoicing where multiple emails are being sent with each invoice that's generated.

<img width="438" alt="screen shot 2018-02-01 at 11 51 44" src="https://user-images.githubusercontent.com/4185328/35677125-56b44b7c-0746-11e8-92b7-a0b2df2ed772.png">

The good news is that it only seems to generate one invoice, but sends it multiple times.

Only started happening in the last

[2018-02-01 17:05] rub1e opened #424 "dwyl invoicing | timestamp on invoice is in American"
+ [ ] Figure out how to make timestamp dd/mm/yy

[2018-02-01 17:47] rub1e opened #425 "Can CharlieHR be retired in favour of Xero"
* [x] Investigate if Xero can be employee-facing so people can do holiday stuff there instead of having two systems
* [x] Investigate how we can manage both employees' and contractors' time off within a single system
* [x] Transfer staff holidays to `Xero`
* [x] Set `Xero` to track holidays properly
* [x] Transfer any existing booked days from freelancers to `HR.my`
* [x] Set up freelancers on `HR

[2018-02-02 09:13] rub1e commented on #423
Having explored, there's no obvious reason this is happening, and it didn't happen when I tried to reproduce the bug.

It's not a known issue so I'll have to do a little digging, perhaps open an issue on their... `google plus` community :worried:

[2018-02-02 10:33] rub1e commented on #81
Can someone tell me where the inventory of everything in QS/FH which Ines requested one year ago is saved please, _Rubie asked, full of wide-eyed optimism, and holding his breath..._

[2018-02-02 11:25] rub1e commented on #424
Looks like we'd need to migrate to `Google forms publisher` and run a script, which hardly seems worth the bother for this minor nuisance.

I'll revisit this if/when we change the invoicing process

[2018-02-02 11:25] #424 closed

[2018-02-02 11:28] rub1e commented on #256
I've asked our insurer, Digital Risks, and a couple of other ones which specialise in co-working spaces to let me know what info they need to provide a quote (presume we'll need to start with https://github.com/dwyl/hq/issues/81#issuecomment-283029702)

[2018-02-02 11:38] markwilliamfirth commented on #81
Hi @rub1e :wave: I hope you are well! This issue was blocked by https://github.com/dwyl/focus-hub/issues/37

I hope you don't mind, but can I ask a quick favour? Would it be possible to try to not to comment on closed issues I'm subscribed to (instead a new issue might be better?) and tagging me as below:

<img width="793" alt="screen shot 2018-02-02 at 13 32 26" src="https://user-images.githubuse

[2018-02-02 19:26] naazy commented on #392
I think everyone is generally quite happy with meet.google.com but I've met a few people recently who recommend Zoom https://zoom.us/ which could be good if we ever want to explore other options. Just putting it here for safe keeping

[2018-02-03 18:50] iteles commented on #412
Sadly, this wasn't funded by Comic Relief, RASASC don't have any feedback from them as to why yet though. It will probably become more apparent when the shortlist comes out.
http://techforgoodhub.co.uk/

The videos of the grantees should also come out on Comic Relief's  youtube channel https://www.youtube.com/playlist?list=PL5KXCGEFbuhI8zgVSwm4qT82RY_qSP6HU

We should keep an eye out for funding o

[2018-02-03 18:50] #412 closed

[2018-02-03 18:50] #385 closed

[2018-02-03 19:19] iteles commented on #417
Sadly, we didn't get this.

+ It was apparently between us and one more contender (out of a group of 7)
+ They were supremely confident in our technical ability and that we would deliver on time and on budget
+ They praised our proposal as one of the best they've seen
+ They went with the other agency because they "needed something truly transformational" as this was the relaunch of a product and

[2018-02-03 19:19] #417 closed

[2018-02-03 19:53] nelsonic commented on #417
@iteles what can we do/learn to _avoid_ this in the future?

[2018-02-05 12:01] iteles commented on #240
No longer relevant.

[2018-02-05 12:01] #240 closed

[2018-02-05 14:08] yvonne-liu commented on #366
Update! They were out of stock so it was _just_ shipped via DHL, Tracking Number: 444789947084. I'll send an email to all re: ££

[2018-02-05 19:11] iteles commented on #272
@rub1e Thanks for completing this in one day 🎉

Figures have been sent to @sofer, invoice sent to us and paid 👍

[2018-02-05 19:11] #272 closed

[2018-02-06 14:25] iteles commented on #229
Final paperwork received and stored in the appropriate G-drive folders.

[2018-02-06 14:25] #229 closed

[2018-02-06 14:30] iteles commented on #374
@rub1e Let's take a look at how best to get step one of this done this week please, it's been an open `priority-1` issue for the last 9 months. 😒

+ [ ] Figure out what we need in terms of Xero/spreadsheets/info to get this done
+ [ ] Gather info and send out support queries where/if needed
+ [ ] Get it done (to be expanded on of course) 😊

[2018-02-06 19:39] iteles opened #426 "Potential new project | Yacht charter"
CI currently has a B2B platform with a subscription based business model giving agencies access to their thousands of yacht listings.

They would like to build out a B2C business as well, which will include both listings data coming from their current _API_ (JSON based) and editorial blog-type content for which they will require a CMS.

They would like this to be built with **Node** and have been

[2018-02-06 19:48] iteles commented on #408
Currently on hold until we get through the current CU priorities.

[2018-02-06 19:50] iteles commented on #349
Reopening as the `priority-1` issues mentioned in https://github.com/dwyl/hq/issues/349#issuecomment-306211324 were still not addressed almost 5 months later when this issue was closed, so it's clearly still an issue.

[2018-02-06 19:59] iteles opened #427 "Potential new 1 day workshop | A platform for creatives"
I've been speaking to two lovely female founders since November on their idea for building a platform for creatives with a machine learning twist.

They will need to fundraise for this before we are able to do any work on it, so this issue only captures getting them to the point of knowing what they need to fundraise for.

Tasks
+ [x] Initial conversation - getting them to narrow the idea
+ [x] Ca

[2018-02-07 08:58] rub1e commented on #349
The lines will always be blurred, but the definitions seem sensible to me. Perhaps they weren't the issue

[2018-02-07 09:39] iteles commented on #349
@gregaubs 😄 The definitions aren't the issue, the issue is they haven't yet been applied 😛

[2018-02-07 11:36] iteles opened #428 "Review and sort out Google Drive"
I was looking for a place to put some new files in our google drive and realised what a mess it's in (which is weird given we supposedly created the folder structure from scratch last year 😬 ).

This needs sorting out or we're going to find looking for things pretty difficult unless we can guess their name (related - some things have the most unhelpful names, e.g. `Wages` for a piece of market res

[2018-02-07 11:49] rub1e commented on #428
I would have sworn blind there's already an issue for this 🤔

Either way, it shall be done 😺

[2018-02-07 12:21] iteles commented on #428
There's this related issue, but not the same one that I could find! https://github.com/dwyl/hq/issues/206

[2018-02-07 12:27] iteles opened #429 "Tidy up invoice.dwyl.com drop-down"
As a dwyler who invoices via invoice.dwyl.com,
I would like there to be an updated list
So that I don't have to scroll through a bunch of names that no longer work with dwyl to find my own at the bottom.

<hr/>

@rub1e I made went through the spreadsheet and made the ones to delete red and I think we're missing the second-to-last name from the invoice 'app'.

[2018-02-07 12:33] iteles commented on #423
Three more have come through and don't present with this bug so I'm closing for now!

[2018-02-07 14:21] iteles commented on #339
Might be worth waiting until we've completed the Focus Hub accounts so we can see exactly which categories we need for HMRC without having to go digging (we're going to come across them next week anyway)!

[2018-02-07 16:56] rub1e commented on #374
We can split Utilisation Rate (UR) into two:
* Resource - how much of their time are people actually spending working
* Billable - how much of the time are people actually spending working on billable projects

So, following https://github.com/dwyl/hq/issues/374#issuecomment-346059915, we'd start with contracted hours of 40h/wk, multiply it by 52 weeks, take off holiday allowance & public holidays

[2018-02-07 17:27] nelsonic commented on #426
Not "Curing Cancer" but reasonably strait-forward to build
and will be good _experience_ for people working on it so worth considering. 👍

[2018-02-07 17:39] iteles commented on #426
@nelsonic My current proposed team for this is:
+ Technical architect - will only be required for a couple of days at the beginning of the project and brought in sporadically as needed
+ Designer - required for a day or two at the beginning of the project for a User Experience review and advisory workshop and we can then see if any more time from them is needed
+ Scrum master (3 days per sprint) -

[2018-02-07 17:53] yvonne-liu commented on #366
Update again! Package 1/2 was delivered today (just the batteries) and handed to @iteles, the fix kit is coming soon!

[2018-02-07 18:00] nelsonic commented on #426
@iteles team sounds good. 👍
Ultimately we need _really_ good "_direction_" up-front to avoid wasting time. 🗺
But after that it should be reasonably "_plain sailing_" ⛵️  (_couldn't resist the pun!_) 😉

[2018-02-07 18:09] rub1e commented on #426
Make sure they give you a good *steer* on it mate - you don't want them *tacking* on any extra work

[2018-02-07 18:25] rub1e commented on #429
Done!

[2018-02-07 18:46] iteles commented on #429
🎉

[2018-02-07 18:46] #429 closed

[2018-02-07 20:20] iteles commented on #244
https://twitter.com/realjefflarge/status/961330248280309760

[2018-02-08 08:05] rub1e commented on #244
@iteles I'll close this later for a new & more explicit / clearer issue with tasks and whatnot

(We can discuss the tweet you've linked there?)

Before I do, can you let me know where the write-up of the General Assembly event is kept (referred to in https://github.com/dwyl/hq/issues/244#issuecomment-307622371). I looked on the team drive but it's in such a mess I couldn't tell if this hadn't been

[2018-02-08 09:31] rub1e commented on #399
UPDATE: after going around the houses a bit, we've confirmed that we are *able* to do batch payments, but we need to apply for BACS sponsorship so we can use that system (yes, it might have been nice of Santander to inform us).

So now we need to apply and wait till we have a Service User Number (no, it's not actually documented anywhere in their help centre, since you ask) 😒

[2018-02-08 10:59] iteles commented on #244
@rub1e Mark didn't go to the event (or acknowledge the comment) so there's no write-up.

Thanks, a more explicit issue would be fantastic!

[2018-02-08 11:29] iteles commented on #399
@rub1e This is exactly the kind of thing I was after, thanks for your diligence 🎉

[2018-02-08 11:51] iteles commented on #383
@rub1e Am I right in thinking that that would be an additional £5.50 per month, £66 a year?

If so, let's upgrade, it will cost us more than that in dwyler time to do the conversions ourselves for dwyler summer receipts alone!

[2018-02-08 13:58] rub1e opened #430 "Creating expenses in foreign currency"
As a reconciler of expenses AND as a submitter of expenses, I would like to be able to raise expenses claims in foreign currency directly

* [x] Upgrade account in Xero to premium
* [ ] Document process

Split out from #383

[2018-02-08 14:22] iteles commented on #430
👍 To document our reasoning:
Xero Premium costs an additional £5.50 per month, £66 a year and it will cost us more than that in dwyler time to do the conversions ourselves for dwyler summer receipts alone!

[2018-02-08 14:23] iteles commented on #430
FYI I'm making this a priority 2 as we have some receipts in €€ to put in from our last dwyl HQ trip to Portugal.

[2018-02-08 14:27] rub1e opened #431 "Social media strategy"
As *someone who commissions web development projects*, I would like to ensure **dwyl** makes it into my "consideration set" for my next project

As a *dwyler*, I would like to ensure the world is aware of the awesomeness of my job & what we do here (*hint*: we're **d**oing **w**hat we (**y**ou) **l**ove)

As a *potential dwyler*, I would like to be made aware of dwyl

* [ ] Discuss social media st

[2018-02-08 14:38] rub1e commented on #431
Our started for 10 comes from @iteles, who posts this tweet: https://twitter.com/realjefflarge/status/961330248280309760

![screenshot 2018-02-08 at 14 37 30](https://user-images.githubusercontent.com/11595920/35978446-ad82642e-0cdd-11e8-94a9-e3af0909dbca.png)

[2018-02-08 14:41] rub1e commented on #431
I for one think this is a thoroughly sensible suggestion as far as Facebook is concerned, perhaps even Instagram (though that may be based on personal preference)

I do think we should learn from Jeff's mistakes and proofread any such message before we send it

[2018-02-08 14:48] rub1e commented on #244
Closing in favour of #431

[2018-02-08 14:50] #244 closed

[2018-02-08 16:27] iteles commented on #430
Upgraded!
<img width="482" alt="screen shot 2018-02-08 at 16 20 18" src="https://user-images.githubusercontent.com/4185328/35984358-286c34a4-0cec-11e8-8371-e4f77c0b4da9.png">

[2018-02-08 16:31] rub1e commented on #59
I've added a few comments to the doc, but generally it seems to make sense.

The next part is to have a chat about whether there's anything you think is missing based on your experiences over the past year

I also think it would be nice to keep these as PDFs and have people sign them electronically (not in terms of #243, certainly not a ££ solution, but some sort of process nonetheless). Leave tha

[2018-02-08 16:54] iteles commented on #59
Have had a look through these comments and don't think there's anything else to add just yet.

Agree with signing these as PDFs 🎉

[2018-02-08 17:54] rub1e commented on #59
As discussed, we're happy with these for the moment, but when we have time, sooner rather than later, we'll review these properly and then I suggest we use our solicitor or a service like https://www.lawbite.co.uk/ to do a formal review

[2018-02-08 18:08] iteles commented on #427
Confirmed for Thursday with @SimonLab and @jen-harris! 🎉

[2018-02-08 18:19] iteles commented on #426
There is now the distinct possibility that CI will hire a full time front end developer to join their team who "will do the design, HTML, CSS and JavaScript" and have asked us to determine whether we are happy to work like this and revise our team accordingly (I assume their expectation is we will revise it down).

My view is that this is more likely to affect the levels of the team UP and require

[2018-02-09 20:04] iteles opened #432 "Potential new project | Aphasia portal"
<img width="500" alt="screen shot 2018-02-09 at 19 51 22" src="https://user-images.githubusercontent.com/4185328/36046986-a86ab18a-0dd2-11e8-8b27-84be74011f8f.png">

A portal to allow clinicians to access CU's aphasia research via a questionnaire that will direct them to an instructional video based on the results.

This portal will require a CMS-backed static component and the questionnaire side

[2018-02-09 20:08] iteles commented on #432
The budget for this one is only 15 days for a pair on a discounted rate, so we're having to get creative with what we can do!

[2018-02-09 21:30] iteles commented on #432
Budget sent, over 1100 word email explaining the options 😬

[2018-02-12 12:47] Cleop commented on #409
https://www.positiveintelligence.com/assessments/ - Anish had to complete this one at another workplace and he seemed to feel it was a good tool.

I don't know how helpful this is in terms of coding working styles but perhaps one to explore nonetheless!

Personally I don't feel averse to trying these kinds of things.

[2018-02-12 12:50] Cleop commented on #397
Update: you can now create a calendar invite link for a meet as you can with hangouts 👍

[2018-02-12 13:33] iteles commented on #397
AND, you can also now at least change the 10 digit meeting number.
<img width="928" alt="screen shot 2018-02-12 at 13 24 48" src="https://user-images.githubusercontent.com/4185328/36099003-f97697f6-0ff8-11e8-9960-390caa196903.png">

We can only change it to something that already exists rather than anything we want but better than nothing (as we can have two meetings in the calendar with the same

[2018-02-12 13:35] iteles commented on #397
Still Chrome-only but so far we have trialled this with all of our existing clients (1 of whom is looking to switch to Meet as their internal comms tool) and 3 potential new clients and this hasn't been an issue yet!

Closing this issue as we've now thoroughly tested this solution and the most important metrics (sound quality and low technical barrier to entry) have been given high scores.

[2018-02-12 13:35] #397 closed

[2018-02-12 13:44] rub1e commented on #409
I did one at my old job. (I've done many but only one was worth mentioning.) It was like Jung himself had peeled back the layers of my onion and captured the very essence of my being. Even then about 20% was complete bullplop.

I have huge misgivings about using these tools for anything other than personal introspection, however.

The idea of outsourcing your team dynamics to an algorithm that you

[2018-02-12 15:47] iteles commented on #432
Won't hear back on this until 22nd February at the earliest due to holidays and workshops on the client side.

[2018-02-12 17:10] iteles commented on #426
Back to the proposal of having the UX review sit with us.
Revised team/budget sent.

[2018-02-13 11:44] rub1e commented on #399
You spoke too soon! After a bizarre call during which I ascertained that the person who told me we could do BACS payments had probably misheard me and said we could do **BATCH** payments... we're back to manual payments.

I am, however, confident that I can set up a payment profile to do payroll all in one go, and possibly apply that to individual freelancer invoices.

And then we can put this who

[2018-02-13 11:49] rub1e commented on #256
**Professional indemnity renewal** - Digital Risks have offered us the following levels for renewal:
* £500,000 limit of indemnity cover for £26.60 including tax (monthly premium)
* £1m LOI for £36.75 incl. tax
* £2m LOI for £62.48 incl. tax

This is around half of the cheapest quote I got off GoCompare, so it's looking good

**Contents** - I need to do an inventory, and answer a few other questio

[2018-02-13 12:40] rub1e opened #433 "Update Xero with current address & personnel"
* [x] Replace Mary Datchelor with 16 Palmers
* [x] Replace MWF with IT

[2018-02-13 13:14] rub1e commented on #418
Done

Settings > General Settings > Reports > Tracking

There you can manage the Categories

[2018-02-13 13:16] rub1e commented on #433
Done, just a small task to ensure we're up to date in case we start using Xero's advanced options

[2018-02-13 13:16] #433 closed

[2018-02-13 14:52] rub1e commented on #430
I've added Euro & $$ to our account, but the option's not there for expenses - so I've sent in a support request

[2018-02-13 22:38] iteles commented on #418
🎉

[2018-02-13 22:38] #418 closed

[2018-02-14 16:56] yvonne-liu commented on #366
Hi! Sorry for the delayed response. I just checked, and unfortunately for @nelsonic the "fix kit" part is just completely out of stock and it's likely to be another week out 😟 ! But @Jbarget doesn't need a fix kit so maybe he can have a solo party 💃 ! Sorrryyyyyy.

[2018-02-14 17:35] nelsonic commented on #366
Solo party indeed. 😉
thanks for the update.

[2018-02-14 20:12] nelsonic opened #434 "EPIC: Consolidate our GitHub "Workflow" into *Single* Reference"
## Situation / Intro

At present we have ***five*** GitHub repositories that contain "_bits_" of our "Workflow":

+ [https://github.com/dwyl/**contributing**](https://github.com/dwyl/contributing) - General guidance on contributing to a GitHub project
+ [https://github.com/dwyl/**process-handbook**](https://github.com/dwyl/process-handbook) - internal "processes" for dwyl projects at the time of w

[2018-02-14 20:42] iteles commented on #256
@rub1e Let's go with the £2m renewal for professional indemnity 👍
Thanks for picking this up!

[2018-02-15 11:12] Cleop opened #435 "Tablet for illustration"
## Why?

Since reading Elle Luna's book ['The Crossroads of Should and Must'](https://www.amazon.co.uk/Crossroads-Should-Must-Elle-Luna/dp/0761184880) (based on this original blog post: https://medium.com/@elleluna/the-crossroads-of-should-and-must-90c75eb7c5b0) I was inspired to think about the multi-dimensional sides of my personality, passions and skills and how I could combine them.

This coin

[2018-02-16 13:06] iteles commented on #427
![img_7746 1](https://user-images.githubusercontent.com/4185328/36308828-1f5b6810-131a-11e8-8e9e-6462e0a1c8fc.JPG)

🎉

[2018-02-16 13:06] #427 closed

[2018-02-16 13:21] iteles opened #436 "Update invoice.dwyl.com for new dwylers!"
Linked to #411

@andrewMacmurray and @jen-harris have been working with us this week, so we need to add them to invoice.dwyl.com so that they can invoice dwyl 👍

[2018-02-16 15:29] iteles commented on #435
This is great. I feel (and have had a lot of feedback) that the dwyl tutorials could really benefit from a visual component and this is likely to set us apart as well.

The tablet could also be used in a variety of ways across workshops or for remote whiteboarding during planning sessions, bringing developers not in the room with us closer to what is going on.

If anyone else has ideas or experien

[2018-02-16 17:37] iteles commented on #436
Done! Should be ready for invoicing 👍

[2018-02-16 17:37] #436 closed

[2018-02-16 17:57] iteles commented on #426
Looks like this will go forward with @SimonLab and @Cleop as the proposed team.

Adding contracting to the task list above (and 2 hours onto the time estimate).

Date of workshop TBC.

[2018-02-19 11:20] iteles commented on #396
Closed in favour of the original issue, no need to duplicate: https://github.com/dwyl/dwyl-site/issues/77

[2018-02-19 11:26] iteles commented on #339
Discussing this with Karen this week (if it fits into our agenda!) https://github.com/dwyl/focus-hub/issues/134

[2018-02-19 11:33] rub1e opened #437 "Make sure all historical invoices are findable and stored in Xero"
#There seem to be various gaps between the details we have about projects, the invoices we have in Google drive, and the invoices that have been uploaded to Xero.

As a doer of finance tasks, I would like to have a spreadsheet with details of work done and a unique reference for each invoice which I can then find in Xero. Basically I want the `invoice.dwyl.com` process to be applied retrospectivel

[2018-02-19 11:44] iteles commented on #437
Thanks for fixing the dubious job done by the accountants that were supposed to bring Xero up to date: https://github.com/dwyl/hq/issues/321#issuecomment-323071446
🙄👍

[2018-02-19 15:39] nelsonic commented on #396
It never ceases to _amaze_ me that 🙊 thought it was a _good_ idea to:
a) open a `duplicate` issue _without referencing_ the original. 😕
b) ported over _none_ of the context (_given their **complete** lack of experience with OpenSource!_)
c) make the `draft` in **Google Docs**...! which _totally_ missed the point of OpenSource
and gave _zero_ examples of companies _using_ Open Source for "enlighten

[2018-02-19 17:43] iteles opened #438 "Research & Development Tax relief"
The original issue for this was opened 14 October 2016 https://github.com/dwyl/hq/issues/112 but there is a huge amount of `noise` and unhelpful back and forth in there (which are available for reference if anyone is interested).

https://www.gov.uk/guidance/corporation-tax-research-and-development-rd-relief

### Context
We met with the consultants a three times over the last year, opting to deal

[2018-02-19 17:44] iteles commented on #112
This issue is full of `noise`.

Closing it in favour of the clearer #438, with reference to this issue for historic purposes. https://github.com/dwyl/hq/issues/438

[2018-02-19 17:44] #112 closed

[2018-02-19 17:45] iteles commented on #391
This issue is full of `noise`.

Closing it in favour of the clearer #438, with reference to this issue for historic purposes.

[2018-02-19 17:45] #391 closed

[2018-02-19 17:45] iteles commented on #438
`priority-1` as this is @rub1e's top priority this week and my top priority once his portion is complete 😊

[2018-02-19 20:36] iteles commented on #426
Proposed loose agenda:
- Morning: Industry & user journey focus
  - Introductions
  - Introduction to CI & project (Chris)
  - Ways of working (Ines)
  - End user personas (Chris)
  - User journey (Chris, with lots of questions from the dwyl team)
- Afternoon: Further requirements & technical detail
  - Continuation of user journey with technical questions (as needed)
  - API integrations (Pete +

[2018-02-20 13:41] Cleop commented on #435
Personally I would opt for Apple iPad Pro, the reviews/comparisons with the Samsung Galaxy options place it top. I've also had the chance to test it in store and made this little doodle in a 5 min exploration using procreate:
<img src="https://user-images.githubusercontent.com/16775804/36426714-ef207b0a-1642-11e8-96a1-7f8a0ce5d923.jpg" width=200px />
The ability to use colour, opacity, blending an

[2018-02-20 15:22] iteles commented on #426
Contract sent, awaiting signed return.

[2018-02-20 15:27] iteles opened #439 "Potential new mini project | BEP website"
Having built the [BEP app](https://github.com/dwyl/bestevidence/), CU are looking to build a static website to promote it or have as a gateway into the application.

The budget for this is _tiny_ so we will be looking to reuse as much of the work we did for the Quodl website as possible.

## Tasks
+ [x] Initial call
+ [x] Follow up summary of potential agreement
+ [x] Agreement on scope
+ [x] Esti

[2018-02-20 18:59] iteles commented on #439
Proposed starting point for scope sent, awaiting reply.

[2018-02-21 08:51] rub1e commented on #438
Linked to #437

[2018-02-21 10:40] rub1e commented on #423
Reopening as I've just figured out what's going on here... ish.

The invoice I just submitted was duplicated twice - one with me as owner, one with Ines, and one with Finance.

Don't know *why* this is happening, but it's a start!

[2018-02-21 12:15] iteles opened #440 "Potential new project | Good Thinking extension"
An interesting mental health project we worked on last year (Wagtail, python, HTML/tachyons) has come back to us for an extension of features, including search.

## Tasks
+ [x] Initial list of features
+ [x] Call with @Danwhy and @shouston3 to determine level of python skills required for the feature list
+ [x] Discuss project with dwylers and determine interest/availability [in progress]
+ [ ] Ag

[2018-02-21 13:35] claireinez commented on #396
@nelsonic please would you reconsider your tone when discussing an ex-employee in public? It makes me very uncomfortable that you would talk about anyone like that in an open forum, let alone someone you worked with. Comments like the above come across to an outsider as unprofessional and reflect poorly on you and on dwyl, and I would really appreciate if you would keep that in mind when writing.

[2018-02-21 15:01] nelsonic commented on #396
@claireinez, please excuse me letting out my "_frustration_" in `public`.

I _agree_ that it's _not_ desirable to "speak badly" about _anyone_.
Given that the person `deleted` their GitHub account,
_most_ people in the _community_ have _no idea_ ***who*** is being referred to; which is a _good_ thing!

Let me be _clear_: I am not _attempting_ to discredit/disrespect the ***person***,
simply to poi

[2018-02-21 15:01] #396 closed

[2018-02-21 16:17] nelsonic commented on #396
"**unprofessional**" is someone hired to do a job (_generously paid **50% more** than their previous job_)
***not delivering*** the (_well defined_) tasks assigned, causing _more_ work for everyone, while spending the majority of their "**company time**" on un-related "***side projects***".

`try` to put yourself in the shoes of a self-funded entrepreneur who has their time/money wasted by someone

[2018-02-21 16:54] iteles commented on #339
Agreed that we can keep the granularity and our accountants can pull this together now that we aren't doing this manually (and are doing it through Xero).

[2018-02-21 16:54] #339 closed

[2018-02-21 17:10] iteles commented on #342
We will need to check that this piece of info is clear on the letter templates we get from TPP:
http://www.thepensionsregulator.gov.uk/doc-library/increases-in-minimum-contributions-automatic-enrolment.aspx
<img width="855" alt="screen shot 2018-02-21 at 17 05 58" src="https://user-images.githubusercontent.com/4185328/36494410-dd001f56-1729-11e8-8039-bb960dba57a0.png">

dwylers must be set up auto

[2018-02-21 17:19] iteles opened #441 "Sorting and filing mail from 2017"
We inherited a large stack of post (mostly still in envelopes) from Mark in Dec-2017 and still have a smaller stack of post (again, opened but still in envelopes) from the 3 months we were out of the country late last year.

These need to be taken out of envelopes, sorted and filed into the relevant dwyl folders.

## Tasks
+ [ ] Write VA brief
+ [ ] Book time with TaskRabbit
+ [ ] Filing of mail h

[2018-02-22 14:12] iteles commented on #396
@claireinez I’m glad you felt that you were able to voice your concerns and bring this to our attention.
I understand your concern both for the somewhat anonymous party referred to here and for the direct tone adopted and how this reflects on the organisation as a whole.

There are certainly both different ways of phrasing the key message here around process learnings that need to happen and more

[2018-02-23 18:29] iteles commented on #440
Waiting for next steps from client on scope which they are currently refining.

[2018-02-27 12:09] iteles commented on #426
Currently debating competition clauses in the contract!

[2018-02-27 13:14] iteles commented on #426
@rub1e Final clauses agreed (copied you in on the email), assigning this issue to you for re-drafting of the relevant contract sections and tracking getting it signed! 😊

[2018-02-27 17:00] iteles commented on #441
We had a lovely non-virtual assistant come in for half a day today to take care of our 2017 mail.

She managed to:
+ Get everything out of envelopes
+ Sort all of the mail into various related piles
+ Sort all the piles in chronological order
+ Hole punch 2/3 of the papers

![img_7927](https://user-images.githubusercontent.com/4185328/36742325-4af4499c-1bdf-11e8-9dc0-fd04fcf67071.jpg)

**Next step

[2018-02-27 17:20] nelsonic commented on #441
@iteles did you manage to _find_ a Hole Punch? (_or do you want me to pick one up from Ryman's_) ?

[2018-02-27 17:48] iteles commented on #425
I entirely understand CharlieHR's need to take this step of charging for their product and even applaud how they are handling it. Much respect.

However, seeing as how this task is already on our list, I would like to explore it in an effort to minimise the number of systems we use (as @rub1e mentioned originally) - there's no way we can get rid of our accounting system for Charlie unfortunately!

[2018-02-28 12:32] iteles opened #442 "April 2018 | Update all dwyler tax codes in Xero"
In the new financial year for HMRC will be sending us new tax codes for all permanent dwylers.

These need to be updated in Xero when we do April payroll #341

[2018-02-28 12:55] rub1e commented on #342
UPDATE: following extensive research, consideration, and debate, @iteles has decided that the best provider for _dwyl's_ needs, and - more importantly - for _dwylers'_ needs, is `The People's Pension` 🎆

We're halfway through the setup process with TPP, and we expect letters to go out this week or next week with all the details for employees. Watch this space... 👁

[2018-02-28 12:56] iteles commented on #432
This project has apparently been put on hold and the academic in charge (who was not the CU person I was speaking to) appears to have decided to work with a friend instead.

[2018-02-28 12:56] #432 closed

[2018-02-28 16:10] iteles commented on #415
Currently entering my expenses for the period

[2018-02-28 17:53] iteles commented on #415
Took 2 hours but done! Not a replicable process.

[2018-03-01 19:48] iteles opened #443 "Process for F&C commission"
Following on from our conversations with Founders & Coders, the latest proposal is somewhat of a hybrid of what we've always done (10% commission) with a new cap agreed.

Our latest proposal is that this is billed from F&C monthly.

We need to figure out how to do the following most efficiently:
+ [ ] Keep track of people for whom the cap has not yet been reached (including new dwylers)
+ [ ] Keep

[2018-03-02 10:03] nelsonic commented on #426
@iteles when is this meant to start?

[2018-03-02 10:10] iteles commented on #426
Signed contracts received yesterday 👍

Schedule:
+ Friday 23-Feb-2018, kickoff workshop
+ Week beginning 26-Feb-2018, 2.5 days of UX assessment by @harrygfox
+ Week beginning 5-Mar-2018, TBC number of days of design, carried out by @nogainbar
+ Week beginning 12-Mar-2018 (but could be the week after), full time development begins.

[2018-03-02 10:10] #426 closed

[2018-03-03 12:25] iteles commented on #439
Current scope for estimating:
+ **Homepage**
  + Similar sections to Quodl but replace the section with the Quodl badges with a video demo of the product in action or some text with screenshots
  + Remove blog section at the bottom
  + Quotes from people who have said how good the app is - new functionality, ideally there would be a bank of these and they would randomly swap themselves out, but th

[2018-03-06 10:20] rub1e commented on #438
To review:

* I've now been through all the projects identified as having an R&D component and entered all the days worked by each *dwyler* into the Cost Collection Spreadsheet
* This took **much** longer than I'd planned for because the dwyl staff and contractors who had been paid to do our accounting had reconciled most of the invoices on Xero **without including** a *client reference* (or indee

[2018-03-06 16:36] iteles commented on #439
Thanks @Cleop @RobStallion and @parkhabit for estimating!

Sent to CU 👍

[2018-03-07 09:55] iteles commented on #342
Letters for this went out earlier this week to @naazy, @SimonLab, @Cleop and @Danwhy.

@rub1e, over to you to finish the enrolment once #415 is complete 👍

[2018-03-07 10:54] iteles opened #444 "Potential new functionality | QL site & app payments extension"
In order to transform QL into a paid application, changes will need to be made to both the website and the application.

## Tasks
+ [x] Initial team conversation on general flow of tasks that need to be completed
+ [x] Request clarity from client on tiers of pricing/functionality
+ [ ] Understand CU payments API **[in progress]**
+ [x] Initial estimates created
+ [x] Initial estimates & budget sen

[2018-03-07 10:58] iteles commented on #444
@sohilpandya @jessicasalmon Assigned this one over to you as you're in the process of creating the estimate 👍

I'l keep chasing the payments non-API to see how we would get info back from them on what has been paid.

[2018-03-07 11:31] iteles commented on #269
There's a lot of noise in this issue. Closing.

[2018-03-07 11:31] #269 closed

[2018-03-07 12:12] rub1e commented on #415
This has been filed.

It was an immensely painful process collecting all the receipts and invoices etc. and then matching them tp payments, but ultimately worthwhile 🤑

In the future @iteles @nelsonic, could you get into the habit of

* always requesting a VAT invoice from Amazon or other online purchases (within the order details screen, there's a little menu on the top right where you can easily

[2018-03-07 12:12] #415 closed

[2018-03-07 12:13] iteles commented on #415
@rub1e 👍  99% of the invoices I receive go to the finances email address so sit in your purview 😉

[2018-03-07 12:20] iteles opened #445 "Update CharlieHR/Xero with everyone's start dates"
I got a large number of emails from CharlieHR last month congratulating us for literally everyone's 'anniversary' at dwyl, when in fact it was the anniversary of when we set up CharlieHR 😉

We should update these.

Dependent on #425.

[2018-03-07 12:26] rub1e opened #446 "VAT Return | Feb 2018 to end Apr 2018"
VAT return for the period of 01.02.2018 - 31.04.2018.

**Deadline:** 1st June 2018.

VAT return and payment deadline is 7th June but this task needs to be completed ahead of time so that we can ensure the correct funds are available in our outgoing account for this date.

Low priority whilst we are waiting for the period to finish, but will be revised in May.

## Tasks
+ [x] Make sure all expenses

[2018-03-07 12:26] rub1e commented on #415
(This issue was closed with an incomplete task because it's been migrated to #446)

[2018-03-07 12:47] sohilpandya commented on #444
**Free Plan: T2d**
- Create a new url for lecturers to sign up, currently this is only accessible by Stian, we need to make this public T4h
- Add a new column in user database table for setting a trial version. T1.5d (not including d)
    - We can have a trial column (boolean), expiry time
    - Check these and if users out of trial time then log user out.
    - When user tries to log in, check fo

[2018-03-07 14:55] rub1e commented on #256
Apologies for not updating this sooner - we have professional indemnity insurance and the documents are saved in `Legals (private) > Insurance`

Keeping this open until Contents is settled

[2018-03-07 15:38] iteles commented on #435
Ordered!

[2018-03-07 15:59] Cleop commented on #435
:scream: SO EXCITING! Thank you @iteles

[2018-03-07 16:03] iteles commented on #444
Thanks @sohilpandya ! I'm following up with them as we speak on payments.

[2018-03-07 16:13] rub1e commented on #342
We're signed up withe TPP and I've connected the Xero payroll system as well.

I'm waiting for a couple of queries to be answered, but the next step is for me to upload all dwyl employees'  particulars, and then distribute login details so people can access their accounts on the TPP website.

@iteles and I will also have a chat with our bookkeeper and check that everything looks like it was set up

[2018-03-07 16:19] iteles commented on #341
More noise.

[2018-03-07 16:19] #341 closed

[2018-03-07 17:20] iteles commented on #439
Confirmed!
@parkhabit will be starting on this today, with @RobStallion joining her tomorrow 🎉

[2018-03-07 18:04] rub1e opened #447 "End of tax year (5/4/18) tasks"
* ~[ ] Claim Small Employers' Relief?~
* ~[ ] Set up statutory pay?~
* [x] Claim employment allowance?
* ~[ ] Submit forms P11D and P11D(b) for expenses and benefits [guide](https://www.gov.uk/government/publications/paye-end-of-year-expenses-and-benefits-p11d-guide) & pay any Class 1A NICs~
* [x] Update all dwyler tax codes (#442 ) (check for forms P9T/P9X from HMRC)
* ~[ ] Update NI category?~
*

[2018-03-08 11:07] #439 closed

[2018-03-08 12:50] sohilpandya commented on #444
**Additional Super Admin Functionality: T2d**
- All payments will be done manually, so we need to have an area where the super admin can add a client.
- Super Admin will navigate to the super admin area
    - Add a new button called ‘add a client’
    - Provide a form with the following fields:
        - Name
        - Email
        - Account type: Group (in which case add group_admin to true) or

[2018-03-08 17:11] iteles commented on #444
@sohilpandya

For **Individual plan** (rather than an individual signing up as part of a group), I don't think they need a code, we should just be able to see they've paid for the individual plan and set the permissions up accordingly. It only really makes sense to have a code if you're tying yourself to a group plan.

All looks good! Thanks so much for this.

Budget sent.

[2018-03-12 07:41] yvonne-liu commented on #366
@nelsonic @Jbarget confirming that you both received all the parts needed!

[2018-03-12 10:27] nelsonic commented on #366
@yvonne-liu thanks so much for your help! 🎉
Please confirm you have received funds, else I can transfer using my new Monzo account (_thanks to JB!_)

[2018-03-12 12:11] iteles commented on #444
For now we will be implementing this with _manual_ payments, no changes to be made to the website itself.

[2018-03-12 12:11] #444 closed

[2018-03-12 12:28] Cleop commented on #435
https://www.macworld.co.uk/feature/ipad/best-stylus-for-ipad-ipad-pro-or-ipad-mini-3586503/

https://www.digitalartsonline.co.uk/features/creative-hardware/best-ipad-stylus-for-artists-designers/#2

https://www.igeeksblog.com/best-ipad-pro-stylus/

The other stylus' mentioned are not suitable for drawing apart from the: 53 pencil, which is available 'used' from amazon with mixed reviews (nibs need

[2018-03-12 12:50] nelsonic commented on #435
Agree with getting the Apple Pencil as it's purpose-built tool (_even if there are "compatible" ones..._)

we should _either_ buy the Apple Pencil from `ebay` (_cheaper_):
[https://www.ebay.co.uk/sch/Styluses/176981/i.html](https://www.ebay.co.uk/sch/Styluses/176981/i.html?_from=R40&LH_ItemCondition=3&LH_BIN=1&_sop=15&_nkw=new%20apple%20pencil&_dcat=176981&rt=nc&_mPrRngCbx=1&_udlo=40&_udhi)
![imag

[2018-03-12 21:44] iteles opened #448 "Transfer namecheap domains to iwmn"
We manage all of our domains through iwantmyname, but I recently had to rent a couple through namecheap.
See https://github.com/dwyl/github-backup/issues/13

We need to transfer these over to iwmn so that we can manage them with the others and when they renew, they renew with iwmn instead of namecheap.

[2018-03-13 08:29] rub1e commented on #448
Ha - I did wonder why we were cheating on iwmn! All I need is login details and it shall be done.

[2018-03-14 10:37] rub1e commented on #447
#### Small Employers' Relief
We don't qualify this year because we'll go above the threshold for NIC payments in month 12 (so we definitely won't qualify next year)

#### Statutory pay
Not relevant this year

#### Claim Employment Allowance
This is done in Xero by going to `Settings > Payroll Settings > HMRC` and ticking the box that says you'll claim Employment Allowance

 #### Submit forms P11D

[2018-03-14 12:28] rub1e commented on #437
This is now complete - every single unreconciled item in Xero is a receipt. Happy Days.

That's not to say that every single payment has an invoice stored on Xero (there were some missing invoices)...

... but at the very least, every relevant payment has a client reference (sometimes a sprint number too)

The best thing about it is that I can close this issue without writing a process down becaus

[2018-03-14 12:29] #437 closed

[2018-03-14 13:23] rub1e commented on #399
UPDATE: process as it stands is captured in the [process handbook](http://www.bbc.co.uk/sport/football/43397583)

It will be updated and this issue closed when we have resolution on importing batches

[2018-03-14 16:52] rub1e opened #449 "Categorising payroll correctly in Xero"
This is part of #447 but important enough to warrant its own issue 🔑

In order to check that all payments have been made correctly at the end of the year, we need `PAYE` split out into NICs, student loans, and PAYE tax payments. ➗

And, from April 2018, we also need to split out pension payments into Employer and Employee contributions

Currently, pay runs are reconciled to `Wages` and `PAYE`, and

[2018-03-14 17:05] rub1e commented on #447
After an exciting call with our bookkeeper, I'm please to report that the above is correct!

The only thing I've added to the checklist is #449 and the associated checks

[2018-03-19 11:40] iteles commented on #431
Created but not a single things was ever done with it.

<img width="1084" alt="screen shot 2018-03-19 at 11 16 13" src="https://user-images.githubusercontent.com/4185328/37593549-43e5af98-2b6a-11e8-8ed7-490bd771c993.png">

[2018-03-19 13:38] iteles commented on #33
Closing in favour of #397 for now, to be reopened when Google Meet is no longer adequate for our purposes.

[2018-03-19 13:38] #33 closed

[2018-03-20 09:24] rub1e opened #450 "Universally unique invoice numbers"
As a *finance person*, I would like to have universally unique invoice numbers for each contractor.

(It's an open question as to how valuable this is since all new invoices are searchable from within Xero, but with the new financial year starting in a couple of weeks, now is a good time to set this up.)

* [ ] Update `autocrat` job and invoice spreadsheet
* [ ] Test `autocrat` job
* [ ] Document

[2018-03-20 17:27] rub1e commented on #342
All employee data has now been submitted - so with any luck employees will receive a communication from TPP tomorrow (21/3). (I'll be checking in to make sure)

[2018-03-20 17:36] rub1e commented on #447
UPDATE: I've added some bullets from our bookkeeper with detail on the reports we need to run in Xero to check everything adds up correctly.

This video was also recommended: https://player.vimeo.com/video/207666197

[2018-03-20 18:12] rub1e commented on #365
Hey @/all, just checking in about `email signatures` ✉️

*I'm sure you all did this six months ago*, but just so I have the most **up-to-date information**, could you all send me an email from your `dwyl` account with your signature on it please? 🔣

Obviously you **don't** *have to* include your `job title or phone number` if you don't want to. I've no idea where such notion came from - spooky 👻

[2018-03-20 18:41] nelsonic commented on #435
@Cleop, as discussed, the screen protector will keep the iPad screen ***`new`*** for the life of the product. I always get the "Tempered Glass" ones cause they offer more than just "scratch" resistance:
https://www.amazon.co.uk/10-5-Protector-SPARIN-Installation-Definition-Ultra-clear/dp/B06XPXKTBN
![image](https://user-images.githubusercontent.com/194400/37675790-19b66938-2c6e-11e8-98b9-5ae9ef053

[2018-03-20 20:42] iteles commented on #435
Ordered the screen protector.

Do we have a preference for a case?
https://www.amazon.co.uk/JETech-Apple-Smart-Cover-Sleep-Black/dp/B07175N8XP/ref=sr_1_1?ie=UTF8&qid=1521578515&sr=8-1&keywords=ipad+pro+case+10.5

[2018-03-21 10:51] Cleop commented on #435
Maybe one that can hold the pencil too so that it doesn't get damaged in transit?
https://www.amazon.co.uk/Fintie-iPad-Apple-Pencil-Holder/dp/B072TZ3D2H/ref=cm_cr_arp_d_product_top?ie=UTF8

[2018-03-21 12:23] rub1e commented on #435
Arriving tomorrow ⛎

[2018-03-21 16:32] Cleop commented on #435
Had a play with the tablet this morning on the tube and made this @iteles @nelsonic to let the image do the talking ❤️!
![untitled_artwork](https://user-images.githubusercontent.com/16775804/37723006-377d8728-2d25-11e8-9efa-36a9b2193040.jpg)

[2018-03-21 16:37] iteles commented on #435
❤️ Assigning to you @Cleop so that you can close when the screen protector and case arrive 🎉

[2018-03-22 13:26] nelsonic commented on #435
@Cleop closing...? what about the _illustrations_...? 🤔 😜

[2018-03-22 14:25] Cleop commented on #435
Don't worry 😉 they'll follow, but I'm going to be putting those on the relevant repos. I've already mentioned it to @iteles but please feel free to tag me/ let me know of any repos you think could benefit from a picture or two (if any are fresh in your mind)!

[2018-03-23 15:30] iteles commented on #438
This was emailed and we're awaiting our R&D consultants' response.
Bumped down the priority so it doesn't scare me every time I see it!

[2018-03-23 15:31] iteles commented on #440
The NHS decided to just carry out maintenance of the service rather than augment it for now. We can reopen this if they change their mind.

[2018-03-23 15:31] #440 closed

[2018-03-23 16:07] nelsonic commented on #438
![nice](https://media.giphy.com/media/pCO5tKdP22RC8/giphy.gif)

[2018-03-23 16:25] iteles commented on #408
This has gone quiet for now (which is probably a good thing given the complexities of CU's bureaucracy). Will reopen if it gets picked up again.

[2018-03-23 16:25] #408 closed

[2018-03-26 09:00] iteles commented on #425
Free when you've already paid, hey? 😊

Let's go through the process to make sure it's feasible and then yes 👍

[2018-03-26 11:04] iteles commented on #425
Tested this morning, we need to set up 'Time Off Types'
<img width="426" alt="screen shot 2018-03-26 at 12 02 57" src="https://user-images.githubusercontent.com/4185328/37902888-cf76fc28-30ed-11e8-9446-4397dfd50ac5.png">

[2018-03-26 11:28] iteles opened #451 "Questions for our accountants"
I am meeting with our accountants next week (3/4 April) to review their recommendations for accountancy best practices to be followed.

Do we have any questions for them?

[2018-03-26 11:33] iteles commented on #451
Our R&D consultants mentioned to us that in R&D claims, travel expenses that are paid for by dwylers and charged back to dwyl as expenses _can_ be claimed for project where R&D is relevant, but if the expenses were paid directly by dwyl they cannot.

Are there any other situations where it would make more sense for things to be charged back as expenses other rather than us being the bottle neck wi

[2018-03-26 11:37] iteles commented on #49
Reviewing this now as part of https://github.com/dwyl/hq/issues/451#issuecomment-376135392 and it would seem that both of these points in the checklists were missed:
+ Determine who should have access to the account
+ Get a prepaid card to associate with this account to prevent overspending.

Will reopen if needed based on the outcome of #451.

[2018-03-26 13:39] rub1e commented on #430
Xero isn't currently set up to do `non-base` currency expenses 💸 , but we can get around this by creating bills instead of an expense claim.

However please note that Xero uses historical currency conversion rates 💹  for old receipts so the foreign money transaction 💶  matches up with the £ 💷 amount coming out of the bank account 🏦

**This means that we need to group these expenses by date** - i.e