[2016-12-27 01:32] nelsonic opened #152 ""Cheap" iPhone for iOS Dev Testing"
@edwardcodes is joining us as ("Junior/Intern") Mobile Application Developer in March 2017. 🎉
Right now he has a ("Retro" / "old school") phone ...

![edu-iphone](https://cloud.githubusercontent.com/assets/194400/21488344/6b3406e8-cbd6-11e6-91a1-0ee80a2eb138.png)

So... I have ordered him an [**iPhone 5C**](https://youtu.be/Mk_fHT1XLZA) on eBay for £100:
![ebay-order-iphone-5c](https://cloud.githu

[2016-12-27 04:11] nelsonic opened #153 "frontend masters ?"
It's irrefutable that "Frontend Masters" is the _single_ best source for content related to our field: https://frontendmasters.com and _arguably_ $39/month is an _absolute bargain_! and ...

![best-investment-yourself](https://cloud.githubusercontent.com/assets/194400/21489713/87c47cc0-cbe5-11e6-9c8b-aecad4cca771.png)

`while` we _firmly_ believe **access to _learning_** should be **available to _

[2016-12-27 14:53] iteles commented on #142
In particular, I would like to investigate becoming a [B Corp](https://www.bcorporation.net/) and what it means/entails under the hood.

[2016-12-28 08:10] nelsonic commented on #142
@iteles _fairly_ certain B Corp is only available for US-based Companies... 🤔
but no reason we can't investigate `if` we can run a US entity... 👍

[2016-12-28 09:39] Charlotteis commented on #147
my headphones arrived! looking forward to playing with them after work :)

[2016-12-28 10:12] nelsonic opened #154 "Give Before You Get ?"
![give-before-you-get](https://cloud.githubusercontent.com/assets/194400/21519568/15312e18-cce6-11e6-8107-93360c0e7a81.jpg)

"_you will be the greatest generation. because when we look back 50 years from now, 100 years from now, 500 years from now ... **You** will be the generation that **unlocked human potential**_"

Personally I _really_ like this mindset, and I would like it to be something eve

[2016-12-28 21:05] Charlotteis commented on #147
![photo on 28-12-2016 at 21 01](https://cloud.githubusercontent.com/assets/542140/21531577/0d9cddae-cd41-11e6-9649-f0c35017750d.jpg)

[2016-12-28 22:21] JoseCage commented on #147
I do not know if I'm eligible to be one of the winners of this @dwyl great offer and depending on what the limit ($$ costs) I would choose:

**Monster ROC Sport Freedom Wireless On-Ear Headphones With Built-In Mic**,(Black)
Price: £199.95

![monsterroc](https://cloud.githubusercontent.com/assets/4200487/21532803/1dbcb232-cd54-11e6-8ab4-1abcacec303f.jpg)

:link:  [More info](http://www.johnlewis.co

[2016-12-28 23:35] nelsonic commented on #147
@Charlotteis sweet! 🍭
How are they? ❓

[2016-12-28 23:36] nelsonic commented on #147
@JoseCage you _will_ be _eligible_ v. soon! 🎉
We'll need to figure out how to ship them to you in Angola! 🤔

[2016-12-28 23:43] JoseCage commented on #147
@nelsonic

 **[DHL](http://www.dhl.com/en.html)** or [FedEx](https://www.fedex.com/ao/index.html) is a great option. Or not?

Depending on your experience with both.

[2016-12-29 17:23] NataliaLKB commented on #145
@nelsonic I am glad you enjoyed the blog post! We had a lot of fun reminiscing about all the times we had broken the website. Those were some of our favourites.

I agree with @Jbarget that internal talks are a great way to share knowledge and build confidence public speaking. It would be amazing if those talks could be filmed, both for people who work remotely, and for the interested public.

[2016-12-29 19:48] katbow commented on #147
@nelsonic I couldn't get my headphones here, so getting this in now so they will hopefully arrive shortly after I'm back! Can I please follow suit and get the Bose QC35s? In black 🙂.

[2016-12-30 00:27] nelsonic commented on #147
@katbow are you still in CA? try seeing if they are available in the airport (_the will most likely be cheaper, I will reimburse you, but it means you get to start using them sooner e.g. on the flight!_)

[2016-12-30 14:58] katbow commented on #147
I just arrived back this morning!

[2016-12-30 16:26] nelsonic commented on #147
@katbow OK. cool. (_glad you made it back safely_!)
Your QC35's have been _ordered_. ❤️  ✅  🎉
![katbow-bose-qc35-order](https://cloud.githubusercontent.com/assets/194400/21568446/9afcecc2-ceac-11e6-91bc-11fb2efb782b.png)

[2016-12-30 17:35] iteles commented on #100
@nelsonic Time to revive this question given our open source work is about to grow exponentially (even if not in Node/JS)?

[2016-12-30 18:02] NataliaLKB commented on #147
Hey @nelsonic! I am still not sure if I qualify as a member of dywl :thinking:. However, I am an avid supporter 🌟 !

So let me know if I do qualify. My dream headphones are the [Sennheiser Momentum](http://www.johnlewis.com/sennheiser-momentum-2-0-wireless-on-ear-headphones-with-in-line-mic-remote/p1883219?colour=Ivory)

[2016-12-30 21:54] iteles commented on #4
Linked to #131

[2016-12-30 21:57] iteles commented on #22
Added a temporary mobile number for now. We can re-open if required!

[2016-12-30 21:57] #22 closed

[2016-12-30 22:00] iteles commented on #33
Google hangouts has caused us quite a lot of connectivity/quality issues over the last year (e.g. https://github.com/dwyl/remote-working/issues/8#issuecomment-230434204). We'll need to try a few options in the new year.

[2016-12-30 22:07] iteles commented on #24
New name, new link: https://www.google.com/analytics/partners/listing/service

<img width="1176" alt="screen shot 2016-12-30 at 22 06 08" src="https://cloud.githubusercontent.com/assets/4185328/21573448/41e9242c-cedc-11e6-854f-dc2db04c1e80.png">

Some additional old course info/videos here: https://support.google.com/partners/answer/6089738?hl=en

[2016-12-30 22:08] iteles commented on #30
Things have moved on slightly! Worth researching this again methinks.

[2016-12-30 22:10] #47 closed

[2016-12-30 22:11] iteles commented on #48
https://github.com/dwyl/ateam-master-reference

[2016-12-30 22:11] #48 closed

[2016-12-30 22:17] iteles commented on #53
We spoke verbally about this but I forgot to update the issue As I mentioned when they got back to me in January, they can provide something, but it would need to be *screwed into place* which is why it wasn't taken further at the time. Shall we close and re-open when relevant again @nelsonic ?

[2016-12-30 22:30] iteles commented on #78
@nelsonic , closing this as we weren't able to make it.

[2016-12-30 22:30] #78 closed

[2016-12-30 22:39] iteles opened #155 "Blog post : Why we do what we do (and other technology ethics musings)"
We need to write a blog post on our story, how we came to be doing what we're doing (client work), why we're *still* doing *some* of it, but also why we're moving to building **great products** in 2017.

Also, why building great products > making bags of money 💰
Came across a good article on this under the guise of general tech ethics from [Alan Cooper](https://twitter.com/MrAlanCooper) here: http

[2016-12-30 23:06] iteles commented on #144
:joy: Best accent in the world:heart:

[2016-12-31 09:10] nelsonic commented on #100
@iteles _good_ question ...
While I would _love_ to have an _automated_ solution for updating dependencies/devDependencies!
But ...
I _still_ don't see ***why*** **greenkeeper** _needs_ to have ***Admin*** access to our org in order to create a PR updating Dependencies ... 😕
it _feels_ like a "_violation_" of the [Principal of Least Privilege](https://en.wikipedia.org/wiki/Principle_of_least_privi

[2016-12-31 09:11] nelsonic commented on #144
@iteles Wow... it took you a `while` to get to this mention-notification... glad you found it amusing. 😉

[2016-12-31 09:17] nelsonic commented on #147
@NataliaLKB not only do you "_qualify_", you are our "_dream_" team member! ❤️  `#skills`
Stoked you've opted for something _other_ than Bose ... _Momentum_ headphones are _sick_! 👍
Please let us know if you prefer the "On Ear" or "Around Ear" version of _Momentum_? also _color_? ❓

[2016-12-31 09:25] nelsonic commented on #4
Linked indeed... 😉
I cannot tell if that's an _endorsement_ for the idea of a "New Joiner Welcome Pack" or just a logical linking... 🤔

[2016-12-31 09:26] nelsonic commented on #22
We're going to _need_ an `0800` number when we "get serious" about this... 💭
Maybe the _formalised goal + plan_ should come first though... 👍

[2016-12-31 09:28] nelsonic commented on #33
@iteles is this a _task_ that can be well-defined and _delegated_...? `#DivideAndConquer` 😉

[2016-12-31 09:30] nelsonic commented on #24
I _still_ think we _should_ ***all*** be certified in GA/GTM because it's the "_industry standard_". 👍
But `.then` with that knowledge we should build our own tools that do _not_ send streams of data to Google... e.g. for HL where we don't want to be "_leaking_" ***highly sensitive*** often _personally identifiable_ data...! 🤔

[2016-12-31 09:32] nelsonic commented on #30
Agreed. We need to figure out if we can get _good_ (_ergonomic_) chairs without breaking the bank while still encouraging people to use the Standing Desks, take regular breaks and not eat in front of their computers...

![image](https://cloud.githubusercontent.com/assets/194400/21576916/15bbc1ec-cf3c-11e6-88c0-6682f5805da6.png)

[2016-12-31 09:34] nelsonic commented on #47
@iteles are you _delighted_ with the outcome of the mini-project or is there anything `else` you would add?
I guess we can always add feature stories/requests to the https://github.com/dwyl/labels/ issues... 👍

[2016-12-31 09:35] nelsonic commented on #78
@iteles `#NextTime` ...?

[2016-12-31 09:37] nelsonic commented on #53
@iteles screwing in the draft-excluders is a 10 min job. please order them based on your research. thanks! 👍

[2016-12-31 09:40] nelsonic commented on #48
_Someone_ needs to _decide_ what the "Master Reference" is _for_...
Because it _appears_ to contain detail that _could_ (_should_) be in https://github.com/dwyl/contributing

[2016-12-31 10:00] NataliaLKB commented on #147
😍  So exciting! I have tried them both on in store, and for me the "On Ear" is much more comfortable! And I love the look of the Ivory. I see that they are out of stock on that version on the website, but they have it available on other websites, and in store. I tried mine on at the St Pancras branch. I could buy it there if it is convenient for you?

[2016-12-31 10:16] iteles commented on #22
Yes, it'll come with a revised website with a clearer focus.

[2016-12-31 12:15] nelsonic commented on #147
@NataliaLKB if the _exact_ model/color are "_in stock_" at your local branch, please _get them_
and upload a photo of the receipt. I will transfer the funds to the bank account on your invoice. 👍

[2017-01-01 05:23] nelsonic opened #156 "Lighting @ #16 ?"
Who `else` is _uninspired_ by the **Lighting** at `#16 Palmers Road` (DWYLHQ) ? 💡 😕  ❓

What can/should we _do_ about it?
+ [ ] ***Measure*** the current level of light and the _mood_ in the room ⚠️
+ [ ] ***How much*** of the **_Variable_ Overheads** are _attributable_ to lighting costs? 💸
+ [ ] ***Who*** do we need to speak to about ***upgrading*** the lights? 💭
+ [ ] ***Cost/Benefit Evaluate***

[2017-01-01 06:08] nelsonic opened #157 "Advertising ?"
***Why*** we don't (_need to_) Advertise/Market what we do can be summarised by `this` quote:

## "_If advertisers spent the same amount of money on improving their products as they do on advertising then they wouldn't have to advertise them._" ~ Will Rogers

by _contrast_ I can _agree_ with the _idea_ of paying/investing a _small_ amount to get _complete_ strangers to see our "Product" (for the _

[2017-01-01 20:40] iteles opened #158 "dwylbot"
Can we automate a few of our most repetitive/tedious tasks using a script?

[2017-01-01 23:02] andrewMacmurray commented on #147
@nelsonic I did some research and tested a few out and I'm gonna go with the Bose QC35s as well. They just sound so good (I feel like I'm in this sound bubble when I'm wearing them) and they're so comfortable! Would I be able to get them in black please? Hope you had a great Christmas and New Year! ✨🎉✨

[2017-01-02 19:59] iteles opened #159 "2016 year in review"
I'm pretty terrible at these, but we should write one and share it widely.

We've achieved so much and it would be great for dwylers to realise just what was done, despite the year ahead being so awesome.

Mostly, doing this soon will make sure I actually write things down *as they're happening* in 2017*.

[2017-01-03 00:13] nelsonic commented on #159
@iteles _totally agree_ that you are the _best_ person to write this "_post_".
I just reviewed a few PRs ... you did _everything_ `else`...! ❤️  ✅
Maybe you can note down the outline/bullet-points in the car on Wednesday...?
If you need _anything_ from me, please let me know!

[2017-01-03 11:45] NataliaLKB commented on #147
@nelsonic I picked the headphones up a few days ago and have been wearing them non-stop! Loving them so much. I will gitter you the details now :)

This really is a very generous gift. Thank you!!! ❤️

[2017-01-03 15:36] roryc89 commented on #147
Hi @nelsonic I had great time with seeing the folks in London thanks :) Hope you and Ines had a lovely time in Portugal. The pick up option from waitrose worked great with Conor - very happy to go for that!

[2017-01-05 14:06] sohilpandya commented on #102
LG UltraFine 4K Display
http://store.apple.com/xc/product/HKMY2B/A

**We do not need this, but mine and Ines' laptop work so well with this. 😹**

### Screen for the future... One day!

Also a lot of usb-c screens coming out at CES this week - https://www.google.co.uk/amp/appleinsider.com/articles/17/01/04/lg-dell-and-lenovo-debut-new-usb-c-monitors-compatible-with-apples-latest-macbooks/amp/?clien

[2017-01-05 19:02] shouston3 commented on #147
I've been having an amazing time working at dwyl and can't believe this offering.

@iteles @nelsonic this is super generous of you.

I would love black Bose QC35s if the offer is still open

[2017-01-05 19:02] nelsonic commented on #102
@sohilpandya **£471** for **21.5-inch** display...? what is this 2001...? 😮
![lg-4k-display](https://cloud.githubusercontent.com/assets/194400/21691940/8a963d8c-d372-11e6-807a-6c5ebf77954f.png)

But the **manufacturers** are still thining: "***Let's rip-off the Apple Early Addopters/Fanboys***" ...
Have you _tried_ the [4k iiyama monitor](https://github.com/dwyl/hq/issues/102#issuecomment-25288140

[2017-01-06 12:46] sohilpandya commented on #102
Totally agree that all monitor(usb-c) makers are just ripping us off at the moment. Although Dell just released an 8k monitor! 😳

Can't wait for them to come down in price. ☺️

I've been using the iiyama for the first time this week and will be doing a review of it soon. 🎉
So far:
- finding it really good to use in terms of space/screen management
- just need to find the perfect distance between m

[2017-01-06 14:56] nelsonic commented on #102
Yeah, saw the 8k 32" Monitor announcement. $5k tho...
maybe if we were a video production company and needed to _edit_ 4k content... hey? 😜

(_we kinda have that with the Apple Thunderbolt display which has MagSafe... but it's **two cables** which is frankly offensive!_ 🤣 )

I've _ordered_ the cable you requested. It should arrive by Monday on Prime.
Checked the Spec: https://iiyama.com/gb_en/prod

[2017-01-06 15:28] nelsonic commented on #147
Hey @roryc89, the Sony's were out of stock on at John Lewis:
![jl-sony-out-of-stock](https://cloud.githubusercontent.com/assets/194400/21722473/b69d7460-d424-11e6-9740-9181b5bdbaa4.png)

So I ordered you some Beats instead. hope that's ok. 👍

[2017-01-06 15:57] nelsonic commented on #147
@andrew, @RobStallion, @JMurphyWeb & @shouston3 I haven't "_forgotten_" you gents!
The QC35 are out-of-stock on both John Lewis and Amazon right now.  😕
![bose-out-of-stock-john-lewis](https://cloud.githubusercontent.com/assets/194400/21723483/7d6b582a-d428-11e6-95f6-5831377e097f.png)

Given how _many_ sets of these we need to order I've put in a request to Bose for a Bulk Order! 😮
Should hear bac

[2017-01-06 19:14] andrewMacmurray commented on #147
no worries @nelsonic sounds like a much better idea to get them in bulk if you can

[2017-01-06 19:20] shouston3 commented on #147
No worries @nelsonic, thanks for the update

[2017-01-06 20:26] JMurphyWeb commented on #147
Thanks for the update @nelsonic. Too many people ordering Bose before us 😖

[2017-01-07 16:31] RobStallion commented on #147
No problemo. Thanks for the heads up @nelsonic 👍

[2017-01-08 21:57] #121 closed

[2017-01-10 17:59] jackcarlisle commented on #147
![headphones](https://cloud.githubusercontent.com/assets/12450298/21818093/67b24b9a-d75e-11e6-9158-cdbd97ccfcf8.jpg)

# 😎 😎

[2017-01-11 07:40] nelsonic commented on #141
Snapchat is basing its ops in London: In an unusual move for a US tech company, Snapchat is making the UK its international headquarters - Business Insider
https://apple.news/ArWrQPy3sSZ653DPIUQuO6Q

While there are obvious reasons for them to do so (WPP is also based in London, as are *many* ad agencies!) I would love to what *other* reasons they have to base their ops in London when there are *o

[2017-01-11 15:20] Jbarget opened #160 "Environment No. 16"
An issue dedicated to making number 16 a clean, organised environment to work:

- [ ] Coat hooks
- [ ] Dish rack - measurements needed!
- [x] Towel bin (for dirty towels to be washed)
- [ ] Shelves for kitchen area
- [x] Dish sponges
- [x] Sponge cloths
- [ ] Remove broken fridge
- [ ] Lighting https://github.com/dwyl/hq/issues/156

[2017-01-11 17:44] jrans commented on #147
@nelsonic @iteles Thank you so much for what is a very kind offering to all of us! 😊

@/all I've now been at dwyl for a year and have thoroughly enjoyed it. The organisation is full of wonderful, wonderful people doing wonderful wonderful things and I'm very grateful for the opportunities to work with you. @iteles and @nelsonic are some of the kindest people I've ever met (evident from this issue!

[2017-01-11 19:17] nelsonic commented on #156
![40w-ceiling-mounted-led-panel](https://cloud.githubusercontent.com/assets/194400/21862790/9c858056-d832-11e6-8a84-a4c2a21f7bd1.png)

http://www.ebay.co.uk/itm/40W-Ceiling-Suspended-Recessed-LED-Panel-White-Light-Office-Salon-600-x-600-/291757870914

[2017-01-11 21:26] sohilpandya commented on #156
@nelsonic great find! Is this the same as https://youtu.be/lMhG-TC8eh4

Do you think we can fix them ourselves or would we need an electrician for the wiring?

[2017-01-11 22:44] nelsonic commented on #156
@sohilpandya "_we_" have an electrician we trust so that won't be a "_bottleneck_" we just need to decide how _much_ light we want in the space and whether we want it to be _dimmable_.  😉

The most important thing we need do is check our lease/agreement to see if there's anything that forbids us from altering the lighting setup. It's kinda terrible.

also, we need a https://en.wikipedia.org/wiki/L

[2017-01-12 09:45] naazy commented on #156
@nelsonic @sohilpandya Unsure if 2 or 3 of these would be bright enough but I bought one this week and they are SO GREAT. https://www.amazon.co.uk/gp/product/B00SX2FYGM/ref=oh_aui_detailpage_o01_s00?ie=UTF8&psc=1  Can control the lightbulb via your iPhone from anywhere you are in the world (not sure why DWYL would need this but still cool) and you can choose any RGB colour and set a timer so the l

[2017-01-12 22:38] nelsonic opened #161 "CRM (or how we keep in contact with the people who we work with and/or are interested in working with us ...)"
Who has experience with CRM and time to flesh out what our requirements are?

Please see: https://github.com/dwyl/contact

[2017-01-13 10:40] sohilpandya commented on #102
@nelsonic could you please DM me the amazon order ID, Plugable want to send over another cable to us, to see if it was the cable that was causing the issue.

Thanks 👍

[2017-01-13 12:40] nelsonic commented on #102
@sohilpandya Dang...  30hz  is _weak_! 😞
![image](https://cloud.githubusercontent.com/assets/194400/21930334/716f913e-d98d-11e6-84a1-0991f798ccdd.png)

Is that enough for you to make progress...

[2017-01-13 15:01] katbow commented on #147
Two for one!
![img_20170113_145837](https://cloud.githubusercontent.com/assets/1287388/21934376/135aa188-d9a1-11e6-8de3-65252ee395fe.jpg)

[2017-01-13 16:57] sohilpandya commented on #102
So, I am not sure if it was my computer or the screen but this is what I see now. **Magic**
<img width="376" alt="screen shot 2017-01-13 at 16 51 50" src="https://cloud.githubusercontent.com/assets/2305591/21938000/545916c8-d9b1-11e6-80f9-e68e099509b2.png">

🎉

[2017-01-13 17:19] nelsonic commented on #102
@sohilpandya boom is it _smoother_? 😍

[2017-01-14 06:36] nelsonic commented on #147
@jrans so _stoked_ you _told_ us what you wanted `before` [_going on your sabbatical to learn data science..._](https://github.com/dwyl/dwyl.github.io/issues/180)
Picked up your **Bose® SoundSport™ Pulse** yesterday from the store:
![img_3113](https://cloud.githubusercontent.com/assets/194400/21952978/8bd16df4-da23-11e6-8139-8dd7f7641130.JPG)

Along with a few _other_ pairs for people we ❤️  ... 😉

[2017-01-14 06:41] nelsonic commented on #147
"Behind the scenes" of @jrans & @sohilpandya's headphone review video...
![img_3122](https://cloud.githubusercontent.com/assets/194400/21952996/0f1bdffa-da24-11e6-86d9-362376342e7f.JPG)

When "_a **picture** is **worth** a **thousand words**_:
![img_3128](https://cloud.githubusercontent.com/assets/194400/21953000/2ff3934e-da24-11e6-97a0-6037b51426c4.JPG)

Hope you all have a _fantastic_ weekend! ❤

[2017-01-14 10:46] naazy opened #162 "Go Mammoth Dodgeball on Wednesdays in Shoreditch"
Me @nelsonic @sohilpandya @Jbarget @roryc89 @Conorc1000 have all expressed an interest in joining a recreational dodgeball 🏀  league for fun. Is anyone else interested?

**Deets:**
- £70 for 9 x 2 hour slots in Shoreditch so v reasonable at £7.80 a pop!
- Starts 25 Jan. The game is every Wednesday sometime between 7 and 9pm
- http://www.gomammoth.co.uk/dodgeball/shoreditch/?leagueid=1010

I _imagi

[2017-01-14 12:23] sohilpandya commented on #147
So @nelsonic @jackcarlisle @shouston3 @katbow @andrew @RobStallion @JMurphyWeb

Would it be possible to borrow the headphones for a little while on Monday at 1pm? (want to do something in a video... 🙏)

[2017-01-14 12:24] sohilpandya commented on #102
4k Movie Night every Friday from now on! 😆

[2017-01-14 12:28] sohilpandya commented on #156
@naazy that does look good! I might get one for myself to test it out! 👍 😊

@nelsonic agreed, need to check the agreement, still keeping an eye out for alternatives in the mean time. 😄

[2017-01-14 13:14] katbow commented on #147
You bet @sohilpandya

[2017-01-14 14:51] JMurphyWeb commented on #162
I am keen to get my long limbs involved - count me in.  I could only make it 3 times before Israel mind.

[2017-01-14 18:58] nelsonic commented on #162
@naazy do you think we can get enough people together for a Team...? 😮  🤔
_Fairly certain_ @markwilliamfirth will be interested too... 😜

[2017-01-14 18:59] nelsonic commented on #102
@sohilpandya are you _organising_ it...? 😍  📆  🚀

[2017-01-14 22:52] iteles opened #163 "Give the readme a little love"
It's looking bare right now!

<img width="917" alt="screen shot 2017-01-14 at 22 52 01" src="https://cloud.githubusercontent.com/assets/4185328/21958696/1f4757dc-daac-11e6-8900-6f6e0dae8577.png">

[2017-01-15 17:13] anweshknayak opened #165 "Progress?"
Who all are developing ? can I help ?
Tech Stack ?

[2017-01-15 17:23] nelsonic commented on #165
@anweshknayak thanks for opening an issue to ask a question & welcome to DWYL!
(_if you don't mind us asking: how did you find us_?)

Our _current_ tech stack is: https://github.com/dwyl/technology-stack
But we are in the _process_ of moving to `elm-lang` for the front-end: https://github.com/dwyl/learn-elm

You can _certainly_ help!
Question is: what do you _want_ to help with?

[2017-01-15 17:29] anweshknayak commented on #165
Found somewhere in reddit.com. I am familiar with JS/Python. Can try my hands on anything related to web-development side.

[2017-01-15 18:24] nelsonic commented on #165
@anweshknayak _sweet_. 🍭
Redit. wow. I'd _love_ to read the post where dwyl was mentioned. (_please share if you remember it_)

Ok, if you feel confident with JS Promises knowledge you could take a look at this PR: https://github.com/dwyl/aws-sdk-mock/pull/63
Essentially we need to _confirm_ that it conforms to Promises spec: https://promisesaplus.com
so that we can merge the PR.

***or*** if you

[2017-01-15 21:15] jrans commented on #147
@nelsonic @iteles Really enjoying my headphones! Thank you so much, they are perfect. Waiting to go for a run with them and well post a post workout selfie! Looking forward to seeing the unboxing video @sohilpandya

[2017-01-15 21:46] nelsonic commented on #163
Yeah, it's about time... 😉

[2017-01-16 11:49] iteles opened #166 "Dehumidifier - which one to buy?"
I've found that there is *loads* of humidity at dwyl hq this winter and it's curling the pages of any books we leave out!

We need a
+ Low energy consumption dehumidifier
+ Preferably one that *doesn't* chuck out cold air (i.e. Doesn't make the rooms colder)
+ Possibly more than one as there are at least 2 distinct rooms where this is a problem
+ Big enough deposit that it doesn't need to be empti

[2017-01-16 15:25] nelsonic opened #167 "The Post JavaScript Apocalypse with Douglas Crockford (TONIGHT @SkillsMatter) ?"
Some people on Gitter mentioned this:
https://skillsmatter.com/meetups/8363-fullstack-nights-january

It's tonight at Skills Matter | CodeNode, 10 South Place, London, EC2M 7EB
[map](https://citymapper.com/trip/signature?signature=eJyFkl1PwjAUhv9K01sBe%2FqxdlxiSDTiR0RjDDGkWRuyACvpOr1Y%2BO%2B2GxDwQnfVnr593z7nrMWF9niMmKR8gLBpvA6lq2IFJM9jxVYmblpcOOdNHZdYwEiAEhkbDMmIqIxygaOw0lubjqc39AHJ6QTvY3FjV%2BnOo

[2017-01-16 17:07] Jbarget commented on #160
@iteles options for coat hooks

cheapest: https://www.amazon.co.uk/OGORI-Hooks-Stainless-Clothes-Hanger/dp/B01DBI22VC/ref=sr_1_3?ie=UTF8&qid=1484586317&sr=8-3&keywords=coat+hooks

alternative: https://www.amazon.co.uk/Headbourne-Azhr0644-6-Heavy-Chrome-Wooden/dp/B00BWS3ZEC/ref=sr_1_50?ie=UTF8&qid=1484586360&sr=8-50&keywords=coat+hooks

[2017-01-16 17:08] Jbarget commented on #160
I think we can arrange for tower hamlets to pick up the broken fridge (might be for residential only):

http://www.towerhamlets.gov.uk/lgnl/environment_and_planning/recycling_and_waste/recycling_and_waste_at_home/large_items.aspx

[2017-01-16 17:10] Jbarget commented on #166
@iteles @nelsonic is this for unit 16 or the flat?

[2017-01-16 17:23] iteles commented on #166
@Jbarget The flat!

The heater #122 seems to be doing the trick for the office as far as I can see?

[2017-01-16 17:33] iteles commented on #160
@Jbarget We *are* residential at hq ;)

On the coat hooks, is anyone going to Ikea soon? I'm quite partial to these because they actually have the *space* to hang winter coats without everything falling off the hooks every time someone adds a new one (also, a little more breathing room in case it's been raining)...
http://www.ikea.com/gb/en/products/small-storage-organisers/hooks-hangers/blecka-ho

[2017-01-16 19:19] carolrmc commented on #166
Hi Inês,

When we moved to Junqueiro we bought a Bionaire. It has a 5 litre capacity
and works day and night. It has been very good.
It keeps the whole flat dry!

hugs
c

On Mon, Jan 16, 2017 at 5:23 PM, Ines Teles <notifications@github.com>
wrote:

[2017-01-16 19:22] iteles commented on #166
Thanks @carolrmc, super useful to know!
Big hugs :heart:

[2017-01-16 22:44] nelsonic opened #168 "What is our Culture ? (Hofstede's cultural dimensions theory)"
https://en.wikipedia.org/wiki/Hofstede's_cultural_dimensions_theory
https://youtu.be/_BoQlz0zZc4

What can we _do_ to:

1. ***Eliminate*** (_or Minimise_) "**Power Distance**" by sharing responsibility/authority.
2. Encourage **Collectivism** (_avoid Individualism where people hoard knowledge instead of sharing_!)
3. ***Avoid Uncertainty*** about the future by sharing our goals/plans and estimatin

[2017-01-17 08:14] nelsonic opened #169 "Deep Work by Cal Newport (Summary Video)"
https://youtu.be/KX_2a_jsGYw

[2017-01-17 08:35] Jbarget commented on #160
sounds good but im not heading to ikea any time soon. Would you go to Ikea for these?

[2017-01-17 15:20] naazy commented on #162
@nelsonic We need 5 more people for a team. Anyone...? @dwyl/ateam

[2017-01-17 15:38] tonydaly commented on #162
hell yiiiiis

[2017-01-17 16:54] nelsonic commented on #167
Went. Was good.
![tokimeku](https://cloud.githubusercontent.com/assets/194400/22030263/fd876bd4-dcd4-11e6-8867-3375d4a0d421.JPG)

![douglas-crocford-remove-impurities](https://cloud.githubusercontent.com/assets/194400/22030278/07d543a4-dcd5-11e6-921a-506eaf3d1dca.JPG)

![douglas-crockford-be-careful-out-there](https://cloud.githubusercontent.com/assets/194400/22030328/317f7490-dcd5-11e6-90f3-fcdc4

[2017-01-17 16:54] #167 closed

[2017-01-17 18:27] heron2014 commented on #162
This is hilarious! I might be up for that!! :)

[2017-01-17 20:34] Conorc1000 commented on #162
Yes, im so up for this!

[2017-01-18 10:34] sohilpandya commented on #138
@nelsonic might be time to do this. 😄

[2017-01-18 10:43] sohilpandya commented on #147
@jrans Hope you enjoy this -> https://www.youtube.com/watch?v=Q5umOPP7f2Y

@/all it was an impromptu unboxing but we loved it! ❤️ Jack is amazing!

[2017-01-18 12:26] sohilpandya opened #170 "License for InVision"
Hi @nelsonic,

Just had a chat with @harrygfox and he is only able to have 3 projects with the minimum paid [account](https://www.invisionapp.com/plans) that he has, Would it be better to have a DWYL account for it.

[2017-01-18 12:29] harrygfox commented on #170
CUL is taking 3 projects, SL has 1, OA has 2 etc.

[2017-01-18 14:57] mk4111 commented on #167
Sad I missed this....!

[2017-01-18 21:51] jrans commented on #147
@sohilpandya Nice editing! @nelsonic Does this count as review/pic of me wearing? hehe Still need to go for a run though!

[2017-01-18 23:18] iteles commented on #147
❤️ this was so great @jrans @sohilpandya, I loved it! I think my favourite parts were 'Apple Airpods' flashing on the screen and the head bopping 😆 💃 😎

Lighting works surprisingly well too!

[2017-01-19 13:36] nelsonic commented on #167
@mk4111 we're sad you couldn't make it. don't worry tho, you didn't miss much.
alls I can say is: https://github.com/dwyl/learn-elm "DC" mentioned Elm 4 times in his talk. 😉

[2017-01-19 16:56] nelsonic commented on #170
@sohilpandya great question. ❓
![image](https://cloud.githubusercontent.com/assets/194400/22116237/c84e0c18-de67-11e6-9c1e-4e1a4c39cd8e.png)
Do we need the "_Professional_" or "_Team_" plan...? 🤔
And... can we have a _demo_ video of _how_ @harrygfox _uses_ InvisionApp to accomplish his work? 🎥

[2017-01-19 18:24] harrygfox commented on #170
@nelsonic I've bought a Professional account for myself now so I can support all concurrent projects there

[2017-01-19 19:31] iteles commented on #131
I would also like to make sure that all of this is as sustainable as possible.
Every developer has a pile of branded *swag* that they don't use, so the first step is to know what dwylers actually want and most importantly will *use* so that it doesn't end up in landfill.

So @dwyl/ateam, what would *you* use/need?

[2017-01-19 20:50] Jbarget commented on #131
What I would use:
- Glass water bottle
- T-shirt
- Business Cards (would be nice to let the employee customise these somehow, colour? emoji? pattern? )
- Headphones
- Notebook
- Hoodie

Looking at that list all of them are in the 'nice to have' section as opposed to need.

[2017-01-19 23:05] vdeturckheim commented on #131
The small thing that can make a difference: a short letter from someone who will be your manager (or at least help you on your first days/weeks) with an intro and a strong welcome. Meaning, "you already have a friend here."

[2017-01-19 23:53] iteles opened #171 "dwyl podcast!"
In line with our `open source` mentality, we should also talk about our journey in audio/video form!

[2017-01-19 23:56] iteles opened #172 "Stated aims for 2017"
Our main aims for 2017 are:
+ [ ] Continue to delight our *existing* clients
+ [ ] Focus a sizeable portion of our resources on developing internal applications that will help us become more effective as an organisation (**open source*** of course)

Keeping it simple and focused.

[2017-01-19 23:59] nelsonic opened #173 "How do you measure leadership?"
https://blog.ycombinator.com/how-do-you-measure-leadership/

[2017-01-20 00:20] iteles commented on #90
@nelsonic Do you have *time* to listen to books on audible? Or is this more of a 'when we have [`time`](http://www.github.com/dwyl/time) thing?

[2017-01-20 00:40] stevepeak commented on #131
I would love to learn what your team chooses here. [Codecov](https://codecov.io) would like to offer similar welcome packages to employees and customers. @nelsonic 😉

[2017-01-20 07:07] nelsonic commented on #90
@iteles not only do we _have_ time, we need to _make_ more time.
All the podcasts where authors are interviewed and you hear _about_ their book are nice,
but the _actual_ content is _in_ the book not _promoting_ it.
The only reason I've not listened to _moar_ Audiobooks in my time is because I didn't have more.
e.g: I listened to (_practically memorised_) https://www.amazon.co.uk/Mars-Women-Venus-

[2017-01-20 08:47] nelsonic commented on #137
@iteles so ...
can we do this _now_ that it won't be _confused_ for a "Christmas" Present...?
thinking https://www.amazon.co.uk/s/?keywords=organic+baby+hamper for that _special someone_ who is _expecting_  ... or is it _better_ to only send a baby hamper once we receive the arrival _news_...?
Either way there are a _few_ people I want to thank with "_nice things_" and want to _prioritise_ it!

[2017-01-20 08:56] iteles commented on #131
@stevepeak :laughing: Very subtle!

[2017-01-20 08:59] iteles commented on #137
Hampers are definitely post-baby gifts 🎁
Let's catch up on this tonight.

[2017-01-20 09:56] naazy commented on #162
@thegsi is also keen!

[2017-01-20 10:00] naazy commented on #162
I believe we still have some 'maybes'!

@JMurphyWeb @Jbarget @tonydaly @heron2014 @nelsonic @roryc89 @Conorc1000 @sohilpandya @thegsi Please can everyone 100% interested confirm by saying 'HELLS YEAH' so we can figure out if we defo have enough people for a team!

Thanks

[2017-01-20 11:39] harrygfox commented on #131
- usb charging cables (multiple ends? micro usb, iphone etc) - _little essentials (that I often seem to burn through)_
- [timer for breaks, pomodoros, huddles, standups etc](https://www.amazon.co.uk/Atdoshop-Tomatoes-minutes-mechanical-Kitchen/dp/B00S0W2ZNU/ref=sr_1_2?s=kitchen&ie=UTF8&qid=1484912103&sr=1-2&keywords=pomodoro)

[2017-01-20 11:50] SimonLab commented on #131
- a red hoodie
- haskell,  elixir,  phoenix,  elm... functional stuff books
- a second **red** hoodie

[2017-01-20 11:53] Jbarget commented on #162
YAY
Im keen, I can only make:

25th Jan
1st Feb
8th Feb
15th Feb

[2017-01-20 11:54] naazy commented on #162
@Jbarget I think you still have to sign up for the whole 9/10 weeks so would still be like £70 or so. Dat cool? Or maybe you could go halvsies with someone who could take the last 5-6 weeeks?

[2017-01-20 11:58] harrygfox commented on #147
@iteles @nelsonic please may I has [these Plantonics headphones?](https://www.amazon.co.uk/Plantronics-Backbeat-Wireless-Cancelling-Headphones/dp/B00MYYFAOQ/ref=sr_1_2?s=electronics-accessories&ie=UTF8&qid=1484912860&sr=1-2&keywords=bluetooth+headphones) the reviews are pretty amazing!

[2017-01-20 12:03] harrygfox commented on #162
Hey @naazy I want to do please please sign me up please and I promise I'll pay

[2017-01-20 12:13] Jbarget commented on #162
ah just realised i cant do wednesdays :( - im a NAY :(

[2017-01-20 12:53] harrygfox commented on #162
@naazy Gimme Barget's spot!

[2017-01-20 12:54] naazy commented on #162
Done @harrygfox !

[2017-01-20 13:02] JMurphyWeb commented on #162
Yay but Nay after 20th Feb

[2017-01-20 13:04] Conorc1000 commented on #162
Yay from me.

[2017-01-20 13:08] heron2014 commented on #162
I can't do this Wednesday but the rest of the dates are fine!

[2017-01-20 14:33] nelsonic commented on #147
❤️  U _Fantastic_ Mr. @harrygfox ✨
You are one of the people who deserves _most_ "_credit_" for DWYL's _success_!! 🦄
You have been _instrumental_ in making _so many_ project _beautiful_ and _intuitive_! Thank You! 😍

Note: **Plantronics Backbeat Pro** were _Unavailable_ on John Lewis:
![Plantronics Backbeat Pro unavailable on John Lewis](https://cloud.githubusercontent.com/assets/194400/22152766/4

[2017-01-20 14:39] nelsonic commented on #162
I can't do the first few, but I would ❤️  to be a part of the team once back at 100% functionality...
meanwhile does everyone have a DWYL T-Shirt... 😜

[2017-01-20 15:07] naazy commented on #162
Ok so maybe @nelsonic and @JMurphyWeb could partner up and do @nelsonic could take over from Jack after 20th Feb?

[2017-01-20 15:16] roryc89 commented on #162
I'm there! :)

[2017-01-20 17:03] naazy commented on #162
@thegsi is a NAY :cry:

[2017-01-20 18:52] carolrmc commented on #131
Vladimir de Turckheim has the right idea here, but it doesn't need to be a
manager. A contact person who can welcome them tbefore they start and be a
'buddy' once they're at Palmer Street.

On Fri, Jan 20, 2017 at 11:50 AM, Simon <notifications@github.com> wrote:

[2017-01-20 20:23] sohilpandya commented on #162
I'm in! 🎉 I have a reasonable arm so that'll help. 😉

[2017-01-22 11:18] tonydaly commented on #162
@naazy I'm in

[2017-01-22 11:37] naazy commented on #162
OK KIDS! Thanks for confirming: I believe the team is:

@JMurphyWeb / @nelsonic (Jack to do the first 3 and Nelson to do the next 6?)
@tonydaly
@heron2014
@roryc89
@Conorc1000
@sohilpandya
@harrygfox
meee
(plus 1 👨 💘 )

so that's 9 full-time people. Go Mammoth recommend teams of 9 but I believe it's 8 people playing at once so there may be subs on and off sometimes but also I imagine there will be

[2017-01-22 13:23] markwilliamfirth commented on #162
@naazy is it too late for me to join in?

[2017-01-22 14:08] naazy commented on #162
@markwilliamfirth ahh ok so basically go mammoth says 9 or 10 people on a squad for only 8 people play at once so we could make it work I'm sure, assuming the odd person will miss the game every once in a while and we can do some subbing on days when everyone turns up! You'd be the 10th person @markwilliamfirth - thoughts? Let me know so I can recalculate what people owe if so 😄

[2017-01-22 14:14] markwilliamfirth commented on #162
Yeah I'm definitely up for it! Count me in :)

To ease the whole payment situation Cashew is quite useful (https://getcashew.com/) - makes payments so much easier. Also if you use my referral code (MARKF) you get £1 for free!  😄

[2017-01-22 14:19] naazy commented on #162
Perfect thanks for letting me know @markwilliamfirth - will check out cashew next time also! Looks great. I've updated the list of money per person and I'll gitter you my deets now. Also @tonydaly I owe you a wee refund!

[2017-01-22 15:23] markwilliamfirth commented on #131
I think the most important thing isn't the merchandise etc but the employee's new manager having an onboarding plan for the new employee. It doesn't set a good starting tone when a new employee starts and the new manager is ill-prepared or doesn't have a plan for the first week.

It's all about making the new starter **feel** like they are in safe hands and they are going to have the correct onboa

[2017-01-22 21:56] JMurphyWeb commented on #162
Thanks for organising Naaz! Will pay tomorrow.

[2017-01-22 22:02] nelsonic commented on #162
@JMurphyWeb let me know how much I owe for my portion. 💸  (_please/thanks_!) ❤️

[2017-01-22 23:21] nelsonic opened #174 "Why did Google abandon 20% time for innovation?"
http://www.hrzone.com/lead/culture/why-did-google-abandon-20-time-for-innovation

[2017-01-23 08:58] nelsonic opened #175 "In Case of Fire: git commit, git push, then leave the building! (Wall Sign)"
![image](https://cloud.githubusercontent.com/assets/194400/22197464/07d7a80a-e14a-11e6-87bb-ec408edbba5e.png)

Super large version: http://abload.de/img/in_case_of_fireirrtb.jpg

We should print this off and put it on the wall @DWYL HQ.

What _other_ posters should we have up? 🤔

[2017-01-23 09:03] nelsonic commented on #131
@markwilliamfirth totally _agree_! how people _feel_ is _way_ more important than any swag ...
did you see: https://github.com/dwyl/start-here/issues/106 we need an _amazing_ "_onboarding_" process. 🦄 🌈 😂 ❤️ ✅ 🎉

[2017-01-23 09:14] naazy commented on #162
@nelsonic probably easier to just transfer me directly (see gitter dodgeball group for deets) and @JMurphyWeb can send the remainder. Thanks all!

[2017-01-23 09:53] nelsonic commented on #131
@SimonLab please _list_ all the books we need to order and we will get them ordered today. thanks!

[2017-01-23 11:34] iteles commented on #131
@markwilliamfirth That's definitely a given before we move onto this!

[2017-01-23 12:08] naazy commented on #90
@nelsonic I've got the Hari book on my audible and I'm allowed to share books for free (and you can accept it for free too if it's the first book you're accepting from someone). Texting it to you now! Enjoy!

[2017-01-23 16:27] SimonLab commented on #131
@nelsonic I have a few books in mind but I think you might already have them so could we instead have a library system where dwyl people could see which books are available (or recommended or interesting read) to borrow instead? If the books are already borrowed we can then buy more copies?

[2017-01-23 17:33] JMurphyWeb commented on #162
have payed @naazy

[2017-01-23 17:34] nelsonic commented on #131
@SimonLab yes!! 😍

[2017-01-23 22:43] katpas commented on #131
@nelsonic @iteles @markwilliamfirth if only there was a tool in prototype form aiming to help you handle that process 😁

[2017-01-24 08:39] iteles opened #176 "Having our (unsigned, non-personal) contracts freely available on GitHub"
We have already set a precendent of having our [contracts on GitHub in 2015](https://github.com/dwyl/summer/tree/master/freelance-agreements).

From where I stand, the advantages of this are:
+ Complete transparency
+ Tracking of changes made over the years
+ Pushes us to explain and account for the various clauses in the contract

This would just be the main body of the contract with all of the p

[2017-01-24 08:40] iteles commented on #176
@markwilliamfirth I know you had some reservations about doing this, particularly around possible misinterpretations and lengthy discussions without resolution on points as well as potential dwylers being worried unduly by unfounded concerns of people (trolls) in the open source community who don't understand our way of doing things. Would you like to elaborate?

[2017-01-24 09:53] naazy commented on #162
@JMurphyWeb @nelsonic @tonydaly @heron2014 @roryc89 @Conorc1000 @sohilpandya @harrygfox @markwilliamfirth

We're all signed up and have received some more info:

The rules: http://www.gomammoth.co.uk/dodgeball/articles/dodgeball-rules-guide/

There are 15 x 2-3min games per fixture and our game tomorrow is 8-9pm. (I thought we played everyday 7-9pm but I think we actually either play 7-8pm or 8-9p

[2017-01-24 10:43] nelsonic commented on #145
Which of the things in this list:
https://www.linkedin.com/pulse/14-simple-expectations-great-employees-have-boss-bernard-marr
do people feel are the most important? (_thanks_!)

[2017-01-24 11:04] SimonLab commented on #145
My top 3:
- 6. Provide strong leadership and a clear vision - Having a main goal influence also the way to work: what skills/tools I need to learn to achieve the goal
- 3. Provide feedback, mentorship, and training - I think we already have some good feedback and our process to develop projects with github is quiet good already, can we make it better?
- 5. Create a safe space for failure - Without

[2017-01-24 14:38] harrygfox commented on #145
For me:
- 1.  Be consistent with meaningful communication.
- 11. Put People first
- 6. Provide strong leadership and a clear vision

[2017-01-25 13:06] naazy commented on #162
7.45pm at Haggerston School
Weymouth Terrace
E2 8LS

[2017-01-26 09:30] JMurphyWeb commented on #162
So much fun! Hope we are not in too much pain this morning 😃

[2017-01-26 12:51] iteles commented on #162
Best team in the world :heart:

https://twitter.com/dwylhq/status/824401092977033220
<img width="648" alt="screen shot 2017-01-26 at 12 50 25" src="https://cloud.githubusercontent.com/assets/4185328/22331947/145181c2-e3c6-11e6-8f4f-8bdb20998bd6.png">

[2017-01-26 15:28] nelsonic commented on #120
ping @iteles 🔔
did you manage to setup apple watch unlock? 🤔

[2017-01-26 18:38] nelsonic opened #177 "New Laptop ?"
# Why?

I **need a laptop** to get my work done 💻
**so that** I can **succeed** in my quest to find the **meaning of life** and fulfil my **destiny**. ❤️  ✅

# What?

Some people don't _have_ a laptop.
Others _prefer_ to have a different device for work and personal use.
What ever the reason, we need to make _a_ device ***available*** to people joining DWYL.

## Do Developers _Need_ Mac Laptops?

[2017-01-26 23:38] iteles opened #178 "Where should we be based as a *company*?"
In light of Brexit and our aims of being a [remote-first](https://github.com/dwyl/remote) organisation, where does it make sense to base our company?

[2017-01-27 02:28] iteles opened #179 "2017 London base"
As mentioned in #178, we are planning to be a [remote-first](https://github.com/dwyl/remote) organisation, but in 2016 we will still need to have a London base of operations.

We could stay where we currently are on Palmers Road, but we should have a look around and see what else is available.

Step 1: Determine our requirements.
Step 2: Research.

Does anyone have thoughts on what you would like

[2017-01-27 02:31] iteles opened #180 "Should we stay at no. 16 Palmers Road in 2017?"
Our current London office is in the co-working space at 16 Palmers Road.

After we have determined our *requirements* for a London space in #179, we will need to determine whether staying where we are is our best option.

@sofer Can you please confirm how much the rent + rates + winter bills (electricity, water, cleaner and internet) are for the *whole* of no. 16 so that we know how much we would

[2017-01-27 02:37] nelsonic commented on #179
2016? (_long day_?) 😉

[2017-01-27 02:39] nelsonic commented on #180
@iteles re-writing _history_ isn't an `<option>` (_unless there's a time machine U forgot to mention..._) 😉

[2017-01-27 13:11] sofer commented on #180
|Description|Monthly|
|----|----:|
|Total cost of lease with Founder London|£3,900|
|Total paid in rent by FAC for No.14|£2,200|
|Rates (16)| £300 (approx)|
|Other expenses (16)| £100 (approx)|
|Total costs of No.16| £2,100 (approx)|
|Total rental income in January|  £2,500|
|Total rental income from mid-Feb| £960|
|Impending shortfall| £1,200 (approx)|

[2017-01-27 19:38] iteles commented on #180
@nelsonic oooooooooooh, it took me a while to realise what you were talking about 😆

@sofer Thanks!

[2017-01-27 21:46] shouston3 opened #181 "Healing rsi pains"
For those suffering from any joint pains, I feel your pain (as of the last couple of weeks).

I have only just made a start on improving the ergonomics of my workspace, but would love to hear more about how others have optimised the comfort of their working environment.

For those who are looking to put a stop those sore hands and wrists at the end of the working day, the following is the action I

[2017-01-27 21:47] iteles opened #182 "Providing feedback to developers - what and how?"
There is a general consensus that receiving feedback is important for morale and development as well as [increasing self-awareness] which in turn *should* improve a person's character/actions.

Currently the means of feedback to developers in dwyl are:
+ Code reviews on pull requested code
+ Sprint retrospectives (for client projects)

We need to implement more consistent ways of providing constru

[2017-01-27 21:54] iteles opened #183 "Anonymous feedback mechanism - research and requirements"
Linked to #182

Once the decisions around what type of feedback is valuable and who that feedback should be from have been made, we will need to determine how to collect that feedback.

There are a few feedback tools on the market, does anyone know of any good ones? Could you tell us specifically what is good about them?

We could whip one up ourselves pretty quickly but it would be advantageous t

[2017-01-27 21:56] iteles commented on #181
@shouston3 Thank you so much for sharing these tips! 😍
I've seen this crop up with quite a few people in the last few weeks (and I had the same myself a couple of years ago), so it's so good to see that each person won't have to re-invent the wheel with this.

We should find a more prominent home for this content soon too ✨

[2017-01-28 19:10] nelsonic opened #184 "Listen to "evolving with your company""
![img_3500](https://cloud.githubusercontent.com/assets/194400/22399085/622cce7e-e58d-11e6-9ad5-b815027d8b16.PNG)
http://ecorner.stanford.edu/podcasts/4860/Evolving-With-Your-Company

[2017-01-28 23:42] iteles opened #185 "Automating and creating routines around tasks"
There are many small tasks that we do all the time @dwyl that *need* to be done but are [`chores`](https://github.com/dwyl/labels/issues/37) for many reasons. Either they're repetitive or administrative or feel like they aren't moving things forward even though they take up time.

This applies to both code and [business activities](https://github.com/dwyl/va-tasks).

A good example of this is our

[2017-01-28 23:47] iteles opened #186 "How do we keep the office clean?"
There are lots of people coming and going from the dwyl office, we need to set the standard of cleanliness.

I suggest:
1. Start with excellent lighting (https://github.com/dwyl/hq/issues/156)
1. Establish the rules for how we want the space to look/feel and what a respectful team does
1. Mega tidy up to set the scene
1. Create list for the weekly cleaner so that there is no doubt what needs to be

[2017-01-28 23:55] iteles opened #187 "Work out required contribution to overheads to make dwyl client services sustainable long term"
For the last year, whilst we have been working to continuously build up both the skills of the majority of the dwyl team through continued practice, guidance and exposure on our client projects as well as our reputation, we have kept our contributions to overheads incredibly low. Far lower than any other 'agency' on the market.

This means we have relied heavily on our more experienced developers

[2017-01-29 00:05] iteles commented on #187
Big 👍 on the title, that is a lot clearer.

[2017-01-29 15:30] g-sam commented on #181
My two cents:
– get Dragon for Mac. It's amazing.
– I found a vertical keyboard mounting most comfortable. The best way to achieve this is with the ErgoDox. Get the lightest keyswitches and take a look at [my key map](https://github.com/qmk/qmk_firmware/tree/master/keyboards/ergodox/keymaps/galson)!
– In terms of exercises I do the following every hour: rotate shoulders fifteen times both directio

[2017-01-29 21:14] sohilpandya commented on #156
@nelsonic @iteles what's the latest on this? worth us looking into getting floor lamps - http://www.officedepot.com/a/browse/floor-lamps/N=5+531470/

Or investigate the costs for getting the the lights mentioned by @nelsonic above?

[2017-01-29 21:21] sohilpandya commented on #177
@nelsonic we've had a lot of people go through F&C on chromebooks! They are awesome little devices. 😍

Although there is a bit of tinkering required to get linux up and running on one of these. Have you ever tried https://c9.io can we recommend that people keep with chromeOS and use a cloud based IDE?

[2017-01-29 21:23] sohilpandya commented on #145
1. Be consistent with meaningful communication.
11.  Put people first
14. Be dedicated and balanced

For me. 😄

[2017-01-29 21:26] sohilpandya commented on #131
❤️ the idea of glass water bottle, notebook, T-shirts & hoodie! 😉

[2017-01-29 21:27] sohilpandya commented on #170
Closing as it's resolved for now. 👍

[2017-01-29 21:27] #170 closed

[2017-01-29 21:37] stevepeak commented on #131
@iteles just for you 👍 😃 hehe

1. Branded Macbook lint cloth for the keyboard :neckbeard:
2. USB-C to USB (I just got one from Readme.io in the mail, pretty cool!) 🔌
3. A stuffed animal that doubled as a screen cleaner 🐒
4. Branded  [The Tile App](https://www.thetileapp.com/en-us/corporate-promotions) 🔲

[2017-01-29 22:18] sohilpandya opened #188 "DWYL Internal Workshops"
After working with some talented people on the **City** project, @iteles and I discussed having internal workshops. I feel there is still so much knowledge that is held by individual teams within DWYL, ideally we would like all of this to be available online for everyone, but having workshops is a good starting point? (we can always film these and put them online)

**Ideas**
- Harry's workshop on

[2017-01-29 23:50] sofer commented on #177
Acer Chromebook 14. Close to perfection, apparently

http://www.voltron00x.com/?p=1972

[2017-01-30 04:37] nelsonic commented on #177
@sohilpandya yeah, I used C9 a lot when I got my first ChromeBook back in 2012 ...
but went back to a Mac because the "_linux-on-chromebook_" story wasn't great at the time ...
But I get the feeling Chromebooks are _way_ better now in 2016 ...
Considering you can run Android Apps on the Chromebook I _suspect_ they are going to continue to pull ahead of the Windows Alternatives ...
Also, the price

[2017-01-30 04:53] nelsonic commented on #188
Relates to: https://github.com/dwyl/video/issues/17 🤓  🚀

[2017-01-30 04:56] nelsonic commented on #170
@sohilpandya I would follow it up with a _tutorial_... 😉

[2017-01-30 05:03] nelsonic commented on #156
@sohilpandya we need to call an "all DWYLers meeting" soon to discuss future plans ...
this is in keeping with: https://github.com/dwyl/hq/issues/145#issuecomment-274768864 where a _few_ people have mentioned ***communication*** as a high priority! 👍
we have an _open question_ about our London Offices: https://github.com/dwyl/hq/issues/179
which we need to _answer_ before anything `else`.
I am kee

[2017-01-30 12:34] sofer commented on #177
![acer](https://cloud.githubusercontent.com/assets/37059/22423212/654245d0-e6a5-11e6-8654-2eabb7121f35.jpg)

[2017-01-30 12:50] sofer commented on #177
Note: there's no SD slot in the new Acer chromebooks. Also, 2GB is not a lot of memory. I am pretty happy with the one @nelsonic mentions at the top of this issue (despite having to temporarily turn off syncing, because of a rogue extension causing chrome to crash). I just picked up from PC World.

[2017-01-30 20:28] nelsonic commented on #147
@harrygfox did the Plantronics arrive ok? have you tried them out? 🤔

[2017-01-30 23:58] nelsonic opened #189 ""Exit Strategy" ...?"
# What is DWYL's "_Exit Strategy_" ?

Today we were _asked_ what our "***exit strategy***" is for DWYL ...
This is not the _first_ time this question has been _asked_ ...
(_in fact it's a **common question** among "**Tech Startups**"_)
so _maybe_ we should ***answer*** it somewhere ... so we can link people to it.
@iteles and I have discussed this question _extensively_ but,
we have not _clearly c

[2017-01-31 01:24] nelsonic commented on #189
@iteles I'm thinking of _fleshing_ this out into a "post". where should it go? on my own notes or somewhere in DWYL? e.g: https://github.com/dwyl/start-here ?

[2017-01-31 11:12] harrygfox commented on #147
@nelsonic
Firstly **THANK YOU SO MUCH!**
here's me using them:
![img_1919](https://cloud.githubusercontent.com/assets/7805691/22462370/edf504b2-e7a4-11e6-8b62-7af57f82e7f5.JPG)

Overall I think they are brilliant. Sound quality and noise cancelling is fab, perhaps not as absolute as the QC's that are floating around but minutely different. Music sounds very clear even at low levels.
The features o

[2017-01-31 11:22] iteles commented on #147
@harrygfox :tada:

@markwilliamfirth Is looking into some stickers that might work better for the headphones as our hexes end up a bit too bumpy and weird, we'll get some to you soon!

But mostly, thanks for asking for the stickers 😍

[2017-01-31 12:26] iteles opened #190 "Financials | Dealing with receipts in different currencies"
From dwylsummer, we end up with a lot of receipts in Euros.

How do we deal with these in our self assessments and end of year accounts?

[2017-01-31 12:27] markwilliamfirth opened #191 "Expenses"
We need an efficient method of filing receipts and claiming expenses.

Requirements:
+ [ ] Links with Xero
+ [ ] Export Data (_with any uploaded images/attachments_)

If Expensify:
- [ ] Add to [Google Apps]( https://docs.expensify.com/advanced-admin-controls-domain-control/google-apps-sso)

[2017-01-31 12:29] markwilliamfirth commented on #191
I have heard good feedback about Expensify, so I have signed up with finance+expensify@dwyl.io to test it out

[2017-01-31 12:34] markwilliamfirth commented on #190
Links to #191

[2017-01-31 12:35] markwilliamfirth commented on #190
@iteles did you pay the Euros in cash or was everything paid in card transactions?

[2017-01-31 12:40] nelsonic commented on #191
***Expensify*** looks _good_ for our basic use-case.
_Boggles_ my mind that they need to charge $5/user/month for this
(_when Google charges $5 for calendar, email, docs & drive ..._)
https://use.expensify.com/pricing/
![image](https://cloud.githubusercontent.com/assets/194400/22464963/4f72ad78-e7b1-11e6-8ba9-31c1dc6d7301.png)
@iteles this is _why_ we need to focus on Product.
Beyond the "_integra

[2017-01-31 12:43] markwilliamfirth commented on #191
@nelsonic yes it connects directly with Xero. The $5 investment is likely worth the time if it promises what it says it does

@iteles I've connected it to Xero now and invited you. Maybe try one receipt and see how it works? Or give one to me to try?

[2017-01-31 13:00] markwilliamfirth commented on #191
[Entryless](https://www.entryless.com/) is also a potential solution.

It's free, but takes several days to process receipts, so is not suitable for our immediate use case of filing the receipts by COB 1st February 2017

[2017-01-31 13:03] iteles commented on #190
Mostly cash @markwilliamfirth, we exchanged money in bulk as that's cheaper.

[2017-01-31 15:42] ghost opened #192 "Spending in Foreign Countries"
Links to #190

We need an efficient way of spending in foreign countries. The current process is to convert personal cash into the local currency, spend this and then file the receipts as expenses.

We should investigate interbank rate cards as alternative solutions that may be cheaper and more efficient for company spending and/or filing of expenses.

Below are some starting points to research:

[2017-01-31 15:47] markwilliamfirth commented on #190
The best way to deal with this is to convert the Euros back to Pounds at the rate at which your cash was exchanged when you converted it.

If you don't have this rate, you can use the official rate at the *start* or *end* of the trip. HMRC accepts either.

If you have used your own cash, simply expense the amounts. If you have drawn cash from the company account to exchange then this will need to

[2017-01-31 16:07] markwilliamfirth opened #193 "New Stickers for Wireless Headphones"
We need some new stickers that are suitable for putting on dwyl wireless headphones #147

@iteles where did the previous stickers come from? How much were they? You mentioned the hexagon shape might be an issue - in your opinion, would circular stickers function better?

[2017-01-31 23:26] iteles commented on #192
Assigning this to myself and adding the question label so I can look for this on Thursday after our accounting deadline!

[2017-02-01 12:02] nelsonic commented on #167
@mk4111 the _official_ video of the event: https://skillsmatter.com/skillscasts/8656-fullstack-nights-january you didn't "_miss_" anything. 😉

[2017-02-01 13:20] markwilliamfirth commented on #123
Links to #192 and #125

[2017-02-01 13:36] markwilliamfirth commented on #93
@iteles do we have any lawyers that we currently deal with? Or are you happy for me to find some to acquire advice? Are there any other aims with regards to our IP aside from understanding our rights from using our logo over time? Are you hoping that it gives us certain rights? Are there other company's with similar logos to ours that you know of and do they know about us?

[2017-02-01 13:50] markwilliamfirth commented on #93
Might start with these guys to see if we can get free advice:

IPO Information Centre information@ipo.gov.uk
Telephone: 0300 300 2000
Fax: 01633 817777
Monday to Friday, 9am to 5pm

[2017-02-01 13:52] nelsonic commented on #93
We need to _trademark_ the logo, in addition to the dwyl brand name _before_ anything `else`.
@markwilliamfirth I would _recommend_ speaking to http://www.londonip.co.uk/contact-us _first_
![image](https://cloud.githubusercontent.com/assets/194400/22509309/77c3ee8e-e885-11e6-926f-379e85d350e9.png)

They do a "free" consultation.
Alternatively speak to the peeps at: http://www.bl.uk/business-and-ip

[2017-02-01 13:56] nelsonic opened #194 "Introduction to the Business & IP Centre"
http://www.bl.uk/events/introduction-to-the-business-and-ip-centre-feb-2017
Free Workshop Next Monday (6th Feb) @ 13:00 - 16:00.
Worth attending if you have never been before. 😉

relates to: #93

[2017-02-01 13:57] iteles commented on #93
Notes on what has already been done:
+ Emailed 	clinics@cipa.org.uk in **late April 2015** but their IP clinics were being put on hold
  + Already chased
+ Also tried the clinic at the British Library and got this in return:
<img width="714" alt="screen shot 2017-01-28 at 09 52 09" src="https://cloud.githubusercontent.com/assets/4185328/22509453/fb38a3b8-e885-11e6-8d95-dcdff7228bbf.png">

[2017-02-01 15:01] markwilliamfirth commented on #194
Have joined the event ticket waiting list 👍

[2017-02-01 15:06] markwilliamfirth commented on #93
@nelsonic with regards to your point about registering a trade mark

Can't we trade mark the logo ourselves? Didn't you trademark, "[DWYL](https://www.ipo.gov.uk/tmcase/Results/1/UK00003103535)"?

Would it not be simple for me to do [the same](https://www.gov.uk/how-to-register-a-trade-mark) for the logo?

[2017-02-01 15:24] sohilpandya commented on #135
Setup at HQ:
![img_0102](https://cloud.githubusercontent.com/assets/2305591/22512813/233cca68-e892-11e6-9bf0-93dbf5c2cd00.JPG)

I know **speed** wasn't the main reason for buying this product, but so far its looking good.

**old**
<img width="1920" alt="screen shot 2017-02-01 at 14 59 03" src="https://cloud.githubusercontent.com/assets/2305591/22512922/7c87f264-e892-11e6-9c37-ac8316e6756e.png">

*

[2017-02-01 16:27] markwilliamfirth commented on #93
I phoned London IP but they didn't have any lawyers available to talk to at that time so they said they would call me back.

I phoned the Business and IP Centre and they advised that using the logo without a trade mark gives us no rights, although they also mentioned they're not qualified to give legal advice and that we should seek the advice of a [qualified trade mark attorney](https://www.citma

[2017-02-02 08:40] nelsonic commented on #93
@markwilliamfirth ***yes we can*** trademark the logo ourselves. ✅
let's do that on Monday. 📆  (_after annual returns, etc._)

[2017-02-02 09:55] markwilliamfirth opened #195 "WiFi not working in 16 Palmers Rd"
FOUNDER I Talk Talk network won't connect to the internet

[2017-02-02 10:04] nelsonic commented on #195
@markwilliamfirth thankyou for reporting this, please get the account details from @sofer so we can call talk talk.

[2017-02-02 10:25] markwilliamfirth commented on #195
@nelsonic factory reset the Talk Talk modem and router. He then readjusted the settings - this seemed to fix the issue.

We also called Talk Talk on the business line (0800 083 3003) from the Quietspace phone and they said they would run some tests to double check our network connection wasn't faulty.

The nighthawk router has a known vulnerability, so Nelson has connected the Linksys WRT3200ACM t

[2017-02-02 11:29] nelsonic commented on #195
As @markwilliamfirth says, I ***Factory Reset*** the **TalkTalk Router** which cleared any settings that had been applied by _whoever_ tried to "fix" the network but "broke" it...
![wifi-1](https://cloud.githubusercontent.com/assets/194400/22547669/9fb7d2ba-e93a-11e6-8e1f-7f01a9afb947.png)

![wifi-2](https://cloud.githubusercontent.com/assets/194400/22547672/a28594dc-e93a-11e6-92b1-e0c5e13f9dbc.pn

[2017-02-02 11:30] nelsonic commented on #195
@markwilliamfirth please _close_ the issue once we are satisfied that the Internet/Wifi is working adequately. thanks!

[2017-02-02 11:40] nelsonic commented on #59
@markwilliamfirth we need to update this next week.
@iteles please provide more detail in issue description.
thanks. ❤️

[2017-02-02 11:57] markwilliamfirth commented on #195
@nelsonic I still think there's the question of needing a new router - should I open another issue for that?

[2017-02-02 11:58] nelsonic commented on #195
@markwilliamfirth yeah, you can _link_ the _new_ issue to this one. 🔗
But a new router does not have to be a `Priority-1` issue, it can be lower because the Wifi is _working_ again... 👍

[2017-02-02 12:21] nelsonic commented on #112
@iteles please bring @markwilliamfirth up-to-speed on this _early_ next week
(_once all accounts are prepared_) so we can pick this up ***soon***! thanks!

[2017-02-02 12:26] nelsonic commented on #135
The DWYL **Linksys WRT3200ACM** is _temporarily_ being used for **QuietSpace** Wifi.
relates to: #195

[2017-02-02 14:10] sohilpandya opened #196 "Monitor Stands/desks for No. 16"
Having had a chat with both @Jbarget & @nelsonic, we feel that we need some stands/desks for the monitors in No. 16 as it currently looks a bit bad to hold them on cardboard boxes.

![img_5303](https://cloud.githubusercontent.com/assets/2305591/22552445/e3f02cb4-e950-11e6-927e-0c33ca015925.JPG)

Some of the options:
[Glass Monitor](https://www.amazon.co.uk/VonHaus-Monitor-Warranty-Computers-Laptop

[2017-02-02 14:14] sohilpandya commented on #156
Found this hack at [Ikea hackers](http://www.ikeahackers.net/2015/11/rail-lighting-cheapest-way.html)
<img width="562" alt="screen shot 2017-02-02 at 14 13 46" src="https://cloud.githubusercontent.com/assets/2305591/22552683/e0c81fb4-e951-11e6-8707-d9be94f1f3dd.png">

Looks really interesting

[2017-02-02 14:16] jackcarlisle commented on #196
[wooden stand](https://www.amazon.co.uk/G4RCE-Universal-Computer-Heighten-Notebook/dp/B01MY997IM/ref=sr_1_17?ie=UTF8&qid=1486044867&sr=8-17&keywords=wooden+monitor+stand)
<img width="1653" alt="screen shot 2017-02-02 at 14 15 32" src="https://cloud.githubusercontent.com/assets/12450298/22552763/22c117f4-e952-11e6-91bc-ceebf9d1264d.png">

[2017-02-02 14:24] markwilliamfirth opened #197 "New Router for Quietspace"
Links to #195 and #135

New router required for Quietspace, current router has a security issue.

[2017-02-02 14:28] Jbarget commented on #196
the glass one seems that it would be easily put together/taken down and would stack away neatly too

[2017-02-02 14:38] iteles commented on #197
Unassigning @nelsonic as this won't be a task for him to complete.

@nelsonic If you have one in mind already, let us know 👍

[2017-02-02 14:44] Jbarget commented on #179
@iteles @nelsonic at the basic level im thinking there are 2 options:
These are just the pros and cons that come into my head, please add if you can think of more

## 1. working within a co-working space and hiring desks

### Pros
- usually on a monthly rolling contract so costs of rent are easily adjustable as to how much space is needed
- potential connections through other people working in the

[2017-02-02 14:44] nelsonic commented on #197
LinkSys WRT is the _only_ option for security as it uses Open Source firmware which we can update when a security patch is released. NetGear are widely considered to be "compromised".
see: http://www.pcworld.com/article/3149554/security/an-unpatched-vulnerability-exposes-netgear-routers-to-hacking.html `#SecurityMatters`!! https://github.com/dwyl/learn-security

[2017-02-02 14:49] Jbarget commented on #180
@iteles is the aim to replace the tenants from mid-feb?

If so I can post in a facebook group im part of where there seem to be co working spaces being offered which has a few thousand people in it and is active hourly.

[2017-02-02 14:53] iteles commented on #179
@Jbarget Thanks for this!!

If you have a list of requirements for a DWYL work space in 2017 (you've been so excellent at helping maintain a semblance of order in the one we're in now!), that would also be super useful ❤️

[2017-02-02 14:57] Jbarget opened #198 "Network Security Talk"
With the recent chat about a security vulnerability associated with our router https://github.com/dwyl/hq/issues/188 https://github.com/dwyl/hq/issues/197 and internal workshops/talks https://github.com/dwyl/hq/issues/188

Would @nelsonic be up for giving a talk on network security at some point? I know there are articles posted in https://github.com/dwyl/hq/issues/135 but it would be great to be

[2017-02-02 15:02] Jbarget commented on #179
@iteles can i list a bunch of desirable features of a workspace (i dont really have any requirements)

[2017-02-02 15:05] nelsonic commented on #198
@Jbarget yeah, this would be _useful_ to ***anyone*** who likes the idea of data privacy ... 😉
finding the _time_ tho... also, I would invite someone who knows _way_ more than me to do the talk. 👍

[2017-02-02 15:07] nelsonic commented on #196
@sohilpandya thanks for opening this issue. it's a "_Phase 1.5_" Discussion we need to have mid-feb with @iteles and @markwilliamfirth about QuiteSpace 👍

[2017-02-02 15:17] nelsonic commented on #180
@Jbarget thanks for being _interested_ in this discussion. if you want to help us, let us know when you are _free_ for a tasty meal so we can discuss further. (_don't worry we will post everything on GitHub too, just a few things we need to "bounce ideas" on first... hint_: https://github.com/dwyl/video/issues/13 `#plans`)

[2017-02-02 15:39] Jbarget commented on #180
Sounds like a plan, next week?

[2017-02-02 15:44] Jbarget commented on #198
Yeh understand about the _time_, does anyone spring to mind to invite?

[2017-02-02 15:54] nelsonic commented on #198
@evilpacket would my go-to-guy for network security. (_creator of https://nodesecurity.io/ ..._)
he did a (_remote_) talk for F&C7 in Jan 2016 so we could ask him nicely again... 😉
(_this time on the "Podcast"..._)

[2017-02-02 16:09] iteles commented on #179
@Jbarget That would be perfect :heart:

[2017-02-02 16:11] #190 closed

[2017-02-02 16:12] iteles commented on #180
@Jbarget Lunch on Wednesday?

[2017-02-02 16:31] Jbarget commented on #179
In order:

1. As much natural light as possible
2. Standing desks
3. Monitors
4. Nice furniture
5. Recycling
5. Easy access to electricity
6. Greenery/decorations

All of the above would be superseded by cleanliness.

[2017-02-02 16:32] Jbarget commented on #180
can we do breakfast? ive booked in for lunch with the Premises committe

[2017-02-02 16:55] evilpacket commented on #198
I'd be happy to talk about security or asking one of my team members that can fill the role better depending on topics.

Any thoughts on narrowing the topic down from general network security?

[2017-02-02 16:58] iteles commented on #180
What time were you thinking?

[2017-02-02 17:07] iteles commented on #112
George called me last Friday, will call again in late February and we can start the process for 2016/17 then 👍

[2017-02-02 17:09] markwilliamfirth commented on #93
London IP called me back.

They said we do have some "common law" rights as we have already been trading with our logo. The level to which we can utilise these rights depends entirely on whether we qualify as having carried out **substantial use and advertising**, we're probably borderline in that sense, but it's difficult to assess - if we ever did want to enforce these rights we'd have to make a

[2017-02-02 17:09] Jbarget commented on #198
Amazing! well my original motive for opening the issue was reading https://github.com/dwyl/hq/issues/135 and seeing acronyms, googling them and not knowing understanding how they fit together :)

Thought it might be nice to have a direct case study/context to have behind the topic of a talk

[2017-02-02 17:11] Jbarget commented on #180
9am?

[2017-02-02 17:18] markwilliamfirth commented on #195
WiFi issue solved, new WiFi connection `Quietspace` and password has been created

[2017-02-02 17:18] #195 closed

[2017-02-02 18:38] nelsonic commented on #180
@Jbarget that's do-able. 🕘 🍴
Wanna come to our house and I will make you _delicious_ breakfast from scratch? 😉
(_same offer goes for **anyone** `else` interested in joining us!_)

[2017-02-02 19:41] nelsonic commented on #198
@evilpacket I know you are _insanely_ busy so wouldn't want to give you guys _extra work_...
I think what would be _really_ interesting for all of us would be to _contextualise_ security from a Developer Perspective e.g: what 5-10 things can I do to improve my security "_hygiene_".

For example, I saw a ***young padawan*** insert a random USB device into their laptop the other day and when I menti

[2017-02-02 20:19] nelsonic commented on #179
@Jbarget https://en.wikipedia.org/wiki/Two-factor_theory 😉

[2017-02-03 08:24] markwilliamfirth commented on #112
[GrantTree ](https://granttree.co.uk/) is another company that can do R&D tax credit reports.

You can claim up to two years.

[2017-02-03 10:02] markwilliamfirth commented on #149
I think one metric that might be interesting and/or useful would be **Product Metabolism**. Still looking into it and will update more later, but leaving this here in case anyone has any thoughts on it or other metrics.

[2017-02-03 10:06] markwilliamfirth opened #199 "Separating office from HQ?"
Should we create a new repo for the office (no. 16)?

This means people can post office issues in there (such as WiFi etc). Might be better to separate from hq? Thoughts?

[2017-02-03 11:58] RobStallion commented on #162
I'm a little late to the party but if it's not too late and if there is ever room I would love to join 💪

[2017-02-03 13:02] iteles commented on #199
I think a Quietspace repo would be ace! 👍

[2017-02-03 15:40] nelsonic commented on #199
Go on @markwilliamfirth you _know_ you want to: https://github.com/organizations/dwyl/repositories/new 😉

[2017-02-03 16:59] markwilliamfirth commented on #199
new repo opened

[2017-02-03 16:59] #199 closed

[2017-02-03 17:11] markwilliamfirth commented on #197
**Issue migrated from hq to quietspace**

[2017-02-03 17:11] #197 closed

[2017-02-03 21:53] iteles commented on #196
@sohilpandya Can you please re-create this in https://github.com/dwyl/quietspace?

[2017-02-03 21:58] iteles commented on #160
Moved to https://github.com/dwyl/quietspace/issues/2

[2017-02-03 21:58] #160 closed

[2017-02-03 22:47] nelsonic commented on #196
@sohilpandya can you please _frame_ the question as: "how to de-clutter" the desks downstairs at QS and make them "_clearable_" for our "_clean desk policy_"? 😉

[2017-02-04 22:17] iteles opened #200 "Add 'business case' to our proposals"
As we are increasingly dealing with charitable organisations, whose funds are either earmarked or limited, we find ourselves more and more offering to help them justify their needs for technology expenditure.

Often these needs are obvious but in my recent experience, our technical perspective sheds unexpected new light on things for the organisation (e.g. Understanding the speed with which report

[2017-02-04 22:31] nelsonic commented on #200
@iteles let me know if you want to _pair_ on this some time this week...

[2017-02-06 14:29] iteles opened #201 "Look into working with Digital Mums on social media strategy?"
Providing a part time job for a mother is a wonderful thing and starts to help us be aware of the flexibility we need to build into our system.

Once we've made a good start on _time_ and know where we're going with it, we should seriously consider Digital Mums' brilliant offering: https://digitalmums.com/uploads/Programme-Partner-Brochure-2016.pdf (this was £350 + VAT two years ago when I first s

[2017-02-07 08:02] nelsonic commented on #156
My Desk Lamp at "Home" is a "SAD" light which produces "Full Spectrum" and helps me "wake up" and be productive at "Early'O'Clock" ... Could we install lights that fit the "SAD" criteria?
I've ordered one of these: https://www.amazon.co.uk/d/Light-Therapy/Compact-SAD-Daylight-Lamp-Seasonal-Affective-Disorder/B01IVMNMA8/
![image](https://cloud.githubusercontent.com/assets/194400/22682623/8f629218-e

[2017-02-07 08:10] nelsonic commented on #156
What do we think about _trying_ one of these: http://www.lumie.com/products/brazil
![image](https://cloud.githubusercontent.com/assets/194400/22682805/c9f2af0c-ed0c-11e6-91e7-5c99c4a37fd3.png)

It could be positioned _anywhere_ and controlled by the person/people dependent on lighting needs.

[2017-02-07 10:10] markwilliamfirth opened #202 "Certain Emails not Being Received"
Inês (ines@dwyl.io), is unable to receive emails via the alias finance@dwyl.io from the following email addresses:

sohilpandya@foundersandcoders.com
elias@foundersandcoders.com

However she is able to receive emails from other addresses at the same domain, such as:

dan@foundersandcoders.com

I've sent an email to Google Cloud Support to see if they have insight into the issue

[2017-02-07 10:39] markwilliamfirth commented on #93
@nelsonic what email did you use to register the `DWYL` trade mark?

<img width="836" alt="screen shot 2017-02-07 at 10 38 19" src="https://cloud.githubusercontent.com/assets/5732209/22687838/94ae8144-ed21-11e6-872b-795948d0acfc.png">

[2017-02-07 10:50] markwilliamfirth opened #203 "Using Github Issues as a To Do List"
- [ ] Estimate task length and track productivity in order to know what's been accomplished by the end of the week

I noticed it was possible to view assigned tasks via:
https://github.com/issues/assigned

However, sometimes tasks are assigned, but waiting on certain things to happen first or not high priority. This view doesn't allow you to sort using the priority label.

Is there a way to view t

[2017-02-07 10:56] iteles commented on #93
@markwilliamfirth I used `dwyl smith`.  It's the only one we had back then!

[2017-02-07 11:02] markwilliamfirth opened #204 "Updating Companies House"
- [x] File Company Accounts FY15/16 #92

- [x] Add Mark as a Director (AP01, Board minutes)

- [x] Update share distribution (Cap Table, SH01, SH02, Articles of Association, Board Minutes, Special Resolution) #262

- [x] Discuss existing director status

[2017-02-07 11:52] markwilliamfirth commented on #181
@shouston3 you should blog about this! Let us know if you post anything on your blog and we'll share it, or if you'd like to be featured on the DWYL blog let me know 👍

Links to:
https://github.com/dwyl/content/issues/3

[2017-02-07 11:59] markwilliamfirth opened #205 "Mark to review all issues in HQ"
Part of onboarding

https://github.com/dwyl/hq/issues

[2017-02-07 12:01] otajor commented on #181
Ooooh... 😮

[2017-02-07 12:01] iteles commented on #205
This should be a fun part of creating the New Joiner Handbook (which also needs an issue) 🎉

[2017-02-07 12:07] iteles commented on #204
@markwilliamfirth We do.

[2017-02-07 12:26] iteles commented on #203
@markwilliamfirth You can add `label:priority-1` for example into the search box:
<img width="755" alt="screen shot 2017-02-07 at 12 25 14" src="https://cloud.githubusercontent.com/assets/4185328/22691055/84c4cff4-ed30-11e6-8eab-7eb530422cf7.png">

There is also an `external-dependency` label in this repo, I use it to filter out things I can't do anything about just yet or to check if I need to ch

[2017-02-07 12:34] markwilliamfirth commented on #204
@iteles awesome! 😄  Please send them to me!

[2017-02-07 12:40] markwilliamfirth opened #206 "Google Drive Team Folder"
We need to populate a [Drive folder](https://drive.google.com/drive/folders/0B0XeQ2t5WSK2Tll4Sm0xcm1Pcmc) for the team to utilise

@nelsonic @iteles would you be able to drop in any documents that are relevant and useful for the team?

@iteles could you please contact Joe Tanner to transfer ownership of the Branding & Marketing Folder to us?

[2017-02-07 12:54] markwilliamfirth opened #207 "Email Address Management"
Is there a cheaper way of managing the company's `@dwyl.io` email addresses?

Currently using Google Suite

Alternatives? Zoho?

[2017-02-07 13:00] markwilliamfirth opened #208 "Should we make finance@dwyl.io a user?"
Currently finance@dwyl.io is an alias that forwards to:
ines@dwyl.io
nelson@dwyl.io
mark@dwyl.io

Might it be more beneficial to store all finance-related emails in a finance@dwyl.io user account?

[2017-02-07 13:01] markwilliamfirth opened #209 "Financial Planning and Budgeting Session"
We need a planning session for the new year.

[2017-02-07 13:03] markwilliamfirth opened #210 "Email tasks"
Is there a quick and easy way to transfer tasks in emails to Github issues?

[2017-02-07 13:25] markwilliamfirth opened #211 "Mark's Onboarding"
Complete Mark's onboarding by adding him to any necessary accounts / giving access to files etc

Including:

- [x] Adding Mark to the bank [Blocker: Companies House update #204 ]

- [x] Populating the private dwyl drive folder (including insurance details)

- [x] Projects and DWYL team overview [In progress]

- [x] Add Mark as a DWYL LinkedIn admin

- [x] Add Mark as a DWYL Github organisation own

[2017-02-07 13:26] markwilliamfirth opened #212 "Remove inactive Users from Google Suite"
@iteles to talk to Nikki and Alan Shaw

[2017-02-07 13:35] markwilliamfirth commented on #179
Does anyone have any thoughts on location?

[2017-02-07 13:41] markwilliamfirth opened #213 ""The Future of dwyl" Delicious Dinner on 27th March 2017 @ 16 Palmers Road E2 0SY"
Breakfast / Lunch / Dinner?

We need to set a date for the next meetup and send out invitations

Date decided:
**27th March 2017**

**Total guests so far:** Around 20

Note that Eoin clicked yes, but confirmed he can't attend
I received an email notification saying Marie accepted although this shows declined(?)

**Ines to-do's:**
+ [ ] 2016 in review
+ [ ] Prepare overview of 4 arms
  + [ ] Determ

[2017-02-07 13:49] markwilliamfirth commented on #178
@iteles would you be able to speak to Andrew about Portuguese corporation tax implications? Might be an idea although potentially too bureaucratic

[2017-02-07 14:02] markwilliamfirth commented on #93
Is this our logo? Or is it the white and green version on [dwyl.io](http://www.dwyl.io/)?

<img width="902" alt="screen shot 2017-02-07 at 13 58 13" src="https://cloud.githubusercontent.com/assets/5732209/22694147/f3977320-ed3d-11e6-96b1-b5433571edfe.png">

[2017-02-07 14:04] iteles commented on #93
That's the one! It's really the shape - if it's on a dark background (like the website), we'll use the white version (the teal tick is just to make the tick stand out, a little bit of a gimmick)

[2017-02-07 14:21] iteles commented on #210
Not that I know of, you'll need to google for this one!

[2017-02-07 14:22] iteles commented on #206
Removing Nelson's assignment as these will sit with me.

[2017-02-07 14:34] ghost opened #214 "Onboarding / New Joiner / Contractor Handbook"
Links to:
#131
https://github.com/dwyl/contracts/issues/7

[2017-02-07 15:20] nelsonic commented on #203
@markwilliamfirth please add your requirements as a "_user story_" to: https://github.com/dwyl/tudo/issues 😉

[2017-02-07 15:21] markwilliamfirth commented on #203
But what happens when you're *my* dependency and I'm *your* dependency - should we create different labels for each other?

Let's say there is an issue that requires the both of us to carry out various tasks that each prevent the other prom progressing. Once I had completed my bit I would add the dependency label to remove it from my to-do list and to say that it is now dependent on someone else,

[2017-02-07 16:36] markwilliamfirth opened #215 "Business Health Insurance"
[These](https://www.securehealth.co.uk/) were the people that called us the other day

Do we want company health insurance? Later down the line maybe?

[2017-02-07 16:51] Jbarget commented on #179
@markwilliamfirth I have dont have a preference for a particular location, my only criteria would be relative to where I live, W9. My current cycle takes 45-50 minutes each way. If It was more than that I would be less motivated to come in (mainly in the winter)

[2017-02-07 16:52] Jbarget commented on #179
@iteles @nelsonic is it ok for me to push back tomorrow morning to 9:30am?

[2017-02-07 16:55] Jbarget commented on #180
@nelsonic @iteles can i push back tomorrow morning to 9:30am?

[2017-02-07 17:12] markwilliamfirth commented on #179
If we decide to move to another location I think an office close to good underground and/or bus connections might be an advantage in terms of people travelling in and travelling to visit client sites. Currently there is quite a walk to Bethnal Green / Mile End and it only connects us to the Central line.

A more central location might also be advantageous for those from W and E postcodes to have s

[2017-02-07 20:11] iteles commented on #203
Nope, once you've completed your bit, you assign it to whoever the next person who needs to work on it is and then that removes it from your list until they assign you again!

[2017-02-07 22:32] markwilliamfirth commented on #203
What happens if I assign it to someone else and they don't complete the task and I forget about chasing it up because it's not on my to-do list anymore? 🤔

[2017-02-07 23:31] nelsonic commented on #203
@markwilliamfirth _great question_! ❓
The virtue of having the task _visible_ for _everyone_ in the team means accountability is "_built-in_". ✅
A follow up question could be: "_what if the person unassigns themself from the issue/task without completing it or assigning to anyone `else`...? we should have a `DWYLBot` action for this event type which applies a "in-limbo" label (_or something simila

[2017-02-07 23:53] nelsonic commented on #215
@markwilliamfirth this is _especially_ relevant for our remote people. or for people travelling.
let's keep this issue open and if anyone wants to comment or help investigate the options, they are welcome to do so. I would _remove_ the priority label and simply state that because we are _lucky_ enough to live in a country that has "free" healthcare that health insurance is not a high priority for

[2017-02-08 00:33] nelsonic commented on #96
Let's re-visit this once we have a bit more "Trademark Justification"... 👍
relates to: https://github.com/dwyl/hq/issues/39 and https://github.com/dwyl/hq/issues/41

[2017-02-08 00:38] nelsonic commented on #179
@markwilliamfirth we need to gather _all_ the requirements for our location ...
a central location is a _good_ idea but need to be balanced with cost...
we need to make QS work _really_ well, then we can think about alternatives. 👍

[2017-02-08 01:02] nelsonic commented on #214
@markwilliamfirth can we do this with _video_...? https://github.com/dwyl/video/issues/20 😉

[2017-02-08 01:05] nelsonic commented on #180
@Jbarget we are _available_ when ever you are free. 👍

[2017-02-08 01:07] nelsonic commented on #205
@markwilliamfirth if you are curious to see the _best_ company handbook we have the Zappos one: https://www.zapposinsights.com/culture-book ... 😉

[2017-02-08 01:12] markwilliamfirth commented on #178
"Float"?!

#189 ?!

[2017-02-08 01:20] nelsonic commented on #178
@markwilliamfirth lol. 😆
(_maybe... not to be discussed `before` there is a super-successful product tho..._!)
***or*** we could just be based on a ***ship*** in **international waters** and **avoid _all_ bureaucracy**! ⛵️

[2017-02-08 01:22] nelsonic commented on #209
![one_million_dollars](https://cloud.githubusercontent.com/assets/194400/22719361/17726854-ed9d-11e6-966b-a8a080c32546.jpg)

[2017-02-08 01:23] nelsonic commented on #208
@markwilliamfirth we have a more _systematic_ way to solve this... remind me to flesh this out _after_ I've finished my work on: https://github.com/dwyl/aws-ses-lambda 👍

[2017-02-08 01:24] nelsonic commented on #207
@iteles CRM ... 🏦

[2017-02-08 01:34] evilpacket commented on #198
I have not forgotten about this thread. I'm pretty busy putting together
something for DeveloperWeek next week but once that is over I'll have some
time to devote to figuring out the right things to talk about and putting
something actually together or getting the team involved and have some fun
:)

On Thu, Feb 2, 2017 at 11:41 AM, Nelson <notifications@github.com> wrote:

[2017-02-08 01:37] nelsonic commented on #198
@evilpacket thanks! we haven't forgotten either. we just don't want to "_pester_" you. really looking forward to it! ❤️

[2017-02-08 02:40] markwilliamfirth commented on #203
Hmm this didn't really answer my question - it's only natural that sometimes things will be missed or left for a long time and need to be chased up and there isn't a way to effectively do this?

Are we able to set due dates on tasks? (aside from priority labels)

[2017-02-08 03:13] nelsonic commented on #203
@markwilliamfirth the _best_ way to set a due date is to put the issue in a milestone that has a deadline. this is _really_ useful for helping people to _focus_ and not get distracted. 👍

[2017-02-08 03:49] markwilliamfirth opened #216 "Github May Terminate"
https://help.github.com/articles/github-terms-of-service-draft/#3-github-may-terminate

If Time and Tudo are being intimately linked with Github and all of our company information is on Github - is this a potential issue or highly unlikely to ever be a problem?

[2017-02-08 04:32] nelsonic commented on #216
@markwilliamfirth we are _acutely_ aware of the "risk" of putting _all_ our info on GitHub.

Part of "Tudo" will be to _mirror_ all the data in GitHub in a Local Cache i.e. _continuous backup_.

So that if GitHub ever decided to "_terminate_" our service it would _very much_ be their loss as we would be able to continue working without them. 👍

In fact, longer term we have the option of _hosting_

[2017-02-08 10:42] jackcarlisle opened #217 "Discussion Follow-up"
@nelsonic @iteles

Following on from our discussion earlier today, I've been thinking about what areas within DWYL I'd be most interested in pursuing in the coming weeks and months. These areas include (but are not limited to):

- Learning the *[New Stack](https://github.com/dwyl/technology-stack/issues/37)*
- Product Development
- Content creation

I would really value your opinion on where you f

[2017-02-08 15:08] nelsonic commented on #102
Moved to: https://github.com/dwyl/quietspace/issues/10

[2017-02-08 15:08] #102 closed

[2017-02-08 23:06] iteles commented on #207
@nelsonic I think @markwilliamfirth is referring to the `@dwyl.io` domain ones

[2017-02-08 23:45] iteles commented on #96
Another case of mistaken identity: https://twitter.com/IamStan/status/791943530386075649

[2017-02-09 02:54] nelsonic commented on #207
@iteles CRM ...

[2017-02-09 03:06] nelsonic commented on #100
Apparently, Greenkeeper "_only_" require **write** access to code now...
![Greenkeeper Permissions](https://cloud.githubusercontent.com/assets/194400/22767625/9df8bdc4-ee74-11e6-9172-74309607beea.png)
(_no longer **admin** access..._)

[2017-02-09 09:22] markwilliamfirth commented on #96
@iteles this^ is perfect and exactly what we need. I will gather the evidence 🔍 and apply again :)

[2017-02-09 10:00] Charlotteis commented on #100
yes :)

[2017-02-09 10:04] markwilliamfirth commented on #93
We have applied! 🎉

<img width="549" alt="screen shot 2017-02-09 at 10 01 52" src="https://cloud.githubusercontent.com/assets/5732209/22778490/09423bde-eeaf-11e6-8a0f-0d3560a53200.png">

[2017-02-09 10:11] markwilliamfirth opened #218 "Company Amazon Account"
We currently have two amazon accounts that Inês and Nelson use. Can we make a company amazon account to have a consistent record of business purchases?

Should I make a new account?

[2017-02-09 14:55] markwilliamfirth commented on #96
I have sent in another submission:

<img width="698" alt="screen shot 2017-02-09 at 14 53 24" src="https://cloud.githubusercontent.com/assets/5732209/22788365/8d4be042-eed7-11e6-96d0-4b31980e8f29.png">

Will update as things progress! 👍

[2017-02-09 15:43] markwilliamfirth opened #219 "Adding Mark to the Bank"
Links to #211

- [ ] Update Mark as a director on Companies House

- [ ] Complete [this](http://www.santander.co.uk/csdlvlr/ContentServer?c=SANDocument_C&pagename=WCSUKPublicaLte%2FSANDocument_C%2FSANDocumentPreview&cid=1324566124194) form. Section 3a adds a new person - my answers are [here](https://docs.google.com/a/dwyl.io/document/d/18MEFhaxYYseCvugo0uNtdiy0xZf0V9nhu26kAfl6eOk/edit?usp=sharing

[2017-02-09 15:45] markwilliamfirth commented on #204
@iteles we need to do this before we can progress with #219

[2017-02-09 15:52] markwilliamfirth opened #220 "Mark Enable Github 2-factor Authentication"
In order to increase security

[2017-02-09 15:56] nelsonic commented on #220
@markwilliamfirth go to: https://github.com/orgs/dwyl/people and see who has it enabled.
who ever does not, assign them to this issue (_you can assign up to 10 at a time_)
I use Authy app on my phone for "One Time Codes" but Google Authenticator works too. 🔐

[2017-02-09 15:59] markwilliamfirth commented on #220
@nelsonic after you click through how are you able to see who has it enabled?

I used the Duo app - all set up and done now 👍

[2017-02-09 16:02] nelsonic commented on #220
@markwilliamfirth please _confirm_ if you are _able_ to see something like this:
![2-factor-auth-enabled](https://cloud.githubusercontent.com/assets/194400/22791396/2062f1b4-eee1-11e6-8817-2ba8fd719e18.png)

[2017-02-09 16:22] markwilliamfirth opened #221 "Multiple-user access to 2-factor auth Accounts"
@nelsonic had to take time out today to pay AWS an outstanding balance

Myself and @iteles are unable to access the account because of 2-factor auth.

We need to add myself and @iteles to the account's 2-factor auth settings.

I would also suggest it might be a good idea to get a Google Voice number for DWYL that we all have access to to solve this problem across multiple platforms. Thoughts?

[2017-02-09 16:23] markwilliamfirth commented on #26
@iteles is this now higher priority?

[2017-02-09 16:24] markwilliamfirth commented on #92
Completed. Corporation tax has been paid to HMRC.

[2017-02-09 16:24] #92 closed

[2017-02-09 16:26] nelsonic commented on #26
@iteles not _yet_ ... Triodos isn't great for _many_ transactions. they are good for _few_ larger ones.
Re-visit after year-end. 👍

[2017-02-09 16:29] markwilliamfirth commented on #220
@nelsonic I can see this:

<img width="1046" alt="screen shot 2017-02-09 at 16 28 46" src="https://cloud.githubusercontent.com/assets/5732209/22792494/dec3c9be-eee4-11e6-98f6-66ee86245e8a.png">

[2017-02-09 16:35] markwilliamfirth opened #222 "Freelancer Rates Market Research"
Freelancer Rates Market Research

- [ ] Acquire details from @iteles

[2017-02-09 16:38] markwilliamfirth opened #223 "Research Github Projects"
- [x] @iteles add Mark as organisation owner on Github #211

Research how to utilise projects to help ops task management in Github

Links to #203

[2017-02-09 16:46] markwilliamfirth opened #224 "Policy for Granting @dwyl.io Email Addresses"
We should have a policy for who gets a `@dwyl.io` email address. @iteles is there a current process or any criteria that someone must fulfil to get one?

Suggested Criteria:

- Currently working on a paid internal or client DWYL project

[2017-02-09 16:48] nelsonic commented on #224
@markwilliamfirth who are _committed_ to the long-term future of dwyl. 😉
But this shouldn't be a problem once we sort out our CRM... 🤔

[2017-02-10 06:38] nelsonic commented on #217
@jackcarlisle I `promise` I'm not "_ignoring_" you on this ...
My "_job_" is to deliver for our _current_ clients and to make sure we have a good technical direction for our products/services (_and to not fall behind on my own technical knowledge/skills!_)
We _absolutely_ need to look into offering people "_full time contracts_" and the _best_ people to speak to on this are Ines & Mark who are put

[2017-02-10 08:57] nelsonic commented on #220
@markwilliamfirth ah... hold on... ⌛️
please refresh and try again. ♻️

[2017-02-10 09:00] nelsonic commented on #221
@markwilliamfirth the _reason_ other people have not _historically_ had access to the AWS account is that it was my account from the my _previous_ company where I was the only employee/owner...
And nobody has _asked_ me for access ...
I _agree_ that we need to have a _company_ AWS account for deploying our apps.
Please _investigate_ how we can have an account with _multiple users_ who in turn have

[2017-02-10 09:34] nelsonic commented on #218
@markwilliamfirth yes. second email address suggested. thanks. 👍

[2017-02-10 10:26] jackcarlisle commented on #217
@nelsonic ok great, thank you!

Will update you with the "New Stack" progress over the coming days and extend the `learn-` repos as and when I can.

Just ordered those two books as well so can't wait to get stuck into those.

![screen shot 2017-02-10 at 10 21 46](https://cloud.githubusercontent.com/assets/12450298/22823304/ea6ffb2a-ef7a-11e6-9797-ffad6a9e7624.png)

[2017-02-10 14:22] markwilliamfirth opened #225 "Inês Bio"
Inês needs a standard bio for conferences, talks and events.

@iteles could you send me the snippets you mentioned so we can construct your bio?

[2017-02-10 14:41] markwilliamfirth opened #226 "Nelson Time Tracking"
Nelson to start tracking time on projects from 13th February onwards utilising [Focus Time](http://focustimeapp.com/) or another equivalent app. Tracking will split time into learning Elixir, QA, answering questions, project work as well as other categories that Nelson deems suitable.

[2017-02-10 14:45] markwilliamfirth opened #227 "Inês Headshot"
For conferences, talks and events.

Also maybe replace headshot on the [website](http://www.dwyl.io/img/common/team/ines.jpg)?

[2017-02-10 17:55] iteles commented on #227
YES PLEASE 📷

[2017-02-10 23:51] iteles commented on #223
Done! Thanks for enabling the 2FA first :blush:

[2017-02-10 23:53] iteles commented on #224
I'm with @nelsonic on this one. So far it's been if you're interested enough in the future of dwyl to _ask_ for one (usually because you _want_ to stick around based on what you know of our values and operating procedures), you get one.

[2017-02-10 23:57] iteles commented on #39
Closing in favour #93 where the latest info on this has been captured.

[2017-02-10 23:58] #39 closed

[2017-02-11 00:00] iteles commented on #52
Done for the ones that we have github usernames for (last year).

[2017-02-11 00:00] #52 closed

[2017-02-11 02:24] nelsonic commented on #226
Thanks @markwilliamfirth 👍

[2017-02-11 19:09] markwilliamfirth commented on #41
With regards to the DO WHAT YOU LOVE trade mark

WeWork were [granted ](https://www.ipo.gov.uk/tmcase/Results/23/WE00001294295) the trade mark for this in Dec 2015. It covers classes 35, 36, 41, 42, 45

PERANI & PARTNERS SPA were also [granted ](https://www.ipo.gov.uk/tmcase/Results/4/EU015206584) an image mark with the phrase in 2016

We could file an application for the software class if we deci

[2017-02-11 19:15] markwilliamfirth opened #228 "Expanding the DWYL Trade Mark to US"
It will cost approximately £871.65 to expand the DWYL trade mark to the US.

Should we do this?

[2017-02-12 04:44] nelsonic commented on #228
@markwilliamfirth I think this decision is for @iteles to make.
I think an IP Lawyer should be consulted to get a clear understanding of what we are applying for, what we can expect to get and how long it will take...
Is it a _separate_ application for the `dwyl` name vs. the logo or can they be done simultaneously? (_preferably at a reduced cost_).

I would `.apply()` for the trademark in US `bef

[2017-02-12 04:49] nelsonic commented on #41
I'm in no _rush_ to trademark **DO WHAT YOU LOVE** because I don't see us _expanding_ the acronym very often...
it is _ironic_ that we were using the expression `before` "WeWork" though ... and that this issue was opened `before` they were granted it... 😞

[2017-02-12 15:17] iteles opened #229 "FY16/17 company accounts"
We need to pull together the accounts for FY16/17 so far (ending March 2017), which includes:

+ [x] Understanding the best way to deal with our accounting #132
+ [ ] Understanding R&D tax relief https://github.com/dwyl/hq/issues/112
+ [x] Understanding how best to take care of our expenses https://github.com/dwyl/hq/issues/191
+ [x] Determining when to set up PAYE #239
+ [x] Paying @iteles and @n

[2017-02-12 15:20] iteles commented on #156
Closing in favour of https://github.com/dwyl/quietspace/issues/11

[2017-02-12 15:20] #156 closed

[2017-02-12 15:25] iteles commented on #225
Turns out this is all I could find and it's useless, we'll need to write something up!
It was used for a talk where I was discussing F&C rather than dwyl.

Ines is the co-founder of dwyl.io and the a director at Founders & Coders, the UK’s only free 16 week, in-person, full stack Javascript coding bootcamp. She also runs the London chapter of Ladies of Code and is a developer, whose favourite topi

[2017-02-12 15:28] iteles commented on #228
I'd go with speaking to an IP lawyer first to understand what it is we'd get for this and then also looking into #229 - if we're going to do this, we want to do it before the end of the financial year.

[2017-02-12 15:46] iteles commented on #41
Yep. Also assigned to me before the trademark was granted. Too bad I didn't prioritise it 😕

[2017-02-13 09:17] markwilliamfirth commented on #41
Sounds like we don't really want or need it! Closed for now 👍

[2017-02-13 11:51] Jbarget commented on #131
http://uk.keepcup.com/design-your-own/design-your-own-brew.html#Plug=white&Lid=white&Band=white&Cup=white&size=m

This could be great on so many levels:
- great gift
- people only have one coffee/tea vessel (less washing up)
- could make people wash up their own mug as they have _ownership_ of a lovely mug
- less mess from loads of used mugs
- less energy spent on washing up

[2017-02-13 11:55] Jbarget commented on #143
[KeepCup](https://uk.keepcup.com/?country=United%20Kingdom) - solving a great problem of 'throw-away' culture with coffee/tea cups

They also have a dedicated part of their website for [Reuse HQ](https://uk.keepcup.com/?country=United%20Kingdom) ❤️

[2017-02-13 11:57] otajor commented on #131
@Jbarget

V. euphemistic 😄
Did you mean: "Everyone will know if you leave your mug unwashed in the sink"?

[2017-02-13 12:00] Jbarget commented on #131
haha that didnt cross my mind but thats true as well :)

[2017-02-13 12:00] harrygfox opened #230 "Volunteering Teaching (Prisons Code4000)"
From gitter
@harrygfox said on 13th Feb:

Is anyone interested in volunteering? Doing more? What's the appetite for involvement here?

https://www.code4000.org/en

[2017-02-13 12:17] nelsonic commented on #131
@Jbarget / @otajor that would _only_ work if we didn't have _any_ "_guest_" mugs ... i.e. un-named.
but I like the idea of giving people personalised mugs either way. 👍

[2017-02-13 12:23] rjmk commented on #230
I've put my email in! Beyond mentoring, what sort of involvement opportunities are you envisaging?

[2017-02-13 12:53] Conorc1000 commented on #230
@harrygfox  I'd be keen to get involved in this 👍

[2017-02-13 13:11] Jbarget commented on #230
@hdrdavies mentioned this over the weekend and Michael Taylor got back to me today

Michael

it might be worth having one point of contact and finding out how many DWYL/FAC people are interested

[2017-02-13 13:20] harrygfox commented on #230
@rjmk I'll find out today on a call and feedback here with all the options for getting involved

[2017-02-13 13:22] naazy commented on #230
Also interested @harrygfox

[2017-02-13 14:29] iteles commented on #131
@Jbarget I totally own a keepcup and use it all the time :heart:

[2017-02-13 15:02] hdrdavies commented on #230
Already joined 😉

[2017-02-13 16:55] harrygfox commented on #230
@rjmk @Conorc1000 @Jbarget @naazy @hdrdavies

----

## The Programme

Is in its **pilot phase**. 16 students from [HMP Humber](http://www.justice.gov.uk/contacts/prison-finder/everthorpe) work in person with a _Course Facilitator_ to learn the fundamentals of web development over a number of weeks. The curriculum is (currently) a copy of the curriculum used by US programme, [The Last Mile](https:/

[2017-02-13 22:30] nelsonic commented on #230
@harrygfox `this` thursday? (_please send us a Calendar invite so we don't forget! thanks!_)

[2017-02-14 08:22] markwilliamfirth commented on #228
@iteles noticed https://github.com/dwyl/intellectual-property/issues/3

Weird that London IP advised you that it would be 2k? Was that only for the word mark, "DWYL"?

Were there any questions they didn't answer? It seems pretty simple to me and London IP covered me asking about the states last time I called.

[2017-02-14 08:26] markwilliamfirth commented on #228
@nelsonic I thought the point of the application was to mark `DWYL` so we could challenge the `.com` domain, do we need the logo too? Don't see much point to marking the logo at this moment in time.

[2017-02-14 09:44] markwilliamfirth commented on #119
DWYL.com forwards to desiringgod.org

desiringgod.org is a website for John Piper

Assuming he is the domain holder, running an email search shows his email to be:
`john.piper@desiringgod.org`

[2017-02-14 11:50] markwilliamfirth commented on #228
@nelsonic I spoke to an IP lawyer today and they said that we don't need to have a US trademark to claim under UDRP (have you heard otherwise?). Cost to file a UDRP dispute is $1500, equivalent £1202.98.

I suggest we email John and make an offer of approx $250 and go from there.

Alternatively we could wait until the expiration date in June (2017-06-15) to see if he fails to renew (unlikely to fa

[2017-02-14 12:46] markwilliamfirth commented on #119
[Interesting read ](http://nominet-prod.s3.amazonaws.com/wp-content/uploads/2015/08/Expert_Overview.pdf) with regards to possibility of also acquiring `.co.uk`

[2017-02-14 12:57] markwilliamfirth commented on #123
@iteles suggested using finance+expenses@dwyl.io for all company expense receipts in order to simplify email filtering. Agreed that this should be added to the policy.

[2017-02-14 13:00] markwilliamfirth opened #231 "Wise Awards"
https://www.wisecampaign.org.uk/wise-awards/wise-awards-2017

Research past winners and construct application

[2017-02-14 13:06] markwilliamfirth opened #232 "Text Expander"
Text Expanders are apps that help you write faster by storing codes for common phrases

A popular expander for Mac is aText. I used this at my old job and was using it now until my free trial expired :'(

Can we get a license for me? (£4.13)

Would advise others to try it out too.

[2017-02-14 13:31] iteles commented on #232
:+1: Would be good to know how you feel it's improved your productivity too!

Let's do this tomorrow when we're co-located.

[2017-02-14 13:38] markwilliamfirth commented on #204
@iteles research on directors and relevant information from Model Articles:

**Directors’ general authority**

3. Subject to the articles, the directors are responsible for the management of the company’s business, for which purpose **they may exercise all the powers of the company**.

**Directors may delegate**

5.—(1) Subject to the articles, the directors **may delegate any of the powers which

[2017-02-14 13:42] nelsonic commented on #231
@markwilliamfirth great idea. thanks for creating this issue/task! ❤️

[2017-02-14 13:43] nelsonic commented on #228
@markwilliamfirth agree. also in _favour_ of "_moving fast_" and sending him an Email. please draft it in a Google Doc and share with @iteles. thanks 👍

[2017-02-14 13:47] markwilliamfirth commented on #231
💡 Idea credit is due to @iteles - Ines received an email about it and mentioned it to me

Deadline is 23 Jun, so still some time to go though

[2017-02-14 13:47] nelsonic commented on #228
@markwilliamfirth I think we should trademark in the US _independently_ of the email for the `.com`
just cause I _suspect_ that US will be a strong "_market_" for dwyl products & services and it would be good to have that be _unambiguous_ so we don't get some _random_ IP-Troll telling us we have to re-brand because they "own" dwyl in US...

[2017-02-14 16:39] markwilliamfirth opened #233 "DWYL Demo Email Address?"
Can we create a `dwyl.io` email for client demo purposes?

I think this might be beneficial because it:
- Will look more professional to the client
- Maintain the privacy of employees and contractors whether that be the privacy of their personal email or their `dwyl.io` company email
- Prevent potential situations where an inbox needs to be shown in a demo and an inappropriate email appears in the

[2017-02-14 16:42] iteles commented on #233
Each project has at least one test email account set up specifically for that project so that we can pass the ownership of this on to the client at the end of the project.

It is recommended but not enforced that this email address is used for demos.

Not entirely sure where it's best to document this, need to have a think!

[2017-02-14 17:21] markwilliamfirth commented on #203
How do I add an issue to a Project from the issue view? There is no cog 😕

<img width="221" alt="screen shot 2017-02-14 at 17 20 46" src="https://cloud.githubusercontent.com/assets/5732209/22940516/09a9e12e-f2da-11e6-8eef-8548ce436439.png">

[2017-02-14 17:23] markwilliamfirth commented on #223
Even though I'm an owner I can't seem to add an issue to a Project from the issue view?

Links to #203

[2017-02-14 17:34] markwilliamfirth commented on #203
I've had a look at milestones and it doesn't have the functionality we're going to require to organise tasks. I think Github is useful for creating, tracking and delivering projects, but not for business and operational tasks. I think we need to look at alternatives or improving utilising the Github system to run the whole business as it appears to reduce productivity and efficiency when the tool

[2017-02-14 18:18] markwilliamfirth opened #234 "Encourage others to enable 2FA"
Links to #220

[2017-02-14 18:18] #220 closed

[2017-02-14 18:27] markwilliamfirth commented on #209
On hold until #229 complete

[2017-02-14 18:31] markwilliamfirth commented on #149
Is there a way to track productivity as a metric? Maybe reflect on our productivity everyday and assign a quantitive amount to it as well as quantitative comments reflecting on the day?

[2017-02-14 18:33] markwilliamfirth commented on #132
Let's test out using Xero and reopen if it doesn't work out!

[2017-02-14 18:33] #132 closed

[2017-02-14 18:46] markwilliamfirth commented on #112
Currently in correspondence with GrantTree and Leyton

[2017-02-14 18:47] markwilliamfirth commented on #191
I think in the interim we should use the standard Xero app and expensing feature and look into automating using expensify and entryless at a later date.

[2017-02-14 18:47] #191 closed

[2017-02-14 18:48] markwilliamfirth commented on #123
Mark to write up policy this week

[2017-02-14 19:29] markwilliamfirth commented on #229
Final two relate to

https://github.com/dwyl/finance/issues/2
https://github.com/dwyl/finance/issues/1

[2017-02-14 19:44] markwilliamfirth opened #235 "Terminal broken?"
<img width="370" alt="screen shot 2017-02-14 at 19 41 31" src="https://cloud.githubusercontent.com/assets/5732209/22945873/a6b51f48-f2ed-11e6-94be-ad02ca870c38.png">

I did something weird to my terminal at the elm meetup and now it says iphone?

Is it meant to do that?

@nelsonic have you seen this before? Thought I'd ask before I spend [unknown length of time] trying to work it out by searching

[2017-02-14 19:48] markwilliamfirth commented on #221
@nelsonic are you happy for me to make a new AWS company account with finance+expenses@dwyl.io?

[2017-02-14 20:00] markwilliamfirth commented on #227
Added to calendar - can rearrange if necessary

[2017-02-14 20:02] markwilliamfirth commented on #225
[Drafting document](https://docs.google.com/document/d/1i5DCkcgf-cB3S8fluB2UXw4vmtdQCnpshhHileZePXQ/edit)

[2017-02-14 20:09] markwilliamfirth commented on #225
@iteles if you had to describe your background before tech in a few lines how would you do so? Maybe Something about Accenture?

e.g.

[2017-02-14 20:36] markwilliamfirth opened #236 "Connect Bank Feeds On Xero"
https://go.xero.com/Banking/Account/#find

[2017-02-14 22:11] nelsonic commented on #235
@markwilliamfirth does it still say `Test-iPhone` _after_ you quite and re-start it?
if in doubt install https://www.iterm2.com/ 👍

[2017-02-15 06:10] iteles commented on #223
Hard to diagnose without knowing what you've tried or having a screenshot of the missing/available options. Could you please elaborate?

[2017-02-15 06:29] iteles commented on #203
I don't think we can conclude this without actually trialling GitHub projects?

The projects documentation shows you need to add the issues to a project through the project view and not through the issue itself: https://help.github.com/articles/adding-issues-and-pull-requests-to-a-project/

[2017-02-15 08:14] markwilliamfirth commented on #203
Yeah I know - I had a look at projects too. You can only seem to do it in the project view, not the issue view. Which is really annoying

[2017-02-15 08:33] markwilliamfirth commented on #223
Screenshot is in #203 (referenced above), was reporting it here as an issue because I think it makes projects a weak option if we can't assign from issue view. Wasn't sure if it was linked to the milestones thing when I couldn't assign from issue view because I wasn't an owner before so thought I'd mention it

[2017-02-15 11:22] markwilliamfirth commented on #213
@iteles @nelsonic suggesting 2nd April 2017 (AKA 2 years since incorporation). Any objections?

[2017-02-15 11:34] markwilliamfirth commented on #224
Hmm I'm not sure if we should do it that way. This puts the onus on the contractor to make the request.

I don't think we should have contractors having to use their personal email accounts

- It doesn't look professional
- It doesn't allow them to separate their work and personal lives
- It dilutes the DWYL brand

I think we should make contractors feel wanted and welcome by onboarding them with

[2017-02-15 11:46] markwilliamfirth commented on #112
@iteles would you be able to give me an estimate of how much development time is spent on the projects with pay contractors to do that we retain the IP for?

i.e. percentage of time contractors are **paid** to work on DWYL modules and in-house projects

[2017-02-15 12:15] markwilliamfirth commented on #33
@iteles do we have alternatives to Google Hangouts? Maybe best to define these before we instruct Unbound how to manage their remote standups?

[2017-02-15 13:05] markwilliamfirth opened #237 "CharlieHR"
@iteles and @nelsonic I've sent you invites to get set up on CharlieHR. Please could you complete the onboarding process today? This is high priority because I require your National Insurance numbers and other information to set up PAYE.

[2017-02-15 13:17] iteles commented on #237
@markwilliamfirth Do we need to do this through CharlieHR?

I strongly favour reducing the number of applications we use rather than increasing it (as you may have noticed from my insistence on github as opposed to many other project management tools 😝 ).

Please outline the benefits of using CharlieHR for this so it's captured somewhere.

[2017-02-15 13:25] markwilliamfirth commented on #237
It's free, easy and does everything I need it to do in terms of easily storing payroll info, p45, right to work documents, contact details, next of kin, etc

It's great! I know the guys that run it. Also have used it at EF and HP.

[2017-02-15 14:21] nelsonic commented on #183
@iteles I have an _idea_ for this ... and it's one companies/organisations will line up around the block to pay for because it _guarantees_ anonymity for the _sender_ of the feedback while still allowing a _response_ mechanism i.e. we can _reply_ to anonymous feedback and the person who posted the original comment will _receive_ the reply! 😮
So it's not just a _ranting_/_venting_ app like "Secret"

[2017-02-15 14:38] iteles commented on #213
We have quite a few people away in April so let's try for something in late March instead please!

[2017-02-15 14:43] iteles commented on #33
@markwilliamfirth Good thinking, can we research a few? I know Skype is considerably worse than Hangouts an https://appear.in/ requires the installation of software.

The baseline requirement should be no specific software installation required.

[2017-02-15 17:07] markwilliamfirth commented on #213
@iteles can you share the company calendar with me please?

[2017-02-15 17:37] iteles commented on #224
@markwilliamfirth Completely agree. Historically the contractors who have had them have used them infrequently and I didn't have the time to enforce consistent usage. It's time.

[2017-02-15 17:39] markwilliamfirth commented on #182
@iteles

1. Are we sure feedback should be anonymous? Might be some good arguments for it to be open/attributed.

2. If it is anonymous it's quite simple to do this via a google form

[2017-02-15 17:42] iteles commented on #182
@markwilliamfirth I would suggest anonymous with an optional name - if you're collecting feedback on a person's colleague, they might be unwilling to be fully transparent if they are named.
For now, I don't think trolling is an issue.

Happy to hear thoughts on why the anonymous option shouldn't be given!

[2017-02-15 17:44] #224 closed

[2017-02-15 17:45] markwilliamfirth commented on #33
I don't think appear.in requires software - it's all online - WebRTC. The issue with it is not all browsers support it.

http://support.appear.in/article/61-im-not-using-chrome-firefox-or-opera-what-other-browsers-do-you-support

[2017-02-15 17:57] markwilliamfirth commented on #237
I've filled in the stuff I know - now you guys need to do the remaining (non-urgent) stuff:

https://dwyl.charliehr.com/people/nelson-kenneth/checklist

https://dwyl.charliehr.com/people/ines-sampaio-da-novoa/checklist

[2017-02-15 18:00] markwilliamfirth commented on #182
I've been recommended by a few people to read [this](https://www.amazon.co.uk/Fierce-Conversations-Achieving-success-conversation/dp/0749923970) but haven't got round to it yet. @nelsonic maybe one you might be interested in too. Delves into the importance of being upfront and discussing things openly and honestly in business. Different approach, not sure if it's the best, but it's an interesting

[2017-02-15 18:01] iteles commented on #33
Sorry, should have clarified, we also need to look at usage on phones (that's where appear in requires an app) because our clients (and me!) are often on the go :+1:

[2017-02-15 18:02] iteles commented on #182
Happy to try it!

[2017-02-15 18:04] iteles commented on #224
@markwilliamfirth Should this stay open until the policy is written up somewhere?

[2017-02-15 18:23] markwilliamfirth commented on #224
Yep it's in the Google Drive - will eventually come to fruition in a md onboarding file on Github

[2017-02-15 21:50] markwilliamfirth commented on #96
<img width="735" alt="screen shot 2017-02-15 at 21 49 50" src="https://cloud.githubusercontent.com/assets/5732209/22997037/c60de75e-f3c8-11e6-8610-9132f3d0a96d.png">

RAAAAAAGGGGEEEEE 😠

[2017-02-15 22:13] nelsonic commented on #96
It's _clearly_ a canned response ...
![computer says no](http://i.giphy.com/JliGmPEIgzGLe.gif)
We need to speak to a _human_ about this.
Also, I get the feeling that a [US Trademark](https://github.com/dwyl/hq/issues/228) will _help_ ...

[2017-02-15 22:26] markwilliamfirth commented on #96
Yeah at this stage I feel like we're only gonna get it if we

- Use our connections to speak to someone on the inside
or
- Acquire the .com and US trademark and then send a letter from a lawyer

[2017-02-16 02:04] markwilliamfirth commented on #224
In case we wanted to add further evidence to the previous discussion...

<img width="778" alt="screen shot 2017-02-16 at 02 00 53" src="https://cloud.githubusercontent.com/assets/5732209/23003970/d3be86d8-f3eb-11e6-8438-d400e6a9a449.png">

^this guy didn't ask for a dwyl.io email, but got given a dwyl.io email and look where he is now 😆

lol.

[2017-02-16 12:31] sohilpandya commented on #213
Can we have a movie night soon? is this the right place to ask or should I just create an issue with some dates and movies?

🙏

[2017-02-16 15:36] nelsonic commented on #230
@harrygfox please see: https://github.com/dwyl/dwyl-site/issues/203 😞

[2017-02-16 17:32] markwilliamfirth commented on #112
<img width="709" alt="screen shot 2017-02-16 at 17 31 57" src="https://cloud.githubusercontent.com/assets/5732209/23032867/e6e44b08-f46d-11e6-8626-37b7ae550d1f.png">

^question from GrantTree in order to calculate our claim estimate

[2017-02-16 17:59] iteles commented on #112
We can calculate how many client projects.

On dev time, does the seniority of the dev matter (i.e. higher day rates or lower)?

[2017-02-16 20:21] markwilliamfirth commented on #112
Yes - I think he basically wants an estimate of how much money goes towards our own IP so senior developer rates will make a difference

[2017-02-17 17:34] markwilliamfirth opened #238 "Route hello@dwyl.io to Mark"
Route emails from hello@dwyl.io to Mark

[2017-02-18 07:44] nelsonic commented on #226
@markwilliamfirth / @iteles  and who ever `else` is _curious_/_interested_, this is how I spent last week:
![image](https://cloud.githubusercontent.com/assets/194400/23090950/469e2732-f5a2-11e6-9d4f-8293c572a624.png)
Note: I think there's a _bug_ in the "***Be Focussed***" app because I actually have quite a few Tasks marked as "done" for the week!
![image](https://cloud.githubusercontent.com/asse

[2017-02-18 07:55] nelsonic commented on #238
I'll "see" your re-rout and "_raise_ you" a let's "_whiteboard_" the features for our CRM on Monday Morning so we can _solve_ this issue once and for all. 😉

[2017-02-18 10:14] markwilliamfirth commented on #238
Not a re-route, sorry, I mean keep it routing to ines and then filter to forward to me like with finance

[2017-02-18 10:25] nelsonic commented on #238
@markwilliamfirth yeah, I got it, don't worry. 👍
But forwarding email does not _solve_ the problem.
see: http://www.paulgraham.com/ambitious.html (scroll down to number 2) 😉

[2017-02-18 22:03] nelsonic commented on #221
@markwilliamfirth I'm happy to _not_ have the AWS email address `public` ... 😜
But yeah that would be a good alias for it. an _alternative_ could be `finance+aws@dwyl.io`
but honestly it doesn't matter what email address we use, what matters is all the _setup_/_configuration_ of IAM Roles/permissions that goes into an AWS account.
and _most_ importantly documenting the setup e.g: https://github.co

[2017-02-18 23:00] iteles commented on #238
@nelsonic <3 But I'll suggest the afternoon as we'll be spending the morning with FAC10.

@markwilliamfirth Done for now so that you can keep using hello+?@dwyl.io for the verification emails you need 👍

[2017-02-20 11:15] markwilliamfirth commented on #213
@iteles how about evening of Tuesday 28th March for dwyl dinner and movie (@sohilpandya)?

[2017-02-20 11:28] markwilliamfirth opened #239 "Set Up PAYE"
<img width="777" alt="screen shot 2017-02-20 at 11 00 56" src="https://cloud.githubusercontent.com/assets/5732209/23123282/aa42d792-f75f-11e6-875e-653fda564ca0.png">

Waiting to be verified

- [ ] Mark to look into PAYE submission deadlines

[2017-02-20 11:30] markwilliamfirth opened #240 "Remuneration"
- [ ] Ines / Nelson pay for 2016/17
- [ ] Profit predictions and remuneration / dividend planning for 2017/18

[2017-02-20 11:37] ghost opened #241 "Generate Formal Employment Contracts for Nelson & Inês"
Generate Formal Employment Contracts for Nelson & Inês

[2017-02-20 11:38] markwilliamfirth opened #242 "Create Employee Handbook"
public nature of dwyl - anything has potential to become public
Booking holiday
Sick leave
grievance procedures - approach verbally, report in writing
20% time
zappos quitting bonus?

[2017-02-20 11:42] markwilliamfirth opened #243 "Online Contract e-sign System"
**Mark**
As a web agency we sign a lot of contracts. With developers, with clients, etc.

Sometimes come contracts are left late or unsigned as the process is burdensome for both parties.

I propose we use some kind of online e-sign contract system to easily push out contracts to clients / developers and have an online record of them all - thoughts?

**Nelson**
We tested both EchoSign and DocuSign

[2017-02-20 11:51] markwilliamfirth opened #244 "Social Media Plan"
Links to #201

[Facebook](https://www.facebook.com/dwylhq)
[Instagram](https://www.instagram.com/dwylhq/)
[Twitter](https://twitter.com/dwyl)

- Dodgeball photos / gifs

[2017-02-20 11:51] markwilliamfirth commented on #244
Waiting on Instagram + Facebook username claims

[2017-02-20 11:53] markwilliamfirth opened #245 "Ines Tech for Good Meetup"
Potential speaking slot for Inês?

[#BeBoldForChange - The Women Using Tech to Empower Others](https://www.meetup.com/techforgood/events/237579805/)

Tech For Good

[2017-02-20 11:53] markwilliamfirth opened #246 "Blog Post about Developer Health"
Problems and solutions
Sam RSI post

http://blog.invisionapp.com/freelancing-with-depression/

[2017-02-20 11:54] markwilliamfirth opened #247 "Mark blog post"
Why I decided to work at DWYL / Lessons learned working in startups

[2017-02-20 11:56] markwilliamfirth opened #248 "Claim dwyl usernames"
**Important**
- [x] Github https://github.com/dwyl
- [ ] Facebook - https://www.facebook.com/dwylhq username too short [Claim sent]
- [x] Twitter https://twitter.com/dwyl
- [ ] Instagram - https://www.instagram.com/dwylhq/ taken [Claim sent]
- [x] YouTube - https://www.youtube.com/dwyl
- [x] Google Plus - https://google.com/+dwyl
- [x] LinkedIn https://www.linkedin.com/company/dwyl
- [x] Medium -

[2017-02-20 11:57] markwilliamfirth commented on #248
@iteles can we delete the old YT channel? https://www.youtube.com/channel/UCItdEQk0-lGLm8JhOfoLxkQ

[2017-02-20 12:04] markwilliamfirth opened #249 "Company Name"
This issue has been moved here from the from old brand repo.

This issue is for tracking misuses of the company name in terms of casing, misspelling or mispronunciation as they occur. There is currently an anecdotal, but unrecorded history of branding issues related to the company name. The reason for this is to keep a record to determine whether or not this is a potential issue for our brand.

[2017-02-20 12:06] markwilliamfirth commented on #249
Received an email from someone referencing "Dwyl" (even though it wasn't at the beginning of a sentence) despite my original email to them saying "dwyl".

15 Feb 2016

[2017-02-20 12:07] markwilliamfirth commented on #249
Received a message from a friend who knew of the company, but spelled the name as "Dwill".

15 Feb 2016

[2017-02-20 12:07] markwilliamfirth commented on #249
On Friday Hannah from Unbound pronounced it "die-will" (she was corrected) and then later pronounced it "dwell" on the video, later at the pub she pronounced it incorrectly again. Owen didn't think it was a pronounceable word and instead thought it should be pronounced "d-w-y-l". Another person thought it was "dwill-e-o" because of the dwyl.io domain in the logo

17 Feb 2017

[2017-02-20 12:08] markwilliamfirth opened #250 "Update Angellist"
https://angel.co/dwyl

[2017-02-20 12:08] markwilliamfirth opened #251 "Update Branding Guidelines"
Branding guidelines need refreshing

[2017-02-20 12:10] markwilliamfirth opened #252 "dwyl logo file"
@iteles do you know where the .ai (or equivalent) file of the dwyl logo is? I cannot find it in drive

[2017-02-20 12:28] markwilliamfirth commented on #241
@iteles [link](https://docs.google.com/document/d/1Zzdn2pA29iLyduuogudTlss-loDPiCtfl_5iWhoKfpA/edit)

@nelsonic [link](https://docs.google.com/document/d/1FEYAw36LRc7MURdvYc0UQK3HwBSyglbysLTtY6AUI-k/edit)

Please can you write your `Normal duties` into your contract?

[2017-02-20 12:48] markwilliamfirth commented on #226
@nelsonic in terms of working hours (I assume the yoga is before work?) split between projects what's the number of hours on each project? Kinda difficult to see from the graph. Did you track interruptions / time spent answering questions people asked you?

[2017-02-20 12:50] markwilliamfirth commented on #240
Research #139

[2017-02-20 13:24] nelsonic commented on #226
Hi @markwilliamfirth,
Yes, yoga is tracked but not part of work, but I don't know how to _exclude_ it from the graph, sorry.

The "aim" is to have 10 "pomodoros" of _productive_ work per day.
hence the red dotted-line on the bar chart.
(_most people don't get **5 hours** of high priority ["**deep**" **work**](https://www.quora.com/How-much-deep-work-are-you-able-to-do-during-the-day) done in any g

[2017-02-20 13:51] nelsonic commented on #241
Hi @markwilliamfirth, I _agree_ that is _high_ priority, but don't feel like it has to be done today.
Can you give us a specific timeline for when you would _like_ to get this done? _thanks_!

[2017-02-20 13:55] markwilliamfirth commented on #226
@nelsonic the original issue was because there was an idea that we could try and direct more of your time towards higher priority projects, but we couldn't do so until understanding where your time was being spent first.

You mentioned interruptions were the biggest amount of time spent, but looking at the above it doesn't reflect this assumption.

The below shows estimates of percentages of where

[2017-02-20 14:01] markwilliamfirth commented on #241
@nelsonic this week?

[2017-02-20 14:28] nelsonic commented on #226
@markwilliamfirth the realities of our _existing_ commitments to client work do not reflect our priorities as a company. but until the client work is delivered we cannot _focus_ our efforts on the highest priority/value activities. I've spent 18h learning Elixir & Phoenix over the weekend so that I _can_ (_eventually_) focus on building the Time app. sadly I have nothing more to show for it than "

[2017-02-20 14:32] nelsonic commented on #242
relates to https://github.com/dwyl/start-here/issues/116
(_I think its **much** easier to craft a handbook once we have a clearly articulated mission..._)

[2017-02-20 14:34] nelsonic commented on #246
Relates to: https://github.com/dwyl/start-here/issues/115

[2017-02-20 14:39] nelsonic commented on #248
I wouldn't worry about tumblr, snapchat or redit ... as long as we've got YouTube... 😉
Pinterest would be nice-to-have but again, not a priority.

Why do we need to `delete` the "old" YT channel? (_excuse my ignorance..._)

[2017-02-20 14:39] nelsonic commented on #252
@harrygfox might be able to help...

[2017-02-20 15:19] markwilliamfirth commented on #226
I guess the issue is about matching time (as much as possible) with priorities and if the above is correct then we need to reassess company priorities to take into account current services and commitments as client work is clearly very important to the company.

[2017-02-20 15:22] markwilliamfirth commented on #248
The one I've made is linked to a Google plus business page for dwyl - when I was making the pages dwyl didn't appear so I made one - it seems like the old channel is not linked to a google plus page?

[2017-02-20 15:27] iteles commented on #248
@markwilliamfirth But it has 2 subscribers and a timestamp of its creation which pre-dates the new one and shows evolution... Could we link the old one to the G+ page?

[2017-02-20 15:29] markwilliamfirth commented on #248
@iteles can you make me a manager of the old page so I can see if I can edit it to do so?

[2017-02-20 15:31] iteles commented on #248
@nelsonic This one's on you I'm afraid. Could you please give Mark manager permissions to https://www.youtube.com/channel/UCItdEQk0-lGLm8JhOfoLxkQ ?

[2017-02-20 15:31] nelsonic commented on #226
@markwilliamfirth we _need_ the priorities to be well-defined so we _all_ know how to focus our Time (_pun intended_).

[2017-02-20 15:33] nelsonic commented on #248
@markwilliamfirth let me know when you have time to _pair_ on this. 👍

[2017-02-20 15:40] markwilliamfirth commented on #239
<img width="655" alt="screen shot 2017-02-20 at 15 38 53" src="https://cloud.githubusercontent.com/assets/5732209/23131671/c2281336-f782-11e6-8630-5a13e9e83b53.png">

@iteles on xero please could you make me the subscriber or activate payroll on your end?

[2017-02-20 15:42] markwilliamfirth commented on #248
@nelsonic not sure what you mean

You need to make me a manager of the channel or change the channel to be under the new gplus page (of which you are a manager)

This is why I suggested deleting the old one because this will be a headache to do...

[2017-02-20 15:50] harrygfox commented on #252
@markwilliamfirth in the "Branding and Marketing" folder there is the `.png` and `.svg` files for the dwyl heart that you see on the home page of dwyl.io

[2017-02-20 15:50] markwilliamfirth opened #253 "Cycle to Work Scheme"
We should sign up to one/all of these (or a similar scheme)

https://www.cyclescheme.co.uk/
http://www.bike2workscheme.co.uk/
https://www.cycle2work.info/contact/employers

[2017-02-20 15:52] markwilliamfirth commented on #252
@harrygfox thanks - we need the original teal logo though - maybe Joe Tanner has it if Ines doesn't?

[2017-02-20 17:08] markwilliamfirth commented on #118
Dear Scott,

Many thanks for your reply. I'm writing to you in my capacity as a Director of DWYL LTD ("dwyl"). dwyl is a social enterprise formed of a worldwide network of web developers, working together to use technology to help others achieve their potential. The reason I wanted to write to you is in relation to the dwyl.com web domain. This web domain currently forwards to the Desiring God web

[2017-02-20 17:09] markwilliamfirth commented on #119
discussion continued on #118

[2017-02-20 17:09] #119 closed

[2017-02-20 17:10] markwilliamfirth opened #254 "Acquire dwyl.co.uk domain"
[Research](http://nominet-prod.s3.amazonaws.com/wp-content/uploads/2015/08/Expert_Overview.pdf)

[2017-02-20 17:37] nelsonic commented on #118
@markwilliamfirth I would _remove_ Trademark paragraph completely from the **_initial_ email** and appeal to Scott's good nature to "_do the right thing_" before mentioning our _legal_ claim.

Also, I would double the offer to $500 given that it's a _four-letter-dot-com-domain_...!
(_if it was sold on the "open market" it would probably go for a **lot** more..._)
I wouldn't bother with the "final

[2017-02-20 17:56] markwilliamfirth commented on #118
@nelsonic they can't sell it on the open market - that would show the following:

We were advised the US trademark is largely irrelevant in the case of the .com domain

Pretty sure we're a ltd (for profit) company?

[2017-02-20 18:00] markwilliamfirth commented on #247
@nelsonic I can't do this until
https://github.com/dwyl/dwyl-site/issues/202

[2017-02-20 18:03] markwilliamfirth commented on #240
@iteles @nelsonic do you have any objections to separating share classes (A, B, C) in order to allow differential payments of dividends?

[2017-02-20 18:05] nelsonic commented on #118
Yeah, agree.
just sayin' if we _emphasise_ the community aspect of dwyl we can appeal to his "nice guy".

[2017-02-20 18:05] markwilliamfirth commented on #226
Closing this issue

[2017-02-20 18:05] #226 closed

[2017-02-20 18:08] nelsonic commented on #226
@markwilliamfirth I'm happy to keep it open and assigned to me as I'm happy to keep tracking my time/activity with existing tools. just don't think it's a "Priority 1" issue.  👍

[2017-02-20 20:34] nelsonic commented on #247
We can always _create_ the content and `.then` _publish_ it on the website once the Blog a thing.
https://github.com/search?q=org%3Adwyl+learn `#ContentBackCatalog` 😉

[2017-02-20 20:35] nelsonic commented on #240
@markwilliamfirth please give details on share classifications. thanks. 👍

[2017-02-20 20:44] iteles commented on #247
@markwilliamfirth I think we talked about this a couple of weeks ago. Let's create a blog folder on site repo where we can add content as .md files for now 😊
By the time we redesign the website and launch the blog, we should have a few pieces there to start with 👍

[2017-02-20 21:58] markwilliamfirth commented on #247
I've already written 2000 words, I just don't want to put them on github at the moment. A lot of it is personal and probably not suitable for a company blog - still needs editing.

Regardless we need to know how long it will take to make a blog. There isn't much point in me prioritising writing if there is nowhere to publish.

[2017-02-20 22:01] markwilliamfirth commented on #240
There is no difference. They are just separated which means unequal payment of dividends can occur

[2017-02-21 01:04] bradreeder commented on #145
1. Principally, feeling my own source of inspiration aligns with that of the organisation -- to fulfil the vision of the organisation is to actualise my own. Working on projects that inspire me and make me feel alive.
2. Feeling a part of a community in which open and meaningful relationships are fostered. Non-hierarchical, non-contrived. We get to be ourselves.
3. Self-development of its members

[2017-02-21 09:29] harrygfox commented on #252
If you have the precise colour code then the assets can easily be changed
On Mon, 20 Feb 2017 at 15:52, Mark William Firth <notifications@github.com>
wrote:

[2017-02-21 10:13] markwilliamfirth commented on #219
waiting on approval from bank

[2017-02-21 10:28] markwilliamfirth opened #255 "Email Spreadsheet"
@iteles is there somewhere I can find a spreadsheet of everyone's emails in dwyl?

Links to #213

[2017-02-21 11:31] markwilliamfirth commented on #40
Discussion continued #149

[2017-02-21 11:31] #40 closed

[2017-02-21 14:18] nelsonic commented on #149
I'd rather track happiness than productivity. but both are equally "_subjective_" ...
@iteles your thoughts on this would be welcome. 👍

[2017-02-21 14:35] markwilliamfirth commented on #149
We can set up NPS scoring quite easily

[2017-02-21 14:36] nelsonic commented on #252
@harrygfox I think it would be _helpful_ to have a vector image for the logo so we can make things in high res: https://github.com/dwyl/quietspace/issues/17 😉

[2017-02-21 14:48] iteles commented on #239
@markwilliamfirth I think we should keep our general finance email address as the subscriber.

Payroll activated for a discounted fee for the next 6 months:
<img width="452" alt="screen shot 2017-02-21 at 14 47 23" src="https://cloud.githubusercontent.com/assets/4185328/23169754/d8fc3f70-f844-11e6-8d65-fd90b76ed876.png">

[2017-02-21 14:50] markwilliamfirth commented on #255
@iteles I have filled in as much [information](https://docs.google.com/a/dwyl.io/spreadsheets/d/1ECdbJm_hM9OvS9EOKVymknJ8nd1pDAe_WAPTOUcu5S4/edit?usp=sharing) as I can (without doing extensive research). Would you be able to add in what you know? (And then I can research and fill in the remaining gaps).

[2017-02-21 22:12] iteles commented on #240
Let's figure out the use case for an unequal payment of dividends. Is it a tax efficiency?

[2017-02-21 22:15] iteles commented on #247
@markwilliamfirth I respectfully disagree with this:

We need to have a backlog of content in order to publicise the blog and having the timestamp in Github of when we actually write the posts will be an invaluable log (there's no point holding back on putting up content).

In terms of editing, let me know where I can help. I think getting the ball rolling on this is one of the most valuable thing

[2017-02-22 01:26] markwilliamfirth commented on #240
Dividends by nature must be paid equal to the distribution of shares of the same class. Therefore if you need to make unequal distributions of dividends or you need to increase dividend payments to account for unequal distribution of shares, the only way to do this is by separating share classes.

[2017-02-22 01:33] markwilliamfirth commented on #247
I don't know if I agree with that - e.g. finances and contracts are far more important right now than blog writing. There is little point to building up a backlog of content if we have no plan for when or how it is going to be published. It's relatively easy to calculate an estimate for how long it will take to build a blog - I don't see what the problem is with doing this and why it hasn't been d

[2017-02-22 09:48] markwilliamfirth commented on #245
@iteles what do you think?

"We've been quite overwhelmed with speaker submissions actually and to be honest I think it's unlikely we'll be able to give Ines a slot this time, but if she's happy to say a few words about the various projects dwyl/she are working on in the community announcements section that would be fab and I can add you to the list :)"

[2017-02-22 09:51] markwilliamfirth commented on #112
@iteles do you have an estimate for this?

[2017-02-22 11:02] iteles commented on #240
@markwilliamfirth 👍 Let's work out what the remuneration should be and confirm if there is a need for this.

[2017-02-22 11:21] markwilliamfirth commented on #240
It will likely be required because my shareholding is significantly different to yours - also Nelson expressed an interest in potentially not receiving the same amount of dividends and whether that is true now or later on it's perhaps best to arrange the share classes in a suitable way now

[2017-02-22 14:27] ghost opened #256 "Insurance"
[QDOS](https://www.qdoscontractor.com/) has expired

[Digital Risks](https://digitalrisks.co.uk/cover-for/software-and-app-development/) Quote:

Employers Liability £10,000,000
Public and Products Liability £2,000,000

Total £10.56/month

They also offer insurance for:
Office contents and portable equipment
Professional indemnity
Cyber security
Commercial legal protection

Links to #211

[2017-02-22 14:30] markwilliamfirth commented on #239
@iteles post should arrive according to the below

You’ll get 2 letters from HMRC, which will include your:

PAYE and Accounts Office references (within 5 working days)
activation code for PAYE Online (within 10 working days)
You’ll need these to send payroll information to HMRC.

[2017-02-22 17:15] iteles commented on #245
@markwilliamfirth Yes, let's do that! We'll have value to add even as an announcement 👍

[2017-02-22 17:34] iteles commented on #255
@markwilliamfirth I've filled in all the dwyl people and the others I happened to know. There's a huge number I don't know or recognise but the dwyl folks are the important ones for now, let's not spend any more time on this until we have our #161 👍

[2017-02-23 15:33] markwilliamfirth commented on #245
Awesome - sorted!

Make sure to sign up here:
https://skillsmatter.com/meetups/9202-beboldforchange-the-women-using-tech-to-empower-others

 Wednesday, 8th March at CodeNode, London

[2017-02-23 16:00] iteles commented on #245
Yes, done a few days ago! 👍

[2017-02-24 09:45] markwilliamfirth commented on #252
Thanks @harrygfox! Ideally, we shouldn't really be remaking the logo though...the original file should exist somewhere - or is the plain svg the original? The heart colour code should be #4DB6AC I believe

[2017-02-24 12:17] iteles commented on #211
Uploaded the last of the invoices (finally, after 4 tries!) to google drive yesterday. I think we're done!! :tada:

[2017-02-24 15:46] iteles commented on #252
Success! I've found the original logo files and uploaded them to the Logos folder (under `original dwyl logo files`).

[2017-02-24 15:50] markwilliamfirth commented on #252
awesome

[2017-02-25 11:54] iteles commented on #246
Definitely appetite for this:
<img width="538" alt="screen shot 2017-02-25 at 11 53 34" src="https://cloud.githubusercontent.com/assets/4185328/23330843/191657c6-fb51-11e6-99e9-bbc57815be53.png">

[2017-02-25 14:03] markwilliamfirth commented on #238
done

[2017-02-25 14:03] #238 closed

[2017-02-25 14:05] markwilliamfirth commented on #232
Purchased

[2017-02-25 14:05] #232 closed

[2017-02-25 14:06] markwilliamfirth commented on #225
[Done](https://docs.google.com/document/d/1i5DCkcgf-cB3S8fluB2UXw4vmtdQCnpshhHileZePXQ/edit). Closed for now until redraft necessary.

[2017-02-25 14:06] #225 closed

[2017-02-25 14:18] iteles opened #257 "What feedback do we want to capture from our clients? What do we want to measure?"
We have quite a few projects that have just been competed and we need to capture feedback from them.

Right now, our questionnaire is short (which it should continue to be), but doesn't capture any measurable information:
1. Did the overall project process and experience go as you expected? If not, why not?
2. What did you feel went well?
3. What could have been improved?
4. Was there anything tha

[2017-02-25 14:22] markwilliamfirth commented on #3
ok to close?

[2017-02-25 14:24] markwilliamfirth commented on #17
ok to close?

[2017-02-25 14:29] markwilliamfirth commented on #49
#218 linked

[2017-02-25 14:30] markwilliamfirth commented on #53
ok to close?

[2017-02-25 14:30] markwilliamfirth commented on #55
ok to close?

[2017-02-25 14:31] markwilliamfirth commented on #58
ok to close?

[2017-02-25 14:34] markwilliamfirth commented on #75
ok to close?

[2017-02-25 14:34] #76 closed

[2017-02-25 14:34] markwilliamfirth commented on #80
ok to close?

[2017-02-25 14:35] markwilliamfirth commented on #81
@iteles do we want this?

[2017-02-25 14:35] markwilliamfirth commented on #81
Links to #256

[2017-02-25 14:36] markwilliamfirth commented on #85
ok to close?

[2017-02-25 14:41] markwilliamfirth commented on #94
@naazy dwyl sports day round 2 in May/June?

[2017-02-25 14:41] markwilliamfirth commented on #95
@nikhilaravi when are you back in London?

[2017-02-25 14:44] markwilliamfirth commented on #96
To close this issue:

I replied with one line saying, "I would like to dispute this decision and discuss the outcome with a representative of Twitter."

20 minutes later they changed the username

They changed to @DWYL - we had to submit a support request to change it to lowercase letters as they don't allow you to change it to something less than 5 characters (even if it's only casing you're chan

[2017-02-25 14:44] #96 closed

[2017-02-25 14:45] markwilliamfirth commented on #99
Closed until decision made about QuietSpace

[2017-02-25 14:45] #99 closed

[2017-02-25 14:46] markwilliamfirth commented on #126
Linked to #49 #218

[2017-02-25 14:47] markwilliamfirth commented on #138
@iteles did you complain yet?

[2017-02-25 14:48] markwilliamfirth commented on #134
@iteles lol

[2017-02-25 14:49] markwilliamfirth commented on #128
@iteles ok to close?

[2017-02-25 14:55] markwilliamfirth commented on #127
Agreed

[2017-02-25 14:55] #127 closed

[2017-02-25 14:56] markwilliamfirth commented on #124
@iteles ok to close?

[2017-02-25 14:56] markwilliamfirth commented on #120
@iteles

[2017-02-25 14:57] markwilliamfirth commented on #116
ok to close?

[2017-02-25 14:57] markwilliamfirth commented on #115
Is this our motto?

[2017-02-25 14:58] markwilliamfirth commented on #114
Should we move this to this QS repo?

[2017-02-25 15:01] markwilliamfirth commented on #111
ok to close?

[2017-02-25 15:03] markwilliamfirth commented on #108
Is this a company thing?

[2017-02-25 15:07] markwilliamfirth commented on #168
Not sure these points do align with the company culture. Also point number 4 potentially quite sexist there(!)

[2017-02-25 15:08] #166 closed

[2017-02-25 15:09] markwilliamfirth commented on #165
@nelsonic I thought you said Reddit didn't matter? #248  ;)

[2017-02-25 15:24] markwilliamfirth commented on #152
ok to close?

[2017-02-25 15:24] markwilliamfirth commented on #151
ok to close?

[2017-02-25 15:32] markwilliamfirth commented on #142
Is this still something we're considering changing?

[2017-02-25 15:33] markwilliamfirth commented on #140
http://www.inc.com/jeff-haden/inside-buffer-company-complete-transparency.html

[2017-02-25 15:34] #194 closed

[2017-02-25 15:37] markwilliamfirth commented on #186
new issue in qs

[2017-02-25 15:37] #186 closed

[2017-02-25 15:41] #176 closed

[2017-02-25 15:44] markwilliamfirth commented on #172
@iteles shall we put this in an md file rather than an issue?

[2017-02-25 15:45] markwilliamfirth commented on #172
Links to mission.

[2017-02-25 15:47] markwilliamfirth commented on #227
@iteles Monday?

[2017-02-25 15:47] #223 closed

[2017-02-25 15:51] markwilliamfirth commented on #216
Seems like in the long term we should be aiming to create our own platform though?

[2017-02-25 15:53] markwilliamfirth commented on #211
@iteles where are the logins and passwords for various things stored?

[2017-02-25 15:54] #210 closed

[2017-02-25 15:56] #208 closed

[2017-02-25 15:57] #205 closed

[2017-02-25 16:00] markwilliamfirth commented on #230
@harrygfox when is this guy coming back to London?

[2017-02-25 16:01] #235 closed

[2017-02-25 16:02] markwilliamfirth commented on #237
@iteles you need to upload your passport to drive

@nelsonic you need to upload you passport and ID card to drive (and charliehr if you want)

[2017-02-25 16:04] markwilliamfirth commented on #241
@nelsonic @iteles this wasn't done last week

[2017-02-25 16:06] markwilliamfirth commented on #248
@nelsonic are you able to give me access?

[2017-02-25 17:25] iteles commented on #257
Unassigning myself as I would like this to be a discussion rather than something coming just from me :blush:

[2017-02-25 17:27] iteles commented on #237
@markwilliamfirth We already uploaded my ID card to the drive which I use as my main form of identification, I don't even think I know where my passport is 😆  Do we need both? I can dig around for it if so.

[2017-02-25 17:27] iteles commented on #236
Did this finally come through? :tada:

[2017-02-25 17:28] iteles commented on #234
Was any progress made on this? It would be good to have a one-sentence comment when closing issues just so we know where we left things (unless commits against it speak for themselves)

[2017-02-25 17:29] iteles commented on #241
Nope. No it wasn't. Let's talk about it in our Monday prioritisation meeting?

[2017-02-25 17:30] iteles commented on #201
@markwilliamfirth Unclear why I've been assigned to this?

[2017-02-25 17:37] shouston3 commented on #80
Someone needs to make a pr to [hapijs.com](https://github.com/hapijs/hapijs.com) (similar to [this pr](https://github.com/hapijs/hapijs.com/pull/471/files)) to close this.
I'm not sure, but I would say it would make the most sense for @iteles or @nelsonic to make the pr as to address the 'person' section better

[2017-02-25 17:38] iteles commented on #207
@markwilliamfirth Did we make the decision to stay with G Suite and its (currently) £46.20 a month, £554.40 a year bill?

[2017-02-25 17:41] iteles commented on #80
@shouston3 Agreed, though I was looking at this just last week and wondering if we should given our new stack!

[2017-02-25 17:42] iteles commented on #210
@markwilliamfirth Is there a linked issue on whether we should create a way to do this or do you reckon it's not valuable enough for now?

[2017-02-25 17:45] iteles commented on #151
@markwilliamfirth Let's have a separate issue around the wider 'How shall we use/edit our training video content' in the video repo instead of this one 👍

[2017-02-25 17:45] #151 closed

[2017-02-25 17:46] iteles commented on #227
@markwilliamfirth We can try! https://www.google.co.uk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=weather+in+london+on+monday&*

[2017-02-25 18:06] markwilliamfirth commented on #203
@iteles do all tasks not need to be assigned to someone?

e.g. in the case of #257 even though it is a discussion is it not your responsibility, so it remains assigned with you?

[2017-02-25 18:07] markwilliamfirth commented on #237
@iteles in case I ever have to book flights for you etc

[2017-02-25 18:08] markwilliamfirth commented on #236
I just closed it because we did everything on our end...still waiting for it to appear

[2017-02-25 18:09] iteles commented on #237
Will dig it out in case we need non-EU flights 👍

[2017-02-25 18:10] markwilliamfirth commented on #234
I don't think it's my place to tell people I don't know how to manage their accounts so I decided against it - does someone else fancy doing this?

[2017-02-25 18:11] markwilliamfirth commented on #241
@iteles could you and nelson write your draftsin preparation and we can review them in the meeting?

[2017-02-25 18:13] markwilliamfirth commented on #207
I thought the consensus was CRM?

[2017-02-25 18:13] iteles commented on #241
Sorry, I have three project backlogs to review in their entirety before Monday morning, I'm going to find this difficult 😭

[2017-02-25 18:14] markwilliamfirth commented on #80
Yeah I don't think our new stack has hapi so assumed it was irrelevant now, but wasn't sure... @nelsonic ?

[2017-02-25 18:15] markwilliamfirth commented on #210
Was just a quick q - not a major issue

[2017-02-25 18:15] iteles commented on #234
Could the task instead be that we add it to our dwyler handbook?

[2017-02-25 18:16] markwilliamfirth commented on #227
Warning you for picture day :D haha

[2017-02-25 18:24] markwilliamfirth commented on #241
ok I don't think we should write them in the meeting though - not a good use of collective time - can we have them by this friday @nelsonic @iteles ?

[2017-02-25 18:25] iteles commented on #203
@iteles You raise an excellent point here around clarifying our processes - it's the eternal battle!

Our current contributing guidelines state that you assign something to yourself when you undertake  to carry out the work for said thing.
In the case of #257, I feel that if it's assigned to me, no one else will feel the need to contribute unless they feel *super* strongly about it because "someon

[2017-02-25 18:25] markwilliamfirth commented on #234
as an organisational policy for all employees and contractors to follow or just a suggested step to take?

[2017-02-25 18:26] iteles commented on #234
As an organisational policy.

Not having 2FA leaves the repos that that person has admin access to much for vulnerable to hacking and even deletion (and if they're working on dwyl repos, we'll need them to have write or admin access - we want people to take ownership as well).

[2017-02-25 18:27] iteles commented on #241
@markwilliamfirth Completely agree, I just meant discuss

[2017-02-25 18:30] markwilliamfirth commented on #203
Ah ok - I see assigning = responsibility

and that responsibility doesn't stop others from contributing and that the discuss label is an invitation to discuss

so i guess that's why we had the miscommunication

#201 I got the impression you were into branding and social media so I thought you were keen to do it. Feel free to assign to me if you want

[2017-02-25 18:33] markwilliamfirth commented on #203
I feel like all tasks should have someone assigned and a priority assigned and if someone else is going to carry out the work the person assigned can be swapped? But maybe that's so different to the dev methodology that it seems weird...makes sense for ops though

[2017-02-25 18:34] markwilliamfirth commented on #234
Ok cool - will be added to #242

[2017-02-25 18:34] #234 closed

[2017-02-25 18:35] iteles commented on #140
@markwilliamfirth I'm thinking we need a `blog` label and this issue deserves one?

[2017-02-25 18:37] iteles commented on #108
I think we can close this for now and re-raise in `quietspace` if we want 👍

[2017-02-25 18:37] #108 closed

[2017-02-25 18:37] nikhilaravi commented on #95
@markwilliamfirth back shortly from May 19th -23rd but properly back end of June! So excited for big dwyl reunion! 😍

[2017-02-25 18:38] iteles commented on #124
Thanks for the reminder @markwilliamfirth !

Yes, this has been done, after *much* back and forth and *without* a contract extension for a further 12 months:
<img width="612" alt="screen shot 2017-02-25 at 18 37 45" src="https://cloud.githubusercontent.com/assets/4185328/23333777/91cc4b34-fb89-11e6-86bb-70c40d895445.png">

[2017-02-25 18:38] #124 closed

[2017-02-25 18:41] markwilliamfirth commented on #95
@nikhilaravi woooo! Will any of your evenings May 19th - 23rd be free (for dwyl bounce!)? We might be in Portugal end of June 😬 ...

[2017-02-25 18:41] iteles commented on #138
Urgh, no, this isn't high on my list unfortunately

[2017-02-25 18:41] markwilliamfirth commented on #124
nice

[2017-02-25 18:42] #116 closed

[2017-02-25 18:42] iteles commented on #116
@markwilliamfirth Might be a good wall sign for QS #114 #113 ;)

[2017-02-25 18:44] iteles commented on #115
Maybe not our 'motto' but might be a good thing for the wall in QS if we get around to it 👍

[2017-02-25 18:44] #115 closed

[2017-02-25 18:44] markwilliamfirth commented on #116
lol

[2017-02-25 18:45] markwilliamfirth commented on #138
What's the ROI for complaining? £280?

[2017-02-25 18:46] markwilliamfirth commented on #140
@iteles good idea

[2017-02-25 18:46] iteles commented on #138
Possibly a new iphone 6? Linked to #152

[2017-02-25 18:47] iteles commented on #152
I can confirm this has reached its destination!

[2017-02-25 18:47] #152 closed

[2017-02-25 18:47] iteles commented on #134
I'm particularly a fan of the bug label.

[2017-02-25 18:49] nikhilaravi commented on #95
ah okay I'll let you know! I'm just coming back for my MA ceremony so not sure yet what the plan is! When will you be going to Portugal? Maybe I can meet everyone there ? ;) hehe

[2017-02-25 18:50] markwilliamfirth commented on #138
If you briefly write out what happened I can write it up properly, submit and handle the complaint? Might be worth it

[2017-02-25 18:55] markwilliamfirth opened #259 "Setting Dates for dwyl Summer"
- [ ] Dates for Nelson + Inês

- [x] Dates for the team + friends of dwyl to visit

[2017-02-25 18:56] iteles commented on #138
@markwilliamfirth Sure!

Everything was working fine, no issues *at all* or hints that it was about to give up the ghost.
I was using Google Maps navigation and we were driving along (to the Safe Lives workshop in Bristol), when all of a sudden and without warning, half of the screen went black (half diagonally, as in if a line were to spit the screen from the bottom left to the top right corner,

[2017-02-25 18:57] iteles commented on #95
@nikhilaravi There's no Bounce in Portugal, but there are plenty of other things :wink:
We'll be figuring out dates *very soon* #259

[2017-02-25 18:58] markwilliamfirth commented on #95
@nikhilaravi still being decided! Leaving UK for Portugal sometime between June - August

Just raised an issue ;) ( #259 )

Yes you could! 😄

Although if you decide want to bounce in May let me know and I'll tell people to hold the date and book it!

[2017-02-25 19:17] markwilliamfirth commented on #228
Putting this on hold until the £871.65 becomes worth it.

[2017-02-25 19:29] iteles commented on #120
The process was simplified! No need for an apple ID and therefore all set up on the apple watch. Closing

[2017-02-25 19:29] #120 closed

[2017-02-25 20:08] #3 closed

[2017-02-25 20:09] iteles commented on #81
Let's look into how much it costs, but I'm pretty sure we will!

[2017-02-25 20:12] iteles commented on #126
Closing in favour of #49 , where I've updated the top comment with the extra information.

[2017-02-25 20:12] #126 closed

[2017-02-25 22:18] iteles commented on #237
Done for us both!

[2017-02-25 22:18] #237 closed

[2017-02-25 22:52] iteles commented on #255
Have just updated the meetup column for March, there may be too many yeses in there...

[2017-02-25 22:53] iteles commented on #75
Not yet. This one's with me.

[2017-02-25 23:29] iteles commented on #211
You'll see a new file in the dwyl (private) folder 👍

[2017-02-26 00:03] iteles commented on #129
Done at the end of 2016, forgot to check off!

[2017-02-26 00:03] #129 closed

[2017-02-26 00:07] iteles opened #260 "dwyl VAT return | period ending 31st January 2017"
### Deadline: 3 March 2017

+ [x] Finalise income for the period 1st November 2016 - 31st January 2017
+ [x] Determine VAT on expenses for that period
  + [x] F&C invoices (@iteles)
  + [x] Ice Cream Rocketship invoices
  + [x] Receipts/invoices
+ [x] Fill our VAT statement
+ [x] Pay VAT for the quarter

[2017-02-26 00:08] #128 closed

[2017-02-26 00:09] iteles commented on #130
Unassigning myself - happy for anyone to take on this research!

[2017-02-26 01:18] #211 closed

[2017-02-26 01:32] markwilliamfirth commented on #130
@iteles the reason I assigned to you is because this comes under

biz dev -> partnerships

So I think it's your call as to whether we partner or not. Can probably tell from quickly scanning the website, no?

[2017-02-26 19:53] nelsonic commented on #95
@iteles / @nikhilaravi no "bounce" ...? we have _two_ pingpong tables and can easily rustle up a third. _surely_ that's "_enough_" to start our own Bounce in PT? 😜

[2017-02-26 19:55] nelsonic commented on #138
It's not _just_ about complaining, there are _lots_ of photos on the phone that weren't backed up... 😢
Complaining is a _necessary **second** step_ (_once the data is recovered_)

[2017-02-26 20:31] nelsonic commented on #228
It's worth it _now_ (IMO).
The sooner we get this ball rolling the sooner we can "_protect_" the "_brand_" ... 🥇
the way I think about this kind of stuff is by considering the cost to _change_ brands for the US "_market_" if someone `else` registers the trademark (_the way "WeWork" did..._)

[2017-02-26 20:32] nelsonic commented on #134
This is _still_ an _on-going_ problem. but I think we can _close_ the issue. @iteles thoughts?

[2017-02-26 20:34] iteles commented on #134
Closing for now, it's so low priority that we'll be able to resurface it quickly with a search for 'blog' in the closed issues 👍

[2017-02-26 20:34] #134 closed

[2017-02-26 20:35] nelsonic commented on #80
@iteles we use Hapi for _several_ things and are _not_ going to change any _existing_ apps to "_PETE_". therefore it is _still_ a good plan for someone to prepare this PR.

[2017-02-26 20:36] nelsonic commented on #248
@markwilliamfirth I _already_ granted you Admin access back in December. 😉
Pair on figuring out what `else` I need to do to make sure you can administer the account...

[2017-02-26 20:51] iteles commented on #142
Yes. Bumping down the priority until I have communicated the plan for 2017 more clearly and then we can pick this up again in light of that.

[2017-02-26 20:52] iteles commented on #168
This is more of a *reference* issue, rather than something actionable *for now*.

[2017-02-26 21:12] iteles commented on #58
Nope. We need to add a `blog` label to this 👍

[2017-02-27 09:21] markwilliamfirth commented on #80
@nelsonic can you give me a quote about why you like hapi so I can make the pr?

(other examples of quotes are here https://hapijs.com/community)

[2017-02-27 09:35] markwilliamfirth commented on #248
@nelsonic you need to make me the owner to move the channel

I think we should just remove the old one and keep the new - otherwise I will have to change the settings on the old one like I did for the new one and it's just repeating work. The new one already has more subscribers. The age of and the video on the old channel will have likely lowered the channel stats for that channel with regards to

[2017-02-27 09:38] markwilliamfirth commented on #58
@iteles who is to write the piece?

[2017-02-27 09:42] markwilliamfirth commented on #138
@iteles did you back up your photos with icloud or itunes backup?

[2017-02-27 09:46] markwilliamfirth commented on #249
<img width="334" alt="screen shot 2017-02-27 at 09 45 41" src="https://cloud.githubusercontent.com/assets/5732209/23356417/9e9efb38-fcd1-11e6-8fcf-a54b7d31d37f.png">

[2017-02-27 10:08] markwilliamfirth commented on #203
Another reason why GH issues isn't good for a to-do list (https://github.com/dwyl/start-here/issues/121)

It's a potential annoyance and distraction when people get GH notifications and email notifications for minor tasks that have nothing to do with their work. It also causes miscommunication because people read what's there and interpret it in their own way without all the background facts. The

[2017-02-27 10:33] markwilliamfirth commented on #249
<img width="81" alt="screen shot 2017-02-27 at 10 32 05" src="https://cloud.githubusercontent.com/assets/5732209/23357993/0fb06c52-fcd8-11e6-948c-2030676bef90.png">

Harry in an email to Code4000

2017-02-26

[2017-02-27 10:44] markwilliamfirth opened #261 "Women Techmakers Global Event Series - London"
Wednesday, March 1, 2017

https://www.womentechmakers.com/iwd17

https://services.google.com/fb/forms/iwd17lonsummitapplication/

The event will feature panel discussions with female technology leaders, networking opportunities and more.

women-techmakers-events@google.com

@iteles what do you think in terms of asking for a panel slot (might be too late) or simply attending?

[2017-02-27 11:09] iteles commented on #261
I'm pretty sure they'll have locked down their programme by now!

But I could attend... if I miss dodgeball 🤷‍♀️

[2017-02-27 11:27] markwilliamfirth commented on #261
Ok - let me know if you think it's valuable enough vs dodgeball (vs free time - also valuable ;) )

[2017-02-27 11:51] markwilliamfirth commented on #81
@iteles need these answers to get quote

1. Office contents
How much would it cost to replace all property permanently located at your office?

2. Portable equipment
How much would it cost to replace all other property owned by the business?
This should include things like laptops, mobile phones, cameras, etc.

3. Increased cost of working
This covers additional expenses needed to keep your busine

[2017-02-27 11:54] markwilliamfirth commented on #204
@iteles what do you think?

[2017-02-27 11:55] ghost opened #262 "dwyl Companies House Filings"
- [x] Cap Table - [Google Sheet](https://docs.google.com/spreadsheets/d/1dqOnmrVCDXUAPQ0-5P6be_L-jgPVhRDhXBXgCmHMtU8/edit#gid=0)

- [x] SH02 - [PDF](https://drive.google.com/open?id=0B0XeQ2t5WSK2SUE0QU12bXpsSjg)

- [x] SH01 - [PDF](https://drive.google.com/open?id=0B0XeQ2t5WSK2bFRBcnA0ZWhOU3c)

- [x]  Articles of Association - [Word Doc](https://drive.google.com/open?id=0B0XeQ2t5WSK2dVFJOUtmQTgzUl

[2017-02-27 11:58] markwilliamfirth opened #263 "Microsoft Office License"
Do we have an office license for Mac? If not, can we get one?

[2017-02-27 11:59] markwilliamfirth commented on #149
@iteles your thoughts?

[2017-02-27 12:36] markwilliamfirth commented on #262
@iteles @nelsonic Please can you review the [Cap Table](https://docs.google.com/spreadsheets/d/1dqOnmrVCDXUAPQ0-5P6be_L-jgPVhRDhXBXgCmHMtU8/edit#gid=0) and decide whether you would like to go with version 1 (no options) or version 2 (options)?

[2017-02-27 12:38] nelsonic commented on #263
@markwilliamfirth we use Google Docs for all "Office-related" stuff.
Are you attempting to edit a Proprietary Microsoft format for a specific doc?

[2017-02-27 12:40] markwilliamfirth commented on #263
@nelsonic yes I want to make edits to an already existing word doc. Converting to google docs will disrupt the formatting

[2017-02-27 12:41] nelsonic commented on #149
HI @markwilliamfirth, I think we like the _idea_ of the NPS ...
we just don't like the way most companies _implement_ it ...
We don't want to make tracking happiness or "satisfaction" a "_formal_" thing people do because they _have_ to ... it's like telling people to Tweet. if they don't _want_ to do it then it will _always_ feel like a "_chore_".

[2017-02-27 12:44] markwilliamfirth commented on #149
@nelsonic how would you like to track it?

[2017-02-27 12:59] markwilliamfirth opened #264 "Transfer to Santander"
Increase balance of operating account

[2017-02-27 13:03] markwilliamfirth commented on #249
<img width="263" alt="screen shot 2017-02-27 at 13 01 52" src="https://cloud.githubusercontent.com/assets/5732209/23362280/fdb37e8a-fcec-11e6-9e23-29d65da0bfa2.png">

Had sent email with `dwyl` previously - he still spelled `Dwyl` when replying

2017-02-27

[2017-02-27 13:05] markwilliamfirth commented on #256
@iteles @nelsonic Can I have confirmation that none of the below have occurred to you?

in the last ten years been declared bankrupt or insolvent or been the subject of bankruptcy proceedings or insolvency proceedings or been disqualified from being a company director
in the last ten years been the subject of a County Court Judgement, an Individual Voluntary Arrangement, a Company Voluntary Arrang

[2017-02-27 13:11] markwilliamfirth commented on #112
@nelsonic I believe @iteles said you might know the estimate for this? Can someone give me a figure please? 😄

[2017-02-27 13:14] markwilliamfirth commented on #256
And please confirm that you have never been:

- prosecuted by the Health and Safety Executive or been notified that a prosecution will be made and/or received Prohibition or Improvement Notices for breaches of health and safety
- prosecuted by an enforcing authority or been notified that a prosecution will be made and/or received Enforcement or Prohibition Notices for breaches in fire safety
- pro

[2017-02-27 13:14] markwilliamfirth commented on #256
And:

- forced to issue a product recall by the enforcing authorities
- prosecuted under Product Safety legislation
- prosecuted by the Environment Agency and/or been subject to Civil Sanctions and/or been required to pay clean-up costs following a pollution incident

[2017-02-27 13:15] markwilliamfirth commented on #256
And that you haven't:

- You haven't made any claims, or had any incidents which could have resulted in a claim, in the past 3 years

[2017-02-27 20:00] #111 closed

[2017-02-27 20:02] nelsonic commented on #165
@markwilliamfirth Redit has it's purpose ... I've not used it since it was sold (_out_).
@anweshknayak can this be closed?

[2017-02-27 20:02] #17 closed

[2017-02-27 20:03] nelsonic commented on #114
Go for it. ✅

[2017-02-27 20:03] #85 closed

[2017-02-28 01:44] iteles commented on #256
@markwilliamfirth All the above confirmed for us both.

[2017-02-28 05:38] nelsonic commented on #80
Quote:

We have used Hapi for a number of client & internal Web App/API projects and everyone has been delighted with the results! Hapi is clearly built/maintained by an exceptionally experienced team and includes many features other frameworks do not even consider. Our favourite things are: testability is made incredibly easy (because "shot" is built in) and the event-based "hooks" for the plugin

[2017-02-28 06:47] nelsonic commented on #262
@markwilliamfirth _thank you_ for opening this issue. 👍
_unassigning_ myself as I don't think there's much point "_diving up the cake_" `before` it's been _baked_.
Yes, it's _important_ to think about these things, but I don't think it's "P1" and it _certainly_ is not something ***I*** need to be focussed on until the _product_ has been shipped. ✨

@iteles happy for you to make any/all required de

[2017-02-28 06:54] nelsonic commented on #241
I _agree_ that this needs to be done. Contracts are _important_ for accountability.

So far my "role" in the company has ben "_cash cow_", and I think I've achieved it _rather_ well. ✅
But for "_official_" (_i.e. contract_) reasons it does "make sense" to have a more descriptive role.

Please just write down the role/responsibilities of a Lead Developer, Product Manager, "CTO" or what ever title I

[2017-02-28 08:14] nelsonic commented on #112
This is an _easy_ calculation that _anyone_ can derive with some simple arithmetic. ***£400k***.

**2k hours** _per year_ x **2 years** x **£100/hr** (_my "market/going rate"_)
this is a ***conservative estimate*** of the time I have invested so far in dwyl modules
and I would be _happy_ to explain _exactly_ how I spent that time to someone at HMRC if they ask. 👍

# tl;dr

[Research and Developmen

[2017-02-28 09:21] markwilliamfirth commented on #262
@iteles let me know if you have any thoughts re options!

[2017-02-28 09:28] markwilliamfirth commented on #112
@iteles I'm not sure the above is correct...because the amount we've spent is not equivalent to that because the remuneration will not reflect that - it has to actually come from real money that we spend. Do you know how much we've actually spent on tech ip we own? I'm unable to calculate it from the spreadsheet because I don't know what percentage of the work done that we own the ip for.

[2017-02-28 09:32] markwilliamfirth commented on #256
We now have the following insurance with Digital Risks

Employers Liability £10,000,000
Public and Products Liability £2,000,000

Total £10.56/month

This was backdated to a start date of 30 January 2017.

[2017-02-28 09:34] nelsonic commented on #256
@markwilliamfirth thanks for sorting this. ❤️  ✅

[2017-02-28 09:37] nelsonic commented on #112
@markwilliamfirth this is _exceedingly_ simple: pay me _all_ the money I've made for the company doing Dev/QA over the last 2 years and you'll have a nice big _chunk_ out of the P&L which we can claim on R&D. ✅
I will _re-invest_ the money back into the business a minute later. 👍
@iteles please handle the "_details_". thanks. ❤️

[2017-02-28 09:53] markwilliamfirth commented on #112
@nelsonic I don't know if it's that simple as paying you all the money might drastically increase your tax

@iteles do you have an estimate for money not related to nelson's remuneration? It'll be easier if we start with that

[2017-02-28 10:12] iteles commented on #112
@nelsonic Mark and I will take care of this, please mute notifications for this.

@markwilliamfirth If you're able to come into dwyl tomorrow morning, let's sit and go through the open issues like this one together :+1:

[2017-02-28 11:27] markwilliamfirth commented on #256
Sorry should have commented(!)

Decided to leave it open and move to priority 2 because we still need to discuss whether we want:

Office contents and portable equipment
Professional indemnity
Cyber security
Commercial legal protection

Will revisit this after priority 1s :)

[2017-02-28 12:28] iteles commented on #263
@markwilliamfirth Is this for a dwyl document or a document we are sharing with a client?
If it's for something to be used as a dwyl document, it will need to be converted to Google Docs for ease, collaboration and accessibility.

For every contract/document/NDA/agreement over the course of the last year, we have used Google Docs. Changes in formatting so far have been minimal enough that they hav

[2017-02-28 12:41] iteles commented on #204
@markwilliamfirth We discussed yesterday that we'd catch up on this on Friday 👍

[2017-02-28 12:45] iteles commented on #81
@markwilliamfirth Can I suggest we start with an inventory of everything in QS?

I'll need to do the same for portable equipment at HQ.

[2017-02-28 17:18] markwilliamfirth opened #265 "Company Blog Platform"
Medium vs In-house Blog - pros and cons of Medium

**Pros**
- Already set up https://medium.com/dwyl we could start publishing asap if we wanted to
- Access an easy-to-use and update front-end interface
- Much more feature rich (e.g. provides estimate for estimated time to read)
- Connect Twitter and Facebook networks to boost following from day one
- We can reach new audiences using tags, follows

[2017-02-28 17:24] markwilliamfirth commented on #236
@iteles the bank feed situation is now partially resolved - required some editing of the settings

Now you need to log in and connect it https://connect.banking.xero.com/BankCredentials/Create

(I can't log in because I don't have credentials yet)

[2017-02-28 17:27] markwilliamfirth commented on #265
Calculating dev time estimate in https://github.com/dwyl/dwyl-site/issues/202#issuecomment-283029619

[2017-02-28 17:39] nelsonic commented on #265
@markwilliamfirth _annoyingly_ the research into Medium captured by @sohilpandya in https://github.com/dwyl/adoro/issues/97 is not easy to find in our _ocean_ of GitHub issues.

Medium is an _amazing_ platform for people who _just_ want to publish content. 👍
The features are _excellent_ (_I love "highlighter"_) and interface for content creation/editing is second-to-none. No contest there. 😍

The

[2017-02-28 17:58] markwilliamfirth commented on #265
@nelsonic your comment in the referenced issue Sohil created:

Should we really spend X (awaiting estimate) days building a blog when we should be building product? Is the value of more control, a subscription list, superior commenting and SEO that important right now? Or is the primary focus pushing out content and focusing dec time on product?

[2017-02-28 18:00] markwilliamfirth commented on #265
This isn't a technical decision, this is a business decision and links back to our vision and where we should be prioritising our time.

[2017-02-28 18:16] markwilliamfirth commented on #219
@iteles you need to contact the coop

[2017-03-01 06:12] iteles commented on #138
@markwilliamfirth I use Google Photos NOW to keep them synced but there are 2-3 months of photos on that phone that aren't backed up :(

[2017-03-01 16:22] markwilliamfirth opened #266 "How can we improve inclusivity at dwyl?"
dwyl is already a great community of people. How can we further improve dwyl's inclusivity to ensure those who are more shy or haven't contributed before would be willing to contribute? What changes should we be making to create a more inclusive culture that allows the opinions of a wider range of people from different backgrounds to be heard?

Anyone with thoughts on this are warmly welcomed to c

[2017-03-01 16:34] markwilliamfirth commented on #252
@iteles I just opened the file in AI and it's not the right file(!) It's the AI version of the old logo which looks like this:

<img src="http://www.foundersandcoders.com/assets/partners/dwyl-logo.png">

We still need to find the original logo file. Is it ok if I reach our to Joe Tanner?

[2017-03-01 16:50] markwilliamfirth commented on #249
After several emails, we were on a Skype call with Sam from Super Global today:

[2017-03-01 19:56] iteles commented on #249
But he pronounced dwyl correctly unprompted.

[2017-03-01 20:13] iteles commented on #252
@markwilliamfirth Like I said, it's the *original* logo. There's no AI file for the latest one - doesn't exist.

[2017-03-01 20:25] iteles commented on #262
@markwilliamfirth Just need you to talk me through the 'Add Options' portion of the spreadsheet please! Just grab me when available tomorrow :blush:

[2017-03-01 20:26] iteles commented on #261
Ended up at F&C business meeting - a requirement given my director status!

[2017-03-01 20:26] #261 closed

[2017-03-01 20:27] iteles commented on #240
@markwilliamfirth Just need you to talk me through a practical example please (can be verbal as long as I summarise the conclusions here)

[2017-03-01 20:38] iteles commented on #236
Done 👍

[2017-03-01 20:38] #236 closed

[2017-03-01 23:15] sohilpandya commented on #249
Should we have an intro video on the site that starts with one of us saying:
"Welcome to dwyl"
🤔

[2017-03-02 11:36] sohilpandya opened #267 "Suggestion: Friday Workshop Half-Day"
Earlier on today I was given a little walkthrough of Phoenix by @jackcarlisle and I've got a little idea:

**Can we have a fortnightly workshop that takes place at QS?**

- Each workshop would last 3 hours on a Friday 2pm - 5pm.
- Everyone is taken through the topic (i.e. phoenix/swift/elm) where they build a simple app using the tech.

I understand that it isn't going to make people pros in the g

[2017-03-02 11:56] markwilliamfirth commented on #249
@sohilpandya great idea! If you can please make an issue in video or hq, add the brand tag and reference this issue. The purpose of this issue is just for recording the history

[2017-03-02 11:58] markwilliamfirth commented on #249
<img width="312" alt="screen shot 2017-03-02 at 11 58 11" src="https://cloud.githubusercontent.com/assets/5732209/23506323/923c94e8-ff3f-11e6-8ce0-90a3eef54ee1.png">

2017-03-02

[2017-03-02 12:06] markwilliamfirth commented on #249
<img width="500" alt="screen shot 2017-03-02 at 12 05 36" src="https://cloud.githubusercontent.com/assets/5732209/23506518/95ca92d0-ff40-11e6-827e-536e4b3ba80b.png">

2017-02-28

[2017-03-02 12:07] markwilliamfirth commented on #249
<img width="386" alt="screen shot 2017-03-02 at 12 07 17" src="https://cloud.githubusercontent.com/assets/5732209/23506550/ce9dc226-ff40-11e6-9048-b42ab97ba321.png">

2017-03-01

[2017-03-02 12:37] sohilpandya commented on #249
@markwilliamfirth I actually meant that! I was shouting `DWYL` hence it's all written with caps lock on. 😉

[2017-03-02 14:45] markwilliamfirth commented on #249
<img width="592" alt="screen shot 2017-03-02 at 14 44 33" src="https://cloud.githubusercontent.com/assets/5732209/23511927/cb4dddd4-ff56-11e6-83b6-72a74d3bae43.png">

2017-02-28

[2017-03-02 16:52] nelsonic commented on #267
@sohilpandya yes!
relates to: https://github.com/dwyl/video/issues/17
The workshops will be filmed and publicly available.
Only members of QuietSpace/DWYL will attend in-person. 👍

[2017-03-02 17:49] markwilliamfirth commented on #249
<img width="473" alt="screen shot 2017-03-02 at 17 48 58" src="https://cloud.githubusercontent.com/assets/5732209/23519910/8e96d7be-ff70-11e6-9127-052ec16d9db8.png">

2017-03-02

[2017-03-02 23:22] sohilpandya commented on #267
Can we pencil a workshop in for the 17th March? 2pm - 5.30pm

@jackcarlisle @shouston3 @katbow @RobStallion @SimonLab up for doing a 3 hour phoenix workshop for the rest of us? (you'll be famous on the internet! 😉)

[2017-03-03 14:03] markwilliamfirth commented on #257
We can improve quantification by including questions where they rate us out of 10.

For example:
Rate from 1-10 the following:

Our ability to understand your needs as a client
The quality of the code
The choice of technologies used for the project
Did we communicate complex technological concepts in simple to understand ways?
How we responded to changes of scope and bugs

Not saying we should tra

[2017-03-03 15:40] nelsonic commented on #241
@markwilliamfirth / @iteles can you please review the responsibilities I've added to: https://docs.google.com/document/d/1FEYAw36LRc7MURdvYc0UQK3HwBSyglbysLTtY6AUI-k
I'm happy to print this off and sign it today so we can get it scanned.

[2017-03-04 20:51] katbow commented on #267
I'm down to co-run that with someone 😄 . Need some ideas on what we can build hmmm 🤔

[2017-03-04 20:57] shouston3 commented on #267
@katbow I'm up for co-running

[2017-03-04 21:11] RobStallion commented on #267
@sohilpandya I think that this is a great idea. I'd be up for taking part as well @katbow @shouston3

[2017-03-05 09:56] nelsonic commented on #93
Once we have the trademark for the logo we should submit it to: http://www.logobook.com/object/hearts/ `#InboundLinks`

[2017-03-05 23:52] iteles commented on #233
@markwilliamfirth Forgot to reassign this to you! Can we close this?

[2017-03-05 23:54] iteles commented on #213
@markwilliamfirth Could you please update the top comment with not only the final date but also the list of confirmed attendees as they come in? It would be good to know who is able to make it 👍

[2017-03-05 23:54] iteles commented on #267
Also linked to #198

[2017-03-06 00:02] iteles commented on #203
@markwilliamfirth *Everyone* in our organisation uses github to track at least a significant *portion* of our to-dos. If we want to *ensure* transparency of the work we are doing (and importantly *lead by example*), we need to get better at making sure that that work is captured somewhere that the rest of our colleagues have access to *with the least friction*.

We will be systematically *solving*

[2017-03-06 17:14] markwilliamfirth commented on #255
Nice

[2017-03-06 17:14] #255 closed

[2017-03-06 17:14] markwilliamfirth commented on #241
Mark to review

[2017-03-06 17:20] markwilliamfirth commented on #263
@nelsonic has a USB for me with the programs on - can I come and collect it from you Nelson? :D

[2017-03-06 17:27] iteles commented on #241
@markwilliamfirth Added my responsibilities for review over the weekend and discussed.

Also added comments to the document around:
+ 'normal hours of work' and the need for flexible working hours
+ A limit (or lack thereof) on number of days holiday in a year
+ Intellectual property portion of contract requires rewording (this might require some thought!)

[2017-03-06 18:50] #233 closed

[2017-03-06 18:51] markwilliamfirth commented on #262
Inês has confirmed to proceed without options for now

[2017-03-07 11:13] nelsonic commented on #263
@markwilliamfirth yeah, @iteles has the USB which is a _bootable_ OS with all the software.
Running MacOS X off a USB "thumb drive" isn't ideal (_it's not exactly fast_)
So the next steps would be to:
+ try running off the USB until you get sick of how long it takes to load...
+ backup everything you already have on your MacBookPro onto the USB (_I can show you how if you need_)
+ Then "restore" y

[2017-03-07 14:33] markwilliamfirth commented on #149
NPS tool I mentioned -> https://promoter.io

[2017-03-09 11:14] markwilliamfirth commented on #245
@iteles how was this?

[2017-03-09 12:22] iteles commented on #245
I just did a little announcement for QuietSpace and offered it as a meetup location for an https://epic.foundation/ breakfast happening next week (they were looking for somewhere central so nothing may come of it).

Also had an interesting chat with a freelance charity worker about user-centred design and the need for CRMs that work for charities. Jess sent through this article: https://twitter.co

[2017-03-09 14:23] markwilliamfirth commented on #245
Nice!

[2017-03-09 14:23] #245 closed

[2017-03-09 16:43] markwilliamfirth commented on #260
Payment to come out of account via direct debit on 13 Mar

[2017-03-09 17:06] markwilliamfirth commented on #241
@iteles I've responded to comments on the documents:

[employment template](https://docs.google.com/document/d/1MT42M250Sdi1rbyUiRDh4BMkFn12ZLj_L1Cl8K9ASxM/edit)

[ines](https://docs.google.com/document/d/1Zzdn2pA29iLyduuogudTlss-loDPiCtfl_5iWhoKfpA/edit)

[2017-03-09 17:09] markwilliamfirth commented on #241
@nelsonic I have commented [here](https://docs.google.com/document/d/1FEYAw36LRc7MURdvYc0UQK3HwBSyglbysLTtY6AUI-k/edit)

[2017-03-10 00:06] iteles commented on #163
Start has been made 👍 Ongoing.

[2017-03-10 00:06] #163 closed

[2017-03-10 08:25] iteles commented on #219
Finally got through to them! They just told me to print off this form and send it in: http://www.co-operativebank.co.uk/assets/pdf/bank/business/customerservices/change-of-account-limited-cos-cics-cio-scio.pdf

[2017-03-10 13:30] nelsonic commented on #241
@markwilliamfirth thanks. I think we're still going to make a final update on "_vesting_" today, but once that's done we should print & sign. 👍

[2017-03-10 16:23] markwilliamfirth commented on #219
Santander is sorted

Coop - form filled out - will update here when I hear back

[2017-03-10 16:26] markwilliamfirth commented on #249
<img width="475" alt="screen shot 2017-03-10 at 16 25 00" src="https://cloud.githubusercontent.com/assets/5732209/23803377/39c9057e-05ae-11e7-8552-008ef2a04f46.png">

onefinestay decapitalises, even at the start of a sentence

[2017-03-11 12:05] markwilliamfirth commented on #219
http://www.telegraph.co.uk/business/2017/03/09/co-op-bank-racks-losses-seeks-buyer/

@iteles O_O

[2017-03-11 19:55] nelsonic commented on #257
The feedback we want relates _closely_ to our **Case Study Template**...
which I can't seem to find on GitHub...
![image](https://cloud.githubusercontent.com/assets/194400/23826455/745027e0-0694-11e7-9f9f-93453de1e505.png)
https://github.com/search?q=org%3Adwyl+Case+Study&type=Issues

@markwilliamfirth please post the template we put together in our team meeting, thanks! 👍

[2017-03-11 21:30] nelsonic commented on #177
Orderededed one:
![image](https://cloud.githubusercontent.com/assets/194400/23827026/d0ba8888-06a1-11e7-8df8-a39fe83b6143.png)
Will do an "unboxing" and "dev setup" video next weekend. 😉

[2017-03-12 00:01] iteles commented on #263
I have no idea why this is a priority-1?

[2017-03-12 08:31] nelsonic opened #268 "Mile End Climbing Wall Taster Session: Sunday 26th March 2017 (16:00 - 17:30)"
Seems like a _waste_ to live/work ***5 mins walk*** from the Mile End Climbing Wall and _not_ take the opportunity to go try it out...

https://www.mileendwall.org.uk/courses/view/taster-sessions/

I'm thinking of going to the "Taster Session" on Sunday 26th March 2017  16:00 - 17:30
If ***anyone*** `else` is free on that day and wants to join in, post a comment below! 👍

# Read

+ http://www.heal

[2017-03-12 08:36] nelsonic commented on #263
@iteles I think it was a blocker for getting some work done for @markwilliamfirth ... 😞
@markwilliamfirth please confirm if you were able to Boot off the USB drive and use MS Office. ❓
We can re-configure your Mac to have all the apps by default if you have 1h of time this week... 👍
Hopefully we can get this sorted. ✅

[2017-03-12 14:50] harrygfox commented on #252
@markwilliamfirth why does it matter about remaking it? - it's the same logo to my mind.
@nelsonic `.svg` files _are_ vector images

[2017-03-12 14:51] iteles commented on #252
We can change hex codes in SVGs pretty easily too :+1:

[2017-03-12 19:01] markwilliamfirth commented on #252
@harrygfox I was under the impression there was a file for it, but there isn't  - so we need to make one anyway!

My original apprehension around "remaking" it was just around the concept of remaking a logo - it's not really something that should be done as the original file is the "true" logo and the remade one might be slightly different (but in this case we don't have an original so we need to

[2017-03-12 19:07] iteles commented on #252
The AI file you have a screenshot of above is the original logo, the only difference is that that exact heart has been flipped and rotated before we actually started using it as our brand. Every other .png and .svg and .jpg has come from that file, including the hex sticker AI files which have the heart as we now use it.

[2017-03-12 21:37] markwilliamfirth commented on #252
Is there an AI file of it isolated, flipped and rotated?

[2017-03-13 09:49] claireinez commented on #268
It was really good though I wished I had done a basic intro session first as they explain things in more detail so would recommend!

[2017-03-13 10:11] markwilliamfirth commented on #257
[This](https://docs.google.com/document/d/1X9OyqjKAeBmKO05i8KLVAlLHDEc-cLJ8iTExlWmJrjE/edit) is the one we wrote

Also found [this](https://docs.google.com/document/d/1IR3srDxNBt8kRq01dakhqgFR7kFRH3h6D4oFSfEtuYY/edit) in drive from 2015

[2017-03-13 11:36] markwilliamfirth commented on #241
@nelsonic @iteles yep - I think they're good to go now

[2017-03-13 18:54] iteles commented on #252
The closest thing to that is the flipped and rotated heart with the dwyl.io writing underneath (the hex sticker). Agreed we should have both, preferably as svg's for easier manipulation without needing proprietary software 👍

[2017-03-13 22:32] iteles commented on #178
Note I have emailed a lawyer I  know well (professional, not personal relationship) in Portugal and am awaiting a response on the implications.

[2017-03-13 22:33] iteles commented on #159
Pulling down the priority on this, whilst it is important and does have a ticking clock, it is not 'urgent' and can become a Year in Review based on our financials as well.

[2017-03-13 22:38] iteles commented on #112
@markwilliamfirth Let's go through this together when we have an expenditure per project from our end of year accounts https://github.com/dwyl/hq/issues/229

We'll need to think about how we deal with Nelson's contributions separately 👍

[2017-03-14 09:06] nelsonic commented on #159
removing the priority, might as well change the year on it to 2017... cause the next time you will _have_ time to reminisce about the past will be in the "Christmas Holidays" (i.e. December 2017).
🎄 🎅  🎁

[2017-03-14 13:51] sohilpandya commented on #267
@katbow @RobStallion @shouston3 you've got 3 days to go.... 👍

[2017-03-14 15:33] markwilliamfirth commented on #267
Is this definitely happening? Let me know and I can add it to the calendar

[2017-03-14 15:35] markwilliamfirth commented on #159
Agreed that this needs to be done in preparation for #213 anyway

[2017-03-14 17:53] markwilliamfirth commented on #241
@nelsonic and @iteles to print and sign 2 copies and then either countersign each other's or hand to myself to countersign.

Needs to be wet signature - we can't e-sign as you have power of attorney as a Director as well as other reasons.

[2017-03-14 17:56] ghost opened #269 "Contractor Information"
Inês to send Mark:

- [ ] Start dates for all contractors (pre Mark joining)
- [ ] Contracts for all contractors (pre Mark joining)

[2017-03-14 17:58] markwilliamfirth opened #270 "Employment Agreement review"
Inês to review employment agreement (prior to employment offers)

Deadline: 15th March

[2017-03-14 17:59] markwilliamfirth opened #271 "Nelson's Bank Card: Pin Reset"
Nelson to request a pin reset for Santander debit card

[2017-03-14 18:01] markwilliamfirth opened #272 "F&C Invoicing Update"
dwyl pays a commission of 10% of charged-out rates back to Founders & Coders to help keep the lights on.

+ [ ] Update [F&C sheet](https://docs.google.com/spreadsheets/d/1V6kjy3IM8W5lFkr_4cGe2XXK1mMWuNvzwkObAgGifoc/edit#gid=0) for new payments

+ [ ] Mark devise new Xero system to inform Dan
  + Amount he needs to invoice
  + For which project and sprint

+ [ ] Developer invoices
  + Mark to uploa

[2017-03-15 09:01] iteles commented on #272
@markwilliamfirth Are the dev invoices part of this or part of #229 ?

[2017-03-15 09:03] iteles commented on #272
A further requirement (not urgent but may impact how you record things for F&C) - I would love to run a report off to see how much we've paid in commission for each person back to F&C. This would give the developers an idea of how much they have contributed given that there is a suggested contribution.

[2017-03-15 09:12] iteles commented on #271
@nelsonic Call 0800 068 7010 between 8h00 and 19h00 on weekdays

[2017-03-15 09:15] iteles commented on #229
How do I get all of the developer invoices to you for 16/17? Folder on google drive? This may take me a while ... *sigh*

[2017-03-15 09:16] markwilliamfirth commented on #229
Yeah - drive folder should be fine

[2017-03-15 09:17] iteles commented on #241
Thanks for looking this up 👍 We'll print them and we can ignore the e-signed ones then.

[2017-03-15 09:28] markwilliamfirth commented on #272
@iteles uploading to xero is part of this, but sending to me is part of 229 (have updated 229)

[2017-03-15 11:04] tunnckoCore opened #273 "About Contributing and Licenses"
Heya, @dwyl/core and @dwyl/ateam  ! :star2:

I'm just reading the dwyl/contributing one more time.. and just realized that most of the packages/modules/repos don't have CONTRIBUTING.md (or .github/* dir), nor license in the files and their README.md

I'm not lawyer and i even don't care about such things, because all of my online work is totally MIT since 2013 when i jumped in NodeJS. But i'm thin

[2017-03-15 11:06] iteles commented on #273
@tunnckoCore We couldn't agree more!

This is a task in the backlog, we're just struggling for the time to get round to adding it everywhere. We were just discussing it last week, great minds think alike :wink:

[2017-03-15 11:06] nelsonic commented on #273
@tunnckoCore we are adding a `CONTRIBUTING.md` to our repos as we go ...
see: https://github.com/search?q=org%3Adwyl+add+contributing.md&type=Issues

[2017-03-15 11:12] tunnckoCore commented on #273
Hm. Actually yea, it sounds like a good strategy since most of the repos are not actual packages but some learn-* and etc stuff. It's not like my case, where most of my repos are actual packages and i have included very general CONTRIBUTING.md at the very beginning, even in the [scaffold template step](https://github.com/tunnckoCore/charlike) using `npm.im/charlike` ;p

As side note: Not to mentio

[2017-03-15 11:15] tunnckoCore commented on #273
Btw, i'm going to update my contributing guide template to a bit more simplified version of dwyl's, because it is bit too much for me, but it is awesome because the images, emojis, headings and bolds.

[2017-03-15 11:55] iteles opened #274 "dwyl case studies"
We have been asked by quite a few services clients to send them case studies of the work we have carried out to date.

We will need to create this content so that we can add them to our website as well. https://github.com/dwyl/dwyl-site/issues/89

## Structure
+ Name of the client + logo
+ What industry/sector they are in
+ What problem/opportunity did they have?
+ Our Approach
  + Did we have a w

[2017-03-15 11:55] iteles commented on #274
Assigning to myself as I'll need to put together the bullet points of info for these.

[2017-03-15 12:15] iteles commented on #260
Reopening as VAT hasn't been paid.

[2017-03-15 12:27] iteles commented on #260
Now paid 👍

[2017-03-15 12:27] #260 closed

[2017-03-15 16:42] iteles commented on #274
@bradreeder is also on the case!

[2017-03-15 17:02] bradreeder commented on #274
Thanks @iteles . Initial questions:

* Does dwyl have a description of its ideal customer anywhere? I know you work on tech for good projects but I don't know much about your client history otherwise. Just in case it's possible to tailor this to your target audience in any way.
* Could I have a link to the app or website you built for the case studies I'm working on if it's public? (Science Museum

[2017-03-15 17:17] markwilliamfirth commented on #142
I don't think this is a low priority considering it is integral to the organisation and vision

Are we not planning to transition asap? Before the Future of dwyl event?

[2017-03-15 17:41] iteles commented on #274
@bradreeder So many good questions!
+ Yes! *Great* question! Our main focus is non-technical, social impact businesses, some of which will have a 'digital trustees' who know a little more about technology. This doesn't just mean charities, there are lots of social impact businesses run like multi-national corporations but usually the people getting in touch with us are non-technical. The impressio

[2017-03-15 18:53] iteles commented on #142
@markwilliamfirth I disagree. What matters is how we conduct ourselves as an organisation according to our values and making our model sustainable. So far we haven't been limited by our legal status. I think a legal structure is a distraction at this stage and our focus should be on our 2017 plans.

Once this becomes an impediment, it will become a higher priority.